<ff-page-header [pageTitle]="'Selector de fecha - hora'"></ff-page-header>

<div class="page-container page-container-padding">
  <div class="page-section p-5">
    <ff-doc-example heading="Uso básico" [description]="example1Description" [angularForm]="true" [data]="example1">
      <ff-doc-datetimepicker-1></ff-doc-datetimepicker-1>
    </ff-doc-example>
  </div>
</div>
