<div class="page-section bg-gray">
  <div class="col-12" *ngIf="loading">
    <div class="text-center pt-1 pb-1">
      <div class="loader"></div>
    </div>
  </div>
  <form [formGroup]="form" (submit)="submit()" *ngIf="!loading">
    <div class="page-article pt-3 pb-2">
      <div class="row mb-3">
        <div class="col-12">
          <div class="col-6">
            <div>
              <label for="name" class="nowrap">{{ 'PRODUCTMKP.NAME' | translate }}</label>
              <input
                id="name"
                name="name"
                data-cy="product-mkp-name-input"
                formControlName="name"
                type="text"
                class="form-control max-width"
                autocomplete="off"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <div class="col-6">
            <label for="id" class="nowrap">{{ 'PRODUCTMKP.ID' | translate }}</label>
            <input
              id="id"
              name="id"
              data-cy="product-mkp-id-input"
              formControlName="id"
              type="text"
              class="form-control max-width"
              autocomplete="off"
            />
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-6">
          <ff-chips-control-select formControlName="parent_product_key" [config]="parent_product_key_config"> </ff-chips-control-select>
          <ff-form-error
            [field]="form.controls.parent_product_key"
            [messages]="[{ type: 'required', message: 'COMMON_ERRORS.REQUIRED' }]"
          ></ff-form-error>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <div class="col-2 text-left">
            <div class="custom-control custom-switch">
              <input
                formControlName="market_place"
                data-cy="product-mkp-checkbox-input"
                type="checkbox"
                class="custom-control-input"
                id="market_place"
              />
              <label class="custom-control-label pointer" for="market_place">
                {{ 'PRODUCTMKP.DETAIL_MARKET_PLACE' | translate }}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="footer text-right">
        <button type="button" data-cy="product-mkp-cancel-btn" (click)="cancel()" class="btn btn-sm btn-outline-primary">
          {{ 'DESTINATION_DETAIL_COMPONENT.CANCEL' | translate }}
        </button>

        <button type="submit" data-cy="product-mkp-save-btn" class="btn btn-primary ml-2 btn-lg">
          {{ 'DESTINATION_DETAIL_COMPONENT.SAVE' | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
