<div class="page-section">
  <div
    class="col page-header-collapse w-50"
    [class.page-header-collapse-open]="!isCollapsedConfig['search']"
    (click)="isCollapsedConfig['search'] = !isCollapsedConfig['search']"
  >
    <h3>{{ 'RULE_QUERY.SATISFIED_RULES.QUERY_DETAIL' | translate | uppercase }}</h3>
  </div>
  <div [collapse]="isCollapsedConfig['search']" [isAnimated]="true" class="row-title">
    <div class="row">
      <!-- Tipo de consulta -->
      <div class="col-4">
        <label>{{ 'RULE_QUERY.SATISFIED_RULES.TYPE_SEARCH' | translate }}</label>
        <ng-select name="type" [(ngModel)]="type" (change)="changeType()" [disabled]="form.disabled" [clearable]="false">
          <ng-option data-cy="real-time-option" value="product">{{ 'RULE_QUERY.SATISFIED_RULES.PRODUCT' | translate }}</ng-option>
          <ng-option data-cy="info-option" value="info">{{ 'RULE_QUERY.SATISFIED_RULES.INFO' | translate }}</ng-option>
        </ng-select>
      </div>

      <!-- Tipo de código -->
      <div class="col-4">
        <label>{{ 'RULE_QUERY.SATISFIED_RULES.TYPE' | translate }}</label>
        <ng-select name="typeCode" [(ngModel)]="typeCode" (change)="changeCodeType()" [disabled]="form.disabled" [clearable]="false">
          <ng-option data-cy="eci-ref-option" value="sale_reference">{{
            'RULE_QUERY.SATISFIED_RULES.TYPES_CODE.ECI_REF' | translate
          }}</ng-option>
          <ng-option data-cy="code-a-option" value="item_code">{{ 'RULE_QUERY.SATISFIED_RULES.TYPES_CODE.CODE_A' | translate }}</ng-option>
          <ng-option data-cy="ean-option" value="ean">{{ 'RULE_QUERY.SATISFIED_RULES.TYPES_CODE.EAN' | translate }}</ng-option>
        </ng-select>
      </div>
      <!-- Código producto -->
      <div class="col-4">
        <label for="product_code">{{ 'RULE_QUERY.SATISFIED_RULES.TYPES_CODE.' + productLabel | translate }}</label>
        <div class="product-code-container">
          <input
            class="w-100 mw-100"
            type="text"
            [disabled]="form.disabled"
            [(ngModel)]="productSearch"
            name="productSearch"
            data-cy="satisfied-rule-code-input"
            #product="ngModel"
            required
            (keyup.enter)="submit()"
            placeholder="{{ 'RULE_QUERY.SATISFIED_RULES.PLACEHOLDER.' + productLabel | translate }}"
          />
          <div class="invalid-feedback" *ngIf="product.invalid && product.touched">
            {{ 'RULE_QUERY.EVALUATE_RULES.ERROR.REQUIRED_ID' | translate }}
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="type === 'info'">
      <form [formGroup]="form">
        <div class="row mt-3">
          <div class="col-4">
            <label for="start_date">{{ 'RULE_QUERY.SATISFIED_RULES.START_DATE' | translate }}</label>
            <div class="datepicker">
              <div class="input-group">
                <ff-datetimepicker
                  id="start_date"
                  formControlName="effective_date"
                  [defaultHour]="00"
                  [defaultMinute]="00"
                  class="w-100"
                ></ff-datetimepicker>
                <div class="error-date-time">
                  <div class="error-date">
                    <span class="invalid-feedback" *ngIf="form.errors && form.errors.invalidRangeDate">
                      {{ 'RULE_QUERY.SATISFIED_RULES.INVALID_RANGE' | translate }}
                    </span>
                    <span class="invalid-feedback" *ngIf="errorInvalidStartDate">
                      {{ 'COMMON.ERROR_DATE_TIME_INVALID' | translate }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <label for="end_date">{{ 'RULE_QUERY.SATISFIED_RULES.END_DATE' | translate }}</label>
            <div class="datepicker">
              <div class="input-group">
                <ff-datetimepicker
                  id="end_date"
                  formControlName="expiration_date"
                  [defaultHour]="23"
                  [defaultMinute]="59"
                  class="w-100"
                ></ff-datetimepicker>
                <div class="error-date-time">
                  <div class="error-date">
                    <span class="invalid-feedback" *ngIf="form.errors && form.errors.invalidRangeDate">
                      {{ 'RULE_QUERY.SATISFIED_RULES.INVALID_RANGE' | translate }}
                    </span>
                    <span class="invalid-feedback" *ngIf="errorInvalidEndDate">
                      {{ 'COMMON.ERROR_DATE_TIME_INVALID' | translate }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-4">
            <label for="product_code">{{ 'RULE_QUERY.SATISFIED_RULES.RULE_NAME' | translate }}</label>
            <div class="product-code-container">
              <input
                class="w-100 mw-100"
                id="rule_name"
                data-cy="rule-name-input"
                type="text"
                formControlName="rule_name"
                placeholder="{{ 'RULE_QUERY.SATISFIED_RULES.NAME_RULE' | translate }}"
              />
            </div>
          </div>
          <div class="col-4">
            <label>{{ 'RULE_QUERY.SATISFIED_RULES.STATE' | translate }} </label>
            <ng-select name="is_active" formControlName="is_active" [clearable]="false">
              <ng-option [value]="true"
                ><span data-cy="active-option">{{ 'RULE_QUERY.SATISFIED_RULES.ACTIVE' | translate }}</span></ng-option
              >
              <ng-option [value]="false"
                ><span data-cy="inactive-option">{{ 'RULE_QUERY.SATISFIED_RULES.INACTIVE' | translate }}</span></ng-option
              >
              <ng-option [value]="'ALL'"
                ><span data-cy="all-option">{{ 'RULE_QUERY.SATISFIED_RULES.ALL' | translate }}</span></ng-option
              >
            </ng-select>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Campos de información (Se muestra la info una vez se encuentre un producto) -->

  <!-- Botones -->
</div>
<hr class="division" *ngIf="!isCollapsedConfig['search']" />
<div class="page-footer dashboard-btn-container text-right" *ngIf="!send; else again" [class.collapsible]="isCollapsedConfig['search']">
  <button type="button" class="btn btn-outline-primary ml-2 btn-lg" (click)="resetForm()">
    {{ 'COMMON.CANCEL' | translate | uppercase }}
  </button>
  <button type="button" class="btn btn-primary ml-2 btn-lg" (click)="submit()">
    {{ 'COMMON.CONSULT' | translate }}
  </button>
</div>
<ng-template #again>
  <div class="dashboard-btn-container" [class.collapsible]="isCollapsedConfig['search']">
    <div class="page-footer text-right">
      <button type="button" class="btn btn-primary ml-2 btn-lg" (click)="back()">
        {{ 'COMMON.CONSULT_AGAIN' | translate }}
      </button>
    </div>
  </div>
</ng-template>
