@import '../../../../../theme/variables/variables';
:host {
  .division {
    background-color: $white-4;
    height: 6px;
    border: 0;
  }

  .page-section {
    padding: 28px 20px;
    .search-default {
      max-width: 1200px;
    }
    .row-title {
      margin-left: 1.25rem;
    }
    .page-header-collapse {
      margin-left: -1rem;
      margin-bottom: 1rem;
    }

    .btn-group {
      height: 42px;
    }
    .search-container {
      max-width: 820px;

      form {
        .datepicker {
          display: flex;
          align-items: flex-end;
          justify-content: left;

          input {
            max-width: 120px;
          }
        }

        .custom-switch {
          margin-top: 40px;
        }
      }

      .product-code-container {
        position: relative;

        input {
          width: calc(100% - 50px);
          max-width: 100%;
        }

        .icon-check {
          color: $green;
        }

        .icon-cancel {
          color: $red;
        }

        .icon-check,
        .icon-cancel {
          font-size: 1.5rem;
        }
        .loader {
          position: absolute;
          right: 0;
          top: 50%;
          width: 50px;
          height: 50px;
          transform: translateY(-50%);
          &::after {
            width: 30px;
            height: 30px;
          }
          .loading {
            margin: 0;
          }
        }
      }
    }

    .info-container {
      max-width: 700px;

      input {
        width: 100%;
        max-width: 100%;
      }
    }
  }
  .dashboard-btn-container {
    margin-top: 0;
    transition: all 0.5s ease-in-out;
    &.collapsible {
      margin-top: -6rem;
    }
  }
}
