<div [formGroup]="form">
  <div formArrayName="attributes">
    <div *ngFor="let formGroup of _controls; let i = index" [formGroupName]="i">
      <ng-container>
        <ng-container *ngIf="formGroup.value?.data?.data_type !== 'EMBEDDED'">
          <div class="col">
            <ff-entity-form
              *ngIf="show === formGroup.value?.path"
              formControlName="value"
              [config]="formGroup.value?.data"
              [configChips]="formGroup.value?.data?.configChips"
              [index]="i"
            ></ff-entity-form>
          </div>
        </ng-container>

        <ng-container
          *ngIf="formGroup.value?.data?.data_type === 'EMBEDDED' && !formGroup.value?.data?.multiple_cardinality && !isMultiple(formGroup)"
        >
          <ff-entity-form-recursive
            *ngIf="formGroup.get('attributes')?.controls"
            [form]="formGroup"
            [show]="show"
            [controls]="formGroup.get('attributes')?.controls"
          ></ff-entity-form-recursive>
        </ng-container>

        <ng-container *ngIf="isMultiple(formGroup)">
          <div formArrayName="multiples">
            <ngx-simplebar *ngIf="!readonly">
              <div class="tab" *ngIf="checkAddMore(formGroup.value?.path)">
                <h3>
                  {{ formGroup.value?.data?.name | titlecase }}
                </h3>
                <span class="addMore" (click)="addControl(formGroup)">
                  <div class="fill-icon"></div>
                  <em class="icon-plus"></em>
                  {{ 'ENTITY_TYPES.ADD_MULTIPLE' | translate }}
                </span>
                <ngx-simplebar>
                  <ul class="horizontal-slide">
                    <li
                      class="span2"
                      *ngFor="let control of formGroup.get('multiples')?.controls; let h = index"
                      (click)="clickTab(formGroup.value?.data?.path + h)"
                      [class.active]="tabActive ? tabActive[formGroup.value?.data?.path + h] : h === 0"
                    >
                      Valor: {{ h }} <em class="icon-trash" (click)="removeControl(formGroup, h)"></em>
                    </li>
                  </ul>
                </ngx-simplebar>
              </div>
            </ngx-simplebar>
            <ng-container *ngFor="let multiple of formGroup.get('multiples')?.controls; let j = index">
              <ff-entity-form-recursive
                *ngIf="tabActive ? tabActive[formGroup.value?.data?.path + j] : j === 0"
                [form]="multiple"
                [show]="show"
                [controls]="multiple?.get('attributes')?.controls"
              ></ff-entity-form-recursive>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
