@import 'src/theme/variables/colors';

:host {
  .tab {
    position: relative;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;

    li:hover {
      border-bottom: 3px solid $dark_green;
    }
    .active {
      border-bottom: 3px solid $dark_green;
    }

    ul.horizontal-slide {
      margin: 0;
      padding: 0;
      width: 100%;
      white-space: nowrap;
      margin-bottom: 15px;
    }

    ul.horizontal-slide li[class*='span'] {
      display: inline-block;
      float: none;
      padding: 10px 14px 6px 14px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      font-size: 13px;
      cursor: pointer;
    }

    ul.horizontal-slide li[class*='span']:first-child {
      margin-left: 0;
    }
  }

  .addMore {
    cursor: pointer;
    color: $dark_green;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
  }

  .icon-trash {
    font-size: 18px;
  }
}
