@import '../../../../theme/variables/colors';
.list {
  margin-left: 35px;
  margin-right: 10px;
}

.division {
  background-color: $white-4;
  height: 6px;
  border: 0;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0;
}

.list-section {
  overflow: auto;
}

.background-container {
  background-color: $white-4;
  min-height: 75vh;
  padding-bottom: 3rem;
}
.page-section {
  padding: 28px 20px;
  .page-header-collapse {
    margin-left: -1rem;
  }
  .search-container {
    margin-left: -1rem;
  }
}

.list-section {
  overflow: auto;
}

.promotions-search {
  width: 100%;
}

.btn-container {
  transition: all 0.5s ease-in-out;
  &.collapsible {
    margin-top: -5rem;
  }
}
