<div class="item-name" *ngIf="data" [dndDraggable]="data.value" [dndDisableIf]="!draggable || !isLeaf" (click)="toogle()">
  <em
    class="icon"
    *ngIf="!data.value?.icon"
    [ngClass]="{
      'icon-agrupaciones': !(data && data.childrens && data.childrens.length) && !data.value?.icon,
      'icon-atributos': !(isRoot || !(data && data.childrens && data.childrens.length)),
      'icon-folder': (data.childrens && data.childrens[0] && data.childrens[0].expanded) || isRoot
    }"
  >
  </em>
  <em [class]="'icon icon-custom ' + data.value?.icon" *ngIf="data.value?.icon"></em>
  <span [ngClass]="{ 'span-custom': data.value?.icon }">
    {{ data.value?.label || data.value?.name }}
  </span>
</div>

<div class="item-childrens" *ngIf="data.childrens && data.childrens[0] && data.childrens[0].expanded">
  <ff-ui-tree-ref *ngFor="let children of data.childrens" [data]="children" [isRoot]="false" [draggable]="draggable"> </ff-ui-tree-ref>
</div>
