@import 'src/theme/variables/variables';

:host {
  .item-name {
    font-size: 13px;
    font-weight: 500;
    color: $black-2;
    letter-spacing: -0.5px;
    padding: 6px 8px;
    cursor: pointer;
    transition: $transition-time;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 48px;

    &.selected {
      background-color: $green-white;

      .icon {
        color: $green;
      }
    }

    .icon {
      margin-right: 8px;
      font-size: 24px;
      vertical-align: middle;
    }

    &:hover {
      background-color: $green-white;

      .icon {
        color: $green;
      }
    }
  }

  .item-childrens {
    padding-left: 25px;
  }

  .loader-container {
    text-align: center;

    .loader {
      margin-bottom: -20px;
      margin-top: -20px;
      width: 80px;
    }
  }
}

.icon-custom {
  font-size: 34px !important;
}

.span-custom {
  margin-left: -10px;
}
