<ff-page-header [pageTitle]="'Mocks'"></ff-page-header>

<div class="page-container page-container-padding">
  <div class="page-section p-5">
    <div class="description">
      <details>
        <summary class="description">TL;DR</summary>
        Para añadir rapidamente un mock con su CRUD basico:
        <ul>
          <li>Añade en repository/nombre-api/nombre-fichero.json la respuesta de listar del endpoint</li>
          <li>Añade un controllador en app/routes/nombre-api/nombre-api.ts</li>
          <code [lineNumbers]="true" [highlight]="fastController"> </code>
          <li>Añadir este handler al array <strong>routes</strong> dentro de app.ts</li>
        </ul>
      </details>
      En esta seccion se decscribirá como crear mocks usando las utilidades disponibles
      <ol>
        <li class="description">
          <section id="estructure">
            <p class="description">Estructura inicial</p>
            Dentro de la carpeta <strong>mocks</strong> tendremos otras 3 subcarpetas:
            <ul>
              <li><strong>app</strong>, contiene la aplicacion express y las rutas</li>
              <li><strong>repository</strong>, contiene los json que devuelven express</li>
              <li><strong>utils</strong>, contiene utilidades para la creacion de rutas.</li>
            </ul>
          </section>
        </li>
        <li class="description">
          <section id="elements">
            <p class="description">Crear un mock</p>
            Para añadir un mock a la aplicacion tendremos que hacer tres pasos:
            <ul>
              <li>Añadir el json correspondiente dentro de repository, que contendra la entidad/entidades que devuelve el endpoint</li>
              <li>Crear un handler para la ruta del nuevo mock dentro <strong>app/routes</strong></li>
              <code [lineNumbers]="true" [highlight]="controller"> </code>
              <li>Añadir el handler al array de rutas dentro de <strong>app.ts</strong></li>
              <code [lineNumbers]="true" [highlight]="routes"> </code>
            </ul>
          </section>
        </li>
        <li class="description">
          <section id="repository">
            <p class="description">Repository</p>
            En la carpeta repository se incluyen los .json de respuesta de todo los endpoints del servidor. Cada carpeta representa un
            endpoint y dentro tiene un json con la respuesta por defecto del metodo listar de ese endpoint (un array de entidades o
            GenericApiResponse)
          </section>
        </li>
        <li class="description">
          <section id="controller">
            <p class="description">Controller</p>
            Para gestionar la respuesta a una ruta concreta se debe crear un handler. Dentro de la carpeta
            <strong>routes</strong> crearemos un archivo que gestionara dicha ruta
            <code [lineNumbers]="true" [highlight]="fastController"> </code>
            Usando utilidades de la carpeta <strong>utils</strong> podremos crear rapidamente un handler y asociarlo a una ruta.
            <ul>
              <li>
                <strong>CrudApiDefaultHandler </strong> nos creara un handler que gestionará los metodos basicos de un endpoint
                (GET,POST,UPDATEM,DELETE) como si fuera un CRUD. Recibe 2 parametros, la ruta de la carpeta dentro de repository y el nombre
                del fichero .json
              </li>
              <li>
                <strong>createRouterCrud</strong> añade al router de la aplicacion el endpoint y todos los metodos asociados al handler.
                Recibe 3 parametros: el router de la aplicación, el endpoint y el handler que va a gestionar esa ruta. Devuelve el router
                con las nuevas rutas ya añadidas.
              </li>
            </ul>
            <strong>Debemos exportar el router de nuevo para que pueda añadirse a la aplicación</strong>
            <p>
              Si necesitamos añadir otros metodos o casos al handler podemos extender <strong>CrudApiDefaultHandler </strong> y añadir los
              metodos y rutas necesarias.
              <code [lineNumbers]="true" [highlight]="extendedController"> </code>
              Podemos añadir nuevos metodos para gestionar nuevas rutas o sobreescribir los metodos por defecto para cambiar su
              funcionamiento.
              <code [lineNumbers]="true" [highlight]="extendedController2"> </code>
            </p>
          </section>
        </li>
        <li class="description">
          <section id="app.ts">
            <p class="description">app.ts</p>
            Por ultimo deberemos añadir el handler a la aplicación. Dentro del fichero app.ts importaremos el handler que hemos creado y lo
            añairemos al array <strong>routes</strong> para que registre en la aplicación.
          </section>
        </li>
        <li class="description">
          <section id="useCase">
            <p class="description">USECASE</p>
            Tambien podemos definir respuestas alternativas para nuestros endpoints. Para ello debemos modificar la variable USECASE dentro
            de la <strong>app.ts</strong>
            <code [lineNumbers]="true" [highlight]="otroCaso"> </code>
            y añadir una carpeta con ese nombre dentro de <strong>repository</strong>, por ejemplo para sites:
            <pre>
                repository
                    ↪️ sites
                        ↪️ sites.json <i>// defafult value</i>
                        ↪️ otro-caso
                            ↪️sites.json <i>// usecase value</i>
                            ↪️alternative-sites.json ❌ <i>// usecase erroneo</i>
            </pre>
            <strong>El nuevo json tiene que tener el mismo nombre que el por defecto que sustituye</strong>
          </section>
        </li>
      </ol>
    </div>
  </div>
</div>
