<div class="page-container page-container-padding" *ngIf="data">
  <div class="page-section">
    <form [formGroup]="form">
      <div class="row content-header">
        <div class="col-4">
          <div class="form-group">
            <label for="header-name">{{ 'COMMON.NAME' | translate }}*</label>
            <input
              type="text"
              [placeholder]="'ENTITY_TYPES.ENTER_NAME' | translate"
              [readOnly]="true"
              class="form-control"
              formControlName="name"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
