<div class="page-section" *ngIf="loading">
  <div class="text-center pt-5 pb-5">
    <div class="loader"></div>
  </div>
</div>
<ngx-simplebar class="section-scroll">
  <form [formGroup]="form" (submit)="submit()" *ngIf="!loading" class="page-section bg-gray h-100">
    <!-- HEADER -->
    <div class="page-header bg-white">
      <div class="row no-gutters align-items-center">
        <div class="col-10">
          <h3>
            {{ 'EXPERT.DETAIL.MASTER_DATA' | translate | uppercase }}
          </h3>
        </div>
      </div>
    </div>

    <div class="header-form bg-white">
      <div class="row">
        <!-- Nombre -->
        <div class="col-4">
          <label for="name"> {{ 'EXPERT.DETAIL.NAME' | translate }}* </label>

          <input
            [placeholder]="'EXPERT.PLACEHOLDER.NAME' | translate"
            type="text"
            data-cy="expert-name-input"
            class="form-control"
            id="name"
            formControlName="name"
          />
          <ff-form-error [field]="form.controls.name" [messages]="formErrors.name"></ff-form-error>
        </div>

        <!-- Widget_Id -->
        <div class="col-4">
          <label for="widget_id"> {{ 'EXPERT.DETAIL.WIDGET_ID' | translate }}* </label>

          <input
            [placeholder]="'EXPERT.PLACEHOLDER.WIDGET_ID' | translate"
            type="text"
            data-cy="expert-id-input"
            class="form-control"
            id="widget_id"
            formControlName="widget_id"
          />
          <ff-form-error [field]="form.controls.widget_id" [messages]="formErrors.widget_id"></ff-form-error>
        </div>

        <!-- experts_widgetid_json -->
        <div class="col-4">
          <ff-chips-control-select formControlName="experts_widgetid_json" [config]="configExperts"></ff-chips-control-select>

          <ff-form-error [field]="form.controls.experts_widgetid_json" [messages]="formErrors.experts_widgetid_json"></ff-form-error>
        </div>
      </div>
    </div>

    <!--  FOOTER BUTTONS -->
    <div class="page-footer text-right">
      <button type="button" class="btn btn-sm btn-outline-primary" (click)="cancel()">
        {{ 'TARGET_DETAIL_COMPONENT.CANCEL' | translate | uppercase }}
      </button>

      <button type="button" class="btn btn-primary ml-2 btn-lg" (click)="submit()">
        {{ 'TARGET_DETAIL_COMPONENT.SAVE' | translate | uppercase }}
      </button>
    </div>
  </form>
</ngx-simplebar>
