@import '../../../../../theme/variables/colors';

.page-section {
  .page-header {
    padding: 26px;

    .row {
      width: 100%;
    }
  }

  .header-form {
    padding: 26px;
  }

  .form-control {
    max-width: 100%;
  }

  .included {
    h3 {
      color: #337e34;
    }

    .page-header-collapse::before {
      color: #337e34;
    }
  }

  .excluded {
    h3 {
      color: #fc361e;
    }

    .page-header-collapse::before {
      color: #fc361e;
    }
  }
}
::ng-deep {
  .simplebar-content {
    height: 100%;
  }
}
