<ff-page-header [pageTitle]="'Ejemplo form error'"></ff-page-header>

<div class="page-container page-container-padding">
  <div class="page-section p-4">
    <h5>Error formulario + tooltip</h5>
    <form [formGroup]="form" (submit)="sendForTooltipExample()">
      <label for="email" class="nowrap">Email</label>
      <input id="email" name="email" formControlName="email" type="text" class="form-control max-width" autocomplete="off" />
      <ff-form-error [field]="form.controls.email" [messages]="formMessages.email"></ff-form-error>

      <ff-chips-control-select [config]="chipConfig" formControlName="chip"></ff-chips-control-select>

      <button type="submit" class="btn btn-primary mt-2">Enviar</button>
    </form>
  </div>
</div>
