@import '../../../../../theme/variables/colors';
@import 'src/theme/variables/toggle-vars';

.page-section {
  background-color: $white-4;

  .description {
    input {
      max-width: 100% !important;
    }
  }

  .title {
    margin-top: 32px;
    color: $black-4;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .line {
    border-bottom: solid 1px $white-3;
  }

  .footer {
    padding: 24px 21px 19px;
    background-color: $white;
    border-radius: 0 0 6px 6px;
  }

  .annotation {
    font-size: 12px;
    margin-top: 5px;
    font-weight: 500;
    display: block !important;
  }
}

.custom-switch {
  margin-top: 20px;
  margin-left: 40px;
}

.offer {
  display: initial;
}

.custom-switch {
  .custom-control-label {
    // margin-left: $toggle-width + $toggle-margin-to-label;
    font-size: 14px;

    &:before {
      top: 0;
      margin-right: $toggle-width + $toggle-margin-to-label;
      left: -40px;
    }

    &:after {
      top: 0;
      right: 0;
      left: -40px;
    }
  }
}
