<div class="page-section bg-gray">
  <div class="text-center pt-5 pb-5" *ngIf="loading">
    <div class="loader"></div>
  </div>

  <form [formGroup]="form" (submit)="submit()" *ngIf="!loading">
    <div class="page-article pt-3 pb-2">
      <div class="row mb-3">
        <div class="col-6">
          <label for="name" class="nowrap">{{ 'SELLER.NAME' | translate }}</label>
          <input
            id="name"
            name="name"
            data-cy="seller-name-input"
            formControlName="name"
            type="text"
            class="form-control max-width"
            autocomplete="off"
          />
        </div>

        <div class="col-6">
          <label for="status" class="nowrap">{{ 'SELLER.STATUS' | translate }}</label>
          <input
            id="statusView"
            data-cy="seller-status-input"
            name="statusView"
            formControlName="statusView"
            type="text"
            class="form-control max-width"
            autocomplete="off"
          />
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-6">
          <label for="codeView" class="nowrap">{{ 'SELLER.CODE' | translate }}</label>
          <input
            id="codeView"
            data-cy="seller-code-input"
            name="codeView"
            formControlName="codeView"
            type="text"
            class="form-control max-width"
            autocomplete="off"
          />
        </div>

        <div class="col-6">
          <label for="externalIdView" class="nowrap">{{ 'SELLER.EXTERNAL_ID' | translate }}</label>
          <input
            id="externalIdView"
            name="externalIdView"
            data-cy="seller-external-id-input"
            formControlName="externalIdView"
            type="text"
            class="form-control max-width"
            autocomplete="off"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="exploitation_type" class="nowrap">{{ 'SELLER.EXPLOITATION_TYPE' | translate }}</label>
            <ng-select formControlName="exploitation_type" name="exploitation_type" id="exploitation_type" (change)="selectChange()">
              <ng-option [value]="null" selected disabled hidden>
                <span data-cy="seller-action-type-option"> {{ 'ACTIONS_LIST_SEARCH.TYPE_OF_ACTION' | translate }}</span>
              </ng-option>
              <ng-option data-cy="seller-digital-exploit-option" [value]="'12'"><span>Explotación Digital</span></ng-option>
              <ng-option data-cy="seller-mkp-exploit-option" [value]="'02'"><span>Explotación Marketplace</span></ng-option>
            </ng-select>
            <ff-form-error [field]="form.controls.exploitation_type" [messages]="formErrors.exploitation_type"></ff-form-error>
          </div>
        </div>

        <div class="col-6">
          <div class="col offer">
            <div class="custom-control custom-switch">
              <input
                formControlName="show_offer"
                data-cy="seller-show-offer-input-checkbox"
                type="checkbox"
                class="custom-control-input"
                id="show_offer"
              />
              <label class="custom-control-label pointer" for="show_offer">
                {{ 'SELLER.SHOW_OFFER' | translate }}
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-6">
          <ff-chips-control-select formControlName="product_types_allowed" [config]="productsConfig"></ff-chips-control-select>
        </div>
        <div class="col-6">
          <label for="sitesView" class="nowrap">{{ 'SELLER.SITES' | translate }}</label>
          <input
            id="sitesView"
            name="sitesView"
            data-cy="seller-sites-input"
            formControlName="sitesView"
            type="text"
            class="form-control max-width"
            autocomplete="off"
          />
        </div>
      </div>

      <div class="footer text-right">
        <button type="button" data-cy="seller-cancel-btn" (click)="cancel()" class="btn btn-sm btn-outline-primary">
          {{ 'DESTINATION_DETAIL_COMPONENT.CANCEL' | translate }}
        </button>

        <button type="submit" data-cy="seller-save-btn" class="btn btn-primary ml-2 btn-lg">
          {{ 'DESTINATION_DETAIL_COMPONENT.SAVE' | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
