<div class="info-container">
  <div class="page-header row">
    <div
      class="col page-header-collapse"
      [class.page-header-collapse-open]="!isCollapsedConfig['detail']"
      (click)="isCollapsedConfig['detail'] = !isCollapsedConfig['detail']"
    >
      <h3>{{ 'RULE_QUERY.SATISFIED_RULES.PRODUCT_DETAIL' | translate | uppercase }}</h3>
    </div>
  </div>

  <div [collapse]="isCollapsedConfig['detail']" [isAnimated]="true" class="center-content">
    <div class="row">
      <div class="col-3">
        <label>{{ 'RULE_QUERY.SATISFIED_RULES.PRODUCT_NAME' | translate }}</label>
        <p>{{ product?.name }}</p>
        <!-- <input type="text" readonly [value]="product?.name" /> -->
      </div>
      <div class="col-3">
        <label>{{ 'RULE_QUERY.SATISFIED_RULES.TYPES_CODE.ECI_REF' | translate }}</label>
        <p>{{ product?.sales_reference }}</p>
        <!-- <input type="text" readonly [value]="product?.sales_reference" /> -->
      </div>
      <div class="col-3">
        <label>{{ 'RULE_QUERY.SATISFIED_RULES.TYPES_CODE.CODE_A' | translate }}</label>
        <p>{{ product?.product_id }}</p>
        <!-- <input type="text" readonly [value]="product?.product_id" /> -->
      </div>
      <div class="col-3">
        <label>{{ 'RULE_QUERY.SATISFIED_RULES.TYPES_CODE.EAN' | translate }}</label>
        <p>{{ product?.gtin }}</p>
        <!-- <input type="text" readonly [value]="product?.gtin" /> -->
      </div>
    </div>
  </div>
</div>
