<!-- -->
<form [formGroup]="form" (submit)="send()">
  <div class="form-group">
    <label for="header-name">{{ 'COMMON.NAME' | translate }}</label>
    <input type="text" id="header-name" class="form-control" formControlName="name" />
    <ff-form-error [field]="form.controls.name" [messages]="formMessages.name"> </ff-form-error>
  </div>
  <label for="date" class="nowrap">Fecha</label>

  <div class="row">
    <div class="col-12">
      <div style="max-width: 400px">
        <ff-datetimepicker id="date" formControlName="date" [defaultHour]="23" [defaultMinute]="59"> </ff-datetimepicker>
        <ff-form-error [field]="form.controls.date" [messages]="formMessages.date"></ff-form-error>
      </div>
    </div>

    <!-- <div class="col-12">
      <div style='max-width: 400px'>
        <ff-datetimepicker2 id='date2' formControlName='date2'></ff-datetimepicker2>
        </div>
    </div> -->
  </div>

  <button type="submit" class="btn btn-primary mt-2">Enviar</button>
</form>

<div class="mt-4">
  <label>Valor del campo:</label>
  <pre><code>{{dateValue | json}}</code></pre>
  <pre><code>{{form.errors | json}}</code></pre>
</div>
