<h3 class="title" *ngIf="hasAttribute">{{ 'ATTRIBUTETRANSLATION.CREATE' | translate }}</h3>

<div class="page-section attribute-translation-container">
  <ng-container *ngIf="hasAttribute">
    <div class="page-header row">
      <div class="col">
        <h3>{{ 'ATTRIBUTETRANSLATION.DEFINITION' | translate | uppercase }}</h3>
      </div>
    </div>
    <form [formGroup]="formAttribute">
      <div class="page-article pt-1 pl-4 identificador">
        <div class="col-form">
          <div class="row form-group">
            <div class="col-6">
              <label for="attributeLabel">{{ 'ATTRIBUTETRANSLATION.ATT_WPC_KEY' | translate }} *</label>
              <input
                formControlName="attributeLabel"
                data-cy="att-translation-name-input"
                type="text"
                name="attributeLabel"
                id="attributeLabel"
                class="form-control"
                readonly
              />
            </div>
            <div class="col-6">
              <label for="attributeId">{{ 'ATTRIBUTETRANSLATION.ATT_ID' | translate }} *</label>
              <input
                type="text"
                data-cy="att-translation-id-input"
                formControlName="attributeId"
                name="attributeId"
                id="attributeId"
                class="form-control"
                readonly
              />
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
  <ng-container *ngIf="!readonly || (readonly && hasTranslations)">
    <div [hidden]="hiddenConfig">
      <div class="section-lang">
        <form [formGroup]="formTranslations">
          <div class="page-header row">
            <div
              class="col page-header-collapse"
              [class.page-header-collapse-open]="!isCollapsedDefinition"
              (click)="isCollapsedDefinition = !isCollapsedDefinition"
            >
              <h3>{{ 'ATTRIBUTETRANSLATION.TITLE_LANGUAGES' | translate | uppercase }}</h3>
            </div>
          </div>

          <div class="text-center pt-5 pb-5" *ngIf="loading">
            <div class="loader"></div>
          </div>

          <div class="col-form-lang" [collapse]="isCollapsedDefinition" [isAnimated]="true" (expanded)="expanded()" *ngIf="!loading">
            <span>Idiomas ({{ numberLang }} idiomas)</span>
            <div class="page-article pl-4 pr-4 pt-3 pb-3 lang">
              <ff-field-i18n [requiredFirstLanguage]="false" [readonly]="readonly" formControlName="translations"></ff-field-i18n>
            </div>
          </div>
        </form>
      </div>
      <div class="text-right page-footer">
        <button type="submit" (click)="submit()" class="btn btn-primary ml-2 btn-sm">
          {{ 'ATTRIBUTETRANSLATION.SAVE' | translate | uppercase }}
        </button>
      </div>
    </div>
  </ng-container>
</div>
