@import '../../../../../theme/variables/colors';
@import '../../../../../theme/variables/variables';

.title {
  color: #f5f5f5;
  font-family: $family-montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 30px;
}

.language-input {
  margin-top: 10px;
}

.attribute-translation-container {
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0 0 6px 6px;
  margin-bottom: 40px;
}

.identificador {
  padding-left: 35px;
}

.section-lang {
  background-color: #eeeeee;
  padding-bottom: 40px;
}

.lang {
  background-color: white;
  padding-bottom: 40px;
  margin-top: 14px;
}

.col-form-lang {
  padding-left: 35px;
}

.col-form {
  padding-left: 15px;
}

span {
  height: 15px;
  color: #242424;
  font-family: $family-montserrat;
  font-size: 12px;
  font-weight: 500;
}

.page-footer {
  padding-bottom: 15px;
  padding-top: 15px;
}
