:host {
  .page-container-long {
    overflow: auto;
  }
  .page-container-long-section-right {
    margin-bottom: 2rem;
  }
  .tree {
    height: max(92vh, 775px);
    margin-bottom: 2rem !important;
  }
}
