<ff-page-header [pageTitle]="'Loading'"></ff-page-header>

<div class="page-container page-container-padding">
  <div class="page-section p-5">
    <ff-doc-example heading="Ejemplo" [description]="exampleDescription" [data]="example1">
      <ff-doc-loading-example></ff-doc-loading-example>
    </ff-doc-example>
  </div>
</div>
