:host {
  ::ng-deep {
    .section-lang {
      background-color: white !important;
    }
    .page-header,
    .page-footer,
    .page-container .title {
      display: none;
    }
    .identificador.page-article {
      padding: 25px 10px 0px !important;
    }
    .lang.page-article {
      margin: 0;
    }
    .icon-cancel {
      display: none;
    }
    .badge {
      padding: 10px 15px !important;
      input {
        display: none !important;
      }
      .text {
        opacity: 1 !important;
        padding: 0 !important;
      }
    }
    .col-form-lang {
      padding: 0 !important;
      > span {
        display: block;
        padding: 30px;
      }
    }
  }
}
