<ff-modal-header [title]="config?.title | translate" (closeMe)="handleCancel()"></ff-modal-header>

<div class="body-modal">
  <div class="row mb-2">
    <div class="col label">
      {{ config?.keyLabel ? (config?.keyLabel | translate) : ('MODAL_KEY_VALUE.KEY' | translate) }}
    </div>
    <div class="col label">
      {{ config?.valueLabel ? (config?.valueLabel | translate) : ('MODAL_KEY_VALUE.VALUE' | translate) }}
    </div>
  </div>
  <div class="row mt-2" *ngFor="let item of items; let i = index">
    <div class="col">
      <input type="text" [(ngModel)]="item.key" class="form-control" />
    </div>
    <div class="col">
      <input type="text" [(ngModel)]="item.value" class="form-control" />
    </div>
  </div>
  <button class="btn btn-dark mt-4" (click)="add()">Añadir</button>
</div>

<ff-modal-footer>
  <div class="content-buttons row">
    <div class="col-6">
      <button (click)="handleCancel()" [disabled]="false" type="button" class="btn btn-outline-primary btn-sm">
        {{ 'CANCEL' | translate | uppercase }}
      </button>
    </div>
    <div class="col-6 text-right">
      <button (click)="handleDone()" [disabled]="false" type="button" class="btn btn-primary btn-sm">
        {{ 'MODAL_SELECT_TEXTS.INSERT' | translate | uppercase }}
      </button>
    </div>
  </div>
</ff-modal-footer>
