@import 'src/theme/variables/colors';
@import 'src/theme/variables/input-vars';

.body-modal {
  padding-left: 33px;
  padding-right: 33px;
}

.content-buttons {
  width: 100%;
}

.label {
  font-size: 12px;
}
