<div class="loader d-block mx-auto mt-4" *ngIf="!item || !error"></div>
<div class="page-container page-container-padding" *ngIf="item">
  <ff-category-rule-detail [data]="item" [readonly]="true"></ff-category-rule-detail>
</div>
