<ff-modal-header
  [title]="config.title ? (config.title | translate) : ('MODAL_SELECT.ADD_ELEMENT' | translate)"
  (closeMe)="handleCancel()"
></ff-modal-header>

<div class="body-modal">
  <!-- <div class="row">
    <div [class]="config.multiple ? 'col-6' : 'col-12'">
      <label *ngIf="config.checkboxsLabel">
        {{ config.checkboxsLabel | translate }}
      </label>

      <div class="switchs-container" *ngIf="config.checkboxs && config.checkboxs.length">
        <div class="custom-control custom-switch" *ngFor="let check of configCopy.checkboxs">
           <input
            type="checkbox"
            [(ngModel)]="check.value"
            (ngModelChange)="onChexboxChange()"
            [attr.id]="check.key"
            class="custom-control-input"
          />
          <label [attr.for]="check.key" class="custom-control-label pointer">
            {{ check.name | translate }}
          </label>
        </div>
      </div>

      <form [formGroup]="form">
        <div class="row" [class.no-gutters]="!config.selectFilterItems">
          <div class="col" *ngIf="config.selectFilterItems">
            <div class="form-group">
              <label for="select-filter" class="nowrap">{{
                config.selectFilterLabel ? (config.selectFilterLabel | translate) : ('MODAL_SELECT.SELECT_FILTER_LABEL' | translate)
              }}</label>
              <ng-select (change)="filterItems()" formControlName="select" id="select-filter" name="select-filter" id="exploitation_type">
                <ng-option selected></ng-option>
                <ng-option *ngFor="let filterItem of config.selectFilterItems" [value]="filterItem.value">
                  {{ filterItem.label }}
                </ng-option>
              </ng-select>
            </div>
          </div>
          <div class="col">
            <div *ngIf="config.showInputFilter">
              <label for="input" class="nowrap">{{
                config.inputFilterLabel ? (config.inputFilterLabel | translate) : ('MODAL_SELECT.INPUT_FILTER_LABEL' | translate)
              }}</label>
              <input
                [placeholder]="
                  config.inputFilterPlaceholder
                    ? (config.inputFilterPlaceholder | translate)
                    : ('MODAL_SELECT_TEXTS.PLACEHOLDER' | translate)
                "
                [class.is-invalid]="showNoResults && form.get('input')?.value"
                formControlName="input"
                id="input"
                name="input"
                type="text"
                class="form-control max-width"
                autocomplete="off"
              />
              <em
                (click)="cleanInput()"
                class="search-icon"
                [ngClass]="{
                  'icon-cancel': form.controls.input.value,
                  'icon-search': !form.controls.input.value
                }"
              ></em>
            </div>
            <div class="invalid-feedback" *ngIf="showNoResults && form.get('input')?.value">
              {{ 'MODAL_SELECT.NO_RESULTS' | translate }}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div> -->

  <div [class.is-multiple]="config.multiple" class="row mt-3">
    <div [class]="config.multiple ? 'col-6' : 'col'">
      <!-- <div class="row align-items-center" *ngIf="items.length && form.get('input')?.value">
        <div [class]="config.multiple ? 'col-6' : 'col'">
          <div class="ml-2 mr-2 n-elements" *ngIf="(!config.searchFn || (config.searchFn && !loadingSearch)) && items && items.length">
            {{ items.length }}
            {{ total_elements ? ('MODAL_SELECT.OF' | translate) : '' }}
            {{ total_elements ? total_elements : '' }}
            {{ config.nItemsLabel ? (config.nItemsLabel | translate) : ('MODAL_SELECT.ELEMENTS' | translate) }}
          </div>
        </div>
        <div class="col-6 text-right" *ngIf="config.multiple">
          <span class="remove-all pointer" (click)="addAll()">
            {{ 'MODAL_SELECT.ADD_ALL' | translate }}
          </span>
        </div>
      </div> -->

      <!-- <div class="mt-5" *ngIf="form.get('input')?.value && loadingSearch">
        <div class="text-center">
          <div class="loader"></div>
        </div>
      </div> -->

      <ngx-simplebar class="mt-3 mb-3 scroll-modal">
        <!-- <ng-container *ngIf="form.get('input')?.value">
          <div
            *ngFor="let item of items"
            [class.active]="config.itemValueKey && selectedValues.indexOf(item[config.itemValueKey]) >= 0"
            [attr.title]="config.itemLabelKey ? getItemValue(item) : item.label"
            class="row no-gutters text-item align-items-center pl-2 pt-2 pb-2"
            (click)="selectItem(item)"
          >
            <div class="col no-flex icon">
              <em [class]="config.icon ? config.icon : 'icon-agrupaciones'"></em>
            </div>
            <div class="col name ml-2">
              {{ config.itemLabelKey ? getItemValue(item) : item.label }}
            </div>
          </div>
        </ng-container> -->

        <ff-folders-exploded-tree
          [tree]="searchResult || tree"
          [hideSearch]="true"
          [showFilter]="showFilter"
          [noIconActions]="true"
          [classFilter]="classFilter.bind(this)"
          (clickNode)="clickNode($event)"
          (searchNodes)="searchNodes($event)"
        ></ff-folders-exploded-tree>
      </ngx-simplebar>

      <!-- <div *ngIf="form.get('input')?.value && hasMoreItems && items?.length" class="text-center">
        <div *ngIf="loadingLoadMore">
          <div class="loader"></div>
        </div>
        <span *ngIf="!loadingLoadMore" class="remove-all pointer" (click)="loadMoreItems()">{{ 'COMMON.LOAD_MORE' | translate }}</span>
      </div> -->
    </div>

    <!-- Parte de cuando el multiple -->
    <div class="col-6" *ngIf="config.multiple">
      <div class="row no-gutters align-items-center">
        <div class="col no-flex">
          <div class="ml-2 mr-2 n-elements">
            {{ 'MODAL_SELECT.SELECTED' | translate }}
            {{ selected.length }}
            {{ config.nItemsSelectedLabel ? (config.nItemsSelectedLabel | translate) : ('MODAL_SELECT.ELEMENTS' | translate) }}
          </div>
        </div>
        <div class="col text-right" *ngIf="config.multiple">
          <span class="remove-all pointer" (click)="removeAll()">{{ 'MODAL_SELECT.REMOVE_ALL' | translate }}</span>
          <span class="remove-all pointer ml-2" (click)="orderAZ()">{{ 'MODAL_SELECT.ORDER_A_Z' | translate }}</span>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col no-flex" *ngFor="let item of selected">
          <span class="badge badge-pill badge-light">
            {{ config.itemLabelKey ? getItemValue(item) : item.label }}<em class="icon-cancel" (click)="removeSelected(item)"></em>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<ff-modal-footer>
  <div class="content-buttons row">
    <div class="col-6">
      <button (click)="handleCancel()" [disabled]="false" type="button" class="btn btn-outline-primary btn-sm">
        {{ config.cancelBtnText ? (config.cancelBtnText | translate | uppercase) : ('CANCEL' | translate | uppercase) }}
      </button>
    </div>
    <div class="col-6 text-right">
      <button (click)="handleDone()" type="button" class="btn btn-primary btn-sm">
        {{ config.okBtnText ? (config.okBtnText | translate | uppercase) : ('MODAL_SELECT.SELECT' | translate | uppercase) }}
      </button>
    </div>
  </div>
</ff-modal-footer>
