@import '../../../../theme/variables/variables';

:host {
  .router-outlet-container {
    position: absolute;
    top: 0;
    left: $width-menu-open;
    width: calc(100% - #{$width-menu-open});
    height: 100%;
    overflow: hidden;
    z-index: 11;
    transition: $transition-time;

    &.menu-closed {
      left: $width-menu-close;
      width: calc(100% - #{$width-menu-close});
    }
  }

  ::ng-deep {
    .page-container {
      height: calc(100vh - 80px);
      padding-bottom: 40px;
    }
  }
}
