<ff-page-header [pageTitle]="'Chips Select - Select'"></ff-page-header>

<div class="page-container page-container-padding">
  <div class="page-section p-5">
    <div class="mt-4">
      <ff-doc-example heading="Select Basic" [description]="example1Description" [angularForm]="true" [data]="example1">
        <ff-doc-chips-select-select-1></ff-doc-chips-select-select-1>
      </ff-doc-example>
    </div>

    <div class="mt-4">
      <ff-doc-example heading="Select Multiple" [description]="example2Description" [angularForm]="true" [data]="example2">
        <ff-doc-chips-select-select-2></ff-doc-chips-select-select-2>
      </ff-doc-example>
    </div>

    <div class="mt-4">
      <ff-doc-example heading="Ejemplo completo" [description]="example3Description" [angularForm]="true" [data]="example3">
        <ff-doc-chips-select-select-3></ff-doc-chips-select-select-3>
      </ff-doc-example>
    </div>

    <h3 class="title-table-options">API</h3>
    <div class="table-options">
      <div class="table-options-row table-options-row-header">
        <div class="table-options-cols table-options-cols-option">Opción</div>
        <div class="table-options-cols table-options-cols-description">Descripción</div>
      </div>
      <div class="table-options-row">
        <div class="table-options-cols table-options-cols-option">title</div>
        <div class="table-options-cols table-options-cols-description">Título de la modal.</div>
      </div>
      <div class="table-options-row">
        <div class="table-options-cols table-options-cols-option">multiple</div>
        <div class="table-options-cols table-options-cols-description">Si es true se pueden seleccionar multiples items.</div>
      </div>
      <div class="table-options-row">
        <div class="table-options-cols table-options-cols-option">showInputFilter</div>
        <div class="table-options-cols table-options-cols-description">
          Oculta/Muestras el input que se usa para los filtros/busquedas (Default: true)
        </div>
      </div>
      <div class="table-options-row">
        <div class="table-options-cols table-options-cols-option">inputFilterLabel</div>
        <div class="table-options-cols table-options-cols-description">Label del input</div>
      </div>
      <div class="table-options-row">
        <div class="table-options-cols table-options-cols-option">nItemsLabel</div>
        <div class="table-options-cols table-options-cols-description">Label del numero de elementos (Default: X Elementos)</div>
      </div>
      <div class="table-options-row">
        <div class="table-options-cols table-options-cols-option">nItemsSelectedLabel</div>
        <div class="table-options-cols table-options-cols-description">
          Label del numero de elementos seleccionados (Default: X Elementos)
        </div>
      </div>
      <div class="table-options-row">
        <div class="table-options-cols table-options-cols-option">items</div>
        <div class="table-options-cols table-options-cols-description">
          Listado de posibles items a seleccionar, Ignorado si se especifica searchFn
        </div>
      </div>
      <div class="table-options-row">
        <div class="table-options-cols table-options-cols-option">selected</div>
        <div class="table-options-cols table-options-cols-description">
          Listado de valores ya seleccionados, se ignora si se usan los formularios de angular
        </div>
      </div>
      <div class="table-options-row">
        <div class="table-options-cols table-options-cols-option">itemLabelKey</div>
        <div class="table-options-cols table-options-cols-description">
          Define un array de posibles claves a usar para pintar el label de los posibles items a seleccionar (Default: ['name', 'label'])
        </div>
      </div>
      <div class="table-options-row">
        <div class="table-options-cols table-options-cols-option">itemValueKey</div>
        <div class="table-options-cols table-options-cols-description">
          Define la clave a buscar que se usara como campo identificador para diferenciar los items seleccionados (Default: 'id')
        </div>
      </div>
      <div class="table-options-row">
        <div class="table-options-cols table-options-cols-option">cancelBtnText</div>
        <div class="table-options-cols table-options-cols-description">Define el texto del boton de cerrar modal (Default: 'Cancelar')</div>
      </div>
      <div class="table-options-row">
        <div class="table-options-cols table-options-cols-option">okBtnText</div>
        <div class="table-options-cols table-options-cols-description">
          Define el texto del boton de aceptar los cambios (Default: 'Seleccionar')
        </div>
      </div>
      <div class="table-options-row">
        <div class="table-options-cols table-options-cols-option">icon</div>
        <div class="table-options-cols table-options-cols-description">
          Define el icono que se va a mostrar a la izquierda del texto de los items (Default: 'icon-file')
        </div>
      </div>
      <div class="table-options-row">
        <div class="table-options-cols table-options-cols-option">searchFn</div>
        <div class="table-options-cols table-options-cols-description">
          Función a la que se llama cada vez que el usuario escribe en el input, que debe devolver los resultados
        </div>
      </div>
    </div>
  </div>
</div>
