@import 'src/theme/variables/colors';

:host{
  .stop-message {
    margin: 0 24px 32px 24px;
    background-color: $red-stop-modal;
    position: relative;

    .text-error {
      padding: 17px 30px;
      margin-left: 20px;
      color: $grey-3;
      font-size: 15px;
      font-weight: 500;
    }

    em {
      left: 15px;
      top: 13px;
      position: absolute;
      font-size: 20px;
      color: red;
    }
  }
}

.error-message {
  margin: 0 24px 32px 24px;
  background-color: $back-modal-warning;
  position: relative;

  .text-error {
    padding: 17px 30px;
    margin-left: 20px;
    color: $grey-3;
    font-size: 15px;
    font-weight: 500;
  }

  em {
    left: 15px;
    top: 13px;
    position: absolute;
    font-size: 20px;
    color: $orange-light;
  }
}

.content-message {
  margin-left: 33px;
  position: relative;

  .action-circle {
    display: inline-block;

    em.icon-stop-hand {
      position: absolute;
      color: $orange-stop;
      padding: 0px 25px 0px 0px;
      margin-top: -15px;
      font-size: 80px;
      top: 4px;
    }
  }

  .text {
    color: $grey-3;
    margin-left: 112px;
    text-align: left;
    font-size: 15px;
    margin-right: 90px;

    span {
      color: $black-2;
      font-weight: bold;
    }
  }
  .loader {
    position: absolute;
    padding: 9px 19px 9px 19px;
    top: 4px;
  }
}

.content-buttons {
  width: 100%;

  .button-cancel {
    text-align: left;

    button {
      .btn-sm {
        padding-left: 18px !important;
        padding-right: 18px !important;
      }
    }
  }

  .button-continue {
    text-align: right;
  }
}
