<ff-modal-header [title]="'COMMON_MODALS.NEW_TITLE' | translate" (closeMe)="closeModal()"></ff-modal-header>

<div class="error-message" *ngIf="errorMessage">
  <em class="icon-warning"></em>
  <div class="text-error">
    {{ errorMessage | translate }}
  </div>
</div>

<div class="stop-message" *ngIf="!errorMessage">
  <em class="icon-warning"></em>
  <div class="text-error">
    {{ 'COMMON_MODALS.STOP_TITLE' | translate }}
  </div>
</div>

<div class="content-message">
  <div class="action-circle">
    <em class="icon-stop-hand" *ngIf="!loading"></em>
    <div class="loader" *ngIf="loading"></div>
  </div>

  <div class="text">
    {{ 'COMMON_MODALS.CREATE_TITLE_BODY' | translate: { item: item.name } }}
  </div>
</div>

<ff-modal-footer>
  <div class="content-buttons row">
    <div class="button-cancel col-6">
      <button (click)="handleCancel()" [disabled]="loading" type="button" class="btn btn-outline-primary btn-sm">
        {{ 'MODAL_DELETE.CANCEL' | translate }}
      </button>
    </div>

    <div class="button-continue col-6">
      <button (click)="handleConfirm()" [disabled]="loading" type="button" class="btn btn-primary btn-lg">
        <em *ngIf="loading" class="loading-icon"></em>
        {{ 'MODAL_DELETE.CONTINUE' | translate }}
      </button>
    </div>
  </div>
</ff-modal-footer>
