<ff-exploded-tree
  [tree]="tree"
  [loading]="loading"
  [iconFilter]="iconFilter"
  [ignoreId]="true"
  [enableHorizontalScroll]="false"
  [rootCollapsed]="true"
  [classFilter]="classFilter"
  [actionsFilter]="actionsFilter.bind(this)"
  [searchPlaceholder]="searchPlaceholder"
  [searchInfoText]="searchInfoText"
  [filterMultiple]="true"
  [filterItems]="filterItems"
  [hiddenMode]="hideSearch"
  [showFilter]="showFilter"
  (clickAction)="onClickAction($event)"
  (filterNodes)="filter($event)"
  (clearFilter)="clear()"
  (clickNode)="onClickNode($event)"
  (changeNode)="onChangeNode($event)"
  (searchNodes)="onSearchNodes($event)"
  (removeNode)="onRemoveNode($event)"
>
  <div info class="info">
    <i class="icon-icon-warning"></i>
    <div>
      {{ searchInfoText | translate }}
    </div>
  </div>
</ff-exploded-tree>
