<ff-page-header [pageTitle]="'Menu de modales'"></ff-page-header>

<div class="page-container page-container-padding">
  <div class="page-section p-4">
    <div class="row">
      <div class="col-4 mb-4" *ngFor="let modal of modales">
        <button class="btn btn-dark btn-block" (click)="openModal(modal)">
          {{ modal.name }}
        </button>
      </div>
    </div>
  </div>
</div>
