<div class="page-section container-facet-left">
  <div class="row pl-3">
    <div class="col-12">
      <div class="pr-4 pt-3 pb-3">
        <em class="icon-search search-icon"></em>
        <span class="search-text">Buscar:</span>
        <input
          #search
          (keyup)="searchProduct(search.value)"
          type="text"
          class="search-input no-border"
          placeholder="Términos de búsqueda..."
        />
      </div>
    </div>
  </div>
  <hr />
  <div class="row pl-3">
    <div class="col-12">
      <div class="text-center pt-5 pb-5" *ngIf="loadingSearchProducts">
        <div class="loader"></div>
      </div>
    </div>
  </div>

  <div class="row pl-3 mr-2 mt-1 container-scroll">
    <div class="col-12" *ngIf="!loadingSearchProducts">
      <div *ngFor="let emptyTree of treeProducts; let i = index; trackBy: trackByFn">
        <ff-ui-tree [data]="emptyTree" (clicked)="onClickTree(i, $event)" (resolve)="resolveProduct(i)"></ff-ui-tree>
        <div *ngIf="errorResolvingProducts[i]" class="alert alert-danger mr-2" role="alert">
          <em class="icon-warning"></em>
          Error
        </div>
        <div class="text-center pt-1 pb-1" *ngIf="loadingProducts[i]">
          <div class="loader"></div>
        </div>
      </div>
    </div>
  </div>
</div>
