@import '../../../../../theme/variables/colors';
@import '../../../../../theme/variables/variables';

.container-facet-left {
}

.container-scroll {
  height: calc(100vh - 174px);
  overflow-y: auto;
  overflow-x: hidden;
}

.search-icon {
  font-size: 21px;
  vertical-align: middle;
  margin-right: 10px;
}

.search-input {
  width: calc(100% - 81px);
  height: 30px;
}

.search-text {
  height: 15px;
  width: 45px;
  color: $black-2;
  font-family: $family-montserrat;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 15px;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eeeeee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c2c3c2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c2c3c2;
}
