<div class="table-scroll" [class.is-fixed]="isFixed">
  <ngx-simplebar class="table-wrap">
    <ng-content *ngTemplateOutlet="table"></ng-content>
  </ngx-simplebar>
  <div class="table-clone" *ngIf="isFixed">
    <ng-content *ngTemplateOutlet="table"></ng-content>
  </div>
</div>
