@import '../../../theme/variables/variables';

:host {
  .table-scroll {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;

    &.is-fixed {
      ::ng-deep {
        .only-show-on-fixed {
          display: inline-block;
        }
      }
    }

    ::ng-deep {
      .only-show-on-fixed {
        display: none;
      }
    }

    .table-wrap {
      width: 100%;
      overflow: auto;
    }
  }

  .table-clone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;

    ::ng-deep {
      table {
        background-color: transparent;
      }

      th,
      td {
        visibility: hidden;
      }

      tbody th {
        visibility: visible;
      }

      .fixed-side {
        visibility: visible;
        // box-shadow: 0 38px 30px 0 rgb(0 0 0 / 8%);
        pointer-events: all;
      }

      thead,
      tfoot {
        background: transparent;
      }
    }
  }

  ::ng-deep {
    table {
      width: 100%;
      margin: auto;
      border-collapse: separate;
      border-spacing: 0;

      th,
      td {
        background: $white;
        white-space: nowrap;
        vertical-align: top;
      }

      thead,
      tfoot {
        background: $white;
      }
    }
  }
}
