<ff-page-header [pageTitle]="'Condiciones en modo lectura'"></ff-page-header>

<div class="page-container page-container-padding">
  <div class="page-section p-5">
    <ff-doc-example heading="Ejemplo" [data]="example1">
      <ff-doc-condition-readonly-1></ff-doc-condition-readonly-1>
    </ff-doc-example>
    <!-- <ff-doc-example heading='Ejemplo2' [data]='example2'>
      <ff-doc-condition-readonly-2></ff-doc-condition-readonly-2>
    </ff-doc-example> -->
  </div>
</div>
