<ff-page-header [pageTitle]="'Conditión - regla básica'"></ff-page-header>

<div class="page-container page-container-padding">
  <div class="page-section p-5">
    <ff-doc-example heading="Condición básica" [data]="example1">
      <ff-doc-condition-basic-example></ff-doc-condition-basic-example>
    </ff-doc-example>
  </div>
</div>
