<div class="page-article pt-3 row" [formGroup]="form">
  <div *ngFor="let item of headerFormFields; let i = index" class="form-group col-4">
    <ng-container>
      <label [for]="item.label">{{ item.label | translate }}<span *ngIf="item.required && item.label"> *</span></label>
      <ff-switch-field-types [fieldProperties]="item" [form]="form" [field]="form?.controls[item.name]"></ff-switch-field-types>
    </ng-container>
  </div>
</div>
