@import '../../../../../theme/variables/colors';

.page-section {
  .content-name {
    padding-bottom: 13px;
    padding-top: 20px;
    margin-left: 0;
    margin-right: 0;
    border-bottom: solid 1px $white-3;
    background-color: $white;

    input {
      max-width: 390px;
    }
  }

  .subtitle {
    padding: 15px;
    font-size: 14px;
    line-height: normal;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
  }

  .header-subtitle {
    background-color: $white;
  }

  .chips {
    padding-left: 15px;
    padding-bottom: 36px;

    input {
      max-width: 390px;
    }
    .annotation {
      font-size: 12px;
      margin-top: 5px;
      font-weight: 500;
      display: block;
    }
  }
}
