<div class="ml-2 mr-2">
  <div class="col-12" *ngIf="loading">
    <div class="page-section">
      <div class="text-center pt-5 pb-5">
        <div class="loader"></div>
      </div>
    </div>
  </div>

  <div class="page-section bg-gray">
    <form [formGroup]="form" (submit)="submit()" *ngIf="!loading">
      <!-- HEADER -->
      <div class="subtitle row bg-white">
        {{ 'SCOPES_DETAIL_COMPONENT.DEFINITION' | translate | uppercase }}
      </div>

      <div class="form-group content-name row">
        <!-- Nombre -->
        <div class="col-4">
          <label for="name"> {{ 'SCOPES_DETAIL_COMPONENT.NAME' | translate }}* </label>

          <input
            [placeholder]="'SCOPES_DETAIL_COMPONENT.ENTER_NAME' | translate"
            type="text"
            class="form-control"
            data-cy="scopes-name-input"
            id="name"
            formControlName="scope"
          />
          <ff-form-error [field]="form.controls.scope" [messages]="formErrors.scope"></ff-form-error>
        </div>
      </div>

      <!-- BODY -->
      <div class="row subtitle">
        {{ 'SCOPES_DETAIL_COMPONENT.CONFIGURATION' | translate }}
      </div>

      <div class="page-article">
        <!-- PAISES -->
        <!-- <div class="chips row" *ngIf="countriesData"> -->
        <div class="chips row">
          <ff-chips-control-select formControlName="countries" [config]="configCountries"></ff-chips-control-select>
        </div>
        <!-- <div class="chips row" *ngIf="!countriesData">
          <ff-loading [loading]="true"></ff-loading>
        </div> -->

        <!-- PROVINCIAS -->
        <!-- <div class="chips row" *ngIf="citiesData"> -->
        <div class="chips row">
          <ff-chips-control-select formControlName="cities" [config]="configCities"></ff-chips-control-select>
        </div>
        <!-- <div class="chips row" *ngIf="!citiesData">
          <ff-loading [loading]="true"></ff-loading>
        </div> -->

        <!-- CÓDIGOS POSTALES -->
        <div class="chips row">
          <ff-chips-control-select formControlName="zip_codes" [config]="configZipCodes"></ff-chips-control-select>
        </div>

        <!-- CÓDIGOS DE DISTRITO -->
        <div class="chips row">
          <ff-chips-control-select formControlName="district_codes" [config]="configDistrictCodes"></ff-chips-control-select>
        </div>
      </div>

      <!--  FOOTER  -->
      <div class="page-footer text-right">
        <button type="button" data-cy="scopes-cancel-btn" class="btn btn-sm btn-outline-primary" (click)="cancel()">
          {{ 'TARGET_DETAIL_COMPONENT.CANCEL' | translate | uppercase }}
        </button>

        <button type="button" data-cy="scopes-save-btn" class="btn btn-primary ml-2 btn-lg" (click)="submit()">
          {{ 'TARGET_DETAIL_COMPONENT.SAVE' | translate | uppercase }}
        </button>
      </div>
      <!-- --------------- -->
    </form>
  </div>
</div>
