<div class="site-tabs">
  <tabset #staticTabs *ngIf="!loading">
    <tab customClass="custom-tab" id="config-tab" (selectTab)="onSelect($event)">
      <ng-template tabHeading><em class="icon-config mr-1"></em>{{ 'SITES.TABS.CONFIGURATION' | translate }} </ng-template>
      <ff-site-config
        (formLoaded)="onFormLoaded($event)"
        (formContentLoaded)="formContentLoaded()"
        [subsites]="subsites"
        [formConfig]="configFormConfig"
        [loading]="loading"
        [item]="item"
      >
      </ff-site-config>
    </tab>
    <tab customClass="custom-tab" id="subsites-tab" (selectTab)="onSelect($event)" [disabled]="create">
      <ng-template tabHeading
        ><em class="icon-flow-tree-subsite mr-1"></em>{{ 'SITES.TABS.SUBSITES' | translate }} ({{ totalSubsites ? totalSubsites : 0 }})
      </ng-template>
      <div class="subsites-title">
        <h3>{{ 'SITES.TABS.SUBSITES' | translate | uppercase }}</h3>
      </div>
      <ff-subsite-list [site]="item" (totalSubsites)="setTotalSubsites($event)"></ff-subsite-list>
      <div class="text-right pr-3 pb-3">
        <button type="button" class="btn btn-secondary" (click)="goNewSubSite()">
          {{ 'SITES.NEW_SUBSITE' | translate }}
        </button>
      </div>
    </tab>
  </tabset>
</div>
