@import '../../../../../theme/variables/colors';
@import '../../../../../theme/tabs';

.subsites-title {
  margin-top: 24px;
  margin-left: 21px;
}
.site-tabs {
  em {
    font-size: 20px;
    vertical-align: middle;
  }
}
