@import '../../../../theme/variables/variables';

:host {
  display: block;
  padding-top: 26px;

  .title {
    font-size: 24px;
    line-height: 28px;
  }

  pre {
    margin: 0;
    font-size: 0em;
  }

  .example {
    position: relative;
    margin-top: 24px;
    border: 1px solid #ededed;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  }

  ::ng-deep tabset {
    .nav-tabs {
      border-bottom: 1px solid #ededed;
      padding: 0 32px;

      .nav-item {
        margin-bottom: 0;
        margin-right: 24px;
      }

      .nav-link {
        font-size: 14px;
        color: rgba(27, 31, 59, 0.65);
        border: none;
        box-shadow: none;
        padding: 16px 0;

        &:hover {
          color: rgba(27, 31, 59, 1);
        }

        &.active {
          color: rgba(27, 31, 59, 1);
          border-bottom: 2px solid $dark_green;
        }
      }
    }
  }
}
