@import 'src/theme/variables/colors';

.content-message {
  margin-left: 33px;
  position: relative;

  .action-circle {
    display: inline-block;

    em.icon-trash {
      position: absolute;
      border: 2px solid $red-delete;
      border-radius: 81px;
      color: $red-delete;
      padding: 9px 19px 9px 19px;
      font-size: 40px;
      top: 4px;
    }
  }

  .text {
    color: $grey-3;
    margin-left: 112px;
    text-align: left;
    font-size: 15px;
    margin-right: 90px;

    span {
      color: $black-2;
      font-weight: bold;
    }
  }

  .loader {
    position: absolute;
    padding: 9px 19px 9px 19px;
    top: 4px;
  }
}

.content-buttons {
  width: 100%;

  .button-cancel {
    text-align: left;

    button {
      .btn-sm {
        padding-left: 18px !important;
        padding-right: 18px !important;
      }
    }
  }

  .button-continue {
    text-align: right;
  }
}
