<ff-modal-header [title]="'COMMON_MODALS.DELETE_TITLE' | translate" (closeMe)="closeModal()"></ff-modal-header>

<div class="alert" *ngIf="errorMessage">
  <em class="icon-warning"></em>
  <!-- Se ha producido un error inesperado: el sistema no ha podido eliminar el registro. -->
  {{ errorMessage | translate }}
</div>

<div class="content-message">
  <div class="action-circle">
    <em class="icon-trash" *ngIf="!loading"></em>
    <div class="loader" *ngIf="loading"></div>
  </div>

  <div class="text">
    {{ 'COMMON_MODALS.DELETE_TITLE_BODY_1' | translate }}
    <span> “{{ item.name }}”</span>
    <ng-container *ngIf="!paragraphText">
      {{ 'COMMON_MODALS.DELETE_TITLE_BODY_2' | translate }}
    </ng-container>
    <ng-container *ngIf="paragraphText"> <br />{{ 'MODAL_DELETE_PARAGRAPH.' + paragraphText | translate }} </ng-container>
  </div>
</div>

<ff-modal-footer>
  <div class="content-buttons row">
    <div class="button-cancel col-6">
      <button (click)="handleCancel()" [disabled]="loading" type="button" class="btn btn-outline-primary btn-sm">
        {{ 'MODAL_DELETE.CANCEL' | translate }}
      </button>
    </div>

    <div class="button-continue col-6">
      <button (click)="handleConfirm()" [disabled]="loading" type="button" class="btn btn-primary btn-lg">
        <em *ngIf="loading" class="loading-icon"></em>
        <span *ngIf="!errorMessage"> {{ 'MODAL_DELETE.CONTINUE' | translate }}</span>
        <span *ngIf="errorMessage"> {{ 'MODAL_DELETE.TRY_AGAIN' | translate }}</span>
      </button>
    </div>
  </div>

  <!-- <div *ngIf="errorMessage" class="action-error-message">
    <span>{{errorMessage}}</span>
  </div> -->
</ff-modal-footer>
