<div class="page-section">
  <div class="text-center pt-5 pb-5" *ngIf="loading">
    <div class="loader"></div>
  </div>

  <ng-container *ngIf="!loading">
    <!--     HEADER      -->
    <form [formGroup]="form">
      <div class="row content-header" *ngIf="item">
        <div class="col-4">
          <div class="form-group">
            <label for="header-name">{{ 'COMMON.NAME' | translate }}*</label>
            <input
              type="text"
              id="header-name"
              data-cy="entity-type-header-name-input"
              [placeholder]="'ENTITY_TYPES.ENTER_NAME' | translate"
              [readOnly]="readonly || activeTab === 'entity'"
              (blur)="onBlurName($event.target.value)"
              class="form-control"
              formControlName="name"
            />
            <ff-form-error [field]="form?.controls.name" [messages]="formErrors?.name"> </ff-form-error>
          </div>
        </div>

        <div class="col-4">
          <div class="form-group">
            <label for="header-label">{{ 'COMMON.LABEL' | translate }}*</label>
            <input
              type="text"
              id="header-label"
              class="form-control"
              data-cy="entity-type-header-label-input"
              formControlName="label"
              [placeholder]="'ENTITY_TYPES.ENTER_LABEL' | translate"
              [readOnly]="readonly || activeTab === 'entity'"
            />
            <ff-form-error [field]="form?.controls.label" [messages]="formErrors?.label"> </ff-form-error>
          </div>
        </div>

        <div class="col-4 define-rule-col">
          <div class="custom-control custom-switch switch-left">
            <input
              type="checkbox"
              [readOnly]="readonly || activeTab === 'entity'"
              data-cy="attribute-define-rules"
              class="custom-control-input"
              id="define-rules"
              formControlName="define_rules"
            />
            <label [for]="readonly || activeTab === 'entity' ? '' : 'define-rules'" class="custom-control-label pointer">
              {{ 'ENTITY_TYPE_DETAIL.DEFINE_RULES' | translate }}
            </label>
          </div>
        </div>
      </div>
    </form>

    <div class="alert alert-warning" role="alert" *ngIf="item?.id && changed">
      <em class="icon-warning"></em>
      {{ 'ENTITY_TYPE_DETAIL.CHANGES_FOR_SAVE' | translate }}
    </div>

    <div class="tab" *ngIf="!loading">
      <ul class="d-flex">
        <li class="tab-item" [class.tab-active]="activeTab === 'attribute'" (click)="changeTab('attribute')">
          <em class="icon icon-atributos"></em>
          {{ 'ENTITY_TYPE_DETAIL.ATTRIBUTES' | translate }}
        </li>
        <li
          class="tab-item"
          [class.tab-item-not-allowed]="!item || !item?.id"
          [class.tab-active]="activeTab === 'entity'"
          [class.disabled]="entitiesError"
          (click)="item?.id ? changeTab('entity') : undefined"
        >
          <em class="icon icon-atributos-1"></em>
          {{ 'ENTITY_TYPE_DETAIL.ENTITIES' | translate }}
        </li>
      </ul>
    </div>
  </ng-container>
</div>
