@import '../../../../../theme/variables/variables';

$color-text-search: $black-2;

.page-section {
  padding: 21px;
  padding-bottom: 0;
  background-color: $white;

  .content-header {
    max-width: 1000px;

    input {
      width: 100%;
      max-width: 100%;
    }
  }

  .define-rule-col {
    padding-top: 42px;
  }

  .tab {
    position: relative;
    overflow: hidden;
    margin-top: 30px;

    ul {
      float: left;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    &-item {
      background-color: $white;
      color: $black-4;
      padding: 10px 14px 6px 14px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      font-size: 13px;
      cursor: pointer;

      &-not-allowed {
        cursor: not-allowed;
      }

      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }

      i {
        font-size: 18px;
        margin-right: 4px;
      }

      .icon {
        font-size: 1rem;
        vertical-align: middle;
      }

      &:hover {
        background-color: $white-4;
      }
    }

    &-active {
      background-color: $white-4;

      .icon {
        color: $green;
      }
    }
  }
}
