@import 'src/theme/variables/colors';

.ghost {
  border: 2px green dashed;
}

.hiddenTooltip {
  visibility: hidden;
}

.filterMatch {
  border-color: orange;
}

.badge-light {
  position: relative;
  top: -7px;
  font-size: 13px;
  em {
    position: initial;
    font-size: 18px;
    color: $grey;
  }

  .customIcon {
    font-size: 35px;
    color: black;
  }

  .customIcon::before {
    margin-right: 6px;
  }

  em::before {
    margin: 4px;
    pointer-events: none;
  }
}

.badge-pill {
  padding: 8px;
}

.customIconRoot {
  padding: 0;
  padding-right: 5px;
  position: relative;
  top: 0;

  .icon-cancel::before {
    position: relative;
    top: -5px;
  }
}

.icon-cancel:hover {
  color: red !important;
}

.icon-pencil {
  font-size: 14px !important;
  &:hover {
    color: black !important;
  }
}

.icon-check:hover {
  color: green !important;
}

.badge:hover {
  border-color: black;
  background-color: white;
}
