<div [sortablejs]="values" [sortablejsOptions]="sortableOptions">
  <ng-container *ngFor="let el of values; let j = index">
    <div class="loader" *ngIf="el?.loading"></div>
    <span
      class="badge badge-pill badge-light"
      *ngIf="!el?.loading"
      container="body"
      [tooltip]="hiddenTooltip ? '' : el.visual_path || el.data?.visual_path"
      [ngClass]="{
        customIconRoot: el.icon && el.id !== idSeccionConLinea && el.id !== idTextoLibre,
        filterMatch: filterKey !== '' && showLabel(el)?.toLowerCase().includes(filterKey.toLowerCase())
      }"
    >
      <ng-container *ngIf="!el.icon || el.id === idSeccionConLinea || el.id === idTextoLibre">
        {{ showLabel(el) }}
      </ng-container>
      <em *ngIf="el.icon && el.id !== idSeccionConLinea && el.id !== idTextoLibre" class="customIcon" [class]="el.icon"></em>

      <em
        class="icon-pencil"
        (click)="openModal(el)"
        *ngIf="(!el.icon && etiquetas) || idTextoLibre === el.id || idSeccionConLinea === el.id"
      ></em>
      <em class="icon-cancel" (click)="remove(list, etiquetas, el)"></em>
    </span>
  </ng-container>
</div>
