<h3 class="title">{{ 'TECHNICALCHARACTERISTICS.TITLE_CONFIG' | translate }} : {{ data?.name }}</h3>

<div class="technical-container">
  <div class="characteristics-root">
    <div class="config">
      <div class="align-items-baseline col-auto d-flex">
        <label class="mr-2">{{ 'TECHNICALCHARACTERISTICS.LANG' | translate }}</label>
        <ng-select [(ngModel)]="lang" [clearable]="false">
          <ng-option *ngFor="let item of arrayLang" [value]="item">
            <span [attr.data-cy]="'LANGUAGES.' + item | cyTranslate: 'technical-sheet-'"> {{ 'LANGUAGES.' + item | translate }}</span>
          </ng-option>
        </ng-select>
      </div>
      <div class="align-self-center configLink ml ml-auto pr-3" *ngIf="haveSection">
        <label data-cy="technical-sheet-colapse-all" (click)="collapseAll()">{{ 'TECHNICALCHARACTERISTICS.COLLAPSE' | translate }}</label>
        <label data-cy="technical-sheet-expand-all" (click)="collapseAll(false)">{{ 'TECHNICALCHARACTERISTICS.OPEN' | translate }}</label>
      </div>
    </div>
    <div class="config mt-3 mb-4">
      <div class="align-items-baseline col-auto d-flex pt-3 col-4" *ngIf="clear">
        <span>
          <small>
            <strong>
              {{ 'RULE_QUERY.TOTAL_FOUND' | translate: { total: arrayToFilter.length } }}
            </strong>
          </small>
        </span>
      </div>
      <div class="align-items-baseline col-auto d-flex ml ml-auto pr-3">
        <span *ngIf="arrayToFilter.length" class="d-flex blond">
          {{ indexToScroll + 1 }}/{{ arrayToFilter.length }}
          <i class="icon-icon-sort-up ml-1 mr-1 arrow" (click)="moveFiltering(false)"></i>
          <i class="icon-icon-sort-table-up ml-1 arrow mr-1" (click)="moveFiltering(true)"></i>
        </span>
        <input
          #filterInput
          type="text"
          data-cy="technical-sheet-search-filter"
          [placeholder]="'COMMON.SEARCH_LABEL_VALUE' | translate"
          name="filterInput"
          class="form-control"
          (keydown)="inputChange($event, filterInput)"
        />
        <button type="submit" data-cy="technical-sheet-search-btn" class="btn btn-dark btn-sm ml-2" (click)="selectFilterData(filterInput)">
          {{ !clear ? ('COMMON.SEARCH.SAVE' | translate) : ('COMMON.CLEAN' | translate) }}
        </button>
      </div>
    </div>
    <ngx-simplebar id="content-list" class="content-list">
      <div [collapse]="isCollapsedConfig['attribute']" [isAnimated]="true">
        <table class="table table-hover">
          <thead>
            <tr>
              <th [width]="'5%'"></th>
              <th [width]="'42%'">
                {{ 'TECHNICALCHARACTERISTICS.TAG' | translate }}
              </th>
              <th [width]="'42%'">
                {{ 'TECHNICALCHARACTERISTICS.ATTRIBUTE' | translate }}
              </th>
              <th class="width-icon" [width]="'5%'"></th>
            </tr>
          </thead>

          <tbody>
            <ng-container *ngFor="let item of list; let i = index">
              <tr dndDropzone (dndDrop)="move($event, i, list)">
                <td [dndDraggable]="{ index: i, row: true, root: true }">
                  <div class="icon-row">
                    <em class="icon-three-line-move actions"></em>
                    <em
                      class="actions"
                      [ngClass]="{ 'icon-icon-folder-closed': item.collapse, 'icon-folder': !item.collapse }"
                      *ngIf="item.children"
                      (click)="collapse(item)"
                    ></em>
                    <div class="fill-icon" *ngIf="!item.children"></div>
                  </div>
                </td>
                <td dndDropzone (dndDrop)="onDrop($event, true, i)">
                  <ff-technical-characteristics-content
                    [values]="item.etiquetas"
                    [etiquetas]="true"
                    [list]="item"
                    [lang]="lang"
                    [filterKey]="filterKey"
                    (updateItem)="updateItem($event)"
                    [translations]="objTranslation"
                  ></ff-technical-characteristics-content>
                </td>
                <td dndDropzone (dndDrop)="onDrop($event, false, i)" *ngIf="!item.children">
                  <ff-technical-characteristics-content
                    [values]="item.atributos"
                    [etiquetas]="false"
                    [list]="item"
                    [lang]="lang"
                    [filterKey]="filterKey"
                    (updateItem)="updateItem($event)"
                    [translations]="objTranslation"
                  ></ff-technical-characteristics-content>
                </td>
                <td *ngIf="item.children">
                  <h4 class="childrenLength">
                    {{ 'TECHNICALCHARACTERISTICS.CHILDREN_LENGTH' | translate: { length: item.children.length } }}
                  </h4>
                </td>
                <td class="width-icon">
                  <i
                    class="icon-trash actions"
                    (click)="handleDelete(list, i)"
                    *ngIf="list?.length !== 1 || item.etiquetas?.length || item.atributos?.length"
                  ></i>
                </td>
              </tr>
              <ng-container *ngIf="!item.collapse">
                <tr
                  *ngFor="let children of item.children; let indexChildren = index"
                  dndDropzone
                  (dndDrop)="moveChildren($event, indexChildren, item.children)"
                >
                  <td [dndDraggable]="{ index: indexChildren, row: true, canMoveRoot: true, indexRoot: i, children: item.children }">
                    <div class="icon-row">
                      <div class="fill-icon"></div>
                      <em class="icon-three-line-move actions"></em>
                    </div>
                  </td>
                  <td dndDropzone (dndDrop)="onDropChildren($event, true, children)">
                    <ff-technical-characteristics-content
                      [values]="children.etiquetas"
                      [etiquetas]="true"
                      [list]="children"
                      [lang]="lang"
                      [filterKey]="filterKey"
                      (updateItem)="updateItem($event)"
                      [translations]="objTranslation"
                    ></ff-technical-characteristics-content>
                  </td>
                  <td dndDropzone (dndDrop)="onDropChildren($event, false, children)">
                    <ff-technical-characteristics-content
                      [values]="children.atributos"
                      [etiquetas]="false"
                      [list]="children"
                      [lang]="lang"
                      [filterKey]="filterKey"
                      (updateItem)="updateItem($event)"
                      [translations]="objTranslation"
                    ></ff-technical-characteristics-content>
                  </td>
                  <td class="width-icon">
                    <i class="icon-trash actions" (click)="handleDelete(item.children, indexChildren)"></i>
                  </td>
                </tr>
              </ng-container>

              <tr *ngIf="item.children && !item.collapse" class="row-add-children">
                <td colspan="2">
                  <div class="icon-row add-children" (click)="addItem(item.children)">
                    <div class="fill-icon"></div>
                    <em class="icon-plus"></em>
                    {{ 'TECHNICALCHARACTERISTICS.ADD_CHILDREN' | translate }}
                  </div>
                </td>
                <td colspan="2"></td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </ngx-simplebar>
    <div class="col-12">
      <div class="add-row" (click)="addItem()">
        <em class="icon-plus"></em>
        {{ 'TECHNICALCHARACTERISTICS.ADD_ROW' | translate }}
      </div>
    </div>
  </div>

  <div class="page-footer text-right">
    <button type="button" data-cy="technical-sheet-cancel-btn" class="btn btn-outline-primary btn-sm" (click)="cancel()">
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button type="button" data-cy="technical-sheet-save-btn" class="btn btn-primary ml-2 btn-lg" (click)="submit()">
      {{ 'COMMON.SAVE' | translate }}
    </button>
    <button
      type="button"
      data-cy="technical-sheet-publish-btn"
      class="btn btn-primary ml-2 btn-lg"
      (click)="publish()"
      *ngIf="list?.length && list[0].etiquetas.length"
    >
      {{ 'COMMON.PUBLISH' | translate }}
    </button>
  </div>
</div>
