@import 'src/theme/variables/colors';

.title {
  color: $white-4;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 30px;
}

.technical-container {
  background-color: white;
  padding-bottom: 20px;
  //margin-bottom: 35px;
}

.dndDragover {
  border: 2px dashed green;
}

.actions::before {
  font-size: 25px;
  color: $grey;
  cursor: pointer;
}

.badge-light {
  position: relative;
  top: -7px;

  i {
    display: contents;
  }

  .customIcon {
    font-size: 28px;
  }

  .customIcon::before {
    margin-right: 6px;
  }

  i::before {
    padding: 10px;
  }
}

.add-children {
  align-items: center;
  color: green;
  cursor: pointer;
}

.add-row {
  align-items: center;
  color: green;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  margin-top: -10px;
}

.icon-trash {
  &::before {
    transition: 0.3s ease-in-out;
  }

  &:hover {
    &:before {
      color: $red-delete;
    }
  }
}

.icon-three-line-move,
.icon-icon-folder-closed,
.icon-folder {
  &:hover {
    &:before {
      color: green !important;
    }
  }
}

td:not(:first-child) {
  padding-left: 0;
}

.badge-pill {
  padding: 8px;
}

.customIconRoot {
  padding: 0;
  padding-right: 5px;
  position: relative;
  top: 0;

  .icon-cancel::before {
    position: relative;
    top: -5px;
  }
}

.childrenLength {
  text-align: right;
}

.icon-row {
  align-self: center;
  margin-right: 5px;
  display: flex;

  em {
    padding: 5px;
  }
}

.children-row {
  padding-left: 30px;
}

.characteristics-root {
  padding: 20px;
  background-color: #f5f5f5;

  .page-header {
    padding-left: 0;
  }
}

.content-list {
  margin: 12px;
  max-height: 550px;
  overflow: auto;
}

.type-product {
  margin-left: 12px;
}

.fill-icon {
  width: 30px;
  height: 30px;
}

tr {
  height: 62px;
  border-bottom: none !important;
}

.icon-plus::before {
  color: green;
  font-size: 20px;
}

.arrow{
  background-color: white;
  border: 1px solid #e4e4e4 ;
  height: 27px;
  padding-left: 4.5px;
  width: 27px;
}
.config {
  display: flex;
}

.divSelect {
  padding-left: 0;
}

.configLink {
  label {
    cursor: pointer;
    color: $green;
    text-decoration: underline;
    padding-left: 10px;
  }
  text-align: right;
}

.icon-three-line-move:before {
  cursor: grab;
}

::ng-deep .dndDraggingSource,
.dndDragging {
  cursor: grabbing !important;
}
