form {
  display: flex;
  flex-direction: row;
  align-items: center;
  input {
    flex: 1 1 3rem;
    min-width: 3rem;
    text-align: center;
  }

  .separator {
    padding: 0 0.5rem;
  }
}
.ng-invalid > input {
  border: 1px solid #e4e4e4 !important;
  border-bottom: 1px solid #ff0032 !important;
  background-image: none;
}
i {
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: 0.2rem;
  &[disabled] {
    cursor: auto;
    opacity: 0.5;
  }
}
