<form [formGroup]="form">
  <input
    *ngIf="showHours"
    formControlName="hours"
    type="text"
    [placeholder]="placeholderHours"
    digitOnly
    [pattern]="pattern"
    inputmode="numeric"
    [max]="maxHours"
    [min]="minTime"
    [allowPaste]="false"
    (blur)="transform('hours')"
  />
  <span class="separator" *ngIf="showMinutes">:</span>
  <input
    *ngIf="showMinutes"
    formControlName="minutes"
    type="text"
    [placeholder]="placeholderMinutes"
    digitOnly
    [pattern]="pattern"
    inputmode="numeric"
    [max]="maxMinutes"
    [min]="minTime"
    [allowPaste]="false"
    (blur)="transform('minutes')"
  />
  <span class="separator" *ngIf="showSeconds">:</span>
  <input
    *ngIf="showSeconds"
    formControlName="seconds"
    type="text"
    [placeholder]="placeholderSeconds"
    digitOnly
    [pattern]="pattern"
    inputmode="numeric"
    [max]="maxMinutes"
    [min]="minTime"
    [allowPaste]="false"
    (blur)="transform('seconds')"
  />
  <i
    *ngIf="cancelButton && !disabled"
    class="icon-icon-excluded"
    [attr.disabled]="disabled ? true : null"
    (click)="!disabled && reset()"
  ></i>
</form>
