<ff-page-header [pageTitle]="'Botones'"></ff-page-header>

<div class="page-container page-container-padding">
  <div class="page-section p-5">
    <ff-doc-example heading="Base" [data]="example1">
      <ff-doc-ui-tree-list-1 [template]="flipa"></ff-doc-ui-tree-list-1>
    </ff-doc-example>

    <ng-template #flipa let-item> Flipa desde el template {{ item.name }} </ng-template>
  </div>
</div>
