@import '../../../../../theme/variables/variables';

:host {
  position: relative;
  cursor: pointer;
  display: inline-block;

  &.loading {
    a {
      opacity: 0.3;
    }
    .loader {
      opacity: 1 !important;
    }
  }

  &:hover {
    em {
      color: $dark_green;
    }
    a {
      color: $dark_green;
    }
  }

  em,
  a {
    transition: all 0.3s ease-in-out;
  }

  a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
  }

  .loader {
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    position: absolute;
    left: 13px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    zoom: 0.4;
    opacity: 0;
  }
}
