<form [formGroup]="form" (submit)="submit()">
  <div class="page-header bg-whiteXYYY">
    <h3>{{ 'Productos' | uppercase }}</h3>
  </div>

  <div class="page-article">
    <ff-chips-control-select formControlName="categoryRules" [config]="configSelectFields.categoryRules"> </ff-chips-control-select>
  </div>
  <div class="page-article mt-4">
    <ff-chips-control-select formControlName="departments" [config]="configSelectFields.departments"> </ff-chips-control-select>
  </div>
  <!-- <div class="page-article row mt-4">
    <ff-chips-control-select formControlName="departmentFamilies" [config]="configSelectFields.departmentFamilies"> </ff-chips-control-select>
  </div> -->
  <div class="page-article mt-4">
    <ff-chips-control-select formControlName="references" [config]="configSelectFields.references"> </ff-chips-control-select>
  </div>
  <!-- <div class='page-article mt-4'>
    <ff-chips-control-select formControlName='brands' [config]='configSelectFields.brands'></ff-chips-control-select>
  </div> -->

  <!-- <div class='page-article mt-4'>
    <ff-chips-control-select formControlName='centers' [config]='configSelectFields.centers'></ff-chips-control-select>
  </div> -->

  <!-- <div class="page-article mt-4">
    <ff-chips-control-select formControlName="categories" [config]="configSelectFields.categories"> </ff-chips-control-select>
  </div>

  <div class="page-article mt-4">
    <ff-chips-control-select formControlName="suppliers" [config]="configSelectFields.suppliers"> </ff-chips-control-select>
  </div>

  <div class="page-article mt-4">
    <ff-chips-control-select formControlName="eans" [config]="configSelectFields.eans"> </ff-chips-control-select>
  </div> -->

  <!-- <div class='page-article mt-4'>
    <ff-chips-control-select formControlName='productsId'
                             [config]='configSelectFields.productsId'></ff-chips-control-select>
  </div> -->

  <!-- <pre>traza {{flag}}</pre> -->

  <div class="page-article mt-4" style="padding-bottom: 30px"></div>
</form>
