<ff-modal-header [title]="'COMMON_MODALS.PUBLISH_TITLE' | translate" (closeMe)="closeModal()"></ff-modal-header>

<div class="error-message" *ngIf="errorMessage">
  <em class="icon-warning"></em>
  <div class="text-error">
    {{ errorMessage | translate }}
  </div>
</div>

<div class="content-message">
  <div class="action-circle">
    <em class="icon-stop-hand" *ngIf="!loading"></em>
    <div class="loader" *ngIf="loading"></div>
  </div>

  <div class="text">
    {{ 'COMMON_MODALS.PUBLISH_TITLE_BODY_1' | translate: { item: item.name } }}
  </div>
</div>

<ff-modal-footer>
  <div class="content-buttons row">
    <div class="button-cancel col-6">
      <button (click)="handleCancel()" [disabled]="loading" type="button" class="btn btn-outline-primary btn-sm">
        {{ 'MODAL_PUBLISH.CANCEL' | translate }}
      </button>
    </div>

    <div class="button-continue col-6">
      <button (click)="handleConfirm()" [disabled]="loading" type="button" class="btn btn-primary btn-lg">
        <em *ngIf="loading" class="loading-icon"></em>
        <span *ngIf="!errorMessage"> {{ 'MODAL_PUBLISH.PUBLISH' | translate }}</span>
        <span *ngIf="errorMessage"> {{ 'MODAL_DELETE.TRY_AGAIN' | translate }}</span>
      </button>
    </div>
  </div>
  <!--
    <div *ngIf="errorMessage" class="action-error-message">
      <span>{{errorMessage}}</span>
    </div> -->
</ff-modal-footer>
