<div class="col-12" *ngIf="loading">
  <div class="page-section">
    <div class="text-center pt-5 pb-5">
      <div class="loader"></div>
    </div>
  </div>
</div>

<form [formGroup]="form" (submit)="submit()" *ngIf="!loading">
  <div class="page-section pb-2">
    <div class="page-header row">
      <div
        class="col page-header-collapse"
        [class.page-header-collapse-open]="!isCollapsedDefinition"
        (click)="isCollapsedDefinition = !isCollapsedDefinition"
      >
        <h3>{{ 'ADMIN_GROUP.GENERAL_DATA' | translate }}</h3>
      </div>
      <div class="col text-right">
        <div class="custom-control custom-switch switch-left">
          <input formControlName="active" type="checkbox" class="custom-control-input" id="active" />
          <label class="custom-control-label pointer" for="active">
            {{ 'ADMIN_GROUP.ACTIVE' | translate }}
          </label>
        </div>
      </div>
    </div>

    <div class="page-article col" [collapse]="isCollapsedDefinition" [isAnimated]="true">
      <div class="header-form">
        <ff-rules-header-form [headerFormFields]="headerFields" [form]="form" [item]="item" [rulesType]="type"></ff-rules-header-form>
      </div>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-3" *ngIf="!readonly">
      <ngx-simplebar>
        <ff-conditions-tree-attribute
          (selectedAdminGroupType)="changeAttrEntityTypeSelected($event)"
          [adminGroupTypeData]="adminGroupType"
        ></ff-conditions-tree-attribute>
      </ngx-simplebar>
    </div>
    <div [ngClass]="{ 'col-9': !readonly, 'col-12': readonly }">
      <ngx-simplebar>
        <div class="page-section conditions-section">
          <div class="page-header">
            <h3>{{ 'ADMIN_GROUP.CONDITIONS' | translate }}</h3>
          </div>
          <div *ngIf="showConditions">
            <ff-conditions2 ffConditions2FilledValidator ffConditions2DoubleValidator formControlName="node"></ff-conditions2>
          </div>
        </div>
      </ngx-simplebar>
    </div>
  </div>

  <div class="page-footer text-right" *ngIf="!loading">
    <button type="button" class="btn btn-outline-primary btn-sm" (click)="cancel.emit()" ffGoBack>
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button type="button" class="btn btn-primary ml-2 btn-lg" (click)="submit()">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</form>
