@import '../../../../../theme/variables/colors';

:host {
  .error-date-time {
    display: flex;
  }

  .error-date {
    max-width: 345px;
    width: 65%;
  }

  .header-form {
    input {
      min-width: 150px;
    }
  }
  .conditions-section {
    margin-right: 6px;
    margin-top: 6px;
    padding-bottom: 1px;
    min-height: 100%;
  }

  .page-footer {
    margin-top: 6px;
  }

  ::ng-deep ngx-simplebar {
    height: calc(100vh - (200px + 160px + 60px));

    .simplebar-content {
      height: 99%;
    }
  }
}
