@import '../../../../../../theme/variables/colors';

:host {
  .orange-light {
    background-color: $orange-light;
  }

  .red {
    background-color: $red;
  }

  .red-delete {
    background-color: $red-delete;
  }

  .dark-green {
    background-color: $dark-green;
  }

  .green {
    background-color: $green;
  }

  .green-white {
    background-color: $green-white;
  }

  // Solo se usa en ui-modal-select
  .green-white-2 {
    background-color: $green-white-2;
  }

  .white {
    background-color: $white;
  }

  .white-2 {
    background-color: $white-2;
  }

  .white-3 {
    background-color: $white-3;
  }

  .white-4 {
    background-color: $white-4;
  }

  .white-6 {
    background-color: $white-6;
  }

  .grey {
    background-color: $grey;
  }

  .grey-2 {
    background-color: $grey-2;
  }

  .grey-3 {
    background-color: $grey-3;
  }

  // Solo se usa en ui-modal-select
  .grey-4 {
    background-color: $grey-4;
  }

  .grey-5 {
    background-color: $grey-5;
  }

  .black {
    background-color: $black;
  }

  .black-2 {
    background-color: $black-2;
  }

  .black-3 {
    background-color: $black-3;
  }

  .black-4 {
    background-color: $black-4;
  }
}
