<div *ngFor="let color of colors" class="color-content">
  <div class="color-item">
    <div class="color-label">{{ color.class }}</div>
    <div class="color-description" *ngIf="color.description">{{ color.description }}</div>
  </div>
  <div class="color-item"><div [class]="color.class" class="palette"></div></div>
  <div class="color-item">{{ color.code }}</div>
</div>
