<table class="table table-borderless">
  <tbody>
    <tr *ngFor="let item of list; trackBy: identify" (click)="selectRow(item)" class="pointer">
      <td class="text">{{ item.label || item.name }}</td>
    </tr>
  </tbody>
</table>
