@import 'src/theme/variables/variables';
:host {
  ::ng-deep {
    // ff-exploded-tree {
    //   height: 80vh;
    // }
    ff-exploded-tree-node {
      &.create-folder {
        .label {
          background: $green-white !important;
          color: $green !important;
          .icon {
            color: $green;
          }
        }
      }
      &.new-folder-mother {
        margin-left: -38px;
        .label {
          padding: 0 5px 0 15px;
          background: $grey-8 !important;
          color: $black-4 !important;
          .icon {
            color: $black-4;
          }
        }
      }
      &.new-folder {
        margin-left: -15px;
        .label {
          padding: 0 5px 0 15px;
          background: $grey-8 !important;
          color: $black-4 !important;
          .icon {
            color: $black-4;
          }
        }
      }
    }
  }
}
