@import '../../../../../theme/variables/variables';

$color-text-search: $black-2;
$background-color-rounded: $white-4;

.page-section {
  .content-header {
    padding: 21px;

    h4 {
      font-size: 11px;
      text-transform: uppercase;
    }

    h3 {
      font-weight: 500;
    }
  }

  .rounded {
    border-radius: 2px 2px 0 0 !important;
    background-color: $background-color-rounded !important;
  }

  .page-header {
    .icon-search {
      font-size: 20px;
      vertical-align: middle;
    }

    .icon-select-down {
      cursor: pointer;
      font-size: 10px;
      padding-left: 5px;
      padding-right: 10px;
    }

    .text-search {
      display: inline-block;
      font-size: 12px;
      padding-right: 10px;
      color: $color-text-search;
    }

    input.input-search {
      display: inline-block;
      max-width: calc(100% - 128px - 25px - 20px);
    }

    .select {
      padding-top: 10px;
    }

    .content-data-piker {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.content-list {
  .table {
    thead {
      tr {
        th {
          &:first-child {
            padding-left: 23px;
          }

          em {
            &.icon-three-point-options {
              cursor: pointer;
              font-size: 20px;
              color: $grey;
            }
          }
        }
      }
    }

    tbody {
      tr {
        td {
          &.yes {
            color: $dark_green;
          }

          &.no {
            color: $red-delete;
          }

          &:first-child {
            font-size: 14px;
            padding-left: 23px;
          }
        }
      }
    }
  }
}

.modal-edit-campaign {
  position: absolute;
  background-color: rgba(65, 65, 65, 0.85);
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 12;

  .modal-promotion {
    padding-top: 20px;
    background-color: $white-4;
    display: flex;
    position: static;
    height: 115px;
    max-width: 100%;
    margin-left: 0;
    border-radius: $border-radius-page $border-radius-page 0 0;

    input.description {
      max-width: 100%;
    }
  }
}

.site-detail-container {
  overflow-y: auto;
  overflow-x: hidden;
}
