<form [formGroup]="form" class="init" (submit)="submit()">
  <div class="root">
    <ng-container *ngFor="let item of config">
      <div [class]="item.class" [ngSwitch]="item.type">
        <div class="label-placeholder">{{ item.label | translate }}</div>
        <ng-container *ngSwitchCase="'TEXT'">
          <input
            data-cy="search-multiple-label"
            [formControlName]="item.key"
            type="text"
            [name]="item.key"
            [id]="item.key"
            class="form-control"
            [placeholder]="item.placeHolder | translate"
            (keydown)="valueChange()"
          />
        </ng-container>
        <ng-container *ngSwitchCase="'SELECT'">
          <ng-select
            [formControlName]="item.key"
            (change)="valueChange()"
            [ngClass]="{ placeholder: form.controls[item.key]?.value === null }"
          >
            <ng-option *ngFor="let select of item.selectOptions" [value]="select.value" [disabled]="select.selected">
              <span [attr.data-cy]="'multiple-option-' + (select.label | translate | lowercase)"> {{ select.label | translate }}</span>
            </ng-option>
          </ng-select>
        </ng-container>

        <ng-container *ngSwitchCase="'DATE'" class="date">
          <input
            [id]="item.key"
            [name]="item.key"
            type="text"
            data-cy="search-multiple-date"
            [placeholder]="item.placeHolder | translate"
            autocomplete="off"
            [formControlName]="item.key"
            [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD/MM/YYYY' }"
            bsDatepicker
          />
          <div class="input-group-append">
            <label [for]="item.key" class="input-group-text">
              <i class="icon-calendar"></i>
            </label>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <div class="col-1 text-center div-button">
      <button type="submit" data-cy="search-btn" class="btn btn-dark btn-sm">
        {{ !clear ? ('COMMON.SEARCH.SAVE' | translate) : ('COMMON.CLEAN' | translate) }}
      </button>
    </div>
  </div>
  <div class="numberSearch" *ngIf="!loading">{{ numberItems || 0 }} {{ 'COMMON.RESULTS' | translate }}</div>
</form>
