.root {
  padding: 10px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
}

button {
  position: relative;
  margin-left: -20px;
}

input {
  max-width: none;
}

.numberSearch {
  padding: 15px;
  padding-left: 25px;
  background-color: white;
  border-bottom: 1px solid #eeeeee;
  font-size: 14px;
}

.label-placeholder {
  font-size: 12px;
}

.input-group-append {
  height: 42px;
  display: inline-flex;

  .input-group-text {
    border-radius: 0 2px 2px 0;
  }
}

.placeholder:first-child {
  color: lightgray;
}

option {
  color: black;
}

.div-button {
  padding-right: 0px;
}

@media (max-width: 1369px) {
  .root {
    padding-right: 40px;
  }
}

@media (max-width: 940px) {
  .root {
    padding-right: 72px;
  }
}
