<ff-page-header [pageTitle]="'Ejemplo datetimepicker'"></ff-page-header>
<form [formGroup]="form" (submit)="send()">
  <div class="page-container page-container-padding">
    <div class="page-section p-4">
      <h5>Datetimepicker</h5>
      <div class="row">
        <label for="date" class="nowrap">Fecha</label>
        <div style="max-width: 400px">
          <ff-datetimepicker id="date" formControlName="date" [defaultHour]="0" [defaultMinute]="0"></ff-datetimepicker>
          <ff-form-error [field]="form.controls.date" [messages]="formMessages.date"></ff-form-error>
        </div>
      </div>
      <div class="row mt-3">
        <label for="date2" class="nowrap">Fecha</label>
        <div style="max-width: 400px">
          <ff-datetimepicker id="date2" formControlName="date2" [defaultHour]="10" [defaultMinute]="10"></ff-datetimepicker>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-2">Enviar</button>

      <div class="mt-5">
        <pre>
        {{ form.value | json }}
      </pre
        >
      </div>
    </div>
  </div>
</form>
