<div class="page-header-comp">
  <a (click)="breadCrumbClick(item.url)" class="back pointer" [class.active]="!item.url" *ngFor="let item of breadCrumbs | async">
    <span class="icon-select-right mirror-x"></span> {{ item.label | translate }}
  </a>

  <div class="bottom-content">
    <h1 class="title">
      {{ pageTitle }}
    </h1>

    <div class="actions-container">
      <ng-content></ng-content>
    </div>
  </div>
</div>
