@import 'src/theme/variables/colors';

:host {
  .site-attributes {
    margin: 10px 25px;
    h3 {
      color: $dark_green;
    }

    .page-header-collapse {
      margin-bottom: 0px;
      margin-top: 10px;
    }

    .page-header-collapse::before {
      color: $dark_green;
    }
  }

  .body-modal {
    height: auto;
    max-height: 70vh;
    overflow: auto;
  }

  .close-button {
    margin-right: 20px;
  }
  .site-attributes-box {
    margin: 0px 20px 5px 20px;
    padding: 5px;
    font-size: 13px;
    font-weight: 500;

    .badge-pill {
      padding: 12px;
      margin-top: 5px;
    }

    .attributes {
      padding: 0px 10px;
    }

    .site-box-no-border {
      border: 0px;
    }
  }

  .page-header-collapse {
    margin-bottom: 15px;
  }

  .included-excluded-title {
    padding: 10px;
    background-color: #eeeeee;
    border-bottom: 1px solid #e4e4e4;
    .underline {
      text-decoration: underline;
    }
  }

  .included-excluded-box {
    margin: 15px 20px;
    padding: 0;
    border: 1px solid #e4e4e4;
    font-size: 13px;
    font-weight: 500;
  }

  .icon-icon-multiply {
    font-size: 17px;
    color: red;
  }

  .icon-icon-check {
    font-size: 17px;
    color: green;
  }

  .icon-pencil {
    font-size: 14px;
    padding-right: 4px;
    color: #ffab2b;
  }
}
