<ff-modal-header *ngIf="modalRef" [title]="'SITES_PREVIEW.PREVIEW_TITLE' | translate" (closeMe)="handleCancel()"></ff-modal-header>

<div class="body-modal">
  <div class="site-attributes">
    <!-- <ng-container *ngFor="let section of finalPreview | keyvalue"> -->
    <ng-container *ngFor="let section of sortedSiteSections">
      <ng-container *ngIf="hasKey(section)">
        <div
          class="col-12 row page-header-collapse"
          [class.page-header-collapse-open]="!isCollapsedConfig[section]"
          (click)="isCollapsedConfig[section] = !isCollapsedConfig[section]"
        >
          <h3>{{ keyTranslate(section) | translate }}</h3>
        </div>
        <div class="site-attributes-box">
          <!-- <div
            class="col row"
            *ngFor="let attribute of finalPreview[section] | keyvalue"
            [collapse]="isCollapsedConfig[section]"
            [isAnimated]="true"
          > -->
          <div
            class="col row"
            *ngFor="let attribute of getSortedAttributes(section)"
            [collapse]="isCollapsedConfig[section]"
            [isAnimated]="true"
          >
            <ng-container *ngIf="hasAttribute(section, attribute)">
              <div class="attributes">
                {{ keyTranslate(attribute) | translate }}
                <em [ngClass]="getStatus(section, attribute)"></em>
              </div>
              <div class="attributes">
                <div class="badge badge-pill badge-light" *ngFor="let value of getValuesArrays(section, attribute)">
                  {{ value }}
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>

  <ff-modal-footer *ngIf="modalRef">
    <div>
      <div>
        <button type="button" (click)="handleCancel()" class="btn btn-primary btn-sm close-button">
          {{ 'COMMON.CLOSE' | translate }}
        </button>
      </div>
    </div>
  </ff-modal-footer>
</div>
