<ff-exploded-tree
  [tree]="tree | async"
  (clickNode)="click($event)"
  (clickAction)="clickAction.emit($event)"
  (searchNodes)="search($event)"
  (filterNodes)="filter($event)"
  (clearFilter)="clear()"
  [loading]="loading"
  [enableHorizontalScroll]="false"
  [autoCollapse]="true"
  [rootAutoCollapse]="rootAutoCollapse"
  [showFilter]="show.bind(this)"
  [dragFilter]="dragFilter"
  [clickFilter]="clickFilter"
  [iconFilter]="iconFilter"
  [badgeFilter]="badgeFilter"
  [draggable]="draggable"
  [fieldPathFilter]="fieldPathFilter"
  [offerPathFilter]="offerPathFilter"
  [filterItems]="filterItems"
  [filterHidden]="filterHidden"
  [dataFilter]="dataFilter"
  [highlight]="searchValue"
  [rootCollapsed]="rootCollapsed"
  [initialExpandPaths]="initialExpandPaths"
  [classFilter]="classFilter"
  [actionsFilter]="actionsFilter"
>
  <div info class="info">
    <i class="icon-icon-warning"></i>
    <div>
      {{ 'EXPLODED_TREE.SEARCH_INFO' | translate }}
    </div>
  </div>
</ff-exploded-tree>
