<ff-modal-header [title]="'MODAL_ADD_EMBEDDED.TITLE' | translate" (closeMe)="handleCancel()"></ff-modal-header>

<div class="content-message">
  <ff-ui-tree-list [items]="items" [loading]="loading" (filter)="filterItems($event)" (clicked)="clickedItem($event)"> </ff-ui-tree-list>
</div>

<ff-modal-footer>
  <div class="content-buttons row">
    <div class="button-cancel col-4">
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="handleCancel()">
        {{ 'MODAL_ADD_EMBEDDED.CANCEL' | translate }}
      </button>
    </div>

    <div class="button-continue col-8">
      <button type="button" class="btn btn-primary btn-lg" [disabled]="!selectedItem" (click)="handleSelect()">
        {{ 'MODAL_ADD_EMBEDDED.SELECT' | translate }}
      </button>
    </div>
  </div>
</ff-modal-footer>
