@import '../../../../../theme/variables/colors';

:host {
  ::ng-deep ff-ui-tree-list {
    height: calc(100vh - 300px);

    .item-list {
      height: calc(100% - 20px);
      overflow: auto;
    }
  }

  .content-message {
    padding-left: 44px;
    padding-right: 44px;
  }

  .content-buttons {
    width: 100%;

    .button-cancel {
      text-align: left;
    }

    .button-continue {
      text-align: right;
    }
  }
}
