@import '../../../../../../theme/variables/variables';

.multi-value-entity-container {
  display: flex;
  align-items: center;

  .entity-field {
    width: calc(100% - 54px);
  }

  .actions {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 19px;
    transition: $transition-time;

    .icon-trash {
      &:hover {
        color: $red-delete;
      }
    }

    &.only-delete {
      margin-left: 0;
      padding-top: 7px;
    }

    .plus {
      margin-left: 5px;
    }

    &:hover {
      background-color: $green-white;
    }
  }

  &:hover {
    background-color: $green-white;
  }
}

.input-actions {
  width: calc(100% - 60px);
  display: inline-block;
}
