@import 'src/theme/variables/colors';
@import 'src/theme/variables/input-vars';

.description {
  font-size: 15px;
  margin-top: 15px;
}

.link {
  color: $green;
  font-size: 15px;
  text-decoration: underline $green;
  margin-bottom: 8px;
}
