<ff-page-header [pageTitle]="'Navegadores compatibles'"></ff-page-header>

<div class="page-container page-container-padding">
  <div class="page-section p-5">
    <div class="description">
      Firefly Front usa angular v10.<br />

      angular v10 tiene la siguiente
      <a target="_blank" href="https://v10.angular.io/guide/browser-support"> documentación</a>
      relativa a los navegadores compatibles
    </div>

    <div class="description">
      Nos gustaría usar angular v11. Pero se perderían soporte a ie 10, ie 9
      <a target="_blank" href="https://angular.io/guide/browser-support"> documentación</a>
    </div>
  </div>
</div>
