@import '../../../../theme/variables/variables';
:host {
  .detail {
    background-color: $white-4;
    padding-bottom: 3rem;
  }
  .division {
    background-color: $white-4;
    height: 6px;
    border: 0;
  }

  .dashboard-btn-container {
    margin-top: 0;
    transition: all 0.5s ease-in-out;
    &.collapsible {
      margin-top: -6rem;
    }
  }
}
