<div class="content-list">
  <!--      TABLE      -->
  <table class="table table-hover">
    <thead>
      <tr>
        <!-- Nombre -->
        <th id="table-th-name">
          {{ 'SPENTER.TABLE_NAME' | translate }}
          <em class="icon-sort-table-up"></em>
        </th>
        <!-- Fecha inicio -->
        <th id="table-th-name">
          {{ 'SPENTER.TABLE_INIT_DATE' | translate }}
          <em class="icon-sort-table-up"></em>
        </th>
        <!-- Fecha fin -->
        <th id="table-th-name">
          {{ 'SPENTER.TABLE_END_DATE' | translate }}
          <em class="icon-sort-table-up"></em>
        </th>
        <!-- Activo -->
        <th id="table-th-name">
          {{ 'SPENTER.TABLE_ACTIVE' | translate }}
          <em class="icon-sort-table-up"></em>
        </th>
        <!-- Iconos -->
        <th id="table-th-icon-1" class="width-icon" [width]="'3%'"></th>
        <th id="table-th-icon-2" class="width-icon" [width]="'3%'"></th>
      </tr>
    </thead>

    <tbody *ngIf="!loading">
      <tr *ngFor="let item of list">
        <td>
          {{ item.name }}
        </td>
        <td>
          {{ item.initDate }}
        </td>
        <td>
          {{ item.endDate }}
        </td>
        <td>
          {{ item.active }}
        </td>
        <td class="width-icon" [routerLink]="['/control-panel/spenter/view/', item.id]">
          <em class="icon-pencil"></em>
        </td>
        <td class="width-icon">
          <em class="icon-trash" (click)="handleDelete(item)"></em>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- --------------- -->
  <!--     LOADER      -->
  <div class="text-center" *ngIf="loading">
    <div class="loader"></div>
  </div>
  <!-- --------------- -->
  <!--   PAGINATION    -->
  <div class="pagination-container" [hidden]="loading">
    <ff-pagination-2
      (pageChanged)="handlePageChanged($event)"
      [(currentPage)]="currentPage"
      [totalItems]="page ? page.total_elements : 0"
    ></ff-pagination-2>
  </div>
  <!-- --------------- -->
</div>
