<ff-page-header [pageTitle]="'Menu ejemplos'"></ff-page-header>

<div class="page-container page-container-padding">
  <div class="page-section p-4">
    <div class="row">
      <div class="col-4 mb-4" *ngFor="let example of examples">
        <button class="btn btn-dark btn-block" (click)="goUrl(example.url)">
          {{ example.name }}
        </button>
      </div>
    </div>
  </div>
</div>
