<ff-page-header [pageTitle]="'Chips Select - Key Value'"></ff-page-header>

<div class="page-container page-container-padding">
  <div class="page-section p-5">
    <div class="mt-4">
      <ff-doc-example heading="Key-Value Basic" [description]="example1Description" [angularForm]="true" [data]="example1">
        <ff-doc-chips-select-key-value-1></ff-doc-chips-select-key-value-1>
      </ff-doc-example>
    </div>

    <div class="mt-4">
      <ff-doc-example heading="Ejemplo competo" [description]="example2Description" [angularForm]="true" [data]="example2">
        <ff-doc-chips-select-key-value-2></ff-doc-chips-select-key-value-2>
      </ff-doc-example>
    </div>

    <h3 class="title-table-options">API</h3>
    <div class="table-options">
      <div class="table-options-row table-options-row-header">
        <div class="table-options-cols table-options-cols-option">Opción</div>
        <div class="table-options-cols table-options-cols-description">Descripción</div>
      </div>
      <div class="table-options-row">
        <div class="table-options-cols table-options-cols-option">title</div>
        <div class="table-options-cols table-options-cols-description">Título de la modal.</div>
      </div>
      <div class="table-options-row">
        <div class="table-options-cols table-options-cols-option">cancelBtnText</div>
        <div class="table-options-cols table-options-cols-description">Define el texto del boton de cerrar modal (Default: 'Cancelar')</div>
      </div>
      <div class="table-options-row">
        <div class="table-options-cols table-options-cols-option">okBtnText</div>
        <div class="table-options-cols table-options-cols-description">
          Define el texto del boton de aceptar los cambios (Default: 'Seleccionar')
        </div>
      </div>
      <div class="table-options-row">
        <div class="table-options-cols table-options-cols-option">keyLabel</div>
        <div class="table-options-cols table-options-cols-description">Define el label de la columna clave (Default: 'Clave')</div>
      </div>
      <div class="table-options-row">
        <div class="table-options-cols table-options-cols-option">valueLabel</div>
        <div class="table-options-cols table-options-cols-description">Define el label de la columna value (Default: 'Valor')</div>
      </div>
    </div>
  </div>
</div>
