<ff-page-header [pageTitle]="'Chips Select - Free'"></ff-page-header>

<div class="page-container page-container-padding">
  <div class="page-section p-5">
    <div class="mt-4">
      <ff-doc-example heading="Free Basic (Añadir textos de 0)" [description]="example1Description" [angularForm]="true" [data]="example1">
        <ff-doc-chips-select-free-1></ff-doc-chips-select-free-1>
      </ff-doc-example>
    </div>

    <div class="mt-4">
      <ff-doc-example heading="Ejemplo completo" [description]="example2Description" [angularForm]="true" [data]="example2">
        <ff-doc-chips-select-free-2></ff-doc-chips-select-free-2>
      </ff-doc-example>
    </div>

    <h3 class="title-table-options">API</h3>
    <div class="table-options">
      <div class="table-options-row table-options-row-header">
        <div class="table-options-cols table-options-cols-option">Opción</div>
        <div class="table-options-cols table-options-cols-description">Descripción</div>
      </div>
      <div class="table-options-row">
        <div class="table-options-cols table-options-cols-option">title</div>
        <div class="table-options-cols table-options-cols-description">Título de la modal.</div>
      </div>
      <div class="table-options-row">
        <div class="table-options-cols table-options-cols-option">description</div>
        <div class="table-options-cols table-options-cols-description">Texto introductorio.</div>
      </div>
      <div class="table-options-row">
        <div class="table-options-cols table-options-cols-option">ShowOrder</div>
        <div class="table-options-cols table-options-cols-description">Muestra el botón para ordenar los textos.</div>
      </div>
      <div class="table-options-row">
        <div class="table-options-cols table-options-cols-option">orderText</div>
        <div class="table-options-cols table-options-cols-description">Cambia el botón de ordenar al texto especificado.</div>
      </div>
      <div class="table-options-row">
        <div class="table-options-cols table-options-cols-option">orderFunction</div>
        <div class="table-options-cols table-options-cols-description">Función custom para ordenar los textos añadidos por el usuario.</div>
      </div>
      <div class="table-options-row">
        <div class="table-options-cols table-options-cols-option">inputValidators</div>
        <div class="table-options-cols table-options-cols-description">
          Array de validaciones que tiene que pasar el texto escrito por el usuario para poder ser añadido.
        </div>
      </div>
      <div class="table-options-row">
        <div class="table-options-cols table-options-cols-option">validatorErrors</div>
        <div class="table-options-cols table-options-cols-description">
          Array de mensajes de error, necesario junto con inputValidators.
        </div>
      </div>
    </div>
  </div>
</div>
