<div class="page-container page-container-padding" *ngIf="data">
  <ff-site-view-header [item]="data" [readonly]="true"></ff-site-view-header>
  <ff-site-config [item]="data" [readonly]="true" [formConfig]="configFormConfig"> </ff-site-config>
</div>
