<div class="container-condition-simple">
  <div class="row">
    <!-- Nombre -->
    <div class="col-5">
      <div class="data-input">{{ condition?.entity_type_name }}: {{ condition?.attribute_label }}</div>
    </div>

    <!-- Tipo -->
    <div class="col-3">
      <div class="data-input">
        {{ 'OPERATOR.' + condition.node_type | translate }}
      </div>
    </div>

    <!-- Valor unico -->
    <div
      class="col-4"
      *ngIf="!condition.multiple_cardinality && condition?.node_type !== 'IS_DEFINED' && condition?.node_type !== 'IS_NOT_DEFINED'"
    >
      <div class="data-input">
        {{ condition.entity_info[condition.value?.toString()].entity_name }}
      </div>
    </div>

    <div
      class="col-4"
      *ngIf="condition.multiple_cardinality && condition?.node_type !== 'IS_DEFINED' && condition?.node_type !== 'IS_NOT_DEFINED'"
    >
      <ff-conditions-multiple-entity-readonly [condition]="condition"></ff-conditions-multiple-entity-readonly>
    </div>
  </div>
</div>
