:host {
  ::ng-deep {
    .section-scroll {
      height: 100%;
    }
    .body-modal {
      height: auto;
      max-height: unset !important;
      overflow: auto !important;
    }
    .page-section {
      margin-right: 0 !important;
      min-height: 100% !important;
    }
    .page-footer {
      display: none;
    }
    .tab .title {
      display: none;
    }
  }
}
