<div class="loader d-block mx-auto mt-4" *ngIf="!item && !error"></div>
<div class="page-container page-container-padding" *ngIf="item">
  <ff-admin-group-detail *ngIf="type === 'admin_groups'" [item]="item" [readonly]="true"> </ff-admin-group-detail>
  <ff-conditions-basic-and-advance
    *ngIf="type !== 'admin_groups'"
    [idAdminGroup]="type"
    [item]="item"
    [readonly]="true"
    [type]="ruleType"
  ></ff-conditions-basic-and-advance>
</div>
