<div class="content-list">
  <table class="table table-hover">
    <thead>
      <tr>
        <th id="table-th-id">
          {{ 'SUBSITES.ID' | translate }}
          <em class="icon-sort-table-up"></em>
        </th>
        <th id="table-th-name">
          {{ 'SUBSITES.NAME' | translate }}
          <em class="icon-sort-table-up"></em>
        </th>
        <th id="table-th-url">
          {{ 'SUBSITES.URL' | translate }}
          <em class="icon-sort-table-up"></em>
        </th>
        <th id="table-th-deault" class="text-center">
          {{ 'SUBSITES.LOCAL_DEFAULT' | translate }}
          <em class="icon-sort-table-up"></em>
        </th>
        <th id="table-th-active" class="text-center">
          {{ 'SUBSITES.ACTIVE' | translate }}
          <em class="icon-sort-table-up"></em>
        </th>
        <th id="table-th-icons-1" [width]="'3%'" class="width-icon"></th>
        <th id="table-th-icons-2" [width]="'3%'" class="width-icon"></th>
      </tr>
    </thead>
    <tbody *ngIf="!loading">
      <tr *ngFor="let item of list; let i = index">
        <td>
          {{ item.id }}
        </td>
        <td>
          {{ item.name }}
        </td>
        <td>
          {{ item.url }}
        </td>
        <td class="text-center">
          <ng-container *ngIf="item.locale_default">
            {{ 'LANGUAGES.' + item.locale_default | translate }}
          </ng-container>
          <ng-container *ngIf="!item.locale_default"> --- </ng-container>
        </td>
        <td [ngClass]="'text-center ' + (item.active ? 'yes' : 'no')">
          {{ item.active ? ('COMMON.YES' | translate) : ('COMMON.NO' | translate) }}
        </td>
        <td class="width-icon" (click)="detailSubsite(item)">
          <em class="icon-pencil"></em>
        </td>
        <td class="width-icon">
          <em class="icon-trash" (click)="handleDelete2(item)"></em>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center" *ngIf="loading">
    <div class="loader"></div>
  </div>
</div>
<ng-template #noData>---</ng-template>
