@import '../../../../../theme/variables/variables';

.content-list {
  .table {
    margin: 18px;
    width: 97%;

    thead {
      tr {
        th {
          &:first-child {
            padding-left: 23px;
          }

          em {
            &.icon-three-point-options {
              cursor: pointer;
              font-size: 20px;
              color: $grey;
            }
          }
        }
      }
    }

    tbody {
      tr {
        td {
          .icon-pencil {
            font-size: 14px;
            &:hover {
              color: $orange_light;
            }
          }
          &.yes {
            color: $dark_green;
          }

          &.no {
            color: $red-delete;
          }

          &:first-child {
            font-size: 14px;
            padding-left: 23px;
          }
        }
      }
    }
  }
}
