@import '../../../../../theme/variables/variables';

:host {
  .page-section {
    margin-top: 5px;
    margin-right: 5px;
  }

  .search-text {
    font-size: 12px;
    font-weight: 500;
    padding-left: 9px;
    padding-right: 5px;
  }

  .search-icon {
    font-size: 21px;
    vertical-align: middle;
  }

  .collapseTree {
    height: 100% !important;
  }

  .search-input {
    width: calc(100% - 81px);
    height: 30px;
  }

  .reference-text {
    font-size: 12px;
    color: $grey-2;
  }

  .div-icon {
    display: flex;
    align-items: center;
  }

  .searcher {
    background-color: $grey-8;
    padding: 10px !important;
  }

  .root {
    display: flex;

    div {
      padding: 0;
    }

    em {
      padding: 0;
    }

    em:before {
      color: black;
      font-size: 25px;
    }
    padding: 0;

    .first-child {
      display: flex;
      border-right: 1px solid $white-3;
    }
  }

  .ng-select.custom ::ng-deep {
    // padding-left: 3px;
    .ng-select-container {
      background-color: $grey-8;
      border: none;
    }

    .ng-has-value {
      color: black;
      font-weight: 500;

      .ng-clear-wrapper {
        color: black;
      }
    }
  }
  .ng-select.select-type-group ::ng-deep {
    .ng-placeholder {
      color: $black;
    }
  }

  .ng-select::ng-deep .ng-has-value:after {
    color: black;
    font-weight: 600;
  }

  .ng-select-disabled::ng-deep {
    .ng-has-value {
      font-weight: 400 !important;
      color: #999 !important;
    }
  }

  .dobule-searcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 14px 20px;
    border-bottom: 1px solid $white-3;

    .search-text {
      border-bottom: 0.5px solid $white-3;
    }

    input {
      border: none;
      flex: 1;
      font-size: 14px;
      font-weight: 300;
      min-width: 0;
    }

    .icon-search::before {
      font-size: 20px;
      font-weight: bold;
    }

    .icon-text {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex: none;
      padding-right: 9px;

      .text-search {
        font-size: 12px;
        font-weight: 500;
        color: $black-2;
        margin-left: 9px;
      }
    }
  }
}

::ng-deep #search_type .ng-select-container {
  border: none;
  background-color: white !important;
}

::ng-deep .item-list {
  min-height: 297px;
}

::ng-deep .simplebar-horizontal {
  visibility: hidden !important;
}
input {
  background-color: white !important;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items {
  max-width: 371px;
}

::ng-deep .ng-dropdown-panel {
  ::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
  }
  ::-webkit-scrollbar-thumb {
    background: $grey !important;
    border-radius: 4.5px !important;
  }
  ::-webkit-scrollbar-track {
    background: $white-6 !important;
    border-radius: 4.5px !important;
    box-shadow: inset 7px 10px 12px 0px #f0f0f0 !important;
  }
}

@media (max-width: 1724px) {
  :host {
    .root {
      display: block;
      .ng-select.select-entity-type ::ng-deep {
        margin-left: 32px;
      }
      .ng-select.custom {
        min-width: 180px;
      }
    }
  }
}
