<div class="page-section">
  <div class="p-4 searcher" [hidden]="!adminGroupTypeData">
    <div class="form-group">
      <form [formGroup]="formSelector">
        <div class="col-12 root">
          <div class="col-7 first-child" *ngIf="adminGroupTypeData">
            <div class="col-1 div-icon">
              <em class="icon-filter-type"></em>
            </div>
            <ng-select
              class="col-11 custom select-type-group"
              [items]="item$ | async"
              [trackByFn]="trackByFn"
              [minTermLength]="2"
              [loading]="itemLoading"
              typeToSearchText="Por favor, introduzca 2 o más caracteres"
              bindLabel="name"
              notFoundText="No encontradas coincidencias"
              formControlName="adminGroupType"
              placeholder="Tipo Agrupación"
            >
            </ng-select>
          </div>
          <div class="col-5" *ngIf="tmpAdminGroupTypeSelected && !_entityTypes">
            <ng-select
              class="custom select-entity-type"
              bindLabel="name"
              formControlName="entityType"
              [clearable]="false"
              placeholder="Tipo Entidad"
            >
              <ng-option
                *ngFor="let entityType of tmpAdminGroupTypeSelected && tmpAdminGroupTypeSelected.entity_types"
                [value]="entityType"
              >
                {{ entityType.name }}
              </ng-option>
            </ng-select>
          </div>
          <div class="col-1 div-icon" *ngIf="!adminGroupTypeData">
            <em class="icon-filter-type"></em>
          </div>
          <div class="col-5" *ngIf="_entityTypes">
            <ng-select
              class="custom select-entity-type"
              bindLabel="name"
              formControlName="entityType"
              [clearable]="false"
              placeholder="Tipo Entidad"
            >
              <ng-option *ngFor="let entityType of _entityTypes" [value]="entityType">
                {{ entityType.name }}
              </ng-option>
            </ng-select>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr />

  <div class="page-section" *ngIf="loading">
    <div class="text-center pt-5 pb-5">
      <div class="loader"></div>
    </div>
  </div>
  <ff-offer-exploded-tree-rules
    [entityTypeId]="entityTypeId"
    *ngIf="entityTypeId"
    [adminGroupTypeId]="adminGroupTypeId || idAdminGroup"
  ></ff-offer-exploded-tree-rules>
  <!--<ff-ui-tree-list *ngIf="!loading" [items]="attsToDrag" [outputAllItemOnDrag]="true" [hideSearch]="true"></ff-ui-tree-list>-->
</div>
