@import 'src/theme/variables/variables';

:host {
  ::ng-deep ngx-simplebar {
    height: calc(100vh - (200px + 160px + 100px));
  }

  .collapseTree {
    height: calc(100vh - (200px + 160px + 10px)) !important;
  }

  ::ng-deep {
    .page-container-long-section-right {
      overflow-y: hidden;
    }
    .icon-icon-included {
      color: green;
    }
    .icon-icon-excluded {
      color: red;
    }

    .icon-icon-multiply {
      color: red;
    }

    .icon-icon-check {
      color: green;
    }

    .icon-pencil {
      font-size: 16px;
      color: #ffab2b;
    }
  }

  .form-rules {
    margin-top: 15px;
  }
}
