<div class="row">
  <div class="col-4">
    <ngx-simplebar [ngClass]="{ collapseTree: collapseTree }">
      <ff-exploded-tree
        [tree]="tree"
        [enableHorizontalScroll]="false"
        searchPlaceholder="SPENTER.INCLUDED_FORM.PLACEHOLDER"
        (clickNode)="click($event)"
        (searchNodes)="search($event)"
        [loading]="loading"
        (clearFilter)="clear()"
        [clickFilter]="clickFilter"
        [filterHidden]="false"
        (filterNodes)="search($event)"
        [filterItems]="filterItems"
        [filterMultiple]="true"
        [iconFilter]="iconFilter"
        [cannotTruncated]="true"
        [badgeFilter]="badgeFilter.bind(this)"
        [expanded]="true"
      >
      </ff-exploded-tree>
    </ngx-simplebar>
  </div>
  <div class="col-8 form-rules">
    <ff-included-excluded-form
      [activatedAttribute]="activatedAttribute"
      [conditionsToShow]="conditionsToShow"
      [includedData]="dataIncluded"
      [excludedData]="dataExcluded"
      [readonly]="readonly"
      (loadForm)="loadForm($event)"
      [hidden]="!activatedAttribute"
      (changedIncluded)="onChangeIncluded($event)"
      (changedExcluded)="onChangeExcluded($event)"
    >
    </ff-included-excluded-form>
  </div>
</div>
