@import '../../../../../theme/variables/variables';

:host {
  ngx-simplebar {
    height: 100%;
    overflow-x: hidden;
    padding-right: 15px;
  }

  .attr-title {
    font-weight: 600;
    font-size: 14px;
    color: $black-4;
    text-transform: uppercase;
  }

  .attribute-info {
    .row {
      margin-left: -4.5px;
      margin-right: -4.5px;

      .col {
        padding-left: 4.5px;
        padding-right: 4.5px;
      }
    }

    .weight {
      max-width: 100px;
    }

    .switchs {
      margin: 30px 0 40px;
      max-width: 500px;
    }
  }

  table {
    .green {
      color: $green;
    }

    .red {
      color: $red;
    }

    .name {
      white-space: nowrap;
      position: relative;
      padding-right: 70px;

      .name-text {
        max-width: 150px;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .icons {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);

        .icon-view {
          font-size: 16px;
          vertical-align: middle;
        }

        .icon-trash {
          font-size: 16px;
          margin-left: 8px;
          vertical-align: middle;
        }
      }
    }
  }
}
