<ngx-simplebar>
  <div class="attribute-info" *ngIf="!selectedItem?.value.isEntityType">
    <div class="row">
      <div class="col">
        <label>{{ 'ENTITY_TYPE_DETAIL.NEW_ATTR_MODAL.NAME' | translate }}</label>
        <input disabled data-cy="attribute-name" type="text" class="form-control" [value]="selectedItem?.value.name" />
      </div>
      <div class="col">
        <label>{{ 'ENTITY_TYPE_DETAIL.NEW_ATTR_MODAL.LABEL' | translate }}</label>
        <input disabled data-cy="attribute-label" type="text" class="form-control" [value]="selectedItem?.value.label" />
      </div>
      <div class="col">
        <label>{{ 'ENTITY_TYPE_DETAIL.NEW_ATTR_MODAL.TYPE' | translate }}</label>
        <input
          disabled
          data-cy="attribute-type"
          type="text"
          class="form-control"
          [value]="'ENTITY_TYPE_DETAIL.NEW_ATTR_MODAL.TYPES.' + selectedItem?.value.data_type | translate"
        />
      </div>
      <div class="col" *ngIf="selectedItem?.value.data_type === 'ENTITY' || selectedItem?.value.data_type === 'EMBEDDED'">
        <label>{{ (selectedItem?.value.data_type === 'ENTITY' ? 'ATTRIBUTE.ENTITY_TYPE' : 'ATTRIBUTE.EMBEDDED') | translate }}</label>
        <input
          disabled
          data-cy="attribute-entity-name"
          type="text"
          class="form-control"
          [value]="selectedItem?.value.entity_view.name || selectedItem?.value.entity_view.label"
        />
      </div>
      <div class="col">
        <label>{{ 'ENTITY_TYPE_DETAIL.NEW_ATTR_MODAL.WEIGHT' | translate }}</label>
        <input disabled type="text" data-cy="attribute-weight" class="form-control weight" [value]="selectedItem?.value.weight" />
      </div>
    </div>

    <div class="row switchs">
      <div class="col">
        <div class="custom-control custom-switch switch-left">
          <input type="checkbox" data-cy="attribute-label2" class="custom-control-input" [ngModel]="selectedItem?.value.label_attribute" />
          <label class="custom-control-label pointer">
            {{ 'ENTITY_TYPE_DETAIL.NEW_ATTR_MODAL.LABEL' | translate }}
          </label>
        </div>
      </div>
      <div class="col">
        <div class="custom-control custom-switch switch-left">
          <input
            type="checkbox"
            data-cy="attribute-multiple"
            class="custom-control-input"
            [ngModel]="selectedItem?.value.multiple_cardinality"
          />
          <label class="custom-control-label pointer">
            {{ 'ENTITY_TYPE_DETAIL.NEW_ATTR_MODAL.MULTIPLE' | translate }}
          </label>
        </div>
      </div>
      <div class="col">
        <div class="custom-control custom-switch switch-left">
          <input type="checkbox" data-cy="attribute-i18n" class="custom-control-input" [ngModel]="selectedItem?.value.is_i18n" />
          <label class="custom-control-label pointer">
            {{ 'ENTITY_TYPE_DETAIL.NEW_ATTR_MODAL.I18N' | translate }}
          </label>
        </div>
      </div>
    </div>
  </div>

  <div
    class="alert alert-warning"
    role="alert"
    *ngIf="selectedItem?.children && selectedItem?.children.length && !selectedItem?.value.isEntityType"
  >
    <em class="icon-warning"></em>
    {{
      (selectedItem?.value.data_type === 'ENTITY'
        ? 'ENTITY_TYPE_DETAIL.NEED_GO_PARENT_TO_EDIT_ENTITY'
        : 'ENTITY_TYPE_DETAIL.NEED_GO_PARENT_TO_EDIT_EMBEDDED'
      ) | translate
    }}
  </div>
  <div class="pb-4" *ngIf="selectedItem?.children && selectedItem?.children.length">
    <div class="attr-title mb-3" *ngIf="!selectedItem?.value.isEntityType">
      {{ 'ENTITY_TYPE_DETAIL.ATTRIBUTES' | translate }}
    </div>

    <ff-table-with-fixed-elements>
      <table class="table" *ffTableWithFixedElements>
        <thead>
          <tr>
            <th [ffTableFixedElement]="true">Nombre</th>
            <th>Etiqueta</th>
            <th class="text-center">Tipo</th>
            <th class="text-center">¿Peso?</th>
            <th class="text-center">¿Es etiqueta?</th>
            <th class="text-center">¿Es múltiple?</th>
            <th class="text-center">¿I18n?</th>
            <th width="3%" class="width-icon"></th>
            <th width="3%" *ngIf="selectedItem?.value.isEntityType && !readonly" class="width-icon"></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of selectedItem?.children">
            <tr *ngIf="!item?.value?.hidden">
              <td class="name" [ffTableFixedElement]="true">
                <span class="name-text">{{ item.value.name }}</span>
                <span class="icons" [ffTableOnlyShowOnFixed]="true">
                  <em class="icon-view" (click)="viewAttribute.emit(item)"></em>
                  <em class="icon-trash" *ngIf="selectedItem?.value.isEntityType && !readonly" (click)="removeAttribute.emit(item)"></em>
                </span>
              </td>
              <td>
                {{ item.value.label }}
              </td>
              <td class="text-center">
                <ng-container *ngIf="item.value.data_type !== 'ENTITY' && item.value.data_type !== 'EMBEDDED'">
                  {{ 'ENTITY_TYPE_DETAIL.NEW_ATTR_MODAL.TYPES.' + item.value.data_type | translate }}
                </ng-container>
                <ng-container *ngIf="item.value.data_type === 'ENTITY' || item.value.data_type === 'EMBEDDED'">
                  {{ item.value.entity_view.label }}
                </ng-container>
              </td>
              <td class="text-center">
                {{ item.value.weight }}
              </td>
              <td class="text-center" [class.green]="item.value.label_attribute" [class.red]="!item.value.label_attribute">
                {{ item.value.label_attribute ? ('COMMON.YES' | translate) : ('COMMON.NO' | translate) }}
              </td>
              <td class="text-center" [class.green]="item.value.multiple_cardinality" [class.red]="!item.value.multiple_cardinality">
                {{ item.value.multiple_cardinality ? ('COMMON.YES' | translate) : ('COMMON.NO' | translate) }}
              </td>
              <td class="text-center" [class.green]="item.value.is_i18n" [class.red]="!item.value.is_i18n">
                {{ item.value.is_i18n ? ('COMMON.YES' | translate) : ('COMMON.NO' | translate) }}
              </td>
              <td class="width-icon" (click)="viewAttribute.emit(item)">
                <em class="icon-view"></em>
              </td>
              <td class="width-icon" *ngIf="selectedItem?.value.isEntityType && !readonly" (click)="removeAttribute.emit(item)">
                <em class="icon-trash"></em>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </ff-table-with-fixed-elements>
  </div>
</ngx-simplebar>
