<ff-modal-header [title]="'COMMON_MODALS.UNSAVED_CHANGES_TITLE' | translate" (closeMe)="closeModal()"></ff-modal-header>

<div class="error-message" *ngIf="errorMessage">
  <em class="icon-warning"></em>
  <div class="text-error">
    {{ errorMessage | translate }}
  </div>
</div>

<div class="content-message">
  <div class="text">
    {{ 'COMMON_MODALS.UNSAVED_CHANGES_BODY_1' | translate: { tabName: tabName } }}
  </div>
  <br />
  <div class="text">
    {{ 'COMMON_MODALS.UNSAVED_CHANGES_BODY_2' | translate }}
  </div>
</div>

<ff-modal-footer>
  <div class="content-buttons row">
    <div class="button-continue col-6">
      <button (click)="handleConfirm()" [disabled]="loading" type="button" class="btn btn-outline-primary btn-lg">
        <em *ngIf="loading" class="loading-icon"></em>
        {{ 'COMMON_MODALS.UNSAVED_CHANGES_CONTINUE' | translate }}
      </button>
    </div>

    <div class="button-cancel col-6">
      <button (click)="handleCancel()" [disabled]="loading" type="button" class="btn btn-lg btn-primary">
        {{ 'COMMON_MODALS.UNSAVED_CHANGES_BACK' | translate }}
      </button>
    </div>
  </div>
</ff-modal-footer>
