@import 'src/theme/variables/colors';

.error-message {
  margin: 0 24px 32px 24px;
  background-color: #fff6e9;
  position: relative;

  .text-error {
    padding: 17px 30px;
    margin-left: 20px;
    color: $grey-3;
    font-size: 15px;
    font-weight: 500;
  }

  em {
    left: 15px;
    top: 13px;
    position: absolute;
    font-size: 20px;
    color: $orange-light;
  }
}

.content-message {
  margin-left: 44px;
  position: relative;

  .text {
    color: $grey-3;
    text-align: left;
    font-size: 15px;
  }
}

.content-buttons {
  width: 100%;

  .button-cancel {
    text-align: left;
  }

  .button-continue {
    text-align: right;
  }
}
