<div class="menu" [class.closed]="!isMenuOpen">
  <div *ngIf="isMenuOpen" class="icon-eci">
    <a href="">
      <img [src]="routeLogo" />
    </a>
  </div>

  <div *ngIf="!isMenuOpen" class="icon-eci">
    <div class="triangle"></div>
  </div>
  <div class="content-menu-wrapper">
    <div class="content-menu">
      <div
        class="content-item clickable"
        #menuItem
        *ngFor="let item of items"
        (click)="toogleMenuItem(item)"
        [attr.data-cy]="'menu-' + item.id"
        [class.active]="item.expanded || (item.label === menuActive?.label && isMenuOpen)"
        [class.activeColapse]="(item.expanded || item.label === menuActive?.label) && !isMenuOpen"
      >
        <div class="icon">
          <em [class]="item.image"></em>
        </div>

        <div class="icon-and-name">
          <div class="name-item">
            {{ item.label | translate }}
          </div>

          <div [collapse]="!item.expanded" *ngIf="isMenuOpen || item.expanded" [isAnimated]="isMenuOpen">
            <div
              class="sub-menu"
              *ngFor="let subItem of item.subitems"
              [attr.data-cy]="'submenu-' + subItem.id"
              (click)="go(subItem, item); $event.stopPropagation()"
              [class.active]="isSubItemActive(subItem.link)"
            >
              {{ subItem.label | translate }}
            </div>
          </div>
        </div>
      </div>
      <div class="content-close-menu" (click)="toggleMenu()">
        <p class="version-p" [hidden]="!isMenuOpen">v{{ versionStr }}</p>
        <div class="icon" [class.icon-close]="!isMenuOpen">
          <em class="icon-select-right"></em>
        </div>
        <div class="text">
          {{ 'MENU_LEFT.CLOSE_MENU' | translate }}
        </div>
      </div>
    </div>
  </div>
</div>
