@import '../../../theme/variables/variables';

:host {
  .menu {
    background-color: $background-color-menu;
    width: $width-menu-open;
    height: 100vh;
    transition: $transition-time;
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    box-shadow: 2px 3px 12px -10px rgba(0, 0, 0, 0.41);

    .icon-eci {
      // icono del corte ingles
    }

    .content-menu-wrapper {
      margin-top: 10px;
      height: calc(100% - #{67px + 74px + 10px});
      overflow: hidden;

      .content-menu {
        height: 100%;
        width: 100%;
        // overflow-y: scroll;
        overflow-x: hidden;

        // CELDAS DEL MENU

        .clickable {
          cursor: pointer;
        }

        .content-item {
          white-space: nowrap;
          min-height: $height-menu-item;

          .icon {
            font-size: 25px;
            display: inline-block;
            vertical-align: top;
            padding: 9px 11px;
            min-width: 47px;
          }

          .icon-and-name {
            padding: 8px 0;
            white-space: nowrap;
            display: inline-block;

            .name-item {
              color: $color-text-menu;
              font-size: 12px;
              text-transform: uppercase;
              font-weight: 500;
              padding: 10px 5px;
            }

            .collapse {
              margin: 9px -#{$width-menu-close + 10px} -9px -#{$width-menu-close + 1px};
              width: $width-menu-open;
            }
          }

          &:hover {
            background-color: $background-color-menu-hover;

            .icon {
              color: $color-icon-menu-hover;
            }

            .name-item {
              color: $color-text-menu-hover;
            }
          }
        }

        .activeColapse {
          background-color: $background-color-menu-active;

          .icon {
            color: $color-icon-menu-active;
          }
        }

        .active {
          background-color: $background-color-menu-active;

          .icon {
            color: $color-icon-menu-active;
          }

          .icon-and-name {
            background-color: $background-color-menu-active;

            .name-item {
              color: $color-text-menu-active;
            }
          }

          &:hover {
            background-color: $background-color-menu-active-hover;

            .icon {
              color: $color-icon-menu-active-hover !important;
            }

            .name-item {
              color: $color-text-menu-active-hover;
            }
          }
        }

        // CELDAS DEL SUBMENU
        .sub-menu {
          background-color: $background-color-sub-menu;
          border-bottom: 1px solid $border-bottom-color-sub-menu;
          color: $color-text-sub-menu;
          cursor: pointer;
          padding: 10px 14px;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 500;

          &:hover {
            background-color: $background-color-sub-menu-hover;
          }

          &.active {
            background-color: $background-color-sub-menu-active;
            color: $color-text-sub-menu-active;
          }
        }

        .content-close-menu {
          cursor: pointer;
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: $background-color-menu;
          width: 100%;
          padding: 25px 12px;
          white-space: nowrap;

          .icon {
            transition: $transition-time;
            display: inline-block;
            vertical-align: middle;
            background-color: $background-color-icon-close;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            position: relative;
            transform: rotate(-180deg);

            > em {
              font-size: 19px;
              top: -3px;
              left: 1px;
              position: absolute;
              color: $color-icon-close-menu;
            }

            img {
              padding-left: 6px;
              padding-bottom: 4px;
            }
          }

          .icon-close {
            transform: rotate(0deg);
            transition: $transition-time;
          }

          .text {
            color: $color-text-close-menu;
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
            padding-left: 5px;
          }
        }
      }
    }

    &.closed {
      width: $width-menu-close;

      .icon-eci {
        padding-top: 23px;
        padding-left: 11px;

        .triangle {
          border-left: 26px solid $color-triangle-icon;
          border-top: 8px solid transparent;
          border-bottom: 8px solid transparent;
          width: 0;
          height: 0;
        }
      }

      .content-menu-wrapper {
        margin-top: 38px;

        .content-menu {
          .content-item {
            width: $width-menu-close;
            transition: $transition-time;

            .icon-and-name {
              position: absolute;
              left: $width-menu-close;
              width: $width-menu-open - 15px;
              height: $height-menu-item;
              pointer-events: none;

              .collapse {
                margin: 0;
                pointer-events: none;
                left: 0;
                width: $width-menu-open - 15px;
              }

              .name-item {
                display: none;
              }
            }
          }

          .active {
            width: 100%;

            .icon-and-name {
              box-shadow: 9px 2px 8px -3px rgba(0, 0, 0, 0.16);
              pointer-events: all;

              .collapse {
                pointer-events: all;
              }

              .name-item {
                display: block;
                position: absolute;
                top: 9px;
                left: 15px;
              }
            }
          }

          .collapse {
            position: absolute;
            opacity: 0;
            left: 0;

            &.show {
              opacity: 1;
              top: 55px;
              left: $width-menu-close;
              width: calc(#{$width-submenu-close} - #{$width-menu-close});
              box-shadow: 2px 3px 12px -6px rgba(0, 0, 0, 0.41);
            }
          }

          .content-close-menu {
            .text {
              display: none;
            }
          }
        }
      }
    }
  }
}

.version-p {
  text-align: center;
  font-size: 8px;
  margin: 0;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
