<ff-page-header [pageTitle]="'Loading'"></ff-page-header>

<div class="page-container page-container-padding">
  <div class="page-section p-5">
    <ff-doc-example heading="Base" [data]="example1">
      <ff-doc-modal-warning-example></ff-doc-modal-warning-example>
    </ff-doc-example>
  </div>
</div>
