<ff-page-header [pageTitle]="'Botones'"></ff-page-header>

<div class="page-container page-container-padding">
  <div class="page-section p-5">
    <ff-doc-example class="no-top" heading="Base" [description]="example1Description" [data]="example1">
      <ff-doc-buttons-1></ff-doc-buttons-1>
    </ff-doc-example>

    <div class="mt-4">
      <ff-doc-example heading="Outline" [description]="example2Description" [data]="example2">
        <ff-doc-buttons-2></ff-doc-buttons-2>
      </ff-doc-example>
    </div>
  </div>
</div>
