@import '../../../../../theme/variables/variables';

:host {
  padding: 30px 25px;

  h2 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .close {
    transition: 0.3s ease-in-out;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 0;
    margin: 0;
    em {
      color: #242424;
      font-size: 33px;
    }
  }
}
