<h2>Attributo Embedded</h2>
<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef?.hide()">
  <em class="icon-cancel"></em>
</button>
<ff-exploded-tree [tree]="tree" [enableHorizontalScroll]="false" hideSearch="true" (clickNode)="expand($event)" [iconFilter]="iconFilter" [clickFilter]="clickFilter">
</ff-exploded-tree>
