<!-- -->
<form [formGroup]="form" (submit)="send()">
  <div>
    <label>Label del select</label>
    <ng-select formControlName="select">
      <ng-option value="valor-1">Valor 1</ng-option>
      <ng-option value="valor-2">Valor 2</ng-option>
      <ng-option value="valor-3">Valor 3</ng-option>
    </ng-select>
  </div>
  <ff-form-error [field]="form.controls.select" [messages]="formMessages.select"></ff-form-error>
  <button type="submit" class="btn btn-primary mt-2">Enviar</button>
</form>

<div class="mt-4">
  <label>Valor:</label>
  <pre><code>{{form.value | json}}</code></pre>
</div>
