@import '../../../../../theme/variables/colors';
@import '../../../../../theme/variables/toggle-vars';
@import '../../../../../theme/input';

.promotions-products-config-container {
  padding: 30px 40px;
}
$font-size: 14px;
input[disabled],
.items > input[readonly] {
  font-size: $font-size !important;
  @include inputAsText;
}

.marginNegative{
  margin-right: -120px;
}
.period {
  display: inline;
  padding: 0.1rem;
  font-size: $font-size;
  &::before {
    content: '[';
    color: $green;
    font-weight: 600;
    padding-right: 0.2rem;
  }
  &::after {
    content: ']';
    color: $green;
    font-weight: 600;
    padding-left: 0.2rem;
  }
}
.input-like {
  display: block;
  padding: 0.1rem;
  margin-top: 0.5rem;
  font-size: $font-size;
  word-break: break-word;
}
.root-period {
  margin: auto;
  margin-top: 0.4rem;
}

.item-row {
  padding: 0px 20px;
  gap: 1rem;
}

.items {
  white-space: nowrap;
  & > label {
    font-size: $font-size;
    text-transform: capitalize;
    font-weight: 700;
  }
  // narrow column
  &:last-child {
    flex: 0 2 auto;
  }
}

.custom-control {
  position: relative;
  top: 50%;
}

.list-center {
  padding-bottom: 10px;
  background-color: #f5f5f5;
}

.code {
  margin-bottom: 10px;
}

.custom-switch {
  margin-left: 40px;
}

.offer {
  display: initial;
}

.inputRange{
  width: 25% !important;
}

.custom-switch {
  .custom-control-label {
    // margin-left: $toggle-width + $toggle-margin-to-label;
    font-size: 14px;

    &:before {
      top: 0;
      margin-right: $toggle-width + $toggle-margin-to-label;
      left: -40px;
    }

    &:after {
      top: 0;
      right: 0;
      left: -40px;
    }
  }
}
.separator {
  background-color: $white-4;
  padding: 0.5rem;
  border: none;
}

hr {
  color: #c5c5c5;
  border-color: #c5c5c5;
}

.page-article {
  margin-bottom: 30px;
  padding: 0.5rem 2rem 1rem;
  input {
    background-color: #eeeeee !important;
    color: #242424;
    font-size: 12px !important;
    font-weight: 500;
    min-width: 80px;
  }
}

.active {
  color: $dark_green;
}
.no-active {
  color: $red-delete !important;
}

.item-active {
  text-align: center;
}

@media (max-width: 1300px) {
  .list-center {
    overflow: auto;
  }

  .root {
    div,
    input {
      h3 {
        padding-left: 42px;
      }
    }
  }
}

@media (max-width: 1167px) {
  label[for='total_price'] {
    margin-top: -14px;
  }
}
header.page-header-collapse {
  margin-left: -2rem;
  margin-bottom: 1rem;
  h3 {
    font-weight: 700;
    opacity: 0.8;
  }
}
.badge {
  font-size: 0.85rem;
  font-weight: 500;
}
.page-section label {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 0.9rem;
}

.btn-container {
  margin-top: 0;
  transition: all 0.5s ease-in-out;
  &.collapsible {
    margin-top: -7rem;
  }
}
