<section *ngIf="!loading">
  <div class="page-section promotions-products-config-container root">
    <header class="col page-header-collapse w-50" [class.page-header-collapse-open]="collapsed" (click)="collapsed = !collapsed">
      <h3>{{ 'PROMOTIONS.PRODUCTS.DETAILS.DETAIL' | translate | uppercase }}</h3>
    </header>
    <section [collapse]="collapsed" [isAnimated]="true">
      <div class="row d-flex">
        <div class="col-3 code" *ngIf="actions">
          <label for="code">
            {{ 'PROMOTIONS.PRODUCTS.DETAILS.CODE_PRODUCT' | translate }}
          </label>
          <input type="text" disabled name="code" id="code" [value]="detail.sales_reference" class="form-control" />
        </div>
        <div class="col-3 code" *ngIf="!actions">
          <label for="code">
            {{ 'PROMOTIONS.PRODUCTS.DETAILS.CODE' | translate }}
          </label>
          <input type="text" disabled name="code" id="code" [value]="promotionalAction.identifier" class="form-control" />
        </div>
        <div class="col-3">
          <label for="type">
            {{ 'PROMOTIONS.PRODUCTS.DETAILS.TYPE' | translate }}
          </label>
          <input type="text" disabled name="type" id="type" class="form-control" [value]="promotionalAction?.type || '-'" />
        </div>
        <div class="col-3">
          <label for="discount">
            {{ 'PROMOTIONS.PRODUCTS.DETAILS.DISCOUNT' | translate }}
          </label>
          <input
            *ngIf="discountType !== discountTypeEnum.range && discountType !== discountTypeEnum.amount_segment"
            type="text"
            name="discount"
            id="discount"
            disabled
            class="form-control"
            [value]="discount || '-'"
          />
          <div class="d-flex" *ngIf="discountType === discountTypeEnum.range || discountType === discountTypeEnum.amount_segment">
            <input class="d-flex marginNegative" type="text" name="discount" id="discount" disabled value="Rango" />
            <i class="icon-view mt-1 pointer" (click)="showModalInfo()"></i>
          </div>
        </div>
        <div class="col-3" *ngIf="!actions">
          <label class="d-block" for="code_product">
            {{ 'PROMOTIONS.PRODUCTS.DETAILS.CODE_PRODUCT' | translate }}
          </label>
          <span *ngIf="salesReference?.length === 1; else loop" class="input-like">{{ salesReference[0] }}</span>
          <ng-template #loop>
            <ng-container *ngFor="let pack of salesReference; let l = last">
              <span class="period">{{ pack }}</span>
              <span *ngIf="!l">, </span>
            </ng-container>
          </ng-template>
        </div>
        <div class="col-3" *ngIf="actions">
          <label for="code_product">
            {{ 'PROMOTIONS.PRODUCTS.ID' | translate }}
          </label>
          <span class="input-like">{{ actionIdentifier }} </span>
        </div>
        <div class="col-3" *ngIf="packs?.length">
          <label for="pack_type">
            {{ 'PROMOTIONS.PRODUCTS.DETAILS.PACK_TYPE' | translate }}
          </label>
          <input type="text" disabled name="pack_type" id="pack_type" class="form-control" [value]="packType | translate" />
        </div>
        <div class="col-9" *ngIf="packs?.length">
          <label class="d-block mb-0">{{ 'PROMOTIONS.PRODUCTS.DETAILS.PACKS' | translate }}</label>
          <ng-container *ngFor="let pack of packs; let l = last">
            <span class="period">{{ pack }}</span>
            <span *ngIf="!l">, </span>
          </ng-container>
        </div>
      </div>
    </section>
  </div>
</section>
<hr class="separator" *ngIf="!loading" />
<div class="btn-container" [class.collapsible]="collapsed" *ngIf="!loading">
  <div>
    <div class="page-footer text-right">
      <button type="button" class="btn btn-primary ml-2 btn-lg" (click)="back()">
        {{ 'COMMON.CONSULT_AGAIN' | translate }}
      </button>
    </div>
  </div>
</div>
<ng-container *ngIf="!loading">
  <div *ngFor="let item of detail.price_specifications; let i = index" class="list-center">
    <div class="page-header row">
      <div
        class="col page-header-collapse"
        [class.page-header-collapse-open]="isCollapsedConfig[i]"
        (click)="isCollapsedConfig[i] = !isCollapsedConfig[i]"
      >
        <h3>
          {{ item.centersName }}
        </h3>
      </div>
    </div>
    <section [collapse]="isCollapsedConfig[i]" [isAnimated]="true">
      <div class="page-article">
        <div class="row">
          <div class="d-flex item-row">
            <div class="items">
              <label for="price label">
                {{ 'PROMOTIONS.PRODUCTS.DETAILS.PRICE' | translate }}
              </label>
              <input type="text" name="price" readonly id="price" class="form-control" [value]="item.price + ' ' + item.price_currency" />
            </div>
            <div class="items">
              <label for="sale_price label">
                {{ 'PROMOTIONS.PRODUCTS.DETAILS.PRICE_SALE_PRICE' | translate }}
              </label>
              <input
                type="text"
                name="sale_price"
                readonly
                id="sale_price"
                class="form-control"
                [value]="item.sale_price + ' ' + item.price_currency"
              />
            </div>
            <div class="items">
              <label for="total_price">
                {{ 'PROMOTIONS.PRODUCTS.DETAILS.PRICE_DISCOUNT' | translate }}
              </label>
              <input
                type="text"
                name="total_price"
                readonly
                id="total_price"
                class="form-control"
                [value]="item.total_price + ' ' + item.price_currency"
              />
            </div>
            <div class="items">
              <label for="sales_price">
                {{ 'PROMOTIONS.PRODUCTS.DETAILS.SALES_PRICE' | translate }}
              </label>
              <input
                type="text"
                name="sales_price"
                readonly
                id="sales_price"
                class="form-control"
                [value]="item.discount_percentage + ' %'"
              />
            </div>
            <div class="items">
              <label for="start_date">
                {{ 'PROMOTIONS.PRODUCTS.DETAILS.START_DATE' | translate }}
              </label>
              <input
                type="text"
                name="start_date"
                readonly
                id="start_date"
                class="form-control"
                [value]="item.pricing_adjustments[0].promotional_action.active_start_date"
              />
            </div>
            <div class="items">
              <label for="end_date">
                {{ 'PROMOTIONS.PRODUCTS.DETAILS.END_DATE' | translate }}
              </label>
              <input
                type="text"
                name="end_date"
                readonly
                id="end_date"
                class="form-control"
                [value]="item.pricing_adjustments[0].promotional_action.active_end_date"
              />
            </div>
            <div class="items">
              <label for="end_date">
                {{ 'PROMOTIONS.PRODUCTS.DETAILS.PERIODICITY' | translate }}
              </label>
              <div class="root-period">
                <div>
                  {{ item.pricing_adjustments[0].promotional_action.periodicity }}
                </div>
              </div>
            </div>
            <div class="items">
              <label for="happy">
                {{ 'PROMOTIONS.PRODUCTS.DETAILS.HAPPY' | translate }}
              </label>
              <input
                type="text"
                readonly
                id="end_date"
                class="form-control"
                [value]="
                  parseHappyHours(
                    item.pricing_adjustments[0].promotional_action.start_happy_hour,
                    item.pricing_adjustments[0].promotional_action.end_happy_hour
                  )
                "
              />
            </div>
            <div class="items">
              <label for="active">
                {{ 'PROMOTIONS.PRODUCTS.DETAILS.ACTIVE' | translate }}
              </label>
              <input
                type="text"
                readonly
                id="end_date"
                class="form-control"
                [ngClass]="{
                  active: item.pricing_adjustments[0].promotional_action.active,
                  'no-active': !item.pricing_adjustments[0].promotional_action.active
                }"
                [value]="item.pricing_adjustments[0].promotional_action.is_active ? ('COMMON.YES' | translate) : ('COMMON.NO' | translate)"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr *ngIf="i !== detail.price_specifications.length - 1" />
  </div>
</ng-container>

<div class="text-center mt-5" *ngIf="loading">
  <div class="loader mt-5"></div>
</div>

<ng-template #variantsModalTemplate>
  <div *ngIf="loadingModal" class="content-conditions">
    <ff-ui-modal-info [title]="titleModal" [variantData]="variantData" (isModalClosed)="hideModal()"> </ff-ui-modal-info>
  </div>
</ng-template>
