@import '../../../../../theme/variables/colors';

.page-section {
  background-color: $white-4;

  .content-name {
    padding: 9px 20px;
    border-bottom: solid 1px $white-3;

    .description {
      input {
        max-width: 100%;
      }
    }
  }

  .title {
    margin-top: 32px;
    color: $black-4;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }

  input {
    max-width: initial;
  }

  .line {
    border-bottom: solid 1px $white-3;
  }

  .icons {
    .plus {
      vertical-align: top;
      margin-top: 10px;
    }

    .icon-trash {
      margin-top: 1px;
      display: inline-block;
      cursor: pointer;
      margin-right: 5px;

      &:hover {
        color: $red-delete;
      }
    }
  }
}
