<div class="page-section">
  <div class="text-center pt-5 pb-5" *ngIf="loading">
    <div class="loader"></div>
  </div>

  <form [formGroup]="form" (submit)="submit()" *ngIf="!loading">
    <ngx-simplebar class="section-scroll">
      <div class="row content-name ml-0 mr-0 pl-0">
        <div class="col-3 form-group">
          <label for="name">{{ 'ADMIN_GROUP_TYPE_DETAIL.NAME' | translate }}<span>*</span></label>
          <input
            [class.is-invalid]="form.controls.name.invalid && form.controls.name.touched"
            formControlName="name"
            data-cy="agt-name-input"
            type="text"
            class="form-control"
            id="name"
            [placeholder]="'REGION_DETAIL_COMPONENT.ENTER_NAME' | translate"
          />
          <div class="invalid-feedback" *ngIf="form.controls.name.invalid && form.controls.name.touched">
            {{ 'COMMON.REQUIRED_FIELD' | translate }}
          </div>
          <div class="invalid-feedback" *ngIf="form.errors?.error_409">
            {{ 'COMMON.ERROR_409' | translate }}
          </div>
        </div>

        <div class="description col-8 form-group">
          <label for="name">{{ 'ADMIN_GROUP_TYPE_DETAIL.DESCRIPTION' | translate }}</label>
          <input
            [class.is-invalid]="form.controls.description.invalid && form.controls.description.touched"
            formControlName="description"
            type="text"
            data-cy="agt-description-input"
            class="form-control"
            id="description"
            [placeholder]="'REGION_DETAIL_COMPONENT.ENTER_DESCRIPTION' | translate"
          />
          <div class="invalid-feedback" *ngIf="form.controls.description.invalid && form.controls.description.touched">
            {{ 'COMMON.REQUIRED_FIELD' | translate }}
          </div>
        </div>
      </div>

      <!-- SEGUNDA PARTE DEL FORMUALRIO -->
      <div class="attributes">
        <div class="title ml-3">
          {{ 'ADMIN_GROUP_TYPE_DETAIL.ATTRIBUTE_DEFINITION' | translate }}
        </div>

        <div class="p-4 pl-3">
          <ff-chips-control-select [readonly]="readonly" formControlName="entity_types" [config]="chipsConfig"></ff-chips-control-select>
          <div class="invalid-feedback align-self-center" *ngIf="form.controls.entity_types.invalid && form.controls.entity_types.touched">
            {{ 'COMMON.REQUIRED_FIELD' | translate }}
          </div>
        </div>

        <div class="line"></div>
      </div>

      <!--ng-container formArrayName='entity_types'>
        <ng-container *ngFor='let control of entity_types.controls; let i=index;' class='col-3'>
          <ff-admin-group-type-attribute [formControlName]='i' [showDelete]='true'
                                         [showAdd]='i==entity_types.controls.length - 1' (add)='addEntity()'
                                         (delete)='deleteEntity(i)'>
          </ff-admin-group-type-attribute>
          <div *ngIf='sended && control.errors?.emptyAtts' class='pt-3 alert alert-danger'>
            <span>Seleccione algún atributo o elimine la selección<br></span>
          </div>
        </ng-container>

        <div *ngIf='sended && entity_types.errors?.errorSomeAtt' class='pt-3 alert alert-danger'>
          <span>Introduzca algúna entidad<br></span>
        </div>
      </ng-container-->

      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <!-- TERCERA PARTE DEL FORMUALRIO -->
      <div class="results">
        <div class="title ml-3">
          {{ 'ADMIN_GROUP_TYPE_DETAIL.RESULTS' | translate }}
        </div>
        <div class="row inputs ml-0 mb-3 mt-3">
          <div class="col-6" formArrayName="result_types">
            <div class="row mb-2 d-flex" *ngFor="let type of result_types.controls; let j = index; let isLast = last">
              <div class="col-6" [formGroupName]="j">
                <input
                  type="text"
                  disabled="readonly"
                  class="form-control"
                  data-cy="agt-result-field-name-input"
                  [placeholder]="'ADMIN_GROUP_TYPE_DETAIL.KEY.LABEL' | translate"
                  [class.is-invalid]="type.get('key').invalid && type.get('value').touched && type.get('key').touched"
                  formControlName="key"
                  name="key"
                />
                <div
                  class="invalid-feedback align-self-center"
                  *ngIf="type.get('key').invalid && type.get('value').touched && type.get('key').touched"
                >
                  {{ 'COMMON.REQUIRED_FIELD' | translate }}
                </div>
              </div>

              <div class="col-4" [formGroupName]="j">
                <div class="form-group mb-0">
                  <ng-select
                    [readonly]="readonly"
                    formControlName="value"
                    name="value"
                    [class.is-invalid]="type.get('value').invalid && type.get('value').touched && type.get('key').touched"
                  >
                    <ng-option selected value="STRING"><span data-cy="agt-text-option">Texto</span></ng-option>
                    <ng-option value="DOUBLE"><span data-cy="agt-number-option">Numérico</span></ng-option>
                    <ng-option value="BOOLEAN"><span data-cy="agt-yes-no-option">Sí / No</span></ng-option>
                  </ng-select>
                  <div
                    class="invalid-feedback align-self-center"
                    *ngIf="type.get('value').invalid && type.get('value').touched && type.get('key').touched"
                  >
                    {{ 'COMMON.REQUIRED_FIELD' | translate }}
                  </div>
                </div>
              </div>

              <div class="col-2 icons" [formGroupName]="j">
                <em class="icon-trash" *ngIf="result_types.length > 1" (click)="removeItemResultType(j)"></em>
                <em class="plus pointer" *ngIf="isLast && !readonly" (click)="addItemResultTypes()">+</em>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ngx-simplebar>

    <div *ngIf="!readonly" class="page-footer-sticky text-right">
      <button type="button" (click)="cancel()" class="btn btn-sm btn-outline-primary">
        {{ 'DESTINATION_DETAIL_COMPONENT.CANCEL' | translate }}
      </button>
      <button type="submit" class="btn btn-primary ml-2 btn-lg">
        {{ 'DESTINATION_DETAIL_COMPONENT.SAVE' | translate }}
      </button>
    </div>
  </form>
</div>
