<!-- -->
<div>
  <label>Label del select</label>
  <ng-select [(ngModel)]="select">
    <ng-option value="valor-1">Valor 1</ng-option>
    <ng-option value="valor-2">Valor 2</ng-option>
    <ng-option value="valor-3">Valor 3</ng-option>
  </ng-select>
</div>

<div class="mt-4">
  <label>Valor:</label>
  <pre><code>{{select}}</code></pre>
</div>
