<ff-modal-header
  *ngIf="modalRef && !readonly"
  [title]="config?.name ? (config?.title | translate) + config?.name : (config?.title | translate)"
  (closeMe)="handleCancel()"
></ff-modal-header>

<div class="body-modal">
  <div class="row included" *ngIf="includedKeys">
    <div
      class="col-12 page-header-collapse"
      [class.page-header-collapse-open]="!isCollapsedConfig['included']"
      (click)="isCollapsedConfig['included'] = !isCollapsedConfig['included']"
    >
      <h3>{{ 'SPENTER.FORM.INCLUDED' | translate | uppercase }}</h3>
    </div>
    <div class="included-excluded-box col" [collapse]="isCollapsedConfig['included']" [isAnimated]="true">
      <ff-ui-conditions-modal [config]="config.included"></ff-ui-conditions-modal>
    </div>
  </div>

  <div class="row excluded" *ngIf="excludedKeys">
    <div
      class="col-12 page-header-collapse"
      [class.page-header-collapse-open]="!isCollapsedConfig['excluded']"
      (click)="isCollapsedConfig['excluded'] = !isCollapsedConfig['excluded']"
    >
      <h3>{{ 'SPENTER.FORM.EXCLUDED' | translate | uppercase }}</h3>
    </div>
    <div class="included-excluded-box col" [collapse]="isCollapsedConfig['excluded']" [isAnimated]="true">
      <ff-ui-conditions-modal [config]="config.excluded"></ff-ui-conditions-modal>
    </div>
  </div>

  <ff-modal-footer *ngIf="modalRef && !readonly">
    <div>
      <div>
        <button type="button" (click)="handleCancel()" class="btn btn-primary btn-sm close-button">
          {{ 'COMMON.CLOSE' | translate }}
        </button>
      </div>
    </div>
  </ff-modal-footer>
</div>
