@import 'src/theme/variables/colors';

:host {
  .included {
    margin: 10px 25px;
    h3 {
      color: $dark_green;
    }

    .page-header-collapse::before {
      color: $dark_green;
    }
  }
  .body-modal {
    height: auto;
    max-height: 70vh;
    overflow: auto;
  }
  .excluded {
    margin: 10px 25px;
    h3 {
      color: $red-delete;
    }
    .page-header-collapse::before {
      color: $red-delete;
    }
  }
  .close-button {
    margin-right: 20px;
  }
  .included-excluded-box {
    margin: 0px 20px;
    padding: 0;
    border: 1px solid #e4e4e4;
    font-size: 13px;
    font-weight: 500;
  }
  .page-header-collapse {
    margin-bottom: 15px;
  }
}
