@import 'src/theme/variables/colors';
@import 'src/theme/variables/input-vars';

.body-modal {
  padding-left: 33px;
  padding-right: 33px;
}

.content-buttons {
  width: 100%;
}

.label {
  font-size: 12px;
}

.filter {
  position: relative;
  margin-top: 30px;

  .btn {
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 2;
    margin: 0 !important;
  }
}

.n-elements {
  font-size: 13px;
  letter-spacing: -0.5px;
  font-weight: 500;
}

.toggle-all {
  color: $green;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  border: none;
  background-color: $white;
  text-decoration: underline $green;
}

.info {
  margin-top: 40px;
  margin-bottom: 30px;
}

.items {
  max-height: 420px;
  overflow-y: auto;
}

.item,
.subitem {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.5;
  color: $black-2;
  padding: 6px 8px;

  &.active {
    background-color: $green-white;

    .icon {
      color: $green;
    }
  }

  .icon {
    font-size: 24px;
    vertical-align: middle;
    margin-right: 8px;
  }
}

.subitem {
  margin-left: 40px;

  &:hover,
  &.active {
    background-color: $green-white;

    .icon {
      color: $green;
    }
  }
}
