<ff-modal-header [title]="'MODAL_SELECT_PRODUCTS.TITLE' | translate: config.parentProduct" (closeMe)="handleCancel()"></ff-modal-header>

<div class="body-modal">
  <div class="filter">
    <input
      (input)="filterItems($event)"
      id="input"
      name="input"
      type="text"
      class="form-control max-width"
      autocomplete="off"
      [placeholder]="'MODAL_SELECT_PRODUCTS.SEARCH_PLACEHOLDER' | translate"
    />
    <button class="btn btn-secondary mr-4">
      {{ 'MODAL_SELECT_PRODUCTS.SEARCH' | translate }}
    </button>
  </div>

  <div class="row align-items-center info">
    <div class="col">
      <div class="ml-2 mr-2 n-elements">
        {{ items.length }} {{ 'MODAL_SELECT_PRODUCTS.ITEMS' | translate }} ({{ selectedItems.length }}
        {{ 'MODAL_SELECT_PRODUCTS.SELECTED' | translate }})
      </div>
    </div>
    <div class="col text-right">
      <span class="toggle-all pointer" (click)="toggleAll()">
        {{
          items.length === selectedItems.length
            ? ('MODAL_SELECT_PRODUCTS.REMOVE_ALL' | translate)
            : ('MODAL_SELECT_PRODUCTS.SELECT_ALL' | translate)
        }}
      </span>
    </div>
  </div>

  <div class="items">
    <div class="item" [class.active]="selectedItemIds.length === items.length">
      <em class="icon-page icon"></em>
      {{ config.parentProduct.name }}
    </div>
    <div
      class="subitem pointer"
      *ngFor="let item of items"
      [class.active]="selectedItemIds.indexOf(item.id) >= 0"
      (click)="selectItem(item)"
    >
      <em class="icon-box icon"></em>
      {{ item.name }}
    </div>
  </div>
</div>

<ff-modal-footer>
  <div class="content-buttons row">
    <div class="col-6">
      <button (click)="handleCancel()" [disabled]="false" type="button" class="btn btn-outline-primary btn-sm">
        {{ 'CANCEL' | translate | uppercase }}
      </button>
    </div>
    <div class="col-6 text-right">
      <button (click)="handleDone()" [disabled]="false" type="button" class="btn btn-primary btn-sm">
        {{ 'MODAL_SELECT_PRODUCTS.SELECT' | translate | uppercase }}
      </button>
    </div>
  </div>
</ff-modal-footer>
