<div *ngIf="loading" class="loading text-center" [ngClass]="{ 'loading-overlay': overlay }">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Cargando...</span>
  </div>
</div>
