@import '../../../theme/variables/colors';

.loading {
  margin: 40px 0;

  &-icon {
    font-size: 40px;
    //display: block;
  }

  &-text {
    text-transform: uppercase;
    margin-top: 10px;
    display: block;
    color: #6c757d;
    letter-spacing: 1px;
    font-size: 12px;
  }

  &-overlay {
    position: relative;
    min-height: 110px;

    > div {
      position: absolute;
      z-index: 999;
      overflow: visible;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: rgba(255, 255, 255, 0.8);
      flex-direction: column;
    }
  }
  .text-primary {
    color: $green !important;
  }
}
