<ff-page-header [pageTitle]="'Herramientas de calidad'"></ff-page-header>

<div class="page-container page-container-padding">
  <div class="page-section p-5">
    <div class="description">
      <h3>Sonar Qube</h3>
      <div>Actualmente utilizamos Sonar Qube como herramienta para medir el grado de calidad del proyecto.</div>
      <div>Se miden segun el entorno en el que estemos: Local, Azuar, AVE, UAT, NTF, Prod.</div>
      <div>
        Para más información leer la <a href="https://confluence.almeci.io/display/FIR/SonarQube" target="_blank">documentación</a>.
      </div>
    </div>
  </div>
</div>
