@import '../../../../../theme/variables/variables';

:host {
  .container-condition-childs {
    border: 1px dashed transparent;
    transition: $transition-time;

    &.hasNodes {
      padding: 10px 10px 10px 52px;
    }

    .child-condition {
      margin-bottom: 10px;
    }

    .actions {
      margin-left: 10px;
      display: inline-block;
      vertical-align: middle;
      font-size: 19px;
      transition: $transition-time;

      .icon-trash {
        &:hover {
          color: $red-delete;
        }
      }

      &.only-delete {
        margin-left: 0;
        padding-top: 7px;
      }

      .plus {
        margin-left: 5px;
      }
    }

    .attr {
      font-size: 13px;
      color: $black-2;
      vertical-align: middle;
      padding-top: 11px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 4px;
    }

    .row {
      margin-left: -5px;
      margin-right: -5px;

      .col-2,
      .col-3 {
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    .childs-container {
      border: 1px solid $white-3;

      .message-info {
        margin: 15px;
        padding: 10px 16px;
        color: $black-3;
        font-size: 13px;
        line-height: 20px;
        font-style: italic;
        border: dashed $grey-4 1px;
        width: calc(100% - 30px);
      }

      .condition {
        position: relative;

        .icon-three-line-move {
          position: absolute;
          left: 10px;
          top: 7px;
          color: $grey;
          font-size: 34px;
          cursor: move;

          &.logical {
            top: auto;
            bottom: 10px;
            left: 26px;
          }
        }
      }
    }
  }
}
