<!-- Se usa el simple cuando es el atributo final, es decir cuando no existe el campo nodes -->
<ff-conditions2-simple
  *ngIf="!data.nodes && data.attribute_data_type !== 'ENTITY'"
  [index]="index"
  [_data]="data"
  [readonly]="readonly"
  (delete)="delete.emit($event)"
  (changes)="onChange()"
></ff-conditions2-simple>

<ff-conditions2-entity
  *ngIf="!data.nodes && data.attribute_data_type === 'ENTITY'"
  [index]="index"
  [_data]="data"
  [readonly]="readonly"
  (delete)="delete.emit($event)"
  (changes)="onChange()"
>
</ff-conditions2-entity>

<div class="container-condition-childs" [class.hasNodes]="data.nodes && data.nodes.length">
  <!-- Si no es un attributo final se pinta esto (nombre y desplegable de opciones) -->
  <div *ngIf="!!data.nodes" class="child-condition">
    <div class="row">
      <div class="col-3" [tooltip]="data.tooltip_label">
        <div class="attr">
          {{ data.attribute_label }}
        </div>
      </div>
      <div class="col-auto" *ngIf="hiddenOperators()">
        <ng-select [disabled]="readonly" [clearable]="false" [(ngModel)]="data.node_type" (ngModelChange)="onChange()">
          <ng-option *ngFor="let operator of operators" [value]="operator">
            {{ 'OPERATOR.' + operator | translate }}
          </ng-option>
        </ng-select>
      </div>
      <div class="col-1">
        <div class="actions only-delete" *ngIf="!readonly">
          <em class="icon-trash pointer" (click)="deleteMySelf()"></em>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="data.nodes && data.nodes.length"
    class="childs-container"
    dndDropzone
    [dndDisableDropIf]="!!data.nodes && (data.nodes[0].node_type === and || data.nodes[0].node_type === or)"
    (dndDrop)="onDrop($event)"
    [sortablejs]="data.nodes"
    [sortablejsOptions]="sortablejsOptions"
  >
    <div class="condition">
      <ng-container *ngFor="let node of data.nodes">
        <ng-container *ngIf="node.node_type === and || node.node_type === or; else childBlock">
          <span class="sortable-handle icon-three-line-move logical" *ngIf="!readonly"></span>
          <ff-conditions-node
            [_data]="node"
            [childParent]="data"
            [index]="0"
            [readonly]="readonly"
            (changes)="onChange()"
            (deleteMe)="deleteChild(0)"
          >
          </ff-conditions-node>
        </ng-container>

        <ng-template #childBlock>
          <span class="sortable-handle icon-three-line-move" *ngIf="!readonly"></span>
          <ff-conditions2-childs (delete)="deleteChild(0)" [data]="node" [readonly]="readonly" [index]="0" (changes)="onChange()">
          </ff-conditions2-childs>
        </ng-template>
      </ng-container>
    </div>

    <div class="message-info" dndPlaceholderRef>
      {{ 'CONDITIONS_BASIC.RELEASE_HERE' | translate }}
    </div>
  </div>
</div>
