@import '../../../../../theme/variables/variables';
:host {
  font-size: 0.8rem;
  font-weight: 500;
  color: $black-2;
  letter-spacing: -0.5px;

  .alert-danger {
    margin-bottom: 0;
    font-size: 15px;
    color: $black-3;
    font-weight: normal;
  }
  .total {
    margin: 1rem 2.5rem;
  }
  .list {
    display: block;
    margin: 1rem 2.5rem 0rem;
  }
  .page-section {
    margin: 1rem 2.5rem;
  }
  .row {
    border-bottom: 1px solid $grey-5;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
  }
  .variant {
    padding-left: 7px !important;

    @media (max-width: 968px) {
      padding-left: 0 !important;
    }
  }
}
