<h3 class="my-3 mx-4" *ngIf="hasItems">
  {{ 'RULE_QUERY.SATISFIED_RULES.RULES_PRODUCT' | translate | uppercase }}
</h3>
<h3 class="total" *ngIf="hasItems">
  {{ 'RULE_QUERY.TOTAL_FOUND' | translate: { total: items.length } }}
</h3>
<div class="row page-section p-4" *ngIf="hasItems">
  <span id="table-span-variant" class="col-2 col-xxl-1 variant">{{ 'RULE_QUERY.SATISFIED_RULES.VARIANT' | translate }}</span>
  <span id="table-span-rule" class="col-2">{{ 'RULE_QUERY.SATISFIED_RULES.RULE' | translate }}</span>
  <span id="table-span-type" class="col-2">{{ 'RULE_QUERY.SATISFIED_RULES.RULE_TYPE' | translate }}</span>
  <span id="table-span-start" class="col-2">{{ 'RULE_QUERY.SATISFIED_RULES.START_DATE' | translate }}</span>
  <span id="table-span-end" class="col-2">{{ 'RULE_QUERY.SATISFIED_RULES.END_DATE' | translate }}</span>
  <span id="table-span-active" class="col-2 col-md-1">{{ 'RULE_QUERY.SATISFIED_RULES.ACTIVE' | translate }}</span>
</div>
<ff-accordion-list [cache]="true" [items]="items" [multiple]="true" class="list">
  <div *ffAccordionTitle="let title" class="ml-2 title">
    <span *ngIf="title.subsite">{{ title.subsite }} - </span>
    {{ title.name }} - {{ title.sales_reference }}
    {{ title.rows ? '( ' + ('COMMON.RESULTS_P.RULES' | translate: { total: title.rows }) + ' )' : '' }}
  </div>
  <ff-satisfied-rule-row *ffAccordionRow="let data" [satisfiedRules]="data"></ff-satisfied-rule-row>
  <div class="alert alert-danger" role="alert" *ffAccordionError>
    <em class="icon-warning"></em>
    {{ 'RULE_QUERY.SATISFIED_RULES.QUERY_LIST_ERROR' | translate }}
  </div>
  <ng-container *ffAccordionLoading>
    <span *ngIf="delayMessage$ | async">
      {{ 'RULE_QUERY.SATISFIED_RULES.DELAY' | translate }}
    </span>
  </ng-container>
</ff-accordion-list>
