@import '../../../../theme/variables/variables';

:host {
  // padding-top: 56px;
  display: block;

  &.no-top {
    padding-top: 0;
  }

  .title {
    font-size: 24px;
    line-height: 28px;
  }

  .description {
    font-size: 15px;
    margin-top: 15px;
  }

  pre {
    margin: 0;
    font-size: 0em;
  }

  .chips-container {
    position: absolute;
    right: 0;
    top: 15px;

    > div {
      font-size: 10px;
      padding: 3px 7px;
      margin: 0 5px;
      border-radius: 20px;
      display: inline-block;
      vertical-align: middle;

      &.ng-model {
        background-color: #2b542c;
        color: white;
      }

      &.angular-forms {
        background-color: #1b6d85;
        color: white;
      }

      &.service {
        background-color: #dab226;
        color: white;
      }
    }
  }

  .example {
    position: relative;
    margin-top: 24px;
    border: 1px solid #ededed;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  }

  ::ng-deep tabset {
    .nav-tabs {
      border-bottom: 1px solid #ededed;
      padding: 0 32px;

      .nav-item {
        margin-bottom: 0;
        margin-right: 24px;
      }

      .nav-link {
        font-size: 14px;
        color: rgba(27, 31, 59, 0.65);
        border: none;
        box-shadow: none;
        padding: 16px 0;

        &:hover {
          color: rgba(27, 31, 59, 1);
        }

        &.active {
          color: rgba(27, 31, 59, 1);
          border-bottom: 2px solid $dark_green;
        }
      }
    }
  }
}
