<h3 class="title" *ngIf="heading">
  {{ heading }}
</h3>

<div class="description" *ngIf="description" [innerHTML]="description"></div>

<div class="example">
  <tabset>
    <div class="chips-container">
      <div class="service" *ngIf="service">service</div>
      <div class="ng-model" *ngIf="ngModel">ngModel</div>
      <div class="angular-forms" *ngIf="angularForm">angularForms</div>
    </div>
    <tab heading="Preview">
      <div class="p-4">
        <ng-content></ng-content>
      </div>
    </tab>
    <tab *ngIf="data.ts" heading="Typescript">
      <pre>
      <code [lineNumbers]='true' [highlight]='data.ts'></code>
    </pre>
    </tab>
    <tab *ngIf="data.html" heading="HTML">
      <pre>
      <code [lineNumbers]='true' [highlight]='data.html'></code>
    </pre>
    </tab>
    <tab *ngIf="data.scss" heading="SCSS">
      <pre>
      <code [lineNumbers]='true' [highlight]='data.scss'></code>
    </pre>
    </tab>
  </tabset>
</div>
