<ff-modal-header
  [title]="config.title ? (config.title | translate) : ('MODAL_SELECT.ADD_ELEMENT' | translate)"
  (closeMe)="handleCancel()"
></ff-modal-header>

<div class="body-modal">
  <div class="row">
    <div class="parent-placeholder">
      <span *ngIf="availableItems && availableItems.length" class="fake-placeholder col-12">{{
        'FAKE_PLACEHOLDER.LABEL' | translate
      }}</span>
      <ng-select *ngIf="availableItems && availableItems.length" (change)="add($event)" [clearable]="false" #selector [class]="'col-9'">
        <ng-option *ngFor="let item of availableItems | orderTranslate: 'name'" [value]="item"
          ><span [attr.data-cy]="item.name | cyTranslate: 'selected-chip-'">{{ item.name | translate }}</span></ng-option
        ></ng-select
      >
      <span class="remove-all pointer col-3 add-filters" (click)="addAllFilters()" *ngIf="availableItems?.length">
        {{ 'MODAL_SELECT.ADD_ALL' | translate }}
      </span>
    </div>
    <div [class]="'col-12 chips-selector'">
      <ng-container *ngFor="let chip of selectedChips | orderTranslate: 'name'">
        <span
          [attr.data-cy]="chip.name | cyTranslate: 'modal-select-chip-'"
          class="badge badge-pill badge-light"
          [ngClass]="{ 'badge-disabled': loadingSearch }"
        >
          {{ chip.name | translate }}
          <em class="icon-cancel" *ngIf="!readonly" (click)="remove(chip)"></em>
        </span>
      </ng-container>
      <span class="remove-all pointer" data-cy="remove-all-on-click" (click)="removeAllFilters()" *ngIf="selectedChips.length">
        {{ 'MODAL_SELECT.REMOVE_ALL' | translate }}
      </span>
    </div>

    <div [class]="config.multiple ? 'col-6' : 'col-12'">
      <form [formGroup]="form">
        <div class="row" [class.no-gutters]="!config.selectFilterItems">
          <div class="col" *ngIf="config.selectFilterItems">
            <div class="form-group">
              <label for="select-filter" class="nowrap">{{
                config.selectFilterLabel ? (config.selectFilterLabel | translate) : ('MODAL_SELECT.SELECT_FILTER_LABEL' | translate)
              }}</label>
              <ng-select (change)="filterItems()" formControlName="select" id="select-filter" name="select-filter" id="exploitation_type">
                <ng-option selected></ng-option>
                <ng-option *ngFor="let filterItem of config.selectFilterItems" [value]="filterItem.value">
                  <span [attr.data-cy]="filterItem.label | cyTranslate: 'filter-item-'"> {{ filterItem.label }}</span>
                </ng-option>
              </ng-select>
            </div>
          </div>
          <div class="col" *ngIf="selectedChips.length">
            <div *ngIf="config.showInputFilter">
              <label for="input" class="nowrap">{{
                config.inputFilterLabel ? (config.inputFilterLabel | translate) : ('MODAL_SELECT.INPUT_FILTER_LABEL' | translate)
              }}</label>
              <input
                [placeholder]="
                  config.inputFilterPlaceholder
                    ? (config.inputFilterPlaceholder | translate)
                    : ('MODAL_SELECT_TEXTS.PLACEHOLDER' | translate)
                "
                [class.is-invalid]="showNoResults"
                formControlName="input"
                id="input"
                data-cy="select-filter-input"
                name="input"
                type="text"
                class="form-control max-width"
                autocomplete="off"
              />
              <em
                (click)="cleanInput()"
                class="search-icon"
                [ngClass]="{
                  'icon-cancel': form.controls.input.value,
                  'icon-search': !form.controls.input.value
                }"
              ></em>
            </div>
            <div class="invalid-feedback" *ngIf="showNoResults">
              {{ 'MODAL_SELECT.NO_RESULTS' | translate }}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div [class.is-multiple]="config.multiple" class="row mt-3">
    <div [class]="config.multiple ? 'col-6' : 'col'">
      <div class="row align-items-center">
        <div [class]="config.multiple ? 'col-6' : 'col'">
          <div class="ml-2 mr-2 n-elements" *ngIf="(!config.searchFn || (config.searchFn && !loadingSearch)) && items && items.length">
            {{ items.length }}
            {{ total_elements ? ('MODAL_SELECT.OF' | translate) : '' }}
            {{ total_elements ? total_elements : '' }}
            {{ config.nItemsLabel ? (config.nItemsLabel | translate) : ('MODAL_SELECT.ELEMENTS' | translate) }}
          </div>
        </div>
        <div class="col-6 text-right" *ngIf="config.multiple">
          <span class="remove-all pointer" (click)="addAll()">
            {{ 'MODAL_SELECT.ADD_ALL' | translate }}
          </span>
        </div>
      </div>

      <div class="mt-5" *ngIf="loadingSearch">
        <div class="text-center">
          <div class="loader"></div>
        </div>
      </div>

      <ngx-simplebar class="mt-3 mb-3 scroll-modal">
        <div
          *ngFor="let item of items"
          [class.active]="config.itemValueKey && selectedValues.indexOf(item[config.itemValueKey]) >= 0"
          [attr.title]="config.itemLabelKey ? getItemValue(item) : item.label"
          [attr.data-cy]="(config.itemLabelKey ? getItemValue(item) : item.label) | cyTranslate: 'modal-select-item-'"
          class="row no-gutters text-item align-items-center pl-2 pt-2 pb-2"
          (click)="selectItem(item)"
        >
          <div class="col no-flex icon">
            <em [class]="config.icon ? config.icon : 'icon-file'"></em>
          </div>
          <div class="col name ml-2">
            {{ config.itemLabelKey ? getItemValue(item) : item.label }}
          </div>
        </div>
      </ngx-simplebar>

      <div *ngIf="hasMoreItems && items?.length" class="text-center">
        <div *ngIf="loadingLoadMore">
          <div class="loader"></div>
        </div>
        <span *ngIf="!loadingLoadMore" data-cy="load-more-items" class="remove-all pointer" (click)="loadMoreItems()">{{
          'COMMON.LOAD_MORE' | translate
        }}</span>
      </div>
    </div>

    <!-- Parte de cuando el multiple -->
    <div class="col-6" *ngIf="config.multiple">
      <div class="row no-gutters align-items-center">
        <div class="col no-flex">
          <div class="ml-2 mr-2 n-elements">
            {{ 'MODAL_SELECT.SELECTED' | translate }}
            {{ selected.length }}
            {{ config.nItemsSelectedLabel ? (config.nItemsSelectedLabel | translate) : ('MODAL_SELECT.ELEMENTS' | translate) }}
          </div>
        </div>
        <div class="col text-right" *ngIf="config.multiple">
          <span class="remove-all pointer" data-cy="remove-all" (click)="removeAll()">{{ 'MODAL_SELECT.REMOVE_ALL' | translate }}</span>
          <span class="remove-all pointer ml-2" data-cy="order-a-to-z" (click)="orderAZ()">{{ 'MODAL_SELECT.ORDER_A_Z' | translate }}</span>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col no-flex" *ngFor="let item of selected | orderTranslate: 'name'">
          <span
            class="badge badge-pill badge-light"
            [attr.data-cy]="(config.itemLabelKey ? getItemValue(item) : item.label) | cyTranslate: 'item-selected-'"
          >
            {{ config.itemLabelKey ? getItemValue(item) : item.label }}<em class="icon-cancel" (click)="removeSelected(item)"></em>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<ff-modal-footer>
  <div class="content-buttons row">
    <div class="col-6">
      <button
        (click)="handleCancel()"
        data-cy="modal-select-rules-cancel-btn"
        [disabled]="false"
        type="button"
        class="btn btn-outline-primary btn-sm"
      >
        {{ config.cancelBtnText ? (config.cancelBtnText | translate | uppercase) : ('CANCEL' | translate | uppercase) }}
      </button>
    </div>
    <div class="col-6 text-right">
      <button (click)="handleDone()" data-cy="modal-select-rules-ok-btn" type="button" class="btn btn-primary btn-sm">
        {{ config.okBtnText ? (config.okBtnText | translate | uppercase) : ('MODAL_SELECT.SELECT' | translate | uppercase) }}
      </button>
    </div>
  </div>
</ff-modal-footer>
