<ng-container *ngIf="showConfigSection">
  <div class="page-header row mt-4">
    <div
      class="col page-header-collapse"
      [class.page-header-collapse-open]="!isCollapsedConfigUsage"
      (click)="isCollapsedConfigUsage = !isCollapsedConfigUsage"
    >
      <h3>{{ 'FACETS.USAGE.TITLE' | translate | uppercase }}</h3>
    </div>
  </div>

  <div class="page-article pt-1 pl-4" [collapse]="isCollapsedConfigUsage" [isAnimated]="true">
    <div class="row pl-3" *ngIf="loadingUsage">
      <div class="col-12">
        <div class="text-center pt-1 pb-1">
          <div class="loader"></div>
        </div>
      </div>
    </div>
    <div *ngIf="!loadingUsage">
      <p [ngPlural]="usageFacet" class="info-data">
        <ng-template ngPluralCase="=-1">---</ng-template>
        <ng-template ngPluralCase="=0">Facet no usado</ng-template>
        <ng-template ngPluralCase="=1"> Facet usado en {{ usageFacet }} atributo </ng-template>
        <ng-template ngPluralCase="other"> Facet usado en {{ usageFacet }} atributos </ng-template>
      </p>
      <button
        *ngIf="facet && (facet.id || facet.identifier) && usageFacet !== 0"
        type="button"
        data-cy="facet-usage-btn"
        class="btn btn-dark"
        (click)="consultFacet()"
      >
        Consultar facet
      </button>
    </div>
  </div>
</ng-container>
