<!-- -->
<form [formGroup]="form">
  <ff-chips-control-select formControlName="chipsSelect" [config]="chipsSelectConfig"> </ff-chips-control-select>
</form>

<div class="mt-4">
  <div class="mt-4">
    <label>Valor:</label>
  </div>

  <label>Valor:</label>
  <pre><code>{{form.value | json}}</code></pre>
</div>
