<ff-page-header [pageTitle]="'Ejemplo chips control'"></ff-page-header>

<div class="page-container page-container-padding">
  <div class="page-section p-4">
    <h5>Chips Control Select con llamada al iniciar</h5>
    <form [formGroup]="form">
      <ff-chips-control-select formControlName="chips" [config]="chipsConfig"></ff-chips-control-select>
    </form>
  </div>
</div>
