<div class="inputs row">
  <div class="col-3">
    <div class="form-group ml-3">
      <label>
        {{ 'ADMIN_GROUP_TYPE_DETAIL.SELECT_ENTITY' | translate }}
      </label>
      <div class="row">
        <div class="col-9 pr-0">
          <ng-container *ngIf="entity?.attributes.length">
            <input [value]="entity?.label" class="form-control" type="text" readonly />
          </ng-container>
          <ng-container *ngIf="!entity?.attributes.length">
            <ng-select
              [items]="item$ | async"
              bindLabel="name"
              [hideSelected]="true"
              [trackByFn]="trackByFn"
              [minTermLength]="2"
              [loading]="itemLoading"
              typeToSearchText="Por favor, introduzca 2 o más caracteres"
              [typeahead]="itemInput$"
              notFoundText="No encotradas coincidencias"
              [(ngModel)]="entity"
              (change)="onChangeEntity($event)"
            >
            </ng-select>
          </ng-container>
        </div>
        <div class="col-3 icons align-self-center">
          <em class="icon-trash" *ngIf="showDelete" (click)="deleteEntity()"></em>
          <em class="plus pointer" *ngIf="showAdd" (click)="addNewEntity()">+</em>
        </div>
      </div>
    </div>
    <br />
  </div>
  <div class="shipping_costs col-9">
    <div class="row container-inputs">
      <div class="col-3 little-padding">
        <div class="form-group mb-0">
          <label>
            {{ 'ADMIN_GROUP_TYPE_DETAIL.AVAILABLE' | translate }}
          </label>
          <div class="row">
            <div class="col-9 pr-0">
              <ng-select
                [class.is-invalid]="false"
                placeholder="Escoge un atributo"
                [(ngModel)]="tmpSelectedAttribute"
                (ngModelChange)="onChangeSelectAttribute()"
              >
                <ng-option *ngFor="let availableAtt of availableAttributes" [value]="availableAtt">
                  {{ availableAtt.label }}
                </ng-option>
              </ng-select>
            </div>
            <div class="col-3 icons align-self-center">
              <em class="plus pointer" *ngIf="availableAttributes?.length" (click)="selectAll()">+</em>
            </div>
          </div>
        </div>
      </div>

      <div class="col-9 pt-3">
        <span *ngFor="let addedAtt of entity?.attributes; let j = index" class="badge badge-pill badge-light">
          {{ addedAtt.label }}<em class="icon-cancel" (click)="removeAddSelected(j)"></em>
        </span>
      </div>
    </div>
  </div>
</div>
