@import '../../../../../theme/variables/colors';

.inputs {
  margin-top: 19px;

  .icons {
    padding-top: 3px;
    padding-left: 0;

    em {
      &.icon-trash {
        padding-left: 8px;
        cursor: pointer;
        vertical-align: middle;
        font-size: 23px;
        color: $grey;

        &:hover {
          color: $red-delete;
        }
      }

      &.plus {
        vertical-align: middle;
        margin-left: 7px;
        font-size: 22px;
      }
    }
  }
}

.shipping_costs {
  .container-inputs {
    position: relative;
  }
}

.text-return-costs {
  white-space: nowrap;
}
