<form [formGroup]="form" class="init" *ngIf="form" (submit)="submit()">
  <div class="root">
    <div class="col-lg-7 title" *ngIf="!hideResults">
      <ng-container *ngIf="!loading">
        <h3>{{ title | translate }}</h3>
        <h3 class="results">
          ( {{ numberItems || 0 }} {{ 'COMMON.RESULTS' | translate
          }}{{ valueSearch ? ' ' + addSearchStr + " '" + valueSearch + "'" : '' }} )
        </h3>
      </ng-container>
    </div>
    <div class="col-3 offset-1">
      <input
        data-cy="search-simple-input"
        [formControlName]="key"
        type="text"
        [name]="key"
        [id]="key"
        class="form-control"
        [placeholder]="placeHolder | translate"
        (keydown)="valueChange()"
      />
    </div>
    <div class="col-1 text-center div-button">
      <button type="submit" class="btn btn-dark btn-sm">
        {{ !clear ? ('COMMON.SEARCH.SAVE' | translate) : ('COMMON.CLEAN' | translate) }}
      </button>
    </div>
  </div>
</form>
