<div class="row row-pagination">
  <div class="col text-right">
    <pagination
      (pageChanged)="onPageChanged($event)"
      [(ngModel)]="currentPage"
      (numPages)="totalPages = $event"
      [boundaryLinks]="true"
      [totalItems]="totalItems"
      [rotate]="false"
      [maxSize]="5"
      [itemsPerPage]="pageSize"
      [directionLinks]="true"
      firstText="&lsaquo;&lsaquo;"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      lastText="&rsaquo;&rsaquo;"
    ></pagination>
    <span class="ml-2 mr-3">Ir a </span>
    <input
      #pageManual
      min="1"
      [max]="totalPages"
      (keydown)="checkPoint($event)"
      (keyup.enter)="onPageChangedManual(pageManual.value)"
      type="number"
    />
    <div class="ml-2 goPage" (click)="onPageChangedManual(pageManual.value)">
      <span>Ir</span>
    </div>
    <span class="n-pages nowrap"> Página {{ currentPage ? currentPage : 1 }} de {{ totalPages }} </span>
  </div>
</div>
