@import '../../../theme/variables/variables';
@import '../../../theme/variables/colors';

.pagination-last.page-item,
.pagination-next.page-item,
.pagination-first.page-item,
.pagination-prev.page-item {
  .page-link {
    padding: 0;
    height: 42px;
    width: 38px;
    display: inline-block;
    text-align: center;
    line-height: 42px;
    padding: 0;
    color: $black-2;
    background-color: transparent;
    border: 0;
    font-size: 22px;

    &:hover {
      color: $black-2;
    }
  }

  &.disabled {
    display: none;
  }
}
.goPage{
  cursor: pointer;
  color: green;
  
}
.pagination-page.page-item {
  .page-link {
    padding: 0;
    height: 42px;
    width: 44px;
    display: inline-block;
    text-align: center;
    line-height: 42px;
    padding: 0;
    color: $grey;
    background-color: $white-4;
    border: 0;
    font-size: 14px !important;
  }
}

.row-pagination {
  margin-top: $pagination-top-margin;
  margin-bottom: $pagination-bottom-margin;
  align-items: center;

  .total-results {
    font-size: 14px;
  }

  .text-right {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
  }

  .n-pages {
    font-size: 14px;
    color: $grey;
    padding-left: 20px;
  }
}
