<ff-modal-header [title]="config.title | translate" (closeMe)="handleCancel()"></ff-modal-header>

<div class="body-modal">
  <div class="row">
    <div *ngIf="config.canImportCSV" class="import-csv col-4" (click)="importCSV()" [hidden]="loading">
      {{ config.importCSVLabel ? (config.importCSVLabel | translate) : ('MODAL_SELECT_TEXTS.IMPORT_CSV' | translate) }}
    </div>
    <div *ngIf="itemsError.length" class="import-csv col-6 offset-2" (click)="clickCsvError()">
      {{ 'MODAL_SELECT_TEXTS.ERROR_CSV' | translate }}
    </div>
  </div>

  <div class="text-center pt-1 pb-1" [hidden]="!loading">
    <div class="loader"></div>
  </div>

  <label for="newText" [hidden]="loading" class="nowrap">{{ 'MODAL_SELECT_TEXTS.NEW' | translate }}</label>
  <form [formGroup]="form" [hidden]="loading">
    <div class="input-group">
      <input
        id="newText"
        #newTextElement
        [placeholder]="
          config.inputFilterPlaceholder ? (config.inputFilterPlaceholder | translate) : ('MODAL_SELECT_TEXTS.PLACEHOLDER' | translate)
        "
        formControlName="newText"
        name="new-text"
        type="text"
        class="form-control max-width"
        [class.is-invalid]="
          (canShowFormError && form.controls.newText.invalid && form.controls.newText.touched) ||
          (textNoSave && form.controls.newText.value)
        "
        autocomplete="off"
        (keyup.enter)="addText()"
      />

      <div class="input-group-append">
        <button (click)="addText()" [disabled]="false" type="button" class="btn btn-secondary btn-sm">
          {{ 'MODAL_SELECT_TEXTS.ADD' | translate | uppercase }}
        </button>
      </div>
    </div>
    <div class="invalid-feedback" *ngIf="textNoSave && form.controls.newText.value">
      {{ 'MODAL_SELECT_TEXTS.PENDING_TEXT' | translate }}
    </div>
    <ff-form-error
      [field]="form.controls.newText"
      [messages]="[{ type: 'exists', message: 'COMMON_ERRORS.ALREADY_EXISTS' }]"
    ></ff-form-error>
    <div class="invalid-feedback" *ngIf="canShowFormError && form.controls.newText.invalid && form.controls.newText.touched">
      <ng-container *ngFor="let message of config.validatorErrors">
        <ng-container *ngIf="form.controls.newText.hasError(message.type)">
          {{ message.message | translate }}
        </ng-container>
      </ng-container>
    </div>
  </form>

  <div class="description mt-2 mb-2" *ngIf="config.description" [hidden]="loading">
    {{ config.description | translate }}
  </div>

  <div class="mt-3 ml-2 mr-2" [hidden]="loading">
    <div class="row">
      <div class="col-6 n-elements">{{ items.length }} {{ 'MODAL_SELECT_TEXTS.ELEMENTS' | translate }}</div>
      <div class="col-6 text-right">
        <span class="remove-all pointer" (click)="removeAll()">{{ 'MODAL_SELECT_TEXTS.DELETE_ALL' | translate }}</span>
        <span class="remove-all pointer ml-2" *ngIf="config.showOrder" (click)="order()">{{
          config.orderText ? (config.orderText | translate) : ('MODAL_SELECT_TEXTS.ORDER_A_Z' | translate)
        }}</span>
      </div>
    </div>
  </div>

  <ngx-simplebar class="mt-3 mb-3 pl-3 pr-3 scroll-modal" [hidden]="loading">
    <div class="row no-gutters text-item align-items-center mt-3 mb-2" *ngFor="let item of items">
      <div class="col no-flex icon">
        <em class="icon-file"></em>
      </div>
      <!-- Cuando no se esta editando -->
      <ng-container *ngIf="!itemsEditing.hasOwnProperty(item)">
        <div class="col name ml-2">
          {{ item }}
        </div>
        <div class="col no-flex align-self-end edit mr-1">
          <em class="icon-pencil" (click)="editItem(item)"></em>
        </div>
        <div class="col no-flex align-self-end remove ml-1">
          <em class="icon-cancel" (click)="removeItem(item)"></em>
        </div>
      </ng-container>
      <!-- Cuando se esta editando -->
      <ng-container *ngIf="itemsEditing.hasOwnProperty(item)">
        <div
          class="editing col row no-gutters"
          [class.is-invalid]="editingForms[item].controls.text.invalid && editingForms[item].controls.text.touched"
        >
          <div class="col name">
            <form [formGroup]="editingForms[item]">
              <input [id]="'id' + item" type="text" formControlName="text" />
            </form>
          </div>
          <div class="col no-flex align-self-end edit mr-1">
            <em class="icon-check" (click)="confirmEdit(item)"></em>
          </div>
          <div class="col no-flex align-self-end remove ml-1">
            <em class="icon-cancel" (click)="cancelEdit(item)"></em>
          </div>
        </div>
        <div class="invalid-feedback ml-4" *ngIf="editingForms[item].controls.text.invalid && editingForms[item].controls.text.touched">
          <ng-container *ngFor="let message of config.validatorErrors">
            <ng-container *ngIf="editingForms[item].controls.text.hasError(message.type)">
              {{ message.message | translate }}
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </ngx-simplebar>
</div>

<ff-modal-footer [hidden]="loading">
  <div class="content-buttons row">
    <div class="col-6">
      <button (click)="handleCancel()" [disabled]="false" type="button" class="btn btn-outline-primary btn-sm">
        {{ 'CANCEL' | translate | uppercase }}
      </button>
    </div>
    <div class="col-6 text-right">
      <button (click)="handleDone()" *ngIf="haveChange" [disabled]="false" type="button" class="btn btn-primary btn-sm">
        {{ 'MODAL_SELECT_TEXTS.INSERT' | translate | uppercase }}
      </button>
    </div>
  </div>
</ff-modal-footer>
