@import 'src/theme/variables/colors';
@import 'src/theme/variables/input-vars';

.body-modal {
  padding-left: 33px;
  padding-right: 33px;
}

.description {
  font-size: 12px;
  font-style: italic;
}

.content-buttons {
  width: 100%;
}

.import-csv {
  color: $green;
  font-size: 15px;
  text-decoration: underline $green;
  cursor: pointer;
  transform: translateY(-12px);
  margin-bottom: 8px;
}

.remove-all {
  color: $green;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  border: none;
  background-color: $white;
  text-decoration: underline $green;
}

.n-elements {
  font-size: 13px;
  letter-spacing: -0.5px;
  font-weight: 500;
}

.scroll-modal {
  max-height: 52vh;
  height: auto;
  overflow: auto;
}

.text-item {
  align-items: center;

  .editing {
    margin-left: 10px;
    border: 1px solid $border-color-input;
    padding: 4px 9px;
    align-items: center;

    &.is-invalid {
      border-bottom: 1px solid $red !important;
    }

    input {
      border: none !important;
      padding: 0 !important;
      margin: 0 !important;
      font-size: 13px !important;
      font-weight: 500 !important;
      letter-spacing: -0.5 !important;
      height: auto;
      width: 100%;
      max-width: 100%;
    }
  }

  .icon {
    em {
      color: $green;
    }
  }

  .name {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.5;
  }

  .edit,
  .remove {
    em {
      cursor: pointer;
      color: $grey;
    }
  }

  .edit {
    em {
      font-size: 14px;

      &:hover {
        color: $green;
      }
    }
  }

  .remove {
    em {
      font-size: 12px;

      &:hover {
        color: $red;
      }
    }
  }
}
