@import '../../../../theme/variables/variables';

:host {
  .page-header-comp {
    height: $page-header-long-height;
    width: 100%;
    background-color: $page-header-bg-color;
    padding: 0 18px;
    position: relative;

    .back {
      color: $page-header-back-color;
      font-size: 14px;
      position: absolute;
      top: -10px;
      left: $padding-page;

      span {
        color: $page-header-select-right-color;
        margin-right: 10px;
        font-size: 10px;
        vertical-align: middle;
      }
    }

    .bottom-content {
      position: absolute;
      left: 0;
      bottom: 165px;
      width: 100%;
      padding: 0 $padding-page;

      &:after {
        display: table;
        clear: both;
        content: ' ';
      }

      .title {
        color: $page-header-title-color;
        float: left;
      }

      .actions-container {
        float: right;
        color: red;
      }
    }
  }
}
