<div class="page-header-comp">
  <a (click)="breadCrumbClick()" class="back pointer" *ngIf="breadcrumbTitle">
    <span class="icon-select-right mirror-x"></span>
    {{ breadcrumbTitle }}
  </a>

  <div class="bottom-content">
    <h1 class="title">
      {{ pageTitle }}
    </h1>

    <div class="actions-container">
      <ng-content></ng-content>
    </div>
  </div>
</div>
