<form [formGroup]="form" (submit)="submit()" class="bg-white rounded box-shadow">
  <div class="page-header row">
    <div class="col-4">
      <em class="icon-search pointer" (click)="submit()"></em>
      <em class="icon-select-down"></em>
      <span class="text-search">{{ 'SELLER.LABEL_SEARCH' | translate }}</span>
      <input class="form-control input-search" type="text" formControlName="name" [placeholder]="'SELLER.NAME' | translate" />
    </div>

    <div class="col-2 pl-0">
      <input class="form-control" type="text" formControlName="code" [placeholder]="'SELLER.CODE' | translate" />
    </div>

    <div class="col-2 pl-0">
      <input class="form-control" type="text" formControlName="miraklId" [placeholder]="'SELLER.EXTERNAL_ID' | translate" />
    </div>

    <div class="col-2 pl-0">
      <input class="form-control" type="text" formControlName="site" [placeholder]="'SELLER.SITES' | translate" />
    </div>

    <div class="col-2 pl-0">
      <div class="form-group mb-0">
        <ng-select formControlName="status" placeholder="Estado activacion">
          <ng-option value="Active">ACTIVO</ng-option>
          <ng-option value="Created">CREADO</ng-option>
          <ng-option value="Suspended">SUSPENDIDO</ng-option>
        </ng-select>
      </div>
    </div>

    <!-- BOTON DE OPCIONES -->

    <!-- <div class="col-1 pl-0 text-right">
      <button type="button" class="btn btn-info">
        <em class="icon-options"></em>
      </button>
    </div> -->
  </div>
</form>
