<form [formGroup]="form" (submit)="submit()" *ngIf="arrayConfig">
  <div [class]="classRoot">
    <ng-container [ngSwitch]="item.type" *ngFor="let item of arrayConfig">
      <div [class]="item.class" *ngIf="filter.indexOf(item.key) < 0">
        <ng-container *ngSwitchCase="'search'">
          <em class="icon-search pointer" (click)="submit()"></em>
          <em class="icon-select-down"></em>
          <span class="text-search">{{ item.label | translate }}</span>
          <input
            type="text"
            data-cy="search-form-search-input"
            class="form-control input-search"
            [formControlName]="item.key"
            placeholder="{{ item.placeholder || '' | translate }}"
          />
        </ng-container>

        <ng-container *ngSwitchCase="'text'">
          <label [for]="item.key">{{ item.label | translate }}</label>
          <input
            [placeholder]="item.placeholder || '' | translate"
            [class.is-invalid]="form.controls[item.key].invalid && form.controls[item.key].touched"
            [formControlName]="item.key"
            type="text"
            [name]="item.key"
            data-cy="search-form-text-input"
            [id]="item.key"
            class="form-control"
            autocomplete="off"
            [readonly]="isReadOnlyOnsubmit"
          />
        </ng-container>
        <ng-container *ngSwitchCase="'chips'">
          <ff-chips-control-select
            [formControlName]="item.key"
            [config]="item.configChips"
            [readonly]="isReadOnlyOnsubmit"
            [showDisabled]="true"
          ></ff-chips-control-select>
        </ng-container>
        <ng-container *ngSwitchCase="'select'">
          <label [for]="item.key">{{ item.label | translate }}</label>
          <ng-select [formControlName]="item.key" [id]="item.key" (change)="changeSelect($event.target.value, item.selectOptions)">
            <ng-option *ngFor="let type of item.selectOptions" [value]="type.value">
              <span [attr.data-cy]="'select-' + type.label + 'input'"> {{ type.label || type.value | translate }}</span>
            </ng-option>
          </ng-select>
        </ng-container>
        <ng-container *ngSwitchCase="'checkbox'">
          <div class="col offer">
            <div class="custom-control custom-switch">
              <input
                [formControlName]="item.key"
                data-cy="search-form-checkbox-input"
                [name]="item.key"
                type="checkbox"
                class="custom-control-input"
                [id]="item.key"
              />
              <label class="custom-control-label" [for]="item.key">{{ item.label | translate }}</label>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'date'">
          <div class="datepicker">
            <label [for]="item.key">{{ item.label | translate }}</label>
            <div class="input-group">
              <input
                type="text"
                data-cy="search-form-date-input"
                placeholder="DD/MM/YYYY"
                [name]="item.key"
                [id]="item.key"
                [formControlName]="item.key"
                [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD/MM/YYYY' }"
                bsDatepicker
                autocomplete="off"
              />
              <div class="input-group-append">
                <label [for]="item.key" class="input-group-text">
                  <em class="icon-calendar"></em>
                </label>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'time'">
          <label [for]="item.key">{{ item.label | translate }}</label>
          <timepicker [showMeridian]="false" [formControlName]="item.key" [mousewheel]="false" [showSpinners]="false"></timepicker>
        </ng-container>

        <ff-form-error [field]="form.controls[item.key]" [messages]="item.error"></ff-form-error>
      </div>
    </ng-container>
    <div class="col-1 div-button" *ngIf="showButton">
      <button type="submit" class="btn btn-dark btn-sm">
        {{ !clear ? ('COMMON.SEARCH.SAVE' | translate) : ('COMMON.CLEAN' | translate) }}
      </button>
    </div>
  </div>
</form>
