@import '../../../theme/variables/variables';

$color-text-search: $black-2;
$background-color-rounded: $white-4;

.rounded {
  border-radius: 2px 2px 0 0 !important;
  background-color: $background-color-rounded !important;
}

.page-header {
  .icon-search {
    font-size: 20px;
    vertical-align: middle;
  }

  .icon-select-down {
    cursor: pointer;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 10px;
  }

  .text-search {
    display: inline-block;
    font-size: 12px;
    padding-right: 10px;
    color: $color-text-search;
  }

  input {
    display: inline-block;
  }

  .select {
    padding-top: 10px;
  }
}

.container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.row {
  margin: 0;
}

.buttons {
  padding: 20px;
}

.offer {
  display: initial;
}

.div-button {
  margin-top: 25px;
}
