@import '../../../../theme/variables/colors';

.title-table-options {
  font-size: 24px;
  margin-top: 30px;
}

.table-options {
  margin: 10px 0 30px 0;

  .table-options-row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $grey-5;

    &:first-child {
      border-top: 1px solid $grey-5;
    }

    &-header {
      background-color: $grey-3;
      color: $white;
    }
  }

  .table-options-cols {
    padding: 10px;
    border-left: 1px solid $grey-5;
    width: 50%;

    &-option {
      width: 20%;
    }

    &-description {
      width: 80%;
      border-right: 1px solid $grey-5;
    }
  }
}
