<div class="content-list">
  <table class="table table-hover">
    <thead>
      <tr>
        <th id="table-th-date">
          {{ 'CROSSELLING.HISTORIC.DATE' | translate }}
          <em class="icon-sort-table-up"></em>
        </th>
        <th id="table-th-file">
          {{ 'CROSSELLING.HISTORIC.FILE' | translate }}
          <em class="icon-sort-table-up"></em>
        </th>
        <th id="table-th-type">
          {{ 'CROSSELLING.HISTORIC.TYPE' | translate }}
          <em class="icon-sort-table-up"></em>
        </th>
        <th id="table-th-site">
          {{ 'CROSSELLING.HISTORIC.SITE' | translate }}
          <em class="icon-sort-table-up"></em>
        </th>
        <th id="table-th-result">
          {{ 'CROSSELLING.HISTORIC.RESULT' | translate }}
          <em class="icon-sort-table-up"></em>
        </th>
        <th id="table-th-download" class="text-center">
          {{ 'CROSSELLING.HISTORIC.DOWNLOAD' | translate }}
          <em class="icon-sort-table-up"></em>
        </th>
      </tr>
    </thead>

    <tbody *ngIf="!loading">
      <tr *ngFor="let item of list">
        <td>{{ item.import_date | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
        <td>{{ item.filename }}</td>
        <td>{{ item.assignment_mode }}</td>
        <td>{{ item.site }}</td>
        <td [class]="getTypeResult(item)">{{ item.result }}</td>
        <td class="width-icon text-center" *ngIf="getTypeResult(item) !== 'OK'" (click)="download(item.id)">
          <div *ngIf="loadingIcon[item.id]">
            <div class="loader loader-icon"></div>
          </div>
          <em class="icon-download" *ngIf="!loadingIcon[item.id]"></em>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-center" *ngIf="loading">
    <div class="loader"></div>
  </div>

  <div class="pagination-container" [hidden]="loading">
    <ff-pagination-2
      (pageChanged)="handlePageChanged($event)"
      [(currentPage)]="currentPage"
      [totalItems]="page ? page.total_elements : 0"
    ></ff-pagination-2>
  </div>
</div>
