.WARNING {
  color: #ffab2b;
}

.ERROR {
  color: #fc361e;
}

.OK {
  color: #337e34;
}

em {
  cursor: pointer;
  font-size: 25px;
}

.loader-icon::after {
  width: 40px;
  height: 40px;
  margin: 0;
}
