<div class="loader d-block mx-auto mt-4" *ngIf="!entity"></div>
<div class="page-container page-container-padding" *ngIf="entity">
  <ff-entity-detail [item]="entity" [original]="original" [readonly]="true"></ff-entity-detail>
</div>
