:host {
  ::ng-deep {
    .page-footer,
    .icon-three-line-move,
    .icon-trash,
    .row-add-children,
    .add-row,
    .icon-pencil,
    .icon-cancel {
      display: none !important;
    }
    .technical-container {
      padding-bottom: 0 !important;
    }
    ff-technical-characteristics-config {
      .title {
        display: none !important;
      }
    }
    .badge-pill {
      padding: 8px 15px !important;
    }
    .content-list {
      max-height: unset !important;
    }
  }
}
