<form [formGroup]="includedForm" *ngIf="activatedAttribute?.isIncluded">
  <div class="page-article row" *ngIf="'sites' === activeCondition">
    <ff-chips-control-select formControlName="sites" [config]="configSelectFieldsForTemplate.sites"> </ff-chips-control-select>
  </div>

  <div class="page-article row" *ngIf="'categoryRules' === activeCondition">
    <ff-chips-control-select formControlName="categoryRules" [config]="configSelectFieldsForTemplate.categoryRules">
    </ff-chips-control-select>
  </div>

  <ng-container *ngIf="'centers' === activeCondition">
    <!-- <div class="page-article row form-centers">
      <ff-chips-control-select formControlName="centers" [config]="configSelectFieldsForTemplate.centers"> </ff-chips-control-select>
    </div> -->

    <div class="page-article row">
      <ff-chips-control-select formControlName="ranges" [config]="configSelectFieldsForTemplate.ranges"> </ff-chips-control-select>
    </div>
  </ng-container>

  <ng-container *ngIf="'centers' !== activeCondition">
    <div *ngFor="let condition of conditions">
      <div class="page-article row" *ngIf="condition === activeCondition">
        <ff-chips-control-select [formControlName]="condition" [config]="configSelectFieldsForTemplate[condition]">
        </ff-chips-control-select>
      </div>
    </div>
  </ng-container>
</form>

<form [formGroup]="excludedForm" *ngIf="!activatedAttribute?.isIncluded">
  <div class="page-article row" *ngIf="'sites' === activeCondition">
    <ff-chips-control-select formControlName="sites" [config]="configSelectFieldsForTemplate.sites"> </ff-chips-control-select>
  </div>

  <div class="page-article row" *ngIf="'categoryRules' === activeCondition">
    <ff-chips-control-select formControlName="categoryRules" [config]="configSelectFieldsForTemplate.categoryRules">
    </ff-chips-control-select>
  </div>

  <ng-container *ngIf="'centers' === activeCondition">
    <!-- <div class="page-article row form-centers">
      <ff-chips-control-select formControlName="centers" [config]="configSelectFieldsForTemplate.centers"> </ff-chips-control-select>
    </div> -->

    <div class="page-article row">
      <ff-chips-control-select formControlName="ranges" [config]="configSelectFieldsForTemplate.ranges"> </ff-chips-control-select>
    </div>
  </ng-container>

  <ng-container *ngIf="'centers' !== activeCondition">
    <div *ngFor="let condition of conditions">
      <div class="page-article row" *ngIf="condition === activeCondition">
        <ff-chips-control-select [formControlName]="condition" [config]="configSelectFieldsForTemplate[condition]">
        </ff-chips-control-select>
      </div>
    </div>
  </ng-container>
</form>
