@import 'src/theme/variables/colors';

:host {
  .body {
    background-color: $white-4;
  }
  .tab {
    position: relative;
    overflow: hidden;

    .title {
      font-size: 20px;
      color: $white;
      float: left;
    }

    ul {
      float: right;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    &-item {
      color: $green;
      padding: 10px 14px 6px 14px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      font-size: 13px;
      cursor: pointer;

      &-not-allowed {
        cursor: not-allowed;
      }

      em {
        font-size: 18px;
        margin-right: 4px;
      }
      .icon-pencil {
        font-size: 14px;
      }
      &:hover {
        background-color: $white-4;
        color: $black-2;
      }
    }

    &-active {
      background-color: $white-4;
      color: $black-2;
    }
  }

  .condition-holder {
    height: 100%;
    position: relative;
  }
  ::ng-deep .horizontalScroll {
    .label {
      span {
        overflow: hidden !important;
        padding-right: 0px !important;
      }
    }
  }
  .tree-attribute {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
  }

  .rootAdvance {
    min-height: calc(100vh - (200px + 160px + 100px));
  }

  .collapseTree {
    height: 100%;
  }

  .datepicker {
    display: flex;
    align-items: flex-end;
  }

  .input-group {
    max-width: 345px;
  }

  .error-date-time {
    display: flex;
  }

  .error-date {
    max-width: 345px;
    width: 65%;
  }

  .conditions {
    background-color: $white-6;
    margin-right: 0 !important;
    &-rules {
      width: 75%;
      margin-top: 10px;
      margin-right: 10px;
      background-color: $white;
    }

    &-panel {
      width: 24%;
    }

    &-rules,
    &-panel {
      display: inline-block;
      vertical-align: top;
    }
  }

  .spenter-details-container {
    padding-top: 15px;
  }

  // .section-scroll {
  //   height: calc(100vh - 250px);
  // }

  .conditions-section {
    margin-right: 6px;
    margin-top: 6px;
    padding-bottom: 1px;
    height: 100%;
  }

  .page-footer {
    margin-top: 6px;
  }

  .conditions {
    background-color: $white;
    margin-right: 6px;
    margin-top: 6px;
    padding-top: 6px;
    padding-bottom: 1px;
    min-height: calc(100vh - (200px + 160px + 100px));
  }

  .page-section {
    .page-header {
      padding: 26px;

      .row {
        width: 100%;
      }
    }

    .header-form {
      padding: 26px;
    }

    .form-control {
      max-width: 100%;
    }
  }
}
