<div class="col-12 authLoading" *ngIf="loading">
  <div class="page-section">
    <div class="text-center pt-5 pb-5">
      <div class="loader"></div>
    </div>
  </div>
</div>

<form [formGroup]="form" class="body" (submit)="submit()" *ngIf="!loading">
  <div class="page-section">
    <div class="page-header row">
      <div
        class="col page-header-collapse"
        [class.page-header-collapse-open]="!isCollapsedDefinition"
        (click)="isCollapsedDefinition = !isCollapsedDefinition"
      >
        <h3>{{ 'CONDITIONS_BASIC_AND_ADVANCE.GENERAL_DATA' | translate }}</h3>
      </div>
      <div class="col text-right">
        <div class="custom-control custom-switch">
          <input formControlName="active" type="checkbox" class="custom-control-input" id="active" />
          <label class="custom-control-label pointer" for="active">
            {{
              form.value.active
                ? ('CONDITIONS_BASIC_AND_ADVANCE.ACTIVATED' | translate)
                : ('CONDITIONS_BASIC_AND_ADVANCE.DEACTIVATED' | translate)
            }}
          </label>
        </div>
      </div>
    </div>
    <ff-rules-header-form
      [collapse]="isCollapsedDefinition"
      [isAnimated]="true"
      [headerFormFields]="headerFields"
      [form]="form"
      [item]="item"
      [rulesType]="type"
      [readonly]="readonly"
    ></ff-rules-header-form>
    <div class="tab" *ngIf="!readonly">
      <ul class="d-flex justify-content-end">
        <li class="tab-item" (click)="changeBasicMode()" [class.tab-item-not-allowed]="disabledBasicMode" [class.tab-active]="basicMode">
          <em class="icon-pencil"></em>
          {{ 'CONDITIONS_BASIC_AND_ADVANCE.TABS.BASIC' | translate }}
        </li>
        <li class="tab-item" (click)="changeAdvancedMode()" [class.tab-active]="advancedMode">
          <em class="icon-options"></em>
          {{ 'CONDITIONS_BASIC_AND_ADVANCE.TABS.ADVANCED' | translate }}
        </li>
      </ul>
    </div>
  </div>

  <div class="body" [hidden]="!basicMode">
    <div class="bg-gray">
      <div class="spenter-details-container" [ngClass]="{ 'bg-white': readonly, 'pb-4': readonly }">
        <ff-included-excluded-tree
          *ngIf="!disabledBasicMode"
          [dataIncluded]="includedValue"
          [dataExcluded]="excludedValue"
          [readonly]="readonly"
          [idAdminGroup]="idAdminGroup"
          [conditionsToShow]="conditionsToShow"
          [haveChanges]="isDirty"
          (changedIncluded)="changeIncludedData($event)"
          (changedExcluded)="changeExcludedData($event)"
          (visibleAttribute)="setVisibleAttribute($event)"
          [hidden]="readonly"
        >
        </ff-included-excluded-tree>
        <ff-ui-modal-rules-preview *ngIf="readonly && rulesPreviewConfig" [readonly]="readonly" [config]="rulesPreviewConfig">
        </ff-ui-modal-rules-preview>
      </div>
    </div>
  </div>

  <div class="body" [ngClass]="{ collapseTree: isCollapsedDefinition }" *ngIf="advancedMode">
    <section class="row">
      <div class="col-3 pr-0" *ngIf="!readonly">
        <section class="condition-holder">
          <ff-conditions-tree-attribute
            class="tree-attribute"
            [idAdminGroup]="idAdminGroup"
            [collapseTree]="isCollapsedDefinition"
            [entityTypes]="entityTypes"
          >
          </ff-conditions-tree-attribute>
        </section>
      </div>

      <div [ngClass]="{ 'col-12': readonly, 'col-9': !readonly }">
        <div class="conditions">
          <div class="pt-3 alert mb-3 mt-2" *ngIf="disabledBasicMode && !readonly">
            <span>{{ 'CONDITIONS_BASIC_AND_ADVANCE.CONDITION_ONLY_IN_ADVANCED_MODE' | translate }}<br /></span>
          </div>
          <ff-conditions2 ffConditions2FilledValidator ffConditions2DoubleValidator formControlName="node"> </ff-conditions2>
        </div>
      </div>
    </section>
  </div>

  <div class="page-footer text-right">
    <button type="button" class="btn btn-outline-primary btn-sm" (click)="cancel.emit()" ffGoBack>
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button
      type="button"
      class="btn btn-primary ml-2 btn-lg"
      *ngIf="!advancedMode"
      (click)="preview()"
      [disabled]="isEmptyBasicValue ? isEmptyBasicValue : !includedValue && !excludedValue"
    >
      {{ 'COMMON.PREVIEW' | translate }}
    </button>
    <button type="button" class="btn btn-primary ml-2 btn-lg" (click)="submit()">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</form>
