@import '../../../../../theme/variables/colors';

:host {
  .language-col {
    max-width: 215px;
  }

  .value-col {
    align-items: center;
    display: flex;

    input {
      max-width: 246px;
      width: 100%;
    }
  }

  .readonly {
    pointer-events: none;
  }

  .small-text {
    font-size: 12px;
    line-height: 16px;
    margin-top: 14px;
  }

  alert {
    em {
      color: $red;
    }
  }

  .n-languages {
    color: $grey-7;
    margin-right: 20px;

    span {
      font-style: italic;
    }
  }

  .badge-pill {
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 10px 35px 10px 0;
    .icon-pencil {
      font-size: 14px;
      &:hover {
        color: $orange-light;
      }
    }
    &.has-error {
      &.touched {
        border-color: $red;
      }
    }

    em {
      top: 50%;
      transform: translateY(-50%);
    }

    input {
      padding: 0;
      margin: 0;
      border: none;
      height: 20px;
      background-color: transparent;
      max-width: 100%;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      width: calc(100% - 35px);
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
    }

    .text {
      opacity: 0;
      pointer-events: none;
      padding-left: 16px;
    }

    input,
    .text {
      font-size: 12px;
      font-weight: 500;
      text-align: left;
    }
  }

  .add-value {
    vertical-align: middle;
    color: $green;
    cursor: pointer;

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    .icon-plus {
      font-size: 24px;
      vertical-align: middle;
    }

    span {
      vertical-align: middle;
      font-size: 12px;
      font-weight: 500;
    }
  }

  .total-languages {
    font-size: 12px;
    line-height: 15px;
    color: $black-2;
    font-weight: 500;
  }
}

/*
.language-col {
  max-width: 215px;
}

.value-col {
  input {
    max-width: 246px;
    width: 100%;
  }
}

.small-text {
  font-size: 12px;
  line-height: 16px;
  margin-top: 14px;
}
.n-languages {
  color: $grey-7;
  margin-right: 20px;
  span {
    font-style: italic;
  }
}
.edit-on-block {
  color: $green;
  text-decoration: underline;
  cursor: pointer;
}


 */
