<label *ngIf="heading">
  {{ heading }}
</label>

<div class="alert alert-danger" *ngIf="showError">
  <em class="icon-icon-warning"></em>
  {{ 'FIELD_I18N_MULTIPLE.MIN_LANGUAGE_ERROR' | translate }} “{{ 'LANGUAGES.' + languages[0] | translate }}”
</div>
<ff-table-with-fixed-elements>
  <table class="table" *ffTableWithFixedElements>
    <tbody>
      <tr *ngFor="let language of languages; let isFirstLang = first; let i = index">
        <td width="120px" [ffTableFixedElement]="true">
          <b>{{ 'LANGUAGES.' + language | translate }}</b>
        </td>

        <td>
          <div
            class="badge badge-pill badge-light"
            [class.has-error]="showError && isFirstLang"
            [class.touched]="showError && isFirstLang"
            [class.readonly]="readonly"
          >
            <ng-container *ngIf="!readonly || value[language]">
              <input
                type="text"
                placeholder=" - "
                [attr.data-cy]="'field-i18n-' + language + '-input'"
                #input
                [(ngModel)]="value[language]"
                (focusout)="inputChange()"
                (ngModelChange)="inputChange()"
                [disabled]="disabled"
              />
              <div class="text">&nbsp;{{ value[language] }}</div>
              <em class="icon-cancel" *ngIf="!!value[language] && !disabled" (click)="removeValue(language)"></em>
              <em class="icon-pencil" *ngIf="!value[language] && !disabled" (click)="focusInput(i)"></em>
            </ng-container>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</ff-table-with-fixed-elements>

<!--div class='row'>
  <div class='col language-col'>
    <ng-select [(ngModel)]='currentLanguage' [disabled]='!value[languages[0]] || !value[languages[0]].length'>
      <ng-option *ngFor='let language of languages' [value]='language'>
        {{ ('LANGUAGES.' + language) | translate }}
      </ng-option>
    </ng-select>
  </div>

  <div class='col value-col'>

    <ng-container *ngIf='value[currentLanguage]'>
      <div class='badge badge-pill badge-light' *ngFor='let val of value[currentLanguage]; trackBy: track; let i = index'>
        <input type='text' [(ngModel)]='value[currentLanguage][i]' (change)='writeValue(value)'>
        <div class='text'>
          &nbsp;{{ value[currentLanguage][i] }}
        </div>
        <em class='icon-cancel' (click)='removeValue(i)'></em>
      </div>
    </ng-container>

    <span class='add-value' (click)='addNewValue()'>
      <i class='icon-plus'></i>
      <span>
        {{ 'FIELD_I18N_MULTIPLE.ADD_VALUE' | translate }}
      </span>
    </span>
  </div>
</div>

<div class='small-text'>
  <span class='n-languages'>
    {{ languages.length }}
    <span>
      {{ 'LANGUAGES_TEXT' | translate }}
    </span>
  </span>
</div-->

<!--
<label *ngIf='heading'>
  {{ heading }}
</label>

<div class='row'>
  <div class='col language-col'>
    <ng-select [(ngModel)]='currentLanguage' [disabled]='!value[languages[0]]'>
      <ng-option *ngFor='let language of languages' [value]='language'>
        {{ ('LANGUAGES.' + language) | translate }}
      </ng-option>
    </ng-select>
  </div>
  <div class='col value-col'>
    <input [(ngModel)]='value[currentLanguage]' (change)='writeValue(value)' type='text'>
  </div>
</div>

<div class='small-text'>
  <span class='n-languages'>
    {{ languages.length }}
    <span>
      {{ 'LANGUAGES_TEXT' | translate }}
    </span>
  </span>
  <span class='edit-on-block' (click)='openBlockModal()'>
    {{ 'FIELD_I18N.EDIT_ON_BLOCK' | translate }}
  </span>
</div>
-->
