<ng-container *ngFor="let validation of messages">
  <div class="invalid-feedback" *ngIf="field.hasError(validation.type) && field.invalid && field.touched">
    {{ validation.message | translate: validation.params }}
  </div>
</ng-container>
