<div class="content-list">
  <table class="table table-hover">
    <thead>
      <tr>
        <th id="table-th-name">
          {{ 'SELLER.NAME' | translate }}
          <em class="icon-sort-table-up"></em>
        </th>
        <th id="table-th-code">
          {{ 'SELLER.CODE' | translate }}
          <em class="icon-sort-table-up"></em>
        </th>
        <th id="table-th-external-id">
          {{ 'SELLER.EXTERNAL_ID' | translate }}
          <em class="icon-sort-table-up"></em>
        </th>
        <th id="table-th-sites">
          {{ 'SELLER.SITES' | translate }}
          <em class="icon-sort-table-up"></em>
        </th>
        <th id="table-th-status">
          {{ 'SELLER.STATUS' | translate }}
          <em class="icon-sort-table-up"></em>
        </th>
        <th id="table-th-icons" [width]="'3%'" class="width-icon"></th>
      </tr>
    </thead>

    <tbody *ngIf="!loading">
      <tr *ngFor="let item of list; trackBy: identify">
        <td>
          {{ item.name }}
        </td>
        <td>
          {{ item.codeView }}
        </td>
        <td>
          {{ item.externalIdView }}
        </td>
        <td>
          {{ item.sitesView }}
        </td>
        <td>
          {{ item.statusView }}
        </td>
        <td class="width-icon" [routerLink]="[item.id]">
          <em class="icon-pencil"></em>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-center" *ngIf="loading">
    <div class="loader"></div>
  </div>

  <div class="pagination-container" [hidden]="loading">
    <ff-pagination-2
      (pageChanged)="handlePageChanged($event)"
      [(currentPage)]="currentPage"
      [totalItems]="page ? page.total_elements : 0"
    ></ff-pagination-2>
  </div>
</div>
