<ff-menu-top [isMenuOpen]="isMenuOpen" [user]="user"></ff-menu-top>
<ff-menu-left [(isMenuOpen)]="isMenuOpen"></ff-menu-left>
<div class="router-outlet-container" [class.menu-closed]="!isMenuOpen">
  <router-outlet></router-outlet>
</div>
