@import '../../../theme/variables/variables';

:host {
  .router-outlet-container {
    position: absolute;
    top: $height-header - 10px;
    padding-top: 10px;
    left: $width-menu-open;
    width: calc(100% - #{$width-menu-open});
    height: calc(100% - #{$height-header - 10px});
    overflow: hidden;
    z-index: 11;
    transition: $transition-time;

    &.menu-closed {
      left: $width-menu-close;
      width: calc(100% - #{$width-menu-close});
    }
  }
}
