<ff-page-header [pageTitle]="'Form Error'"></ff-page-header>

<div class="page-container page-container-padding">
  <div class="page-section p-5">
    <div class="mt-4">
      <ff-doc-example heading="Base" [description]="example1Description" [angularForm]="true" [data]="example1">
        <ff-doc-form-error-1></ff-doc-form-error-1>
      </ff-doc-example>
    </div>

    <div class="mt-4">
      <ff-doc-example
        heading="Ejemplo con chips. Con validación required"
        [description]="example2Description"
        [angularForm]="true"
        [data]="example2"
      >
        <ff-doc-form-error-2></ff-doc-form-error-2>
      </ff-doc-example>
    </div>
  </div>
</div>
