<div class="container-condition-simple">
  <div class="row align-items-center">
    <!-- Nombre -->
    <div class="col-5">
      <div class="data-input">{{ condition?.entity_type_name }}: {{ condition?.attribute_label }}</div>
    </div>

    <!-- Tipo -->
    <div class="col-3">
      <div class="data-input">
        {{ 'OPERATOR.' + condition.node_type | translate }}
      </div>
    </div>

    <!-- Valor unico -->
    <div
      class="col-4"
      *ngIf="!condition.multiple_cardinality && condition?.node_type !== 'IS_DEFINED' && condition?.node_type !== 'IS_NOT_DEFINED'"
    >
      <div class="data-input" *ngIf="inputType === 'text' || inputType === 'number'">
        {{ condition.value }}
      </div>

      <div class="custom-control custom-switch disabled" *ngIf="inputType === 'checkbox'">
        <input
          disabled
          type="checkbox"
          class="custom-control-input disabled"
          [checked]="condition?.value"
          [id]="condition.attribute_id + 'check'"
        />
        <label class="custom-control-label pointer disabled" [for]="condition.attribute_id + 'check'"></label>
      </div>
    </div>

    <!-- Multiples valores -->
    <div
      class="col-6"
      *ngIf="condition.multiple_cardinality && condition?.node_type !== 'IS_DEFINED' && condition?.node_type !== 'IS_NOT_DEFINED'"
    >
      <ff-conditions-simple-multiple-values-readonly [values]="condition?.value"> </ff-conditions-simple-multiple-values-readonly>
    </div>
  </div>
</div>
