@import '../../../theme/variables/variables';

.toggle {
  width: 40px;

  &.active {
    &:after {
      transform: rotate(90deg) translateX(-1.5px) scale(0);
    }
  }

  &:after,
  &:before {
    display: block;
    content: ' ';
    width: 15px;
    height: 1.5px;
    background-color: $black-2;
    transform-origin: 50% 50%;
    transition: $transition-time;
    margin: 0 auto;
  }

  &:after {
    transform: rotate(90deg) translateX(-1.5px);
  }
}

.row-title:hover {
  transition: 0.25s linear all;
  background-color: $green-white !important;
}

.list-item {
  // border-bottom: 1px solid $grey-5;
  display: flex;
  flex-direction: column;
  margin: 0.25rem 0;
}
