<div class="mx-0" [@appearOppacity]>
  <section *ngFor="let item of accordionItems; let i = index" class="list-item">
    <div (click)="toggle(i)" class="d-flex p-3 align-items-center bg-white pointer row-title" [id]="'accordion-' + i">
      <span class="toggle" [class.active]="item.expanded"></span>
      <ng-container *ngTemplateOutlet="titleTemplate; context: { $implicit: item.title }"></ng-container>
    </div>
    <ng-container *ngIf="item.expanded">
      <ng-container *ngIf="item.row | withLoading | async as obs">
        <ng-container *ngIf="obs.value">
          <ng-container *ngTemplateOutlet="rowTemplate; context: { $implicit: obs.value }"> </ng-container>
        </ng-container>
        <ng-container *ngIf="obs.error">
          <ng-container *ngTemplateOutlet="errorTemplate"> </ng-container>
        </ng-container>
        <ng-container *ngIf="obs.loading">
          <div class="d-flex flex-column align-items-center justify-content-center my-2">
            <ng-container *ngIf="loadingTemplate">
              <ng-container *ngTemplateOutlet="loadingTemplate"> </ng-container>
            </ng-container>
            <div class="loader"></div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </section>
</div>
