@import '../../../../../theme/variables/colors';
@import '../../../../../theme/variables/variables';

.facet-detail-container {
  //height: calc(100vh - #{$height-header});
  overflow-y: auto;
  overflow-x: hidden;
}

.facet-config {
  //height: calc(100vh - #{$height-header});
  background-color: $white-4;
}

.footer-section {
  background-color: $white-4;
  margin-bottom: 10px;
  .footer {
    padding: 24px 21px 19px;
    background-color: $white;
    border-radius: 0 0 6px 6px;

    .delete {
      color: $black-4;
    }
  }
}

.facet-conf-body {
  min-height: 230px;
}
.warning-feedback {
  color: $orange-light;
  font-size: 13px;
  font-weight: 500;
}
