<form [formGroup]="form">
  <div class="page-section facet-detail-container facet-config">
    <ng-container *ngIf="showConfigSection">
      <div class="page-header row">
        <div
          class="col page-header-collapse"
          [class.page-header-collapse-open]="!isCollapsedConfig"
          (click)="isCollapsedConfig = !isCollapsedConfig"
        >
          <h3>{{ 'FACETS.CONFIG' | translate | uppercase }}</h3>
        </div>
      </div>
      <div class="row pl-3" *ngIf="loading">
        <div class="col-12">
          <div class="text-center pt-3 pb-3">
            <div class="loader"></div>
          </div>
        </div>
      </div>
      <div class="page-article pt-1 pl-4" [collapse]="isCollapsedConfig" [isAnimated]="true">
        <div *ngIf="!loading" class="facet-conf-body">
          <div class="row" *ngIf="!readonly">
            <div class="col-12 mt-1 mb-4">
              <button type="button" data-cy="facet-config-select-btn" class="btn btn-dark" (click)="select()">
                {{ 'FACETS.SELECT_EXISTING' | translate | uppercase }}
              </button>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <label for="name">{{ 'FACETS.ATT_NAME' | translate }}</label>
              <div class="d-flex">
                <span class="group-start-input">{{ attributePrefix }}</span>
                <input
                  [placeholder]="'FACETS.ATT_NAME' | translate"
                  [class.is-invalid]="form.controls.name.invalid && form.controls.name.touched"
                  (change)="changed()"
                  (paste)="validatePaste($event)"
                  data-cy="facet-att-name-input"
                  formControlName="name"
                  type="text"
                  name="name"
                  id="name"
                  class="form-control"
                  autocomplete="off"
                />
              </div>
            </div>
            <div
              class="invalid-feedback pl-3"
              *ngIf="form.controls.name.getError('nameRegex') && form.controls.name.invalid && form.controls.name.touched"
            >
              {{ 'FACETS.NAME_TIP' | translate }}
            </div>
            <div
              class="invalid-feedback pl-3"
              *ngIf="form.controls.name.invalid && form.controls.name.touched && form.controls.name.getError('required')"
            >
              {{ 'FACETS.NAME_REQUIRED' | translate }}
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-4">
              <label for="name">{{ 'FACETS.ATT_DATA_TYPE' | translate }}</label>
              <ng-select formControlName="data_type" [clearable]="false">
                <ng-option *ngFor="let type of types" [value]="type.value">
                  <span [attr.data-cy]="'facet-' + (type.label | lowercase) + '-option'">{{ type.label }}</span>
                </ng-option>
              </ng-select>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ff-facet-usage [facet]="facet" [showConfigSection]="showConfigSection && showUse"></ff-facet-usage>
  </div>
  <div class="footer-section pt-4" *ngIf="showConfigSection && !readonly">
    <div class="footer text-right">
      <button
        type="button"
        data-cy="facet-config-delete-btn"
        (click)="deleteFacet()"
        class="btn btn-sm btn-icon btn-outline-primary ml-2"
        [disabled]="!hasFacetBackend"
      >
        <em class="icon-trash"></em>
        {{ 'FACETS.DELETE' | translate | uppercase }}
      </button>
      <button type="submit" data-cy="facet-config-save-btn" (click)="submit()" class="btn btn-primary ml-2 btn-sm">
        {{ 'FACETS.SAVE' | translate | uppercase }}
      </button>
    </div>
  </div>
</form>
