@import '../../../../../theme/variables/variables';

$operator-width: 66px;

:host {
  .readonly {
    pointer-events: none;
  }

  .logical-condition-container {
    background-color: $white-6;
    border-radius: 2px;
    border: 1px solid $white-3;
    margin: 8px;

    &:hover {
      background-color: $green-white;
    }

    &:after {
      clear: both;
      display: table;
      content: ' ';
    }

    .operator-type {
      padding: 8px;
      width: $operator-width;
      float: left;

      .btn {
        width: 100%;
        text-align: center;
        padding: 8px 0;
      }

      .actions {
        font-size: 19px;

        transition: $transition-time;

        .plus {
          margin-left: 5px;
        }
      }
    }

    .right-container {
      position: relative;
      float: right;
      width: calc(100% - #{$operator-width});
      border: 1px solid transparent;
      border-left: 1px solid $white-3;
      background-color: $white;
      min-height: 95px;

      .sortable-container {
        width: 100%;
        min-height: 95px;
      }
    }
  }

  .condition {
    position: relative;

    &.logical {
      padding-left: 0;
    }

    .icon-three-line-move {
      position: absolute;
      left: 10px;
      top: 15px;
      color: $grey;
      font-size: 23px;
      cursor: move;

      &.logical {
        top: auto;
        bottom: 15px;
        left: 30px;
      }
    }
  }
}

/*
.logical-condition-container {
  border: 1px solid #ced4da;
  border-radius: 12px;
  padding: 10px;
  margin-top: 15px;
}

.operator-type {
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}


.tool-logical-box {
  border-right: 1px solid #ced4da;
}

.tool-logical-box button {
  margin-right: 15px;
}

.right-container {
  margin-left: 5px;
}

ul,
li {
  padding-inline-start: 0;
  list-style-type: none;
}

li {
  margin-top: 5px;
}

.fa-config {
  font-size: 16px;
  line-height: 30px;
  color: black;
  cursor: pointer;
}
*/
