:host {
  & ::ng-deep {
    .custom-switch .custom-control-input:disabled ~ .custom-control-label:before,
    .custom-switch .custom-control-input:checked ~ .custom-control-label:after {
      opacity: 0.4 !important;
    }
    .custom-switch .custom-control-input:disabled ~ .custom-control-label:before {
      background: #e3e3e3 !important;
    }
    .custom-switch .custom-control-label::after {
      background-color: #adb5bd !important;
    }
    .custom-switch .custom-control-input:checked ~ .custom-control-label:after {
      background-color: #4fa04f !important;
    }
  }
}
