@import '../../../../../theme/variables/colors';

:host {
  ::ng-deep ngx-simplebar {
    height: calc(100vh - (200px + 160px + 100px));
  }

  .collapseTree {
    height: calc(100vh - (200px + 160px + 10px)) !important;
  }

  ::ng-deep {
    .page-container-long-section-right {
      overflow-y: hidden;
    }
    .icon-icon-included {
      color: green;
    }
    .icon-icon-excluded {
      color: red;
    }

    .icon-icon-multiply {
      color: red;
    }

    .icon-icon-check {
      color: green;
    }

    .icon-icon-pencil {
      color: #ffab2b;
    }
  }

  .form-rules {
    margin-top: 15px;
  }
}

.site-config-container {
  background-color: $white-6;

  input {
    width: 360px;
  }

  .annotation {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    display: block !important;
  }

  .select-center-type {
    width: 326px;
  }

  .icon-select-down {
    cursor: pointer;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .row-switch {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .lbl-switch {
    font-size: 12px;
  }

  .hour-validator {
    max-width: 1280px;
    min-width: 1280px;
  }
}

@media (max-width: 685px) {
  .hour-validator {
    display: block !important;
  }
}
