<div class="row">
  <div class="col-4 pr-0 pt-1 pb-1 tree">
    <ngx-simplebar [ngClass]="{ collapseTree: false }">
      <ff-exploded-tree
        [tree]="tree"
        [enableHorizontalScroll]="false"
        searchPlaceholder="SPENTER.INCLUDED_FORM.PLACEHOLDER"
        (clickNode)="click($event)"
        (searchNodes)="search($event)"
        [loading]="loading"
        (clearFilter)="clear()"
        [clickFilter]="clickFilter"
        [iconFilter]="iconFilter"
        [filterHidden]="false"
        [filterItems]="filterItems"
        [filterMultiple]="true"
        (filterNodes)="search($event, true)"
        [badgeFilter]="badgeFilter.bind(this)"
        [expanded]="true"
      >
      </ff-exploded-tree>
    </ngx-simplebar>
  </div>
  <div class="col-8 pt-2 site-config-container" [formGroup]="form" *ngIf="!loading">
    <div class="page-article pt-2" *ngIf="activatedAttribute === 'locale'">
      <!-- locale_default -->
      <div class="row form-group">
        <ff-chips-control-select
          formControlName="locale_default"
          [required]="formConfig.locale_default.validators?.required"
          [config]="chipsConfig.locale_default"
        ></ff-chips-control-select>
        <ff-form-error [field]="form.controls.locale_default" [messages]="formErrors.locale_default"></ff-form-error>
      </div>

      <!-- locale_valid -->
      <div class="row form-group">
        <ff-chips-control-select
          formControlName="locale_valid"
          [required]="formConfig.locale_valid.validators?.required"
          [config]="chipsConfig.locale_valid"
        ></ff-chips-control-select>
      </div>
      <ff-form-error [field]="form.controls.locale_valid" [messages]="formErrors.locale_valid"></ff-form-error>
    </div>

    <!-- included_products -->
    <div class="page-article pt-2" *ngIf="activatedAttribute === 'merchandise'">
      <div class="text-center" *ngIf="!fieldsLoaded.included_products">
        <div class="loader"></div>
      </div>
      <div class="row form-group">
        <ff-chips-control-select
          formControlName="included_products"
          *ngIf="fieldsLoaded.included_products"
          [required]="formConfig.included_products.validators?.required"
          [config]="chipsConfig.included_products"
        ></ff-chips-control-select>
        <ff-form-error [field]="form.controls.included_products" [messages]="formErrors.included_products"></ff-form-error>
      </div>
      <div class="row form-group">
        <ff-chips-control-select formControlName="override_tags" [config]="chipsConfig.override_tags"></ff-chips-control-select>
      </div>
      <div class="row form-group custom-control custom-switch">
        <input formControlName="is_the_cocktail_sold" type="checkbox" class="custom-control-input" id="is_the_cocktail_sold" />
        <label class="custom-control-label pointer lbl-switch" for="is_the_cocktail_sold">{{
          'SITES.IS_THE_COCKTAIL_SOLD' | translate
        }}</label>
      </div>
      <div class="row form-group custom-control custom-switch">
        <input formControlName="is_insurance_sold" type="checkbox" class="custom-control-input" id="is_insurance_sold" />
        <label class="custom-control-label pointer lbl-switch" for="is_insurance_sold">{{ 'SITES.IS_INSURANCE_SOLD' | translate }}</label>
      </div>
    </div>

    <!-- index_main -->
    <!-- index_map -->
    <div class="page-article pt-2" *ngIf="activatedAttribute === 'map'">
      <div class="row form-group">
        <div>
          <label for="index_main">
            {{ 'SITES.INDEX_MAIN' | translate }}
            {{ formConfig.index_main.validators?.required ? '*' : '' }}
          </label>
          <input
            [placeholder]="'SITES.PLACEHOLDER_INDEX_MAIN' | translate"
            formControlName="index_main"
            type="text"
            name="index_main"
            id="index_main"
            class="form-control"
            autocomplete="off"
          />
          <ff-form-error [field]="form.controls.index_main" [messages]="formErrors.index_main"></ff-form-error>
        </div>
      </div>
      <div class="row form-group">
        <ff-chips-control-select
          formControlName="index_map"
          [required]="formConfig.index_map.validators?.required"
          [config]="chipsConfig.index_map"
        ></ff-chips-control-select>
        <ff-form-error [field]="form.controls.index_map" [messages]="formErrors.index_map"> </ff-form-error>
      </div>
    </div>

    <!-- shipping_methods -->
    <div class="page-article pt-2" *ngIf="activatedAttribute === 'shippingMethods'">
      <div class="row form-group">
        <div>
          <label for="default_shipping_method">
            {{ 'SITES.DEFAULT_SHIPPING_METHOD' | translate }}
            {{ formConfig.default_shipping_method.validators?.required ? '*' : '' }}
          </label>
          <input
            [placeholder]="'SITES.PLACEHOLDER_DEFAULT_SHIPPING_METHOD' | translate"
            formControlName="default_shipping_method"
            type="text"
            name="default_shipping_method"
            id="default_shipping_method"
            class="form-control"
            autocomplete="off"
          />
          <ff-form-error [field]="form.controls.default_shipping_method" [messages]="formErrors.default_shipping_method"></ff-form-error>
        </div>
      </div>
      <div class="row form-group">
        <ff-chips-control-select
          formControlName="shipping_methods"
          [required]="formConfig.shipping_methods.validators?.required"
          [config]="chipsConfig.shipping_methods"
        ></ff-chips-control-select>
        <ff-form-error [field]="form.controls.shipping_methods" [messages]="formErrors.shipping_methods"></ff-form-error>
      </div>
      <div class="row form-group">
        <ff-chips-control-select
          formControlName="available_centers"
          [required]="formConfig.available_centers.validators?.required"
          [config]="chipsConfig.available_centers"
        ></ff-chips-control-select>
        <ff-form-error [field]="form.controls.available_centers" [messages]="formErrors.available_centers"></ff-form-error>
      </div>
    </div>

    <!-- hierarchy_sales -->
    <div class="page-article pt-2" *ngIf="activatedAttribute === 'hierarchies'">
      <div class="row form-group">
        <div>
          <label for="hierarchy_sales">
            {{ 'SITES.HIERARCHY_SALES' | translate }}
            {{ formConfig.hierarchy_sales.validators?.required ? '*' : '' }}
          </label>
          <input
            [placeholder]="'SITES.PLACEHOLDER_HIERARCHY_SALES' | translate"
            formControlName="hierarchy_sales"
            type="text"
            name="hierarchy_sales"
            id="hierarchy_sales"
            class="form-control"
            autocomplete="off"
          />
          <ff-form-error [field]="form.controls.hierarchy_sales" [messages]="formErrors.hierarchy_sales"></ff-form-error>
        </div>
      </div>

      <!-- hierarchy_campaign -->
      <div class="row form-group">
        <div>
          <label for="hierarchy_campaign">
            {{ 'SITES.HIERARCHY_CAMPAIGN' | translate }}
            {{ formConfig.hierarchy_campaign.validators?.required ? '*' : '' }}
          </label>
          <input
            [placeholder]="'SITES.PLACEHOLDER_HIERARCHY_CAMPAIGN' | translate"
            formControlName="hierarchy_campaign"
            type="text"
            name="hierarchy_campaign"
            id="hierarchy_campaign"
            class="form-control"
            autocomplete="off"
          />
          <ff-form-error [field]="form.controls.hierarchy_campaign" [messages]="formErrors.hierarchy_campaign"></ff-form-error>
        </div>
      </div>

      <!-- hierarchy_special_ratio -->
      <div class="row form-group">
        <ff-chips-control-select
          formControlName="hierarchy_special_ratio"
          [required]="formConfig.hierarchy_special_ratio.validators?.required"
          [config]="chipsConfig.hierarchy_special_ratio"
        ></ff-chips-control-select>
        <ff-form-error [field]="form.controls.hierarchy_special_ratio" [messages]="formErrors.hierarchy_special_ratio"></ff-form-error>
      </div>

      <!-- store_default_code -->
      <div class="row form-group">
        <div>
          <label for="store_default_code">
            {{ 'SITES.STORE_DEFAULT_CODE' | translate }}
            {{ formConfig.store_default_code.validators?.required ? '*' : '' }}
          </label>
          <input
            [placeholder]="'SITES.PLACEHOLDER_STORE_DEFAULT_CODE' | translate"
            formControlName="store_default_code"
            type="text"
            name="store_default_code"
            id="store_default_code"
            class="form-control"
            autocomplete="off"
          />
          <ff-form-error [field]="form.controls.store_default_code" [messages]="formErrors.store_default_code"></ff-form-error>
        </div>
      </div>

      <!-- store_code_by_hierarchy -->
      <div class="row form-group">
        <ff-chips-control-select
          formControlName="store_code_by_hierarchy"
          [required]="formConfig.store_code_by_hierarchy.validators?.required"
          [config]="chipsConfig.store_code_by_hierarchy"
        ></ff-chips-control-select>
        <ff-form-error [field]="form.controls.store_code_by_hierarchy" [messages]="formErrors.store_code_by_hierarchy"></ff-form-error>
      </div>
    </div>

    <!-- center_type -->

    <div class="page-article pt-2" *ngIf="activatedAttribute === 'prices'">
      <div class="row form-group">
        <div class="select-center-type">
          <label for="center_type">
            {{ 'SITES.CENTER_TYPE' | translate }}
            {{ formConfig.center_type.validators?.required ? '*' : '' }}
          </label>
          <ng-select formControlName="center_type" id="center_type">
            <ng-option *ngFor="let type of centerTypes" [value]="type.value">
              {{ type.label }}
            </ng-option>
          </ng-select>
          <ff-form-error [field]="form.controls.center_type" [messages]="formErrors.center_type"></ff-form-error>
        </div>
      </div>

      <!-- fixed_center -->
      <div class="row form-group">
        <div>
          <label for="fixed_center">
            {{ 'SITES.FIXED_CENTER' | translate }}
            {{ formConfig.fixed_center.validators?.required ? '*' : '' }}
          </label>
          <input
            [placeholder]="'SITES.PLACEHOLDER_FIXED_CENTER' | translate"
            formControlName="fixed_center"
            type="text"
            name="fixed_center"
            id="fixed_center"
            class="form-control"
            autocomplete="off"
          />
          <ff-form-error [field]="form.controls.fixed_center" [messages]="formErrors.fixed_center"></ff-form-error>
        </div>
      </div>

      <!-- price_available_centers -->
      <div class="row form-group">
        <ff-chips-control-select
          formControlName="price_available_centers"
          [required]="formConfig.price_available_centers.validators?.required"
          [config]="chipsConfig.price_available_centers"
        ></ff-chips-control-select>
        <ff-form-error [field]="form.controls.price_available_centers" [messages]="formErrors.price_available_centers"></ff-form-error>
      </div>
    </div>

    <div class="page-article pt-2" *ngIf="activatedAttribute === 'updateInfo'">
      <!-- Fecha inicio  y Fecha fin-->

      <div class="row form-group hour-validator">
        <div class="col-2 pl-0">
          <label for="start_time">{{ 'SITES.START_TIME' | translate }}</label>
          <div class="datepicker">
            <ff-timepicker id="start_time" formControlName="start_time" [showUnit]="[true, true, false]" [cancelButton]="true">
            </ff-timepicker>
          </div>

          <ff-form-error *ngIf="!form.controls.start_time.value" [field]="form" [messages]="formErrors.update_info"> </ff-form-error>
          <ff-form-error [field]="form" [messages]="formErrors.time_range"></ff-form-error>
          <div class="invalid-feedback" *ngIf="invalidStartHour">{{ 'SITES.ERROR_START_TIME' | translate }}</div>
        </div>
        <div class="col-2">
          <label for="end_time">{{ 'SITES.END_TIME' | translate }}</label>
          <div class="datepicker">
            <ff-timepicker id="start_time" formControlName="end_time" [showUnit]="[true, true, false]" [cancelButton]="true">
            </ff-timepicker>
          </div>

          <ff-form-error *ngIf="!form.controls.end_time.value" [field]="form" [messages]="formErrors.update_info"> </ff-form-error>
          <ff-form-error [field]="form" [messages]="formErrors.time_range"></ff-form-error>
          <div class="invalid-feedback" *ngIf="invalidEndHour">{{ 'SITES.ERROR_END_TIME' | translate }}</div>
        </div>
      </div>
      <!-- url_notificatión -->
      <div class="row form-group">
        <div>
          <label for="notification_url">
            {{ 'SITES.NOTIFICATION_URL' | translate }}
            {{ formConfig.notification_url.validators?.required ? '*' : '' }}
          </label>
          <input
            [placeholder]="'SITES.NOTIFICATION_URL' | translate"
            formControlName="notification_url"
            type="text"
            name="notification_url"
            id="notification_url"
            class="form-control"
            autocomplete="off"
          />

          <ff-form-error *ngIf="!form.controls.notification_url.value" [field]="form" [messages]="formErrors.update_info"> </ff-form-error>
        </div>
      </div>
    </div>

    <!--Promociones-->
    <div class="page-article pt-2" *ngIf="activatedAttribute === 'promotions'">
      <!--Descuento minimo-->
      <div class="row form-group">
        <div>
          <label for="minimum_discount">
            {{ 'SITES.PROMOTIONS.MINIMUM_DISCOUNT' | translate }}
            {{ formConfig.minimum_discount.validators?.required ? '*' : '' }}
          </label>
          <input
            [placeholder]="'SITES.PROMOTIONS.PLACEHOLDER_MINIMUM_DISCOUNT' | translate"
            formControlName="minimum_discount"
            type="text"
            maxlength="3"
            name="minimum_discount"
            id="minimum_discount"
            class="form-control"
            autocomplete="off"
            min="0"
          />

          <ff-form-error [field]="form.controls.minimum_discount" [messages]="formErrors.minimum_discount"></ff-form-error>
        </div>
      </div>
      <!--Logica promocional-->
      <div class="row form-group">
        <div>
          <label for="center_type">
            {{ 'SITES.PROMOTIONS.PROMOTIONAL_LOGIC' | translate }}
            {{ formConfig.promotional_logic.validators?.required ? '*' : '' }}
          </label>
          <input
            [placeholder]="'SITES.PROMOTIONS.PLACEHOLDER_PROMOTIONAL_LOGIC' | translate"
            formControlName="promotional_logic"
            type="text"
            name="fixed_center"
            id="promotional_logic"
            class="form-control"
            maxlength="2"
            autocomplete="off"
          />
          <ff-form-error [field]="form.controls.promotional_logic" [messages]="formErrors.promotional_logic"></ff-form-error>
        </div>
      </div>
      <!--Logica de precios-->
      <div class="row form-group">
        <div>
          <label for="price_logic">
            {{ 'SITES.PROMOTIONS.PRICE_LOGIC' | translate }}
            {{ formConfig.price_logic.validators?.required ? '*' : '' }}
          </label>
          <input
            [placeholder]="'SITES.PROMOTIONS.PLACEHOLDER_PRICE_LOGIC' | translate"
            formControlName="price_logic"
            maxlength="10"
            type="text"
            name="price_logic"
            id="price_logic"
            class="form-control"
            autocomplete="off"
          />
          <ff-form-error [field]="form.controls.price_logic" [messages]="formErrors.price_logic"></ff-form-error>
        </div>
      </div>
      <!--centros de precios de promociones-->

      <div class="row form-group">
        <ff-chips-control-select formControlName="price_centers" [config]="chipsConfig.price_centers"></ff-chips-control-select>
        <ff-form-error [field]="form.controls.price_centers" [messages]="formErrors.price_centers"></ff-form-error>
      </div>

      <div class="row form-group">
        <div>
          <label for="center_type">
            {{ 'SITES.PROMOTIONS.MODIFIED_PRICE_CENTERS' | translate }}
          </label>
          <input
            [placeholder]="'SITES.PROMOTIONS.PLACEHOLDER_MODIFIED_PRICE_CENTERS' | translate"
            formControlName="modified_price_center"
            type="text"
            name="modified_price_center"
            id="modified_price_center"
            class="form-control"
            autocomplete="off"
          />

          <ff-form-error [field]="form.controls.modified_price_center" [messages]="formErrors.modified_price_center"></ff-form-error>
        </div>
      </div>
    </div>

    <!-- Pedidos -->
    <div class="page-article pt-2" *ngIf="activatedAttribute === 'orders'">
      <!-- order_enterprise_code -->
      <div class="row form-group">
        <div>
          <label for="order_enterprise_code">
            {{ 'SITES.ORDER_ENTERPRISE_CODE' | translate }}
            {{ formConfig.order_enterprise_code.validators?.required ? '*' : '' }}
          </label>
          <input
            [placeholder]="'SITES.PLACEHOLDER_ORDER_ENTERPRISE_CODE' | translate"
            formControlName="order_enterprise_code"
            type="text"
            name="order_enterprise_code"
            id="order_enterprise_code"
            class="form-control"
            autocomplete="off"
          />
          <ff-form-error [field]="form.controls.order_enterprise_code" [messages]="formErrors.order_enterprise_code"></ff-form-error>
        </div>
      </div>

      <!-- order_fixed_center  -->
      <div class="row form-group">
        <div>
          <label for="order_fixed_center">
            {{ 'SITES.ORDER_FIXED_CENTER' | translate }}
            {{ formConfig.order_fixed_center.validators?.required ? '*' : '' }}
          </label>
          <input
            [placeholder]="'SITES.PLACEHOLDER_ORDER_FIXED_CENTER' | translate"
            formControlName="order_fixed_center"
            type="text"
            name="order_fixed_center"
            id="order_fixed_center"
            class="form-control"
            autocomplete="off"
          />
          <ff-form-error [field]="form.controls.order_fixed_center" [messages]="formErrors.order_fixed_center"></ff-form-error>
        </div>
      </div>

      <!-- order_channel -->
      <div class="row form-group">
        <div class="col-6 pl-0">
          <label for="order_channel">
            {{ 'SITES.ORDER_CHANNEL' | translate }}
            {{ formConfig.order_channel.validators?.required ? '*' : '' }}
          </label>
          <input
            [placeholder]="'SITES.PLACEHOLDER_ORDER_CHANNEL' | translate"
            formControlName="order_channel"
            type="text"
            name="order_channel"
            id="order_channel"
            class="form-control"
            autocomplete="off"
          />
          <ff-form-error [field]="form.controls.order_channel" [messages]="formErrors.order_channel"></ff-form-error>
        </div>
        <div class="col-6">
          <label for="order_sub_channel">
            {{ 'SITES.ORDER_SUB_CHANNEL' | translate }}
            {{ formConfig.order_sub_channel.validators?.required ? '*' : '' }}
          </label>
          <input
            [placeholder]="'SITES.PLACEHOLDER_ORDER_SUB_CHANNEL' | translate"
            formControlName="order_sub_channel"
            type="text"
            name="order_sub_channel"
            id="order_sub_channel"
            class="form-control"
            autocomplete="off"
          />
          <ff-form-error [field]="form.controls.order_sub_channel" [messages]="formErrors.order_sub_channel"></ff-form-error>
        </div>
      </div>

      <!-- order_business_line -->
      <div class="row form-group">
        <div>
          <label for="order_business_line">
            {{ 'SITES.ORDER_BUSINESS_LINE' | translate }}
            {{ formConfig.order_business_line.validators?.required ? '*' : '' }}
          </label>
          <input
            [placeholder]="'SITES.PLACEHOLDER_ORDER_BUSINESS_LINE' | translate"
            formControlName="order_business_line"
            type="text"
            name="order_business_line"
            id="order_business_line"
            class="form-control"
            autocomplete="off"
          />
          <ff-form-error [field]="form.controls.order_business_line" [messages]="formErrors.order_business_line"></ff-form-error>
        </div>
      </div>

      <!-- order_company_dvd -->
      <div class="row form-group">
        <div>
          <label for="order_company_dvd">
            {{ 'SITES.ORDER_COMPANY_DVD' | translate }}
            {{ formConfig.order_company_dvd.validators?.required ? '*' : '' }}
          </label>
          <input
            [placeholder]="'SITES.PLACEHOLDER_ORDER_COMPANY_DVD' | translate"
            formControlName="order_company_dvd"
            type="text"
            name="order_company_dvd"
            id="order_company_dvd"
            class="form-control"
            autocomplete="off"
          />
          <ff-form-error [field]="form.controls.order_company_dvd" [messages]="formErrors.order_company_dvd"></ff-form-error>
        </div>
      </div>

      <!-- order_channel_dvd -->
      <div class="row form-group">
        <div>
          <label for="order_channel_dvd">
            {{ 'SITES.ORDER_CHANNEL_DVD' | translate }}
            {{ formConfig.order_channel_dvd.validators?.required ? '*' : '' }}
          </label>
          <input
            [placeholder]="'SITES.PLACEHOLDER_ORDER_CHANNEL_DVD' | translate"
            formControlName="order_channel_dvd"
            type="text"
            name="order_channel_dvd"
            id="order_channel_dvd"
            class="form-control"
            autocomplete="off"
          />
          <ff-form-error [field]="form.controls.order_channel_dvd" [messages]="formErrors.order_channel_dvd"></ff-form-error>
        </div>
      </div>
      <!-- order_center_type -->
      <div class="row form-group">
        <div class="select-center-type">
          <label for="order_center_type">
            {{ 'SITES.ORDER_CENTER_TYPE' | translate }}
            {{ formConfig.order_center_type.validators?.required ? '*' : '' }}
          </label>
          <ng-select formControlName="order_center_type" id="order_center_type" name="order_center_type">
            <ng-option *ngFor="let type of centerTypes" [value]="type.value">
              {{ type.label }}
            </ng-option>
          </ng-select>
          <ff-form-error [field]="form.controls.order_center_type" [messages]="formErrors.order_center_type"></ff-form-error>
        </div>
      </div>
    </div>

    <!-- Invalidación de categorías -->
    <!-- excluded_categories -->
    <div class="page-article pt-2" *ngIf="activatedAttribute === 'excludedCategories'">
      <div class="row form-group">
        <ff-chips-control-select
          formControlName="excluded_categories"
          [required]="formConfig.excluded_categories.validators?.required"
          [config]="chipsConfig.excluded_categories"
        ></ff-chips-control-select>
        <ff-form-error [field]="form.controls.excluded_categories" [messages]="formErrors.excluded_categories"></ff-form-error>
      </div>
    </div>

    <!-- otros -->
    <div class="page-article pt-2" *ngIf="activatedAttribute === 'others'">
      <div class="row form-group row-switch">
        <!-- amount_printed -->
        <div class="col-4 pl-0">
          <div class="custom-control custom-switch">
            <input formControlName="amount_printed" type="checkbox" class="custom-control-input" id="amount_printed" />
            <label class="custom-control-label pointer lbl-switch" for="amount_printed">{{ 'SITES.AMOUNT_PRINTED' | translate }}</label>
          </div>
        </div>

        <!-- registered_user -->
        <div class="col-4">
          <div class="custom-control custom-switch">
            <input formControlName="registered_user" type="checkbox" class="custom-control-input" id="registered_user" />
            <label class="custom-control-label pointer lbl-switch" for="registered_user">{{ 'SITES.REGISTERED_USER' | translate }}</label>
          </div>
        </div>

        <!-- view_in_csc -->
        <div class="col-4">
          <div class="custom-control custom-switch">
            <input formControlName="view_in_csc" type="checkbox" class="custom-control-input" id="view_in_csc" />
            <label class="custom-control-label pointer lbl-switch" for="view_in_csc">{{ 'SITES.VIEW_IN_CSC' | translate }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
