<div class="file-input form-group">
  <input type="file" [id]="key" #input class="file" data-cy="management-upload-input" [accept]="acceptExt" />

  <label [for]="key">{{ 'COMMON.FILE' | translate }}</label>
  <div class="col-12 root">
    <div class="col-8 label">
      <p class="file-name" [ngClass]="{ 'file-bold': haveFile }">{{ fileName | translate }}</p>
    </div>
    <div class="col-4 button">
      <label [for]="key" data-cy="management-select-file-btn" class="file-label" [hidden]="haveFile">
        {{ 'COMMON.SELECT' | translate | uppercase }}
      </label>
      <div [hidden]="!haveFile" (click)="writeValue(null)">
        <em class="icon-cancel"></em>
      </div>
    </div>
  </div>
</div>
