@import 'src/theme/variables/variables';

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.file-input {
  margin-bottom: 10px;
}

.file-label {
  background: $black-4;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: $white-3;
  cursor: pointer;
  border-radius: 5px;
  font-size: 11px;
}

.root {
  display: flex;
  border: 1px solid $white-2;
  background-color: white;
  padding: 3px;
  margin-bottom: 5px;
  min-height: 35px;
}

em {
  float: right;
}

.file-name {
  color: $grey;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  line-height: 35px;
  font-family: $family-montserrat;
  font-size: 13px;
}

.label {
  display: table-cell;
  vertical-align: middle;
}

.file-bold {
  //    font-weight: bold;
  color: black;
}

.button {
  padding: 0;
}

.icon-cancel::before {
  font-size: 12px;
  line-height: 35px;
  margin-right: 10px;
}
