<div class="root">
  <div class="col-lg-7 title">
    <ng-container *ngIf="!loading">
      <h3>{{ title | translate }}</h3>
      <h3 class="results">( {{ 'COMMON.RESULTS_P' | translatePlural: { total: numberItems } }} )</h3>
    </ng-container>
  </div>
</div>
