.root {
  padding: 10px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
}

input {
  max-width: none;
}

.numberSearch {
  padding: 15px;
  padding-left: 25px;
  background-color: white;
  border-bottom: 1px solid #eeeeee;
  font-size: 14px;
}

.title {
  padding: 10px;
  font-size: 14px;
  color: #242424;
  h3 {
    display: contents;
  }
}

button {
  margin-left: -20px;
}

.div-button {
  padding-right: 0px;
}

.results {
  font-weight: normal;
}
