@import '../../../../../theme/variables/colors';
:host {
  display: block;
  padding: 0 2rem;
}
em {
  cursor: pointer;
  font-size: 25px;
}
.page-header {
  background-color: $white-4;
  margin: 0;
}
.first-item {
  padding-left: 23px;
}

.content-list {
  padding-left: 15px;
}
