<div class="page-header row">
  <div class="col">
    <h3>
      {{ !actions ? ('PROMOTIONS.REFERENCE' | translate) : ('PROMOTIONS.ACTIONS.NAME' | translate) }} ({{ page ? page.total_elements : 0 }})
    </h3>
  </div>
</div>
<ff-generic-list
  [route]="link"
  [loading]="loading"
  [list]="list"
  [page]="page"
  [canDelete]="canDelete"
  [routerFilter]="routerFilter"
  [arrayKeys]="arrayKeys"
  [stickyHeader]="true"
  (pagination)="pagination.emit($event)"
  [currentPage]="thisPage"
>
</ff-generic-list>
