@import 'src/theme/variables/variables';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  ::ng-deep {
    .highlight {
      color: $green;
      font-weight: bold;
    }
    .info {
      background: $white;
      color: $black-4;
      border-bottom: 1px solid $white-3;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;
      font-size: 11px;
      padding: 13px;
      font-style: italic;
      i {
        font-size: 20px;
        margin-right: 5px;
        transform: translateY(-7px);
        color: $orange-light;
        margin-bottom: -14px;
      }
    }
  }

  .searcher {
    min-height: 58px;
    max-height: 58px;
    flex: 1 1 58px;
    background-color: $white;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding: 0 10px;
    font-size: 12px;
    border-bottom: 1px solid $white-3;
    position: sticky;
    top: 0;
    z-index: 2;
    em {
      width: 24px;
      height: 24px;
      font-size: 22px;
      &.icon-cancel {
        pointer-events: all !important;
        cursor: pointer;
        &:hover {
          color: red;
        }
      }
      &.loading {
        &:after {
          content: ' ';
          display: block;
          width: 16px;
          height: 16px;
          margin: 2px;
          border-radius: 50%;
          border: 2px solid #337e34;
          border-color: #337e34 transparent #337e34 transparent;
          animation: loader 2s linear infinite;
        }
      }
      &:before {
        display: block;
      }
    }

    .searcher-wrapper {
      position: relative;
      display: flex;
      flex: 1 1 100%;
      z-index: 4;
      .cancel {
        position: absolute;
        right: 0;
        top: 2px;
        cursor: pointer;
      }
    }

    input {
      margin-right: 9px;
      border: none;
      min-width: 20px;
      font-size: 14px;
      flex: 1 1 100%;
      &:disabled {
        background: none;
      }
    }

    .filter {
      flex: 0 0 auto;

      margin-left: 9px;
      min-width: 1px;
      transition: all 0.4s ease-in-out;

      &.show {
        .dropdown-toggle:after {
          transform: translateY(-50%) rotate(0);
        }
      }
      &.hidden {
        opacity: 0;
      }

      .dropdown-toggle {
        background: none;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: inherit;
        border: none;
        text-transform: none;
        padding-right: 30px !important;
        padding-left: 0 !important;
        text-align: right;
        &:after {
          transition: all 0.3s ease-in-out;
          content: '';
          font-family: 'fontello';
          border: none;
          font-size: 19px;
          position: absolute;
          right: 5px;
          top: 50%;
          transform: translateY(-50%) rotate(-180deg);
        }
      }
      .dropdown-menu {
        font-size: 13px;
        border-radius: 2px;
        display: block;
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s ease-in-out;
        width: 250px;
        padding: 0;
        &.show {
          opacity: 1;
          pointer-events: all;
        }
        input {
          width: 100%;
          border-bottom: 1px solid $white-3;
          line-height: 40px;
          margin: 0;
          padding: 0 15px;
          top: 0;
        }
        > div {
          overflow: auto;
          max-height: 300px;
          overflow-x: hidden;

          .dropdown-item {
            line-height: 25px;
            color: $grey;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-left: 15px;
            padding-right: 15px;
            &:hover,
            &.selected {
              background: $green-white;
              color: inherit;
            }
          }
        }
      }
    }
  }

  .button-select {
    position: relative;
    float: right;
    margin: 15px;
  }

  .filtered {
    background: $white-4;
    border-bottom: 1px solid $white-3;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    padding: 0 17px;
    min-height: 40px;
    .label {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .cleaner {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-content: stretch;
      align-items: center;
      color: $dark_green;
      text-decoration: underline;
      cursor: pointer;
      .sep {
        height: 25px;
        width: 1px;
        background: $white-3;
        margin: 0 7px;
      }
    }
  }

  .multiple {
    .icon-icon-check {
      float: right;
    }
  }

  .tree {
    background: $white;
    //max-height: 100%;
    //min-height: 100%;
    overflow: auto;
    flex: 1 1 100%;
    .loading {
      align-items: center;
    }
  }
  &.horizontalScroll {
    .tree {
      > div {
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;
      }
    }
  }
}
