<div class="searcher" *ngIf="!hideSearch">
  <div class="searcher-wrapper">
    <input #searcher [placeholder]="searchPlaceholder | translate" (keydown.enter)="enterSearch()" (input)="input()" [disabled]="loading" />
    <em
      (click)="clear()"
      class="search-icon"
      [ngClass]="{
        'icon-cancel': !loading && searcher.value,
        'icon-search': !loading && !searcher.value,
        loading: loading
      }"
    ></em>
  </div>
  <div
    class="dropdown filter"
    [hidden]="!(!filterHidden && filterItems.length)"
    [ngClass]="{ show: filterOpen, hidden: !filterItems.length }"
  >
    <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" (click)="toggleFilter()">
      {{ 'EXPLODED_TREE.FILTER' | translate }}
    </button>
    <div class="dropdown-menu dropdown-menu-right" [ngClass]="{ show: filterOpen }" *ngIf="!filterMultiple">
      <input data-cy="exploded-tree-search-filter-input" [placeholder]="'EXPLODED_TREE.SEARCH_PRODUCT' | translate" #searcherProduct />
      <div #scroll>
        <a class="dropdown-item" *ngIf="!searcherProduct.value && !hiddenShowAll" (click)="clear()">{{
          'EXPLODED_TREE.FILTER_ALL' | translate
        }}</a>
        <ng-container *ngFor="let item of filterItems">
          <a
            class="dropdown-item"
            *ngIf="showFilterItem(item)"
            [attr.data-cy]="'exploded-tree-filter-item-' + item.value"
            [innerHTML]="item | highlight: searcherProduct.value"
            (click)="filter(item)"
            [ngClass]="{ selected: filterSelect === item || filterSeletMultiple.indexOf(item) >= 0 }"
          ></a>
        </ng-container>
      </div>
    </div>
    <div class="dropdown-menu dropdown-menu-right" [ngClass]="{ show: filterOpen }" *ngIf="filterMultiple">
      <div>
        <a class="dropdown-item" (click)="clear()">{{ 'EXPLODED_TREE.FILTER_ALL' | translate }}</a>
        <ng-container *ngFor="let item of filterItems">
          <a class="dropdown-item multiple" (click)="filter(item)" [ngClass]="{ selected: filterSeletMultiple.indexOf(item) >= 0 }">
            {{ item }}
            <em *ngIf="filterSeletMultiple.indexOf(item) >= 0" class="icon-icon-check"></em>
          </a>
        </ng-container>
      </div>
      <button type="button" data-cy="exploded-tree-select-btn" class="btn btn-primary button-select" (click)="filterOpen = false">
        {{ 'EXPLODED_TREE.SELECT' | translate }}
      </button>
    </div>
  </div>
</div>
<div class="filtered" *ngIf="filterValue && !hideSearch">
  <div class="label" data-toggle="tooltip" [title]="'EXPLODED_TREE.RESULTS' | translate: { filter: filterValue }">
    {{ 'EXPLODED_TREE.RESULTS' | translate: { filter: filterValue } }}
  </div>

  <div class="cleaner" data-cy="exploded-tree-clear-btn" (click)="clear()">
    <div class="sep"></div>
    <a>{{ 'EXPLODED_TREE.CLEAR' | translate }}</a>
  </div>
</div>
<ng-content select="[info]"></ng-content>
<ng-content select="[legend]"></ng-content>
<div class="tree">
  <ng-container *ngIf="!loading">
    <div *ngFor="let node of tree">
      <ff-exploded-tree-node
        [data]="node"
        [isRoot]="true"
        [cannotTruncated]="cannotTruncated"
        [collapsed]="rootCollapsed"
        (clickNode)="click($event)"
        [draggable]="draggable"
        [expanded]="expanded"
        [root]="this"
      >
      </ff-exploded-tree-node>
    </div>
  </ng-container>
  <div class="text-center pt-5 pb-5 loading" *ngIf="loading">
    <div class="loader"></div>
  </div>
</div>
