@import "src/theme/variables/variables";

// ------------
// ACCORDION

.panel-group {
  .panel {
    &.panel-open {
      .card {
        .card-header {
          border: none;
          &:before {
            transform: rotate(90deg);
          }
          &:after {
            transform: rotate(180deg);
          }
        }
      }
    }

    .card {
      border: none;
      border-radius: 0;

      .card-header {
        height: $accordion-header-height;
        display: flex;
        justify-content: left;
        align-items: center;
        border-radius: 0;
        background-color: $accordion-header-bg-color;
        padding-left: $accordion-header-padding-x;
        border-bottom: 1px solid $accordion-header-border-separator-color;
        border: 1px solid lightgray;
        border-left: none;
        border-right: none;
        padding: 2rem;
        position: relative;

        &:before,
        &:after {
          content: "";
          position: absolute;
          background-color: black;
          transition: transform 0.25s ease-out;
        }

        /* Vertical line */
      $size: 20px;
      $width:2px;
        &:before {
          left: 31px;
          width: $width;
          height: $size;
        }

        /* horizontal line */
        &:after {
          top: 31px;
          left: $size+$width;
          width: $size;
          height: $width;
        }


        .panel-title {
          .accordion-toggle {
            .btn {
              color: $black-4;
              font-size: 14px;
              font-weight: 600;
              padding: 0;

              &:hover,
              &:active,
              &:focus {
                text-decoration: none;
              }
            }
          }
        }
      }

      .panel-collapse {
        .panel-body {
          padding: 0;
        }
      }
    }
  }

  .form-section {
    .panel-title {
      .accordion-toggle {
        .btn {
          font-size: 12px !important;
        }
      }
    }
  }
}
