@import "src/theme/variables/alert-vars";

// ------------
// ALERT


.error-message {


  .text-error {

  }


}

.alert {
  background-color: #fff6e9;
  position: relative;
  border: none;

  padding: 17px 48px;
  color: #666666;
  font-size: 15px;
  font-weight: 500;

  em {
    left: 15px;
    top: 13px;
    position: absolute;
    font-size: 20px;
    color: #FFAB2B;
  }
}

.alert-danger {
  background-color: $bgcolor-alert-danger;
  color: $black-3;

  i, em {
    color: $red-delete;
  }
}

.alert-warning {
  background-color: transparentize($orange-light, 0.9);
  color: $black-3;
  font-weight: 300;
  font-size: 15px;

  em {
    color: $orange-light;
    font-size: 20px;
    position: absolute;
    left: 15px;
    top: 12px;
  }
}
