@import 'src/theme/variables/badges-vars';

.badge-light {
  color: $color-text-badges;
  background-color: $background-color-badges;
  border: 1px solid $color-border-badges;
  position: relative;

  em {
    position: absolute;
    font-size: 20px;
    color: $color-x-close-badges;
    top: 8px;
    right: 7px;

    &:hover {
      color: $color-x-close-badges-hover;
    }
  }
}

.badge-pill {
  margin-top: 13px;
  margin-right: 12px;
  border-radius: 21px;
  padding: 12px 37px 12px 18px;
}

.badge {
  cursor: pointer;
  font-weight: 400;

  &:hover {
    background-color: $background-color-badges-hover;
  }
  &.disabled {
    background-color: $background-color-badges-hover;
  }
}
