@import "src/theme/variables/button-vars";

// BOTONES


// BOTÓN VERDE

.btn-primary {
  background-color: $background-color-button-green;
  border-color: $border-color-button-green;
  color: $text-color-button-green;
  font-size: 14px;
  text-transform: uppercase;
  padding: 7px 20px;

  &:focus, &:hover, &:not(:disabled):not(.disabled):active, &:disabled {
    box-shadow: none !important;
    background-color: $background-color-button-green-hover;
    border-color: $border-color-button-green-hover;
  }
}

// ------------

// BOTÓN NEGRO

.btn-secondary, .btn-dark {
  background-color: $background-color-button-black;
  border-color: $border-color-button-black;
  color: $text-color-button-black;
  font-size: 12px;
  text-transform: uppercase;
  padding: 9px 20px;

  &:focus, &:hover, &:not(:disabled):not(.disabled):active, &:disabled {
    box-shadow: none !important;
    background-color: $background-color-button-black-hover;
    border-color: $border-color-button-black-hover;
  }
}

// ------------
// BOTÓN TRANSPARENTE

.btn-outline-primary {
  background-color: transparent;
  border: 2px solid $border-color-transparent-button;
  color: $text-color-transparent-button;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px 20px;

  &:focus, &:hover, &:not(:disabled):not(.disabled):active, &:disabled {
    box-shadow: none !important;
    background-color: transparent;
    border-color: $border-color-transparent-button-hover;
    color: $text-color-transparent-button-hover;
  }

}

// ------------
// BOTÓN BLANCO

.btn-light {
  background-color: $background-color-button-white;
  border-color: $border-color-white-button;
  color: $text-color-white-button;
  font-size: 14px;
  padding: 9px 20px;

  &:focus {
    box-shadow: none !important;
  }

  &:hover {
    background-color: $background-color-button-white-hover;
    border-color: $border-color-white-button-hover;
    color: $text-color-white-button-hover;
  }

  &:not(:disabled):not(.disabled):active {
    background-color: $background-color-button-white-active;
    border-color: $border-color-white-button-active;
    color: $text-color-white-button-active;
  }
}

// ------------
// BOTÓN DEL ICONO

.btn-info {
  background-color: $background-color-button-options;
  border-color: $border-color-options-button;

  .icon-options {
    color: $color-icon-button-options;
    font-size: 19px;
  }

  &:hover, &:focus, &:not(:disabled):not(.disabled):active {
    background-color: $background-color-button-options-hover;
    border-color: $border-color-button-options-hover;

    .icon-options {
      color: $color-icon-button-options-hover;
    }
  }
}

.btn-sm {
  padding-left: 18px !important;
  padding-right: 18px !important;
}

.btn-lg {
  padding-left: 42px !important;
  padding-right: 42px !important;
}

.btn {
  &.disable {
    opacity: 0.5;
    pointer-events: none;
  }
}

.btn-icon {
  padding-top: 0;
  padding-bottom: 0;

  em, i {
    vertical-align: middle;
    font-size: 23px;
  }
}
