@import "src/theme/variables/calendar-vars";

// **************
// CALENDAR

.bs-datepicker-multiple {
  &:last-child {
    border-left: 1px solid $color-vertical-line-to-separate-the-calendars-datepicker-multiple;
    margin-left: 10px;
    padding-left: 10px;
    border-radius: 0;
  }
}

.bs-datepicker-container {
  padding: 0;
}

.bs-datepicker {
  border: 1px solid $border-color-calendar;
  box-shadow: none;
}

.theme-green {
  .bs-datepicker-head {
    background-color: $background-color-header-calendar;

    button {
      color: $color-text-month-year-calendar;
      font-size: 14px;

      &:hover {
        background-color: $background-color-month-year-calendar-hover;
      }
    }

    button.current {
      border: 1px solid $border-color-text-month-year-calendar;
      border-radius: 0;
    }

  }

  .bs-datepicker-body {
    padding: 0;
    border: 0;

    table {

      td {
        color: $color-number-calendar;
        font-weight: 400;

        span {
          border-radius: 0;
        }

        span.selected {
          background-color: $background-color-day-selected;
          border: 2px solid $border-color-day-selected;
          color: $color-number-day-selected;
        }
      }

      td.week {
        span {
          display: none;
        }
      }

      td span.is-highlighted:not(.disabled):not(.selected) {
        background: $background-color-day-hover;
      }

      th {
        border-bottom: 2px solid $border-bottom-color-separation-months-and-days;
        border-top: 1px solid $border-color-separation-header-and-months;
        color: $color-text-days-calendar;
        font-size: 12px;
        font-weight: 600;
        padding-bottom: 10px;
        padding-top: 10px;
      }
    }

    table.days {
      span {
        font-size: 12px;
        border: 2px solid transparent;
        width: 40px;
        height: 40px;
        line-height: 37px;
      }

      span.in-range:not(.select-start):before {
        background: $background-color-date-range;
      }

    }
  }
}


.input-group > .input-group-append > .input-group-text {
  background-color: $background-color-input-icon-calendar !important;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding: 0 10px 0 10px;

  &:hover {
    em {
      color: $green;
    }
  }

  em {
    font-size: 21px;

  }
}
