@import "src/theme/variables/check-vars";

// ------------
// RADIO BUTTON

input[type="radio"] {
  border: 2px solid $border-color-radio-button;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  display: inline-block;
  content: " ";
  width: 24px;
  height: 24px;
  border-radius: 50px;
  margin-right: 10px;
}

input[type="radio"]:checked {
  // background: url('assets/images/radio-active.svg');
  background-repeat: no-repeat;
  background-size: 14px;
  background-position-x: center;
  background-position-y: center;
}

.form-check-label {
  color: $text-color-radio-button;
  cursor: pointer;
  font-size: 12px;

  &:hover {
    text-decoration: underline solid $color-text-decoration-radio-button-hover;
  }
}
