.page-header-collapse {
  cursor: pointer;
  padding-left: 35px;

  &::before {
    position: absolute;
    display: block;
    font-family: $family-icons;
    content: '\e825';
    color: $accordion-header-select-color;
    font-size: 18px;
    left: 15px;
    top: 47%;
    transform: translateY(-50%);
    transition: $transition-time;
    font-weight: 900;
  }
}

.page-header-collapse-open {
  &:before {
    transform: translateY(-50%) rotate(180deg);
  }
}
