@import "src/theme/variables/variables";

.hljs-keyword, .hljs-literal, .hljs-name, .hljs-section, .hljs-selector-class, .hljs-selector-id, .hljs-selector-tag, .hljs-type {
  font-weight: 700;
  color: #526ed3;
}

.hljs-string {
  color: #3aa981;
  font-weight: 700;
}

.hljs-meta {
  color: #e38162;
}

.hljs-subst, .hljs-title {
  font-weight: 400;
  color: #000;
}

.hljs {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 24px 32px;
  font-family: monospace;
  background-color: #f6f6f6;
  word-wrap: break-word;
  white-space: pre-wrap;
  display: block;
  overflow-x: auto;
}

.hljs-ln-numbers {
  vertical-align: top;
  opacity: .3;
  text-align: right;
  padding-right: 1em !important;
}

.hljs-comment {
  color: #ababab;
}
