@import 'src/theme/variables/variables';

// ------------
// INPUTS

label {
  font-size: 12px;
  color: $label-color-input;
  font-weight: 500;
}

input[type='text'],
input[type='number'],
textarea {
  padding-left: 12px;
  padding-right: 12px !important;
  background-color: $background-color-input;
  border: 1px solid $border-color-input;
  border-color: $border-color-input !important;
  color: $text-color-input;
  height: 42px;
  border-radius: 2px;
  max-width: 330px;
  font-size: 14px;
  + .input-group-append {
    z-index: 5;

    .input-group-text {
      border: 1px solid $border-color-input;
      transition: $transition-time;
    }
  }

  &.max-width {
    max-width: 100%;
  }

  &:hover,
  &:active,
  &:focus {
    border-color: $border-color-input-hover !important;

    + .input-group-append {
      .input-group-text {
        border-color: $border-color-input-hover !important;
      }
    }
  }

  &.ng-touched {
    &.ng-invalid {
      border: 1px solid $border-color-input !important;
      border-bottom: 1px solid $border-bottom-color-input-error !important;
      background-image: none;

      &:hover,
      &:active,
      &:focus {
        border: 1px solid $border-color-input !important;
        border-bottom: 1px solid $border-bottom-color-input-error !important;
      }

      + .input-group-append {
        z-index: 5;

        .input-group-text {
          border: 1px solid $border-color-input !important;
          border-bottom: 1px solid $border-bottom-color-input-error !important;
        }
      }
    }
  }

  &.is-invalid {
    border: 1px solid $border-color-input !important;
    border-bottom: 1px solid $border-bottom-color-input-error !important;
    background-image: none;

    &:hover,
    &:active,
    &:focus {
      border: 1px solid $border-color-input !important;
      border-bottom: 1px solid $border-bottom-color-input-error !important;
    }

    + .input-group-append {
      z-index: 5;

      .input-group-text {
        border: 1px solid $border-color-input !important;
        border-bottom: 1px solid $border-bottom-color-input-error !important;
      }
    }
  }

  &.no-border {
    border: none;
  }

  &::placeholder {
    color: $text-color-placeholder !important;
    font-size: 14px;
    font-weight: 100;
  }

  &:disabled,
  &:read-only {
    background-color: $background-color-input-disabled;
    border-color: $border-color-input-disabled !important;

    &:hover {
      border-color: $border-color-input-disabled !important;
    }
  }
}

.invalid-feedback {
  color: $color-text-input-error;
  font-size: 13px;
  font-weight: 500;
  display: block !important;
}

.form-control:disabled {
  background-color: $background-color-input-disabled;
  border-color: $border-color-input-disabled !important;

  &:hover {
    border-color: $border-color-input-disabled !important;
  }
}

.little-padding {
  padding-left: 5px;
  padding-right: 5px;
}

input[type='text'] {
  & + .search-icon {
    float: right;
    margin-top: -37px;
    margin-right: 10px;
    font-size: 21px;
    pointer-events: none;
  }
}

.group-start-input {
  padding-left: 12px;
  padding-right: 12px !important;
  background-color: $background-color-input;
  border: 1px solid $border-color-input;
  border-color: $border-color-input !important;
  color: $text-color-input;
  height: 42px;
  border-radius: 2px;
  max-width: 330px;
  font-size: 14px;
  line-height: 1.8rem;
  padding: 0.375rem 0.75rem;
  border-right: 0;
  background-color: $background-color-input-disabled;
  font-weight: 500;
}

@mixin inputAsText {
  border: none;
  background-color: transparent !important;
  padding-left: 0;
  padding-top: 0;
}
