.modal-lg {
  max-width: 980px !important;
}

.modal-w-100 {
  width: 100%;
}

.modal-600-w {
  max-width: 600px;
  width: 100%;
}

.modal-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) !important;
}
