@import "~@ng-select/ng-select/themes/default.theme.css";
@import "src/theme/variables/variables";

// ------------
// NG SELECT

.ng-select {

  &.is-invalid {
    .ng-select-container {
      border: 1px solid $border-color-input !important;
      border-bottom: 1px solid $border-bottom-color-input-error !important;
      background-image: none;

      &:hover, &:active, &:focus {
        border: 1px solid $border-color-input !important;
        border-bottom: 1px solid $border-bottom-color-input-error !important;
      }
    }
  }

  &.ng-select-opened {
    .ng-select-container {
      &:after {
        transform: translateY(-50%) rotate(-180deg);
      }
    }
  }

  .ng-select-container {
    border: 1px solid $select-border-color;
    border-radius: $select-radius;
    font-size: 14px;
    height: $select-height !important;
    padding: 0 $select-padding-x + 10px 0 $select-padding-x;
    position: relative;

    .ng-value-container {
      padding-left: 0;

      .ng-input {
        top: 50% !important;
        transform: translateY(-50%);
        padding-left: $select-padding-x !important;

        input {
          height: 100% !important;
          margin: 0 !important;
          padding: 0 !important;
        }
      }
    }

    &:after {
      display: block;
      content: "\e825";
      font-family: $family-icons;
      position: absolute;
      font-size: 18px;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      transition: $transition-time;
    }

    .ng-arrow-wrapper {
      display: none;
    }
  }

  .ng-dropdown-panel {
    font-size: 14px;
    width: auto;
  }

}
