@import "src/theme/variables/pagination-vars";

// PAGINACIÓN

.pagination {
  margin: 0;
  padding: 0;
}

// ir a la pagina anterior (el <)
.pagination-prev.page-item {
  .page-link {
    color: $color-icon-less-than;
    font-size: 21px;
    line-height: 0.9;
    background: transparent;
    height: 50px;
    padding: 1rem 1rem;
    font-weight: 400;
    border: none;

    &:hover {
      color: $color-icon-less-than-hover;
    }
  }

  &.disabled .page-link {
    display: none;
  }
}

// ir a la pagina siguiente (el >)
.pagination-next.page-item:last-child {
  .page-link {
    color: $color-icon-greater-than;
    font-size: 21px;
    line-height: 0.9;
    background: transparent;
    height: 50px;
    padding: 1rem 1rem;
    font-weight: 400;
    border: none;

    &:hover {
      color: $color-icon-greater-than-hover;
    }
  }

  &.disabled .page-link {
    display: none;
  }
}

.pagination-page.page-item {
  .page-link {
    background-color: $background-color-number-no-active;
    color: $color-text-no-selected;
    height: 50px;
    padding: 1rem 1rem;
    font-weight: 300;
    border: none;

    &:hover {
      background-color: $background-color-number-pagination-hover;
      color: $color-text-pagination-hover;
    }
  }

  &.active .page-link {
    background-color: $background-color-number-active;
    color: $color-text-selected;
  }
}
