@import "variables/variables";

.page-container {
  margin-top: -$header-height-page;
  position: relative;
  z-index: 2;
  height: calc(100vh - #{$height-header + $page-header-height - $header-height-page});
  overflow: auto;

  &.page-container-padding, .page-container-padding {
    padding: 0 $padding-page 0 $padding-page;
  }
}

.page-section {
  background-color: $white;
  border-radius: $border-radius-page;

  &.bg-gray {
    background-color: $white-4;
  }
}

.page-article {
  padding-left: $article-padding-page;
  padding-right: $article-padding-page;
}

.page-header {
  height: $header-height-page;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 $article-padding-page;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center;
}

.plus {
  background-color: $dark_green;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 21px;
  font-style: normal;
  color: $white !important;
}

.page-scroll-wrapper {
  width: 100%;
  overflow: hidden;
}

.page-scroll {
  height: calc(100vh - #{$height-header + $page-header-height});
  // width: calc(100% + 18px);
  // padding-right: 18px;
  margin-right: -15px;

  overflow-x: hidden;
  overflow-y: scroll;
}

.page-footer {
  padding: 24px 21px 19px;
  background-color: $white;
  border-radius: 0 0 6px 6px;
}

.page-container-long {
  margin-top: -$header-long-height-page;
  position: relative;
  z-index: 2;
  height: calc(100vh - #{$height-header } - 20px);
  overflow: hidden;

  &.page-container-padding, .page-container-padding {
    padding: 0 $padding-page 0 $padding-page;
  }
}

.page-container-long-section-right {
  margin-top: 17px;
  overflow-y: auto;
}

@media (max-width: 1575px) {
  .page-container {
    overflow: auto;
  }
}