@import "variables/variables";

select {

  -webkit-appearance: none;
  -moz-appearance: none;

  &.ng-touched {
    &.ng-invalid {
      border: 1px solid $border-color-input !important;
      border-bottom: 1px solid $border-bottom-color-input-error !important;
      background-image: none;

      &:hover, &:active, &:focus {
        border: 1px solid $border-color-input !important;
        border-bottom: 1px solid $border-bottom-color-input-error !important;
      }

      + .input-group-append {
        z-index: 5;

        .input-group-text {
          border: 1px solid $border-color-input !important;
          border-bottom: 1px solid $border-bottom-color-input-error !important;
        }
      }
    }
  }

  &.is-invalid {
    border: 1px solid $border-color-input !important;
    border-bottom: 1px solid $border-bottom-color-input-error !important;
    background-image: none !important;

    &:hover, &:active, &:focus {
      border: 1px solid $border-color-input !important;
      border-bottom: 1px solid $border-bottom-color-input-error !important;
    }
  }

  & + .select-dropdown {
    float: right;
    margin-top: -33px;
    margin-right: 5px;
    font-size: 18px;
    pointer-events: none;
  }

  &:required {
    &:invalid {
      color: $select-placeholder-color;
    }
  }

  &.form-control {
    border: 1px solid $select-border-color;
    border-radius: $select-radius;
    font-size: 14px;
    height: $select-height;
    padding: 0 $select-padding-x + 10px 0 $select-padding-x;

    &:active, &:focus {
      border: 1px solid $select-border-color;
    }
  }
}
