@import './variables/colors';

.custom-tab {
  font-size: 13px;
  line-height: 26px;

  &.disabled {
    cursor: not-allowed;
  }

  em.icon-tab {
    font-size: 18px;
    margin-right: 4px;
  }

  &:first-child {
    margin-left: auto;
  }

  &:last-child {
    margin-right: 5px;
  }

  a {
    color: $dark_green !important;
  }

  &.active,
  &:hover {
    em.icon-tab {
      color: $black;
    }

    a {
      border-color: $white-4 !important;
      background-color: $white-4 !important;
      color: $black-4 !important;
    }
  }
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: $dark_green;
  background-color: $white-4;
  // font-size: 13px;
  border-color: $white-4;
}

.nav-tabs {
  border-bottom: 1px solid $white-4;
  background-color: $white;
}
