@import "src/theme/variables/table-vars";

// TABLA

.table {
  background-color: $background-color-table;

  thead {
    tr {
      height: 60px;
      border-bottom: 1px solid $border-bottom-table-color-th;

      th {
        cursor: pointer;
        color: $color-text-table-th;
        font-weight: 500;
        font-size: 13px;
        letter-spacing: -0.5px;
        vertical-align: middle;
        padding-right: 5px;
        border: none;

        &:first-child {
          padding-left: 23px;
        }

        em {
          display: none;

          &.icon-sort-table-up {
            font-size: 10px;
            color: $color-icon-table-th;
            padding-left: 5px;
          }
        }

        &:hover {
          em.icon-sort-table-up {
            color: $color-icon-table-th-hover;
          }
        }
      }
    }
  }

  tbody {
    tr {
      height: 62px;
      border-bottom: 1px solid $border-bottom-color-table-td;

      &:hover {
        background-color: $background-color-table-tr-hover;
      }

      td {
        color: $color-text-table-td;
        font-weight: 400;
        font-size: 12px;
        vertical-align: middle;

        .icon-view {
          cursor: pointer;
          font-size: 25px;
          color: $grey;

          &:hover {
            color: $green;
          }
        }

        .icon-trash {
          cursor: pointer;
          font-size: 20px;
          color: $grey;

          &:hover {
            color: $red-delete;
          }
        }

        .icon-three-point-options {
          cursor: pointer;
          font-size: 20px;
          color: $grey;

          &:hover {
            color: $green;
          }
        }

        .icon-dulpicate {
          cursor: pointer;
          font-size: 20px;
          color: $grey;

          &:hover {
            color: $green;
          }
        }

        .icon-pencil {
          cursor: pointer;
          font-size: 20px;
          color: $grey;

          &:hover {
            color: $green;
          }
        }

        .icon-download {
          cursor: pointer;
          font-size: 20px;
          color: $grey;

          &:hover {
            color: $green;
          }
        }

        .icon-config {
          cursor: pointer;
          font-size: 20px;
          color: $grey;

          &:hover {
            color: $red-delete;
          }
        }

      }
    }
  }


}


