@import "src/theme/variables/variables";

// ------------
// TIMEPICKER

timepicker {
  &.is-invalid {
    input {
      border: 1px solid $border-color-input !important;
      border-bottom: 1px solid $border-bottom-color-input-error !important;
      background-image: none;

      &.is-invalid {
        padding-right: initial;
      }
    }
  }
}
