@import 'src/theme/variables/toast-vars';

// ------------
// TOAST

.toast-container {
  // max-width: 550px;
  max-width: calc(100% - 220px);
  width: 100%;
  top: 25px;

  a {
    color: black !important;
    text-decoration: underline !important;
  }

  .ngx-toastr {
    width: 100%;
    box-shadow: none;
    border: none;
    border-radius: 0;
    color: $toast-text-color;

    .toast-message {
      font-size: 15px;
      line-height: 20px;
    }

    .toast-title {
      font-size: 15px;
    }

    .toast-close-button {
      width: 12px;
      height: 12px;
      right: auto;
      top: auto;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.273 6l3.846-3.846.793-.793a.3.3 0 000-.424l-.848-.849a.3.3 0 00-.425 0L6 4.728 1.36.087a.3.3 0 00-.423 0l-.85.848a.3.3 0 000 .425L4.728 6l-4.64 4.638a.3.3 0 000 .425l.85.848a.3.3 0 00.424 0L6 7.273l3.845 3.846.793.793a.3.3 0 00.425 0l.848-.848a.3.3 0 000-.425L7.273 6z' fill='%23242424' fill-rule='nonzero'/%3E%3C/svg%3E");

      span {
        display: none;
      }
    }

    &.toast-info {
      background-color: $toast-bg-info;
    }

    &.toast-success {
      background-color: $toast-bg-success;
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.491.168L6.206 13.537 1.509 8.81a.567.567 0 00-.805 0l-.537.54a.576.576 0 000 .81l5.636 5.672a.567.567 0 00.805 0L20.833 1.518a.576.576 0 000-.81l-.537-.54a.567.567 0 00-.805 0z' fill='%234FA04F' fill-rule='nonzero'/%3E%3C/svg%3E");
    }

    &.toast-warning {
      background-color: $toast-bg-warning;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.381 5.625h1.233a.21.21 0 01.208.218l-.26 6.89a.211.211 0 01-.208.204h-.712a.209.209 0 01-.209-.203l-.26-6.891a.21.21 0 01.208-.218zM10 13.641a.977.977 0 00-.972.984c0 .545.434.984.972.984.539 0 .973-.44.973-.984a.977.977 0 00-.973-.984zm9.775 1.828L11.444.844a1.658 1.658 0 00-2.889 0L.225 15.469C-.415 16.59.385 18 1.669 18h16.664c1.278 0 2.084-1.406 1.441-2.531zm-1.44 1.406H1.665a.564.564 0 01-.483-.844L9.517 1.406a.552.552 0 01.962 0l8.333 14.625a.562.562 0 01-.479.844z' fill='%23FFAB2B' fill-rule='evenodd'/%3E%3C/svg%3E");
      background-size: 20px;
    }

    &.toast-error {
      background-color: $toast-bg-error;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.381 5.625h1.233a.21.21 0 01.208.218l-.26 6.89a.211.211 0 01-.208.204h-.712a.209.209 0 01-.209-.203l-.26-6.891a.21.21 0 01.208-.218zM10 13.641a.977.977 0 00-.972.984c0 .545.434.984.972.984.539 0 .973-.44.973-.984a.977.977 0 00-.973-.984zm9.775 1.828L11.444.844a1.658 1.658 0 00-2.889 0L.225 15.469C-.415 16.59.385 18 1.669 18h16.664c1.278 0 2.084-1.406 1.441-2.531zm-1.44 1.406H1.665a.564.564 0 01-.483-.844L9.517 1.406a.552.552 0 01.962 0l8.333 14.625a.562.562 0 01-.479.844z' fill='%23FF0032' fill-rule='nonzero'/%3E%3C/svg%3E");
      background-size: 20px;
    }
  }
}

.modal-select-component {
  max-width: 980px;
  width: 50.92vw;
  top: 30px;
  left: 24.53vw !important;
}
