@import "src/theme/variables/toggle-vars";

// TOGGLE
.custom-switch {
  padding-left: 0;
  padding-right: $toggle-width + $toggle-margin-to-label;
  line-height: $toggle-height;
  min-height: $toggle-height;

  &.switch-left {
    padding-right: 0;
    padding-left: 47px;

    .custom-control-label {
      // margin-left: $toggle-width + $toggle-margin-to-label;
      font-size: 14px;

      &:before {
        top: 0;
        margin-right: $toggle-width + $toggle-margin-to-label;
        left: -47px;
      }

      &:after {
        top: 0;
        right: 0;
        left: -47px;
      }
    }
  }

  .custom-control-input {
    &:focus {
      ~ .custom-control-label {
        &:before {
          box-shadow: none;
        }
      }
    }

    &:checked {
      ~ .custom-control-label {
        &:before {
          background-color: $toggle-bg;
        }

        &:after {
          transform: translateX($toggle-width - $toggle-height);
          background-color: $toggle-ball-bg-active;
        }
      }
    }

    &:disabled {
      ~ .custom-control-label {
        &:before {
          background-color: $toggle-bg-disabled !important;
        }

        &:after {
          //          transform: translateX($toggle-width - $toggle-height);
          background-color: $toggle-ball-bg-disabled;
        }
      }
    }
  }

  .custom-control-label {
    font-size: 14px;

    &:before {
      top: 0;
      right: -$toggle-width - $toggle-margin-to-label;
      left: auto;
      width: $toggle-width;
      height: $toggle-height;
      border-radius: $toggle-radius;
      background-color: $toggle-bg;
      border: none;
    }

    &:after {
      top: 0;
      border-radius: 50%;
      transform-origin: 0 50%;
      right: -$toggle-width + $toggle-margin-to-label;
      left: auto;
      width: $toggle-height;
      height: $toggle-height;
    }
  }
}

