@import 'src/theme/variables/colors';

// ------------
// TOOLTIP

.tooltip {
  opacity: 1 !important;
  position: absolute !important;

  &.bs-tooltip-bottom {
    .arrow {
      &:before {
        border-bottom-color: $grey-5 !important;
      }
    }
  }

  &.bs-tooltip-top {
    .arrow {
      &:before {
        border-top-color: $grey-5 !important;
      }
    }
  }

  &.bs-tooltip-left {
    .arrow {
      &:before {
        border-left-color: $grey-5 !important;
      }
    }
  }

  &.bs-tooltip-right {
    .arrow {
      &:before {
        border-right-color: $grey-5 !important;
      }
    }
  }

  .tooltip-inner {
    opacity: 1 !important;
    background-color: $white !important;
    border: 1px solid $grey-5 !important;
    color: $grey !important;
    max-width: 600px !important;
  }
}
