.icon-icon-asterisk:before {
  content: '\e800';
} /* '' */
.icon-icon-alertactive:before {
  content: '\e801';
} /* '' */
.icon-icon-binoculars:before {
  content: '\e802';
} /* '' */
.icon-icon-book:before {
  content: '\e803';
} /* '' */
.icon-icon-box:before {
  content: '\e804';
} /* '' */
.icon-icon-calendar:before {
  content: '\e805';
} /* '' */
.icon-icon-multiply:before {
  content: '\e806';
} /* '' */
.icon-icon-check:before {
  content: '\e807';
} /* '' */
.icon-icon-closed-parenthesis:before {
  content: '\e808';
} /* '' */
.icon-icon-closed-quotes:before {
  content: '\e809';
} /* '' */
.icon-icon-config:before {
  content: '\e80a';
} /* '' */
.icon-icon-dashboard:before {
  content: '\e80b';
} /* '' */
.icon-icon-divide:before {
  content: '\e80c';
} /* '' */
.icon-icon-minus-mini:before {
  content: '\e80d';
} /* '' */
.icon-icon-enter:before {
  content: '\e80e';
} /* '' */
.icon-icon-house:before {
  content: '\e80f';
} /* '' */
.icon-icon-keyboard:before {
  content: '\e810';
} /* '' */
.icon-icon-list:before {
  content: '\e811';
} /* '' */
.icon-icon-flow-tree:before {
  content: '\e812';
} /* '' */
.icon-auditorias:before {
  content: '\e813';
} /* '' */
.icon-icon-envio-method:before {
  content: '\e816';
} /* '' */
.icon-icon-gastos-envio:before {
  content: '\e817';
} /* '' */
.icon-icon-warning:before {
  content: '\e818';
} /* '' */
.icon-icon-log-out:before {
  content: '\e81a';
} /* '' */
.icon-icon-maletin:before {
  content: '\e81b';
} /* '' */
.icon-icon-open-parenthesis:before {
  content: '\e81c';
} /* '' */
.icon-icon-open-quotes:before {
  content: '\e81d';
} /* '' */
.icon-icon-options:before {
  content: '\e81e';
} /* '' */
.icon-icon-page:before {
  content: '\e81f';
} /* '' */
.icon-icon-phone:before {
  content: '\e820';
} /* '' */
.icon-icon-plus:before {
  content: '\e821';
} /* '' */
.icon-icon-post-letter:before {
  content: '\e822';
} /* '' */
.icon-icon-promotions:before {
  content: '\e823';
} /* '' */
.icon-icon-search:before {
  content: '\e824';
} /* '' */
.icon-icon-sort-table-up:before {
  content: '\e825';
} /* '' */
.icon-icon-select-right:before {
  content: '\e826';
} /* '' */
.icon-icon-shopping-bag:before {
  content: '\e827';
} /* '' */
.icon-icon-space-bar:before {
  content: '\e828';
} /* '' */
.icon-icon-t-shirt:before {
  content: '\e829';
} /* '' */
.icon-icon-three-line-move:before {
  content: '\e82a';
} /* '' */
.icon-icon-three-point-options:before {
  content: '\e82b';
} /* '' */
.icon-icon-trash:before {
  content: '\e82c';
} /* '' */
.icon-icon-truck:before {
  content: '\e82d';
} /* '' */
.icon-icon-two-lines:before {
  content: '\e82e';
} /* '' */
.icon-icon-user:before {
  content: '\e82f';
} /* '' */
.icon-icon-users:before {
  content: '\e830';
} /* '' */
.icon-icon-view-off:before {
  content: '\e831';
} /* '' */
.icon-icon-view:before {
  content: '\e832';
} /* '' */
.icon-icon-alert-warning:before {
  content: '\e833';
} /* '' */
.icon-icon-select-down:before {
  content: '\e834';
} /* '' */
.icon-icon-pencil:before {
  content: '\e835';
} /* '' */
.icon-icon-duplicate:before {
  content: '\e836';
} /* '' */
.icon-icon-language:before {
  content: '\e837';
} /* '' */
.icon-icon-file:before {
  content: '\e838';
} /* '' */
.icon-icon-tienda-add:before {
  content: '\e83b';
} /* '' */
.icon-icon-destinos:before {
  content: '\e83c';
} /* '' */
.icon-icon-producto:before {
  content: '\e83d';
} /* '' */
.icon-icon-plus-copy:before {
  content: '\e840';
} /* '' */
.icon-icon-tienda-mini:before {
  content: '\e841';
} /* '' */
.icon-icon-flow-tree-1:before {
  content: '\e842';
} /* '' */
.icon-icon-csv-download:before {
  content: '\e843';
} /* '' */
.icon-icon-mk-crosselling:before {
  content: '\e844';
} /* '' */
.icon-icon-download:before {
  content: '\e845';
} /* '' */
.icon-icon-tienda:before {
  content: '\e846';
} /* '' */
.icon-icon-advanced:before {
  content: '\e847';
} /* '' */
.icon-icon-marketplace:before {
  content: '\e848';
} /* '' */
.icon-icon-cancel:before {
  content: '\e849';
} /* '' */
.icon-icon-tiendas-menu:before {
  content: '\e84b';
} /* '' */
.icon-icon-salto-de-linea:before {
  content: '\e84c';
} /* '' */
.icon-icon-cierra-parentesis:before {
  content: '\e84d';
} /* '' */
.icon-icon-barra:before {
  content: '\e84e';
} /* '' */
.icon-icon-seccion-con-linea:before {
  content: '\e84f';
} /* '' */
.icon-icon-texto-libre:before {
  content: '\e850';
} /* '' */
.icon-icon-espacio:before {
  content: '\e851';
} /* '' */
.icon-icon-comillas:before {
  content: '\e852';
} /* '' */
.icon-icon-abre-parentesis:before {
  content: '\e853';
} /* '' */
.icon-icon-simbolo-asterisco:before {
  content: '\e854';
} /* '' */
.icon-icon-medios:before {
  content: '\e855';
} /* '' */
.icon-icon-auditoria:before {
  content: '\e856';
} /* '' */
.icon-icon-linea-divisoria:before {
  content: '\e857';
} /* '' */
.icon-icon-ayuda:before {
  content: '\e858';
} /* '' */
.icon-icon-plus-max:before {
  content: '\e859';
} /* '' */
.icon-icon-plus-mini:before {
  content: '\e85a';
} /* '' */
.icon-icon-marcas:before {
  content: '\e85b';
} /* '' */
.icon-icon-point:before {
  content: '\e85c';
} /* '' */
.icon-icon-tipoprod:before {
  content: '\e85d';
} /* '' */
.icon-icon-sort-up:before {
  content: '\e85e';
} /* '' */
.icon-icon-mail:before {
  content: '\e85f';
} /* '' */
.icon-icon-dividing-line:before {
  content: '\e860';
} /* '' */
.icon-icon-check-peq:before {
  content: '\e861';
} /* '' */
.icon-icon-folder-closed:before {
  content: '\e862';
} /* '' */
.icon-cuadro-de-mando:before {
  content: '\e868';
} /* '' */
.icon-icon-folder:before {
  content: '\e878';
} /* '' */
.icon-icon-atributos:before {
  content: '\e879';
} /* '' */
.icon-icon-agrupaciones:before {
  content: '\e87a';
} /* '' */
.icon-icon-flow-tree-subsite:before {
  content: '\e88d';
} /* '' */
.icon-icon-sites:before {
  content: '\e88e';
} /* '' */
.icon-icon-simbolo-x:before {
  content: '\e896';
} /* '' */
.icon-filter:before {
  content: '\e8c6';
} /* '' */
.icon-icon-multiple:before {
  content: '\e8cb';
} /* '' */
.icon-trash-2:before {
  content: '\e8cc';
} /* '' */
.icon-sitemap:before {
  content: '\e8cf';
} /* '' */
.icon-filter-type:before {
  content: '\e8d2';
} /* '' */
.icon-icon-consulta-regla:before {
  content: '\e8d8';
} /* '' */
.icon-icon-mk-vendor:before {
  content: '\e923';
} /* '' */
.icon-icon-atributos-1:before {
  content: '\e948';
} /* '' */
.icon-stop-hand:before {
  content: '\e8d6';
} /* '' */
.icon-arrowup:before {
  content: '\e8d3';
} /* '' */
.icon-icon-included:before {
  content: '\e86d';
}
.icon-icon-excluded:before {
  content: '\e86c';
}
.icon-history-list:before {
  content: '\e86e';
}
.icon-folder-new:before {
  content: '\e86f';
}
.icon-pencil:before {
  content: '\e870';
}
