@font-face {
  font-family: 'fontello';
  src: url('../assets/fonts/icons/fontello.eot');
  src: url('../assets/fonts/icons/fontello.eot') format('embedded-opentype'),
  url('../assets/fonts/icons/fontello.woff2') format('woff2'),
  url('../assets/fonts/icons/fontello.woff') format('woff'),
  url('../assets/fonts/icons/fontello.ttf') format('truetype'),
  url('../assets/fonts/icons/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?40954919#fontello') format('svg');
  }
}
*/
[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'fontello', sans-serif;
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-asterisk:before {
  content: '\e800';
}

/* '' */
.icon-bell:before {
  content: '\e801';
}

/* '' */
.icon-binoculars:before {
  content: '\e802';
}

/* '' */
.icon-book:before {
  content: '\e803';
}

/* '' */
.icon-box:before {
  content: '\e804';
}

/* '' */
.icon-calendar:before {
  content: '\e805';
}

/* '' */
.icon-cancel:before {
  content: '\e806';
}

/* '' */
.icon-check:before {
  content: '\e807';
}

/* '' */
.icon-closed-parenthesis:before {
  content: '\e808';
}

/* '' */
.icon-closed-quotes:before {
  content: '\e809';
}

/* '' */
.icon-config:before {
  content: '\e80a';
}

/* '' */
.icon-dashboard:before {
  content: '\e80b';
}

/* '' */
.icon-divide:before {
  content: '\e80c';
}

/* '' */
.icon-dividing-line:before {
  content: '\e80d';
}

/* '' */
.icon-enter:before {
  content: '\e80e';
}

/* '' */
.icon-house:before {
  content: '\e80f';
}

/* '' */
.icon-keyboard:before {
  content: '\e810';
}

/* '' */
.icon-list:before {
  content: '\e811';
}

/* '' */
.icon-loader-1:before {
  content: '\e812';
}

/* '' */
.icon-loader-2:before {
  content: '\e813';
}

/* '' */
.icon-loader-3:before {
  content: '\e814';
}

/* '' */
.icon-loader-4:before {
  content: '\e815';
}

/* '' */
.icon-loader-5:before {
  content: '\e816';
}

/* '' */
.icon-loader-6:before {
  content: '\e817';
}

/* '' */
.icon-loader-7:before {
  content: '\e818';
}

/* '' */
.icon-loader-8:before {
  content: '\e819';
}

/* '' */
.icon-log-out:before {
  content: '\e81a';
}

/* '' */
.icon-multiply:before {
  content: '\e81b';
}

/* '' */
.icon-open-parenthesis:before {
  content: '\e81c';
}

/* '' */
.icon-open-quotes:before {
  content: '\e81d';
}

/* '' */
.icon-options:before {
  content: '\e81e';
}

/* '' */
.icon-page:before {
  content: '\e81f';
}

/* '' */
.icon-phone:before {
  content: '\e820';
}

/* '' */
.icon-plus:before {
  content: '\e821';
}

/* '' */
.icon-post-letter:before {
  content: '\e822';
}

/* '' */
.icon-promotions:before {
  content: '\e823';
}

/* '' */
.icon-search:before {
  content: '\e824';
}

/* '' */
.icon-select-down:before {
  content: '\e825';
}

/* '' */
.icon-select-right:before {
  content: '\e826';
}

/* '' */
.icon-shopping-bag:before {
  content: '\e827';
}

/* '' */
.icon-space-bar:before {
  content: '\e828';
}

/* '' */
.icon-t-shirt:before {
  content: '\e829';
}

/* '' */
.icon-three-line-move:before {
  content: '\e82a';
}

/* '' */
.icon-three-point--options:before {
  content: '\e82b';
}

/* '' */
.icon-trash {
  font-size: 24px;
}
.icon-trash:before {
  content: '\e82c';
}

/* '' */
.icon-truck:before {
  content: '\e82d';
}

/* '' */
.icon-two-lines:before {
  content: '\e82e';
}

/* '' */
.icon-user:before {
  content: '\e82f';
}

/* '' */
.icon-users:before {
  content: '\e830';
}

/* '' */
.icon-view-off:before {
  content: '\e831';
}

/* '' */
.icon-view {
  font-size: 24px;
}
.icon-view:before {
  content: '\e832';
}

/* '' */
.icon-warning:before {
  content: '\e833';
}

/* '' */
.icon-sort-table-up:before {
  content: '\e834';
}

/* '' */
.icon-pencil:before {
  content: '\e835';
}

/* '' */
.icon-duplicate:before {
  content: '\e836';
}

/* '' */
.icon-alertactive:before {
  content: '\e837';
}

/* '' */
.icon-file:before {
  content: '\e838';
}

/* '' */
.icon-tienda-mini:before {
  content: '\e83c';
}

/* '' */
.icon-producto:before {
  content: '\e83d';
}

/* '' */
.icon-plus-copy:before {
  content: '\e83e';
}

/* '' */
.icon-flow-tree-1:before {
  content: '\e83f';
}

/* '' */
.icon-tienda-add:before {
  content: '\e840';
}

/* '' */
.icon-maletin:before {
  content: '\e841';
}

/* '' */
.icon-flow-tree:before {
  content: '\e842';
}

/* '' */
.icon-csv-download:before {
  content: '\e843';
}

/* '' */
.icon-mk-crosselling:before {
  content: '\e844';
}

/* '' */
.icon-download:before {
  content: '\e845';
}

/* '' */
.icon-salto-de-linea:before {
  content: '\e84c';
}

/* '' */
.icon-cierra-parentesis:before {
  content: '\e84d';
}

/* '' */
.icon-barra:before {
  content: '\e84e';
}

/* '' */
.icon-seccion-con-linea:before {
  content: '\e84f';
}

/* '' */
.icon-texto-libre:before {
  content: '\e850';
}

/* '' */
.icon-espacio:before {
  content: '\e851';
}

/* '' */
.icon-comillas:before {
  content: '\e852';
}

/* '' */
.icon-abre-parentesis:before {
  content: '\e853';
}

/* '' */
.icon-simbolo-asterisco:before {
  content: '\e854';
}

/* '' */
.icon-folder:before {
  content: '\e878';
}

/* '' */
.icon-atributos:before {
  content: '\e879';
}

/* '' */
.icon-agrupaciones:before {
  content: '\e87a';
}

/* '' */
.icon-flow-tree-subsite:before {
  content: '\e88d';
}

/* '' */
.icon-sites:before {
  content: '\e88e';
}

/* '' */
.icon-simbolo-x:before {
  content: '\e896';
}

/* '' */
.icon-tienda:before {
  content: '\e8d7';
}

/* '' */
.icon-consulta-regla:before {
  content: '\e8d8';
}

/* '' */
.icon-mk-vendor:before {
  content: '\e923';
}

/* '' */
.icon-atributos-1:before {
  content: '\e948';
}

.icon-language:before {
  content: '\e812';
}


.icon-stop-hand:before { 
  content: '\e8d6'; 
} /* '' */