<ff-modal-header [title]="'COMMON_MODALS.CLONE_TITLE' | translate" (closeMe)="closeModal()"></ff-modal-header>

<div class="error-message" *ngIf="errorMessage">
  <em class="icon-warning"></em>
  <div class="text-error">
    {{ errorMessage | translate }}
  </div>
</div>

<div class="content-message">
  <div class="action-circle">
    <em class="icon-duplicate" *ngIf="!loading"></em>
    <div class="loader" *ngIf="loading"></div>
  </div>

  <div class="text">
    <div class="form-group">
      <label for="name">{{ 'NAME' | translate }} *</label>
      <input
        [placeholder]="'NAME' | translate"
        [class.is-invalid]="isMessageError"
        type="text"
        id="name"
        class="form-control"
        autocomplete="off"
        (input)="onChangeName($event)"
      />
      <div class="invalid-feedback" *ngIf="isMessageError">
        <!-- TODO Traducir -->
        El nombre es requerido
      </div>
    </div>
    <span *ngIf="name">
      {{ 'COMMON_MODALS.CLONE_TITLE_BODY_1' | translate }}<span> “{{ item.name }}” </span>
    </span>
  </div>
</div>

<ff-modal-footer>
  <div class="content-buttons row">
    <div class="button-cancel col-6">
      <button (click)="handleCancel()" [disabled]="loading" type="button" class="btn btn-outline-primary btn-sm">
        {{ 'MODAL_DELETE.CANCEL' | translate }}
      </button>
    </div>

    <div class="button-continue col-6">
      <button (click)="handleConfirm()" [disabled]="loading" type="button" class="btn btn-primary btn-lg">
        <em *ngIf="loading" class="loading-icon"></em>
        <span *ngIf="!errorMessage"> {{ 'MODAL_DELETE.CONTINUE' | translate }}</span>
        <span *ngIf="errorMessage"> {{ 'MODAL_DELETE.TRY_AGAIN' | translate }}</span>
      </button>
    </div>
  </div>
</ff-modal-footer>
