@import '../../../../../../theme/variables/colors';

:host {
  .show-products {
    color: $green;
    font-size: 12px;
    vertical-align: middle;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 14px;
  }

  .page-section {
    background-color: $white;
    margin-bottom: 50px;

    .title {
      color: $black-4;
      font-size: 14px;
      font-weight: 600;
      padding: 26px;
    }

    .page-content {
      background-color: $white-4;
      padding: 30px 38px;

      .form-container {
        max-width: 580px;

        .row {
          margin-left: -5px;
          margin-right: -5px;

          .col {
            padding-left: 5px;
            padding-right: 5px;
          }
        }

        .btn {
          margin-top: 32px;
          white-space: nowrap;
        }
      }

      .tree-container {
        padding: 23px;

        .title {
          padding-bottom: 15px;
          padding-left: 0;
          text-transform: uppercase;
        }

        ::ng-deep {
          .ff-ui-tree-list {
            .item-list {
              height: 540px;
              overflow-y: auto;
            }
          }
        }
      }
    }

    .footer {
      padding: 22px;
      text-align: right;
    }
  }
}
