<div class="page-section bg-gray">
  <div class="text-center pt-5 pb-5" *ngIf="loading">
    <div class="loader"></div>
  </div>

  <div class="title">
    {{ 'MARKETPLACE.CATEGORIES.INDIVIDUAL_MANAGEMENT.SUBTITLE' | translate }}
  </div>

  <div class="page-content">
    <div class="form-container">
      <form [formGroup]="form" (ngSubmit)="search()">
        <div class="row">
          <!-- Tipo de categoria -->
          <div class="col">
            <label>
              {{ 'MARKETPLACE.CATEGORIES.INDIVIDUAL_MANAGEMENT.CATEGORY_TYPE' | translate }}
            </label>
            <ng-select formControlName="category">
              <ng-option value="valor-1">Valor 1</ng-option>
              <ng-option value="valor-2">Valor 2</ng-option>
              <ng-option value="valor-3">Valor 3</ng-option>
            </ng-select>
            <ff-form-error [field]="form.controls.category" [messages]="formErrors.category"></ff-form-error>
          </div>

          <!-- Site -->
          <div class="col">
            <label>
              {{ 'MARKETPLACE.CATEGORIES.INDIVIDUAL_MANAGEMENT.SITE' | translate }}
            </label>
            <ng-select formControlName="site">
              <ng-option value="valor-1">Valor 1</ng-option>
              <ng-option value="valor-2">Valor 2</ng-option>
              <ng-option value="valor-3">Valor 3</ng-option>
            </ng-select>
            <ff-form-error [field]="form.controls.site" [messages]="formErrors.site"></ff-form-error>
          </div>

          <div class="col">
            <button class="btn btn-secondary mr-4">
              {{ 'MARKETPLACE.CATEGORIES.INDIVIDUAL_MANAGEMENT.LOAD_CATEGORIES' | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="tree-container" *ngIf="treeItemsProduct && treeItemsDestination">
      <div class="row">
        <!-- Productos a mover -->
        <div class="col">
          <div class="title">
            {{ 'MARKETPLACE.CATEGORIES.INDIVIDUAL_MANAGEMENT.PRODUCTS_YOU_WANT_TO_MOVE' | translate }}
            <ng-container *ngIf="selectedProduct"> : {{ selectedProduct.parentProduct.name }} </ng-container>
          </div>
          <ff-ui-tree-list
            [items]="treeItemsProduct"
            (clicked)="onSelectedProduct($event)"
            [nameTemplateRef]="treeItemNameTemplate"
          ></ff-ui-tree-list>
        </div>

        <!-- Destino -->
        <div class="col">
          <div class="title">
            {{ 'MARKETPLACE.CATEGORIES.INDIVIDUAL_MANAGEMENT.DESTINATION_CATEGORY' | translate }}
            <ng-container *ngIf="selectedDestination"> : {{ selectedDestination.name }} </ng-container>
          </div>
          <ff-ui-tree-list
            [items]="treeItemsDestination"
            (clicked)="onSelectedDestination($event)"
            [nameTemplateRef]="treeItemNameTemplate"
          ></ff-ui-tree-list>
        </div>
      </div>
    </div>
  </div>

  <div class="footer" *ngIf="treeItemsProduct && treeItemsDestination">
    <button class="btn btn-primary" (click)="send()">
      {{ 'MARKETPLACE.CATEGORIES.INDIVIDUAL_MANAGEMENT.MOVE_PRODUCTS' | translate }}
    </button>
  </div>
</div>

<ng-template #treeItemNameTemplate let-item>
  {{ item.value.name }}
  <span class="show-products" *ngIf="!item.value.hasChild" (click)="openProductsModal()">
    {{
      selectedProduct?.parentProduct?.id === item.value.id && selectedProduct?.selectedProducts?.length
        ? selectedProduct?.selectedProducts?.length + ' ' + ('MARKETPLACE.CATEGORIES.INDIVIDUAL_MANAGEMENT.SELECTED_PRODUCTS' | translate)
        : ('MARKETPLACE.CATEGORIES.INDIVIDUAL_MANAGEMENT.SHOW_PRODUCTS' | translate)
    }}
  </span>
</ng-template>
