@import '../../../theme/variables/colors';

$spinner-size: 25px;
.loader {
  width: $spinner-size;
  height: $spinner-size;
  margin: auto;
  margin-left: 0.5rem;
  &:after {
    width: $spinner-size;
    height: $spinner-size;
    border-width: 3px;
    margin: 0;
  }
}
.icon {
  font-size: 1.8rem;
  margin-left: 0.5rem;
  &.error {
    color: $red;
  }
  &.success {
    color: $green;
  }
}
