<div class="d-flex">
  <input class="form-control product-code" type="text" placeholder="Ej: A5455221" [formControl]="searchInput" />
  <em class="icon icon-cancel error" *ngIf="error"></em>
  <em class="icon icon-check success" *ngIf="success"></em>
  <div class="loader" *ngIf="fetching"></div>
</div>
<div class="invalid-feedback" *ngIf="error && found?.length === 0">
  {{ 'RULE_QUERY.EVALUATE_RULES.ERROR.EMPTY_REQUEST' | translate }}
</div>
<div class="invalid-feedback" *ngIf="error && failedRequest">
  {{ 'RULE_QUERY.EVALUATE_RULES.ERROR.FAILED_REQUEST' | translate }}
</div>
