@import '../../../../../theme/variables/variables';

.active {
  color: $green;
}

.div-container {
  margin-right: auto;
}
.not-active {
  color: $red;
}

.icon-view:hover {
  color: $green;
}
.icon-pencil {
  font-size: 16px !important;
  &:hover {
    color: $orange-light;
  }
}

.icon-size {
  font-size: 25px;
}

.name {
  word-break: break-all;
}
.row {
  flex-wrap: nowrap;
  span {
    font-size: 0.8rem;
    display: inline-flex;
    align-items: center;
  }
  span:third-child {
    @media (min-width: 1501px) {
      margin-left: 12px;
    }
  }
  span:first-child {
    @media (min-width: 1200px) {
      margin-left: 66px;
    }
    @media (min-width: 1500px) {
      margin-left: 88px;
    }
    @media (max-width: 1200px) {
      margin-left: 48px;
    }
    @media (max-width: 992px) {
      margin-left: 32px;
    }
  }

  span:last-child {
    justify-content: flex-end;
  }
}
.row-container {
  background: white;
  margin: 0.25rem 0rem 0.25rem 0.25rem;
  margin-left: 110px;
  @media (max-width: 1024px) {
    margin-left: 80px;
  }
  @media (min-width: 1400px) {
    margin-left: 130px;
  }
  @media (min-width: 1500px) {
    margin-left: 145px;
  }
  @media (min-width: 1700px) {
    margin-left: 210px;
  }
  .row {
    min-height: 3rem;
  }
  &:hover {
    transition: 0.25s linear all;
    background-color: $green-white;
  }
}
.warning {
  background: rgba(255, 171, 43, 0.1);
  line-height: 48px;
  display: flex;
  align-items: center;

  em {
    font-size: 20px;
    color: $orange-light;
    margin-left: 14px;
  }

  span {
    font-size: 15px;
    color: $black-3;
    margin-left: 14px;
  }
}
.icon {
  font-size: 25px;
  cursor: pointer;
  color: $grey;
}
.subtitle {
  margin-left: 3.5rem;
}
form ::ng-deep {
  .logical-condition-container {
    &:hover {
      background-color: #eee !important;
    }
  }
  .container-condition-simple,
  .container-condition-reference {
    &:hover {
      background-color: transparent !important;
    }
  }
}

ff-conditions-basic-and-advance::ng-deep {
  .section-scroll {
    height: 100%;
  }
  .page-section {
    margin-right: 0 !important;
    min-height: 100% !important;
  }
  ngx-simplebar {
    height: auto !important;
  }
  .page-footer {
    display: none;
  }
  .tab .title {
    display: none;
  }
}
