<div class="warning" *ngIf="!this.satisfiedRules?.length; else data">
  <em class="icon-warning"></em>
  <span>{{ 'RULE_QUERY.SATISFIED_RULES.QUERY_LIST_WARNING' | translate }}</span>
</div>
<ng-template #data>
  <div [@appearOppacity]>
    <div *ngFor="let rule of satisfiedRules; let i = index" class="row-container">
      <div class="row py-3 div-container" [id]="'satisfied-row-' + i">
        <span class="col-2 name">{{ rule.rule_name }}</span>
        <span class="col-2 mx-lg-3">{{ parseRuleType(rule.rule_type) | translate }}</span>
        <span class="col-2">{{ rule.effective_date | date: dateFormat }}</span>
        <span class="col-2">{{ rule.expiration_date | date: dateFormat }}</span>
        <span class="col-1" [ngClass]="checkDate(rule) ? 'active' : 'not-active'">{{ rule.is_active ? 'Si' : 'No' }}</span>
        <span class="col-2">
          <em class="icon-view icon icon-size" (click)="showDetailModal(rule)" [id]="'satisfied-row-show-' + i"></em>
          <em class="icon-pencil icon icon-size m-1 m-lg-4" (click)="go(rule)" [id]="'satisfied-row-go-' + i"></em>
        </span>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #conditionsModalTemplate>
  <div>
    <div class="content-conditions" *ngIf="!loadingModal; else loader">
      <ff-modal-header [title]="'RULE_QUERY.SATISFIED_RULES.MODAL_TITLE' | translate" (closeMe)="closeModal()"> </ff-modal-header>
      <ff-conditions-basic-and-advance
        [item]="item"
        [idAdminGroup]="ruleType"
        [type]="ruleTypeFormat"
        [readonly]="true"
      ></ff-conditions-basic-and-advance>
    </div>
  </div>
  <ng-template #loader>
    <div class="text-center">
      <div class="loader"></div>
    </div>
  </ng-template>
</ng-template>
