<ff-page-header [pageTitle]="'Config Manager'"></ff-page-header>

<div class="page-container page-container-padding">
  <div class="page-section p-5">
    <div class="description">
      Para la configuración de las opciones del menu de navegación debemos usar la variable <strong>"pim_business_url"</strong>. <br />
      Para ello tenemos tres formas de hacerlo:
      <ol>
        <li>Usa el comodín <strong>*</strong> para incluir todas las opciones <code [lineNumbers]="true" [highlight]="'*'"></code></li>
        <li>Usa el nombre de la api para incluir la opción <code [lineNumbers]="true" [highlight]="'limitSale'"></code></li>
        <li>
          Usa el comodín <strong>!</strong> junto con el nombre de la api para excluir la opción de menu
          <code [lineNumbers]="true" [highlight]="'!limitSale'"></code>
        </li>
      </ol>
      <br />
      Valores permitidos como nombre de la api
      <ul>
        <li *ngFor="let item of valores">{{ item }}</li>
      </ul>
    </div>
  </div>
</div>
