<div class="page-section">
  <div class="page-header row">
    <div class="col">
      <h3>{{ 'CROSSELLING.MANAGEMENT.DETAIL' | translate }}</h3>
    </div>
  </div>
  <div class="col-12" *ngIf="loading">
    <div class="page-section">
      <div class="text-center pt-5 pb-5">
        <div class="loader"></div>
      </div>
    </div>
  </div>

  <div [formGroup]="form" [hidden]="loading">
    <div class="row form-group">
      <div id="toast-container" class="toast-top-full-width toast-container" *ngIf="showSuccess">
        <div class="ng-tns-c49-0 ng-star-inserted ng-trigger ng-trigger-flyInOut ngx-toastr toast-success col-12">
          {{ 'CROSSELLING.MANAGEMENT.SUCCESS' | translate }}
          <a [routerLink]="['/crosselling/historic']"> {{ 'CROSSELLING.MANAGEMENT.HISTORIC' | translate }} </a>
        </div>
      </div>
      <div id="toast-container" class="toast-top-full-width toast-container" *ngIf="showError">
        <div class="ng-tns-c49-0 ng-star-inserted ng-trigger ng-trigger-flyInOut ngx-toastr toast-error col-12">
          {{ errorMsg | translate }}
        </div>
      </div>
      <div class="col-4 file-input">
        <ff-file-upload (fileLoad)="fileLoad($event)" [eventClean]="cleanSubject" [acceptExt]="'.csv'"></ff-file-upload>
        <ff-form-error [field]="form.controls.file" [messages]="errorMessage"></ff-form-error>
      </div>
      <div class="col-3 offset-5 info">
        <h3>{{ 'CROSSELLING.MANAGEMENT.DOWNLOAD' | translate }}</h3>
        <br />
        <h3 class="url" (click)="download()">{{ 'CROSSELLING.MANAGEMENT.URL' | translate }}</h3>
      </div>
      <div class="col-4">
        <label>{{ 'CROSSELLING.MANAGEMENT.MODE' | translate }}</label>
        <ng-select formControlName="assignment_mode" name="assignment_mode">
          <ng-option value="CREATE"
            ><span data-cy="management-option-create">{{ 'CROSSELLING.MANAGEMENT.CREATE' | translate }}</span></ng-option
          >
          <ng-option value="UPDATE"
            ><span data-cy="management-option-update">{{ 'CROSSELLING.MANAGEMENT.UPDATE' | translate }}</span></ng-option
          >
          <ng-option value="DELETE"
            ><span data-cy="management-option-delete">{{ 'CROSSELLING.MANAGEMENT.DELETE' | translate }}</span></ng-option
          >
        </ng-select>
        <ff-form-error [field]="form.controls.assignment_mode" [messages]="errorMessage"></ff-form-error>
      </div>
      <div class="col-4">
        <label for="site">{{ 'CROSSELLING.QUERY.SITE' | translate }} </label>
        <ng-select formControlName="site" id="site" name="site">
          <ng-option value="Todos"
            ><span data-cy="management-site-option-all">{{ 'SELECT_SITES.TODOS' | translate }}</span></ng-option
          >
          <ng-option value="eciStore"
            ><span data-cy="management-site-option-ecistore">{{ 'SELECT_SITES.ECISTORE' | translate }}</span></ng-option
          >
          <ng-option value="portugalStore"
            ><span data-cy="management-site-option-portugal-store">{{ 'SELECT_SITES.PORTUGALSTORE' | translate }}</span></ng-option
          >
        </ng-select>
        <ff-form-error [field]="form.controls.site" [messages]="errorMessage"></ff-form-error>
      </div>
    </div>
  </div>
  <div class="text-right page-footer" *ngIf="!loading">
    <button type="submit" data-cy="cross-management-clean-btn" (click)="clean()" class="btn btn-secondary ml-2 btn-sm">
      {{ 'SEARCHER.CLEAN' | translate | uppercase }}
    </button>
    <button type="submit" data-cy="cross-management-upload-btn" (click)="submit()" class="btn btn-primary ml-2 btn-sm">
      {{ 'CROSSELLING.MANAGEMENT.UPLOAD' | translate | uppercase }}
    </button>
  </div>
</div>
