@import '../../../../../../theme/variables/colors';

.form-group {
  background-color: $white-4;
  padding: 40px;
}

.row {
  margin: 0;
}

.url {
  cursor: pointer;
  color: $dark_green;
  text-decoration: underline;
}

.info {
  text-align: right;
}

.toast-top-full-width {
  top: 0;
}

.toast-container {
  position: unset;
  max-width: none;
  margin: 15px;
  margin-top: 0px;

  div {
    width: 100%;
    margin: 0;
    pointer-events: none;
  }

  a {
    pointer-events: all;
    color: $dark_green;
    text-decoration: underline;
  }
}

.ngx-toastr:hover {
  box-shadow: none;
}

.file-input {
  margin-bottom: 10px;
}
