.modal-footer {
  border-top: 0;
  padding: 69px 16px 33px;

  .btn {
    padding-left: 40px;
    padding-right: 40px;
    position: relative;

    .loading-icon {
      position: absolute;
      left: 15px;
      top: 9px;
    }
  }
}
