@import 'src/theme/variables/colors';

.modal {
  &-header {
    text-align: left;
    border-bottom: 0;
    padding: 30px 33px 10px;

    .close {
      transition: 0.3s ease-in-out;
      position: absolute;
      right: 10px;
      top: 10px;
      padding: 0;
      margin: 0;

      &:hover {
        opacity: 1;
      }

      em.icon-cancel {
        color: $black-2;
        font-size: 33px;
      }
    }
  }

  &-title {
    font-weight: 500;
    text-align: left;
    flex: 2;
    font-size: 24px;
    color: $black;
  }
}
