@import '../../../../../../theme/variables/variables';

.box {
  &-text {
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 500;
    max-width: 60vh;
    letter-spacing: -0.5px;
    width: auto;
    margin: 0 0.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    padding: 0.5rem 1rem;
    //margin-bottom: 10px;
    &.rounded {
      border-radius: 2rem !important;
      font-size: 12px;
      font-weight: 600;
    }
  }
  &-error {
    border-color: $red;
  }
  &-success {
    border-color: $green;
  }
}

.more-detail {
  cursor: pointer;
  text-decoration: underline;
}
