<div>
  <div *ngIf="isArray(data)">
    <ng-container *ngIf="data.length < 2; else oneliner">
      <div
        *ngFor="let value of data"
        class="box-text"
        [class.box-error]="success === false && !rounded"
        [class.box-success]="success && !rounded"
        [class.rounded]="rounded"
        container="body"
        [tooltip]="tooltipText | translate: { value: value }"
      >
        {{ value }}
      </div>
    </ng-container>
    <ng-template #oneliner>
      <ng-container>
        <div
          *ngIf="data.length > 2"
          class="box-text more-detail"
          [class.box-error]="success === false && !rounded"
          [class.box-success]="success && !rounded"
          [class.rounded]="rounded"
          container="body"
          [tooltip]="'RULE_QUERY.EVALUATE_RULES.QUERY_DETAIL.TOOLTIP' | translate"
          (click)="showMore()"
        >
          {{ data | ellipsis: 'RULE_QUERY.EVALUATE_RULES.QUERY_DETAIL.MORE' }}
        </div>
      </ng-container>
      <ng-container>
        <div
          class="box-text"
          *ngIf="data.length === 2"
          [class.box-error]="success === false && !rounded"
          [class.box-success]="success && !rounded"
          [class.rounded]="rounded"
          container="body"
        >
          {{ data | ellipsis: 'RULE_QUERY.EVALUATE_RULES.QUERY_DETAIL.MORE' }}
        </div>
      </ng-container>
    </ng-template>
  </div>
  <div *ngIf="!isArray(data)">
    <div
      class="box-text"
      [class.box-error]="success === false && !rounded"
      [class.box-success]="success && !rounded"
      [class.rounded]="rounded"
      container="body"
      [tooltip]="tooltipText | translate: { value: dataFormart }"
    >
      <span *ngIf="dataType === 'DATE_TIME'; else default"> {{ data | date: dateFormat }} </span>
      <ng-template #default>
        {{ data }}
      </ng-template>
    </div>
  </div>
</div>
