<div class="page-section">
  <div [formGroup]="form">
    <div class="row form-group">
      <div class="col-10 test">
        <div class="col-4">
          <label for="type">{{ 'CROSSELLING.QUERY.TYPE' | translate }}</label>
          <ng-select formControlName="type" id="type" name="type">
            <ng-option value="id"><span data-cy="query-id-option"> Id</span> </ng-option>
            <ng-option value="ean"
              ><span data-cy="query-id-option"> {{ 'CROSSELLING.QUERY.EAN' | translate }}</span>
            </ng-option>
            <ng-option value="title">
              <span data-cy="query-title-option"> {{ 'CROSSELLING.QUERY.TITLE_SELECT' | translate }}</span>
            </ng-option>
          </ng-select>
          <ff-form-error [field]="form.controls.type" [messages]="formErrors"></ff-form-error>
        </div>
        <div class="col-4">
          <label for="id">{{ 'CROSSELLING.QUERY.CODE' | translate }}</label>
          <input
            formControlName="code"
            type="text"
            data-cy="query-code-input"
            name="code"
            id="code"
            class="form-control"
            [placeholder]="'CROSSELLING.QUERY.ID_PLACEHOLDER' | translate"
          />
          <ff-form-error [field]="form.controls.code" [messages]="formErrors"></ff-form-error>
        </div>
      </div>
      <div class="col-10 test">
        <div class="col-4">
          <label for="brand">{{ 'CROSSELLING.QUERY.BRAND' | translate }} </label>
          <input
            formControlName="brand"
            type="text"
            data-cy="query-brand-input"
            name="brand"
            id="brand"
            class="form-control"
            [placeholder]="'CROSSELLING.QUERY.BRAND_PLACEHOLDER' | translate"
          />
        </div>
        <div class="col-4">
          <label for="site">{{ 'CROSSELLING.QUERY.SITE' | translate }} </label>
          <ng-select formControlName="site" id="site" name="site">
            <ng-option value="Todos"
              ><span data-cy="query-site-all-option">{{ 'SELECT_SITES.TODOS' | translate }}</span></ng-option
            >
            <ng-option value="eciStore"
              ><span data-cy="query-site-ecistore-option">{{ 'SELECT_SITES.ECISTORE' | translate }}</span></ng-option
            >
            <ng-option value="portugalStore"
              ><span data-cy="query-site-portugal-store-option">{{ 'SELECT_SITES.PORTUGALSTORE' | translate }}</span></ng-option
            >
          </ng-select>
        </div>
      </div>
    </div>
  </div>
  <hr />
</div>
