@import '../../theme/variables/variables';

:host {
  .router-outlet-container {
    position: absolute;
    top: $height-header - 10px;
    padding-top: 10px;
    h1 {
      margin-left: $width-menu-open;
      color: white;
    }

    background-color: $black-2;
    width: 100%;
    height: 148px;
    overflow: hidden;
    z-index: 11;
    transition: $transition-time;
  }

  .root {
    width: 100%;
    top: $height-header + 148px;
    position: absolute;
    margin-top: 15px;
  }

  .content {
    top: 50%;
    left: 50%;
    text-align: center;
    text-align: -webkit-center;
    .icon-icon-alert-warning {
      color: #ffab2b;
      font-size: 100px;
    }
  }

  .detail {
    height: 76px;
    width: 515px;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(#ffab2b, 0.1);
    span {
      color: #666666;
    }
  }
}
