<ff-menu-top [isMenuOpen]="isMenuOpen" [user]="user"> </ff-menu-top>
<div class="router-outlet-container">
  <h1>{{ 'UNAUTHORIZED.TITLE' | translate }}</h1>
</div>

<div class="root">
  <div class="content">
    <em class="icon-icon-alert-warning"></em>
    <h1>{{ 'UNAUTHORIZED.ERROR' | translate }}</h1>
    <div class="detail">
      <span>{{ 'UNAUTHORIZED.DETAIL' | translate }}</span>
    </div>
    <button type="button" class="btn btn-primary ml-2 btn-lg" (click)="logOut()">{{ 'UNAUTHORIZED.LOGOUT' | translate }}</button>
  </div>
</div>
