<div class="page-header-comp" *ngIf="!newBreadCrumb">
  <a (click)="breadCrumbClick()" class="back pointer" *ngIf="breadcrumbTitle">
    <span class="icon-select-right mirror-x"></span>
    {{ (back && backMessage ? backMessage : back ? 'COMMON.RETURN_BACK' : breadcrumbTitle) | translate }}
  </a>
  <ng-content select="[slot=extra]"></ng-content>

  <div class="bottom-content">
    <h1 class="title">
      {{ pageTitle | translate }}
    </h1>

    <div class="actions-container">
      <ng-content></ng-content>
    </div>
  </div>
</div>

<div class="page-header-comp" *ngIf="newBreadCrumb">
  <ff-breadcrumb [haveDetails]="true" [pageTitle]="pageTitle"></ff-breadcrumb>
</div>
