@import '../../../../theme/variables/variables';

:host {
  .page-header-comp {
    height: $page-header-height;
    width: 100%;
    background-color: $page-header-bg-color;
    padding: 0 18px;
    position: relative;

    ::ng-deep {
      .back {
        color: $page-header-back-color;
        font-size: 14px;
        position: relative;
        top: -9px;
        left: 2px;
        margin-right: 15px;

        span {
          color: $page-header-select-right-color;
          margin-right: 3px;
          font-size: 18px;
          vertical-align: middle;
        }
      }
    }

    .bottom-content {
      position: absolute;
      left: 0;
      bottom: 80px;
      width: 100%;
      padding: 0 $padding-page;

      &:after {
        display: table;
        clear: both;
        content: ' ';
      }

      .title {
        color: $page-header-title-color;
        float: left;
      }

      .actions-container {
        float: right;
        color: red;
      }
    }
  }
}
