@import '../../../../../../theme/variables/variables';
$margin-distance: 0.5rem;
$background-color: lightgray;
$border-radius: 5px;
.rule-container {
  padding: $margin-distance;
  border: 1.9px solid $background-color;
  border-radius: $border-radius;
  gap: 1rem;
  .operator-container {
    background-color: $background-color;
    padding: $margin-distance;
    margin: -$margin-distance * 1.1;
    border-radius: $border-radius 0 0 $border-radius;
  }
  .condition {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
  &.borderless {
    border: none;
    padding-left: 0;
  }
}
.box {
  &-operator-logical {
    text-align: center;
    padding: 10px 0;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    min-width: 50px;

    &.apply {
      background-color: $green;
    }

    &.not-apply {
      background-color: $red;
    }
  }
}
