<div class="rule-container d-flex ml-3" [class.borderless]="isSimple">
  <div class="operator-container" *ngIf="(node?.type === 'and' || node?.type === 'or' || !isSimple) && node.type">
    <div class="box-operator-logical" [class.apply]="node?.has_result" [class.not-apply]="!node?.has_result">
      {{ typeName | translate }}
    </div>
    <span [ngClass]="getIcon(node)"></span>
  </div>
  <ff-evaluate-rules-info-rule [node]="node" class="w-100" *ngIf="isSimple; else multiple"> </ff-evaluate-rules-info-rule>

  <ng-template #multiple>
    <ff-evaluate-rules-info-rule-item *ngIf="node.attribute" [data]="node.attribute" [success]="undefined" [rounded]="false">
    </ff-evaluate-rules-info-rule-item>
    <section class="condition">
      <ff-evaluate-rules-info-rule-container *ngFor="let n of itemNodes" [node]="n"></ff-evaluate-rules-info-rule-container>
    </section>
  </ng-template>
</div>
