<div class="container-condition-simple" [sortablejs]="data" [sortablejsOptions]="sortablejsOptions" [formGroup]="form">
  <div class="row">
    <div class="col-sm-1 col-xl-2 operator" [tooltip]="data.tooltip_label" [tooltipAppendToBody]="true">
      <div class="attr">
        {{ attSelected?.label | titlecase }}
      </div>
    </div>
    <div class="col-sm-8 col-md-6 col-lg-4 col-xl-3 operator">
      <ng-select
        [disabled]="readonly || dataTypeLT"
        [clearable]="false"
        [(ngModel)]="data.node_type"
        [ngModelOptions]="{ standalone: true }"
        (ngModelChange)="onChangeDataSelect()"
      >
        <ng-option *ngFor="let operator of operators" [value]="operator">
          {{ 'OPERATOR.' + operator | translate }}
        </ng-option>
      </ng-select>
    </div>
    <div
      class="col-sm-10 col-md-8 col-lg-5 col-xl-5 operator"
      *ngIf="
        !attSelected.multiple_cardinality &&
        data?.node_type !== types.IS_DEFINED &&
        data?.node_type !== types.IS_NOT_DEFINED &&
        data?.node_type !== types.in &&
        data?.node_type !== types.notin
      "
    >
      <ng-container *ngIf="inputType === typesData.text">
        <input class="form-control" formControlName="field" type="text" />
      </ng-container>

      <ng-container *ngIf="inputType === typesData.date">
        <ff-datetimepicker formControlName="field" [defaultHour]="0" [defaultMinute]="0"></ff-datetimepicker>
      </ng-container>
      <ng-container *ngIf="inputType === typesData.numberData">
        <input class="form-control" formControlName="field" type="number" />
      </ng-container>
      <ng-container *ngIf="inputType === typesData.checkbox">
        <div class="custom-control custom-switch pt-3">
          <input formControlName="field" type="checkbox" class="custom-control-input" [id]="index + data.attribute_id + 'check'" />
          <label class="custom-control-label pointer" [for]="index + data.attribute_id + 'check'"></label>
        </div>
      </ng-container>
      <ff-form-error [field]="form.controls.field" [messages]="formErrors"></ff-form-error>
    </div>
    <div
      class="col-5"
      *ngIf="
        (attSelected.multiple_cardinality && data?.node_type !== types.IS_DEFINED && data?.node_type !== types.IS_NOT_DEFINED) ||
        data?.node_type === types.in ||
        data?.node_type === types.notin
      "
    >
      <ff-conditions2-simple-multiple-values
        [readonly]="readonly"
        [values]="data?.value"
        (update)="updateMultipleValue($event)"
        [data]="data"
        [type]="inputType"
      ></ff-conditions2-simple-multiple-values>
    </div>
    <div class="col-5" *ngIf="data?.node_type === types.IS_DEFINED || data?.node_type === types.IS_NOT_DEFINED"></div>
    <div class="col-1">
      <div class="actions only-delete" *ngIf="!readonly && !dataTypeLT">
        <em class="icon-trash pointer" (click)="deleteMySelf()"></em>
      </div>
    </div>
  </div>
</div>
