@import '../../../../../theme/variables/variables';

:host {
  .container-condition-simple {
    padding: 10px 10px 10px 52px;
    border: 1px dashed transparent;
    transition: $transition-time;

    .operator {
      padding: 0 3px;
    }

    .attr {
      font-size: 13px;
      color: $black-2;
      vertical-align: middle;
      padding-top: 11px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &:hover {
      background-color: $green-white;
    }

    .input-actions {
      width: calc(100% - 60px);
      display: inline-block;
    }

    .actions {
      margin-left: 10px;
      display: inline-block;
      vertical-align: middle;
      font-size: 19px;
      transition: $transition-time;

      .icon-trash {
        &:hover {
          color: $red-delete;
        }
      }

      &.only-delete {
        margin-left: 0;
        padding-top: 7px;
      }

      .plus {
        margin-left: 5px;
      }
    }
  }
}
