:host {
  .conditions {
    padding: 0px 15px;
    font-size: 12px;
  }
  .key-item {
    padding: 10px 0px;
  }
  .badge {
    font-size: 12px;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 13px;
    margin-top: 0px;
    vertical-align: middle;
    cursor: default;
    &:hover {
      background-color: #ffffff;
    }
  }
  .included-excluded-title {
    padding: 10px;
    background-color: #eeeeee;
    border-bottom: 1px solid #e4e4e4;
  }
  .included-excluded-box {
    margin: 15px 20px;
    padding: 0;
    border: 1px solid #e4e4e4;
    font-size: 13px;
    font-weight: 500;
  }
  .icon-icon-multiply {
    font-size: 17px;
    color: red;
  }

  .icon-icon-check {
    font-size: 17px;
    color: green;
  }

  .icon-pencil {
    font-size: 14px;
    padding-right: 4px;
    color: #ffab2b;
  }
}
