<div>
  <div *ngIf="hasOne" class="included-excluded-title" [innerHTML]="'SPENTER.MODAL_PREVIEW.TITLE_ONLY_ONE' | translate"></div>
  <div
    *ngIf="hasAnd && !hasOne && !onlyOr"
    class="included-excluded-title"
    [innerHTML]="'SPENTER.MODAL_PREVIEW.TITLE_AND' | translate"
  ></div>
  <div
    *ngIf="(hasOr && !hasAnd && !hasOne) || onlyOr"
    class="included-excluded-title"
    [innerHTML]="'SPENTER.MODAL_PREVIEW.TITLE_OR' | translate"
  ></div>
  <ng-container *ngFor="let key of showOrder">
    <ng-container *ngIf="hasOr && key === 'grouped'; else and">
      <div>
        <div class="included-excluded-box">
          <ff-ui-conditions-modal [config]="config" [showOrder]="keysGrouped" [grouped]="true"> </ff-ui-conditions-modal>
        </div>
      </div>
    </ng-container>
    <ng-template #and>
      <div class="conditions" *ngIf="config[key] && config[key]?.values?.length">
        <div class="key-item col-12">
          {{ keyTranslate(key) | translate }} ({{ config[key].values?.length }})
          <em
            container="body"
            [tooltip]="'NODE.TOOLTIP.' + getClass(key) | uppercase | translate"
            placement="top"
            delay="300"
            [ngClass]="getClass(key)"
          ></em>
        </div>
        <div class="badge badge-pill badge-light" *ngFor="let value of config[key]?.values">
          {{ value.label ? value.label : value.name ? value.name : value }}
        </div>
      </div>
    </ng-template>
  </ng-container>
</div>
