@import '../../../../theme/variables/variables';

$color-text-search: $black-2;
$background-color-rounded: $white-4;

:host {
  .rounded {
    border-radius: 2px 2px 0 0 !important;
    background-color: $background-color-rounded !important;
  }

  .page-header {
    .icon-search {
      font-size: 20px;
      vertical-align: middle;
    }

    .icon-select-down {
      cursor: pointer;
      font-size: 10px;
      padding-left: 5px;
      padding-right: 10px;
    }

    .text-search {
      font-size: 12px;
      padding-right: 10px;
      color: $color-text-search;
    }
  }
}

.items {
  margin-left: auto;
  order: 2;
  display: flex;

  input {
    min-width: 250px;
  }
}
