<form [formGroup]="form" class="bg-white rounded box-shadow">
  <div class="page-header">
    <div>
      <h3>{{ 'COMMON.SEARCH.TITLE' | translate }}</h3>
    </div>
    <div class="items">
      <input
        formControlName="name"
        name="name"
        id="name"
        class="form-control input-search"
        type="text"
        placeholder="{{ 'COMMON.SEARCH.PLACEHOLDER' | translate }}"
      />
      <button type="submit" (click)="submit()" class="btn btn-dark ml-2 btn-sm">
        {{ 'COMMON.SEARCH.SAVE' | translate | uppercase }}
      </button>
    </div>
  </div>
</form>
