<router-outlet *ngIf="userService.user"></router-outlet>
<div class="col-12 authLoading" *ngIf="code | async">
  <div class="page-section">
    <div class="text-center pt-5 pb-5">
      <div class="loader"></div>
    </div>
  </div>
</div>
