<div class="row">
  <div class="col-12" *ngIf="loading">
    <div class="page-section">
      <div class="text-center pt-5 pb-5">
        <div class="loader"></div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="page-section site-detail-container">
      <ng-container [formGroup]="form" *ngIf="!loading">
        <div class="page-header row">
          <div
            class="col page-header-collapse"
            [class.page-header-collapse-open]="!isCollapsedDefinition"
            (click)="isCollapsedDefinition = !isCollapsedDefinition"
          >
            <h3>{{ 'SITES.DEFINITION' | translate | uppercase }}</h3>
          </div>
        </div>
        <div class="page-article pt-1" [collapse]="isCollapsedDefinition" [isAnimated]="true">
          <div class="row form-group">
            <div class="col-4">
              <label for="id">{{ 'SITES.ID' | translate }}*</label>
              <input
                [placeholder]="'SITES.PLACEHOLDER_CODE' | translate"
                [attr.disabled]="item?.id"
                formControlName="id"
                type="text"
                name="id"
                id="id"
                class="form-control"
                autocomplete="off"
              />
              <ff-form-error [field]="form.controls.id" [messages]="formErrors.id"></ff-form-error>
            </div>

            <div class="col-4">
              <label for="name">{{ 'SITES.NAME' | translate }}*</label>
              <input
                [placeholder]="'SITES.PLACEHOLDER_NAME' | translate"
                formControlName="name"
                type="text"
                name="name"
                id="name"
                class="form-control"
                autocomplete="off"
              />
              <ff-form-error [field]="form.controls.name" [messages]="formErrors.name"></ff-form-error>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
