<ng-container [ngSwitch]="fieldProperties.type" [formGroup]="form">
  <!-- Text Input -->
  <ng-container *ngSwitchCase="'input'">
    <input
      [placeholder]="fieldProperties.placeholder"
      [formControlName]="fieldProperties.name"
      type="text"
      data-cy="switch-field-name-input"
      [name]="fieldProperties.name"
      [id]="fieldProperties.name"
      class="form-control"
      autocomplete="off"
    />
  </ng-container>

  <!-- Number Input -->
  <ng-container *ngSwitchCase="'numberInput'">
    <input
      [placeholder]="fieldProperties.placeholder"
      [formControlName]="fieldProperties.name"
      type="number"
      data-cy="switch-field-number-input"
      min="0"
      [name]="fieldProperties.name"
      [id]="fieldProperties.name"
      class="form-control"
      autocomplete="off"
    />
  </ng-container>

  <!-- Datepicker -->
  <ng-container *ngSwitchCase="'datepicker'">
    <ff-datetimepicker
      id="fieldProperties?.name"
      [formControlName]="fieldProperties.name"
      [defaultHour]="0"
      [defaultMinute]="0"
    ></ff-datetimepicker>
    <span class="invalid-feedback" *ngIf="form.errors && form.errors.endMoreThanNow && fieldProperties.name === 'end_date'">
      {{ 'CONDITIONS_BASIC_AND_ADVANCE.INVALID_END_MORE' | translate }}
    </span>
    <span class="invalid-feedback" *ngIf="form.errors && form.errors.invalidRangeDate && fieldProperties.name === 'start_date'">
      {{ 'CONDITIONS_BASIC_AND_ADVANCE.INVALID_RANGE' | translate }}
    </span>
  </ng-container>

  <!-- ChipsControlSelect-->
  <ng-container *ngSwitchCase="'modalSelect'">
    <ff-chips-control-select [formControlName]="fieldProperties.name" [config]="fieldProperties.modalConfig"></ff-chips-control-select>
  </ng-container>

  <!-- gestión de errores -->
  <ff-form-error [field]="field" [messages]="fieldProperties.errorMessages"></ff-form-error>
</ng-container>
