<ng-container *ngIf="isDisabled">
  <input [value]="entity?.name" class="form-control" type="text" readonly />
</ng-container>
<ng-container *ngIf="!isDisabled">
  <ng-select
    [items]="item$ | async"
    [trackByFn]="trackByFn"
    [minTermLength]="2"
    [loading]="itemLoading"
    typeToSearchText="Por favor, introduzca 2 o más caracteres"
    [typeahead]="itemInput$"
    bindLabel="name"
    notFoundText="No encontradas coincidencias"
    [(ngModel)]="entity"
    (change)="handleChangeValue($event)"
  >
  </ng-select>
</ng-container>
