<form [formGroup]="formSelect">
  <div>
    <label [for]="id">
      {{ label }}
    </label>
    <div style="max-width: 330px">
      <ng-select
        [items]="options$ | async"
        bindLabel="name"
        [hideSelected]="true"
        [trackByFn]="trackByFn"
        [minTermLength]="2"
        [loading]="itemLoading"
        [id]="id"
        typeToSearchText="Por favor, introduzca 2 o más caracteres"
        (change)="selectedOption($event)"
        [typeahead]="itemInput$"
        [clearable]="false"
        notFoundText="No encotradas coincidencias"
        formControlName="select"
      >
      </ng-select>
    </div>
  </div>

  <div>
    <span *ngFor="let item of model; let j = index" class="badge badge-pill badge-light">
      {{ item.name }}<em class="icon-cancel" (click)="removeSelectedItem(j)"></em>
    </span>
  </div>
</form>
