<form [formGroup]="form" (submit)="submit()" class="bg-white rounded box-shadow">
  <!--<div class="page-header row">

      <div class="col-4">
        <em class="icon-search pointer" (click)="submit()"></em>
        <em class="icon-select-down"></em>
        <span class="text-search">{{ 'PRODUCTMKP.SEARCH' | translate }}</span>
        <input class="form-control input-search" type="text"
               formControlName="name"
               [placeholder]="'PRODUCTMKP.NAME' | translate">
      </div>

      <div class="col-2 pl-0">
        <input class="form-control " type="text"
               formControlName="product_atg_key"
               [placeholder]="'PRODUCTMKP.id' | translate">
      </div>

      <div class="col-2 pl-0">
        <input class="form-control " type="text"
               formControlName="parent_product_key"
               [placeholder]="'PRODUCTMKP.PARENT_PRODUCT_KEY' | translate">
      </div>

      <div class="col-2 pl-0">
        <input class="form-control " type="checkbox"
               formControlName="is_market_place"
               [placeholder]="'PRODUCTMKP.MARKET_PLACE' | translate">
      </div>

    </div>-->
</form>
