<h3 class="title">Crear un facet</h3>
<form [formGroup]="form">
  <div class="page-section facet-detail-container">
    <ng-container *ngIf="true">
      <div class="page-header row">
        <div
          class="col page-header-collapse"
          [class.page-header-collapse-open]="!isCollapsedDefinition"
          (click)="isCollapsedDefinition = !isCollapsedDefinition"
        >
          <h3>{{ 'FACETS.DEFINITION' | translate | uppercase }}</h3>
        </div>
      </div>

      <div class="page-article pt-1 pl-4" [collapse]="isCollapsedDefinition" [isAnimated]="true">
        <div class="row form-group">
          <div class="col-6">
            <label for="att_wpc_key">{{ 'FACETS.ATT_WPC_KEY' | translate }}</label>
            <input
              [placeholder]="'FACETS.ATT_WPC_KEY' | translate"
              [class.is-invalid]="form.controls.att_wpc_key.invalid && form.controls.att_wpc_key.touched"
              formControlName="att_wpc_key"
              data-cy="facet-att-wpc-key-input"
              type="text"
              name="att_wpc_key"
              id="att_wpc_key"
              class="form-control"
              autocomplete="off"
              readonly
            />
          </div>
          <div class="col-6">
            <label for="offer_path">{{ 'FACETS.ATT_ID' | translate }}</label>
            <input
              [placeholder]="'FACETS.ATT_ID' | translate"
              [class.is-invalid]="form.controls.att_id.invalid && form.controls.att_id.touched"
              formControlName="att_id"
              data-cy="facet-att-id-wpc-input"
              type="text"
              name="att_id"
              id="att_id"
              class="form-control"
              autocomplete="off"
              readonly
            />
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</form>
