@import '../../../../../theme/variables/colors';
@import '../../../../../theme/variables/variables';

.title {
  color: #f5f5f5;
  font-family: $family-montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 30px;
}

.facet-detail-container {
  overflow-y: auto;
  overflow-x: hidden;
}

.facet-config {
  background-color: $white-4;
}
