<div>
  <div *ngIf="value" class="item-selected">
    <div class="row custom-field">
      <div class="col-auto">
        <label>{{ value.name }}</label>
      </div>
      <div class="icon-holder">
        <em class="icon-view" [tooltip]="'RULE_QUERY.EVALUATE_RULES.ICONS.SEE' | translate" (click)="showDetailModal()"></em>
        <em class="icon-pencil" [tooltip]="'RULE_QUERY.EVALUATE_RULES.ICONS.EDIT' | translate" *ngIf="!disabled" (click)="go()"></em>
        <em class="icon-cancel" [tooltip]="'RULE_QUERY.EVALUATE_RULES.ICONS.CANCEL' | translate" *ngIf="!disabled" (click)="remove()"></em>
      </div>
    </div>
  </div>
  <div *ngIf="!value">
    <button type="button" class="btn btn-dark" (click)="select()">
      {{ 'RULE_QUERY.PRODUCT.SELECT_RULE' | translate | uppercase }}
    </button>
  </div>
</div>
<ng-template #conditionsModalTemplate>
  <div>
    <div class="content-conditions">
      <ff-modal-header [title]="'RULE_QUERY.SATISFIED_RULES.MODAL_TITLE' | translate" (closeMe)="closeModal()"> </ff-modal-header>
      <ff-conditions-basic-and-advance
        [item]="value"
        [idAdminGroup]="value?.ruleType"
        [type]="ruleTypeFormat"
        [readonly]="true"
      ></ff-conditions-basic-and-advance>
    </div>
  </div>
</ng-template>
