@import '../../../../../theme/variables/variables';

.item-selected {
  font-size: 14px;
  line-height: 16px;

  .custom-field {
    height: 42px;
    align-items: center;

    label {
      margin-bottom: 0;
    }
  }

  .icon-holder {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    em {
      font-size: 20px;
      cursor: pointer;
    }
  }

  .icon-view {
    &:hover {
      color: $green;
    }
  }
  .icon-pencil {
    font-size: 12px !important;
    &:hover {
      color: $orange-light;
    }
  }
  .icon-cancel {
    &:hover {
      color: $red-delete;
    }
  }
}
ff-conditions-basic-and-advance::ng-deep {
  .page-footer {
    display: none;
  }
}
