<!-- -->
<button class="btn btn-primary mr-4" (click)="error()">Error</button>

<button class="btn btn-primary mr-4" (click)="warning()">Warning</button>

<button class="btn btn-primary mr-4" (click)="success()">Success</button>

<button class="btn btn-primary mr-4" (click)="info()">Info</button>
