@import 'src/theme/variables/colors';

:host {
  .tab {
    position: relative;
    overflow: hidden;

    .title {
      font-size: 20px;
      color: $white;
      float: left;
    }

    ul {
      float: right;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    &-item {
      background-color: $black-2;
      color: $white;
      padding: 10px 14px 6px 14px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      font-size: 13px;
      cursor: pointer;

      &-not-allowed {
        cursor: not-allowed;
      }

      em {
        font-size: 18px;
        margin-right: 4px;
      }

      &:hover {
        background-color: $white;
        color: $black-2;
      }
    }

    &-active {
      background-color: $white;
      color: $black-2;
    }
  }

  .btn-outline-dark {
    box-sizing: border-box;
    border: 2px solid #414141;
    border-radius: 3px;
    font-weight: 600;
  }

  .datepicker {
    display: flex;
    align-items: flex-end;
  }

  .input-group {
    max-width: 345px;
  }

  .error-date-time {
    display: flex;
  }

  .error-date {
    max-width: 345px;
    width: 65%;
  }
}

.title {
  color: $white-4;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 15px;
  // background-color: $black-2;
}

.tab {
  background-color: $black-2;
}

.loader-container {
  text-align: center;
  top: 50%;
  position: absolute;
  left: 50%;
}
