<div class="row" *ngIf="(params?.id && !loading) || params?.new">
  <div class="col-12">
    <div>
      <div></div>
    </div>
  </div>
</div>

<div class="loader-container" *ngIf="loading">
  <span class="loader"></span>
</div>
