<div
  class="label"
  (click)="click()"
  [dndDraggable]="data"
  [dndDisableIf]="!draggable || !isDragFilter"
  [tooltip]="data.tooltip ? (data.tooltip | translate) : data.name ? (data.name | translate) : data.label ? (data.label | translate) : ''"
  container="body"
  placement="bottom"
  [delay]="500"
  [attr.data-cy]="data?.id ? data?.id + '-' : '' + data?.identifier"
  [isDisabled]="(!truncated && !cannotTruncated) || isEditable"
  (mouseenter)="checkTruncated(label)"
  [ngClass]="{ actived: actived, error: error, warning: warning, unclickable: !isClickable() }"
>
  <!-- [tooltip]="data.name || data.label" -->
  <i class="icon" *ngIf="icon" [ngClass]="icon"></i>
  <span #label [hidden]="isEditable">
    <span
      [innerHTML]="
        getVisibleChildren(true).length
          ? (data.name || data.label || '' | translate)
          : (data.name || data.label | highlight: root?.highlight | translate)
      "
    ></span>
  </span>
  <input
    type="text"
    *ngIf="isEditable"
    (focus)="focused = true"
    (blur)="blur()"
    (keydown)="input($event)"
    [ngClass]="{ focused: focused }"
    [placeholder]="data.placeholder || ''"
    [value]="data.name || data.label || ''"
    #inputRef
  />
  <em class="edit-save icon-icon-check" *ngIf="isEditable" (click)="save($event)"></em>
  <em class="cancel icon-icon-multiply" *ngIf="isEditable" (mousedown)="handleCancelIcon()"></em>
  <em
    *ngFor="let action of actions"
    class="action"
    [ngClass]="action.icon"
    (click)="clickAction(action, $event)"
    [tooltip]="action.tooltip | translate"
    container="body"
  >
  </em>
  <div class="tree-badge" *ngIf="badge">
    <div [tooltip]="'NODE.TOOLTIP.' + badge | uppercase | translate" placement="left" [delay]="300" [ngClass]="badge"></div>
  </div>
  <div *ngIf="loading" class="loader"></div>
</div>
<div *ngIf="(data.children?.length && !isCollapsed()) || root?.hiddenMode" [hidden]="root?.hiddenMode && isCollapsed()">
  <ng-container *ngFor="let child of data.children">
    <ff-exploded-tree-node
      *ngIf="(isVisible(child) && !root?.hiddenMode) || root?.hiddenMode"
      [hidden]="root?.hiddenMode && !isVisible(child)"
      [data]="child"
      (clickNode)="clickNode.emit($event)"
      [parent]="this"
      [cannotTruncated]="cannotTruncated"
      [draggable]="draggable"
      [root]="root"
      [expanded]="expanded"
    >
    </ff-exploded-tree-node>
  </ng-container>
</div>
