@import 'src/theme/variables/variables';

:host {
  display: block;
  padding-left: 23px;

  &.root {
    padding-left: 0;
  }

  &.loading {
    .label {
      .icon,
      span {
        opacity: 0.4;
      }

      .loader {
        opacity: 1;
      }
    }
  }

  &.edit-mode {
    .action {
      display: none !important;
    }
  }

  &.horizontalScroll {
    .label {
      span {
        overflow: visible;
        padding-right: 10px;
      }
    }
  }

  .action {
    font-size: 22px;
    padding-right: 5px;
    display: none;
  }

  .label {
    height: 39px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    font-size: 13px;
    letter-spacing: -0.5px;
    line-height: 26px;
    cursor: pointer;
    position: relative;

    .icon {
      transition: all 0.5s ease-in-out;
      width: 30px;
      height: 30px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      font-size: 23px;
      margin-left: 6px;
      margin-right: 3px;
      flex: 1 0 30px;
    }

    span {
      transition: all 0.5s ease-in-out;
      flex: 1 1 100%;
      margin-right: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    input {
      // background: none;
      border: transparent;
      height: 22px;
      padding: 0 5px;
      margin-left: -5px;
      margin-right: 5px;
      box-sizing: border-box;
      width: 100%;
      flex: 1 1 100%;
      font-size: 13px;
      max-width: initial;
      background: none;
      letter-spacing: -0.5px;
      &.focused {
        background: white;
      }
    }

    .edit-save {
      color: #4fa04f;
      font-size: 20px;
      margin-right: 5px;
      margin-left: -26px;
    }

    .cancel {
      font-size: 20px;
      color: #999999;
    }

    input::placeholder {
      color: inherit !important;
      font-size: 13px;
      font-weight: 300;
      letter-spacing: -0.5px;
    }

    .tree-badge {
      transition: all 0.5s ease-in-out;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-line-pack: center;
      align-content: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 23px;
      margin-right: 8px;
      flex: 1 0 18px;

      [class$='-light'] {
        height: 8px;
        width: 8px;
        border-radius: 50px;
        &.error-light {
          background: $red;
        }
        &.warning-light {
          background: $orange-light;
        }
        &.success-light {
          background: $dark_green;
        }
        &.info-light {
          background: $info;
        }
      }
    }

    &:hover,
    &.actived {
      background: $green-white;

      .action {
        display: inline-block;
      }
    }

    &.error {
      background: $red-background !important;
      color: $red !important;
      .icon {
        color: $red;
      }
    }

    &.warning {
      pointer-events: none;
      background: $orange-background !important;
      color: $orange-light !important;
      .icon {
        color: $orange-light;
      }
    }

    &:hover {
      background: $green-white-2;
      color: $dark_green;
    }

    .loader {
      pointer-events: none;
      transition: all 0.3s ease-in-out;
      transform: scale(0.3) translateX(-120px);
      position: absolute;
      left: 50%;
      transform-origin: center center;
      opacity: 0;
    }
  }
  .icon-pencil {
    font-size: 14px !important;
  }
}
