<div class="modal-content">
  <em class="close icon-cancel" (click)="close()"></em>
  <h2 class="title">
    {{ 'ENTITY_TYPE_DETAIL.NEW_ATTR_MODAL.TITLE' | translate }}
  </h2>

  <form [formGroup]="form">
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="name">{{ 'ENTITY_TYPE_DETAIL.NEW_ATTR_MODAL.NAME' | translate }}*</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            class="form-control"
            [class.is-invalid]="showNameAlreadyUsedError"
            (ngModelChange)="checkName()"
            [placeholder]="'ENTITY_TYPES.ENTER_NAME' | translate"
          />
          <ff-form-error [field]="form?.controls.name" [messages]="formErrors?.name"> </ff-form-error>
          <div class="invalid-feedback" *ngIf="showNameAlreadyUsedError">
            {{ 'ENTITY_TYPE_DETAIL.NEW_ATTR_MODAL.LABEL_IN_USE_ERROR' | translate: { label: form?.value.name } }}
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="label">{{ 'ENTITY_TYPE_DETAIL.NEW_ATTR_MODAL.LABEL' | translate }}*</label>
          <input
            type="text"
            id="label"
            formControlName="label"
            class="form-control"
            [class.is-invalid]="showLabelAlreadyUsedError"
            (ngModelChange)="checkLabel()"
            [placeholder]="'ENTITY_TYPES.ENTER_LABEL' | translate"
          />
          <ff-form-error [field]="form?.controls.label" [messages]="formErrors?.label"> </ff-form-error>
          <div class="invalid-feedback" *ngIf="showLabelAlreadyUsedError">
            {{ 'ENTITY_TYPE_DETAIL.NEW_ATTR_MODAL.LABEL_IN_USE_ERROR' | translate: { label: form?.value.label } }}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="form-group mb-0">
          <label for="type">
            {{ 'ENTITY_TYPE_DETAIL.NEW_ATTR_MODAL.TYPE' | translate }}
          </label>
          <ng-select
            (ngModelChange)="onChangeDataType()"
            [readonly]="dataTypeDisable"
            [attr.disabled]="dataTypeDisable ? true : null"
            formControlName="data_type"
            id="type"
          >
            <ng-option value="STRING">
              {{ 'ENTITY_TYPE_DETAIL.NEW_ATTR_MODAL.TYPES.STRING' | translate }}
            </ng-option>
            <!--<ng-option value="DATE_TIME">
              {{ 'ENTITY_TYPE_DETAIL.NEW_ATTR_MODAL.TYPES.DATE_TIME' | translate }}
            </ng-option>-->
            <ng-option value="DOUBLE">
              {{ 'ENTITY_TYPE_DETAIL.NEW_ATTR_MODAL.TYPES.DOUBLE' | translate }}
            </ng-option>
            <ng-option value="BOOLEAN">
              {{ 'ENTITY_TYPE_DETAIL.NEW_ATTR_MODAL.TYPES.BOOLEAN' | translate }}
            </ng-option>
            <ng-option value="ENTITY">
              {{ 'ENTITY_TYPE_DETAIL.NEW_ATTR_MODAL.TYPES.ENTITY' | translate }}
            </ng-option>
            <ng-option value="EMBEDDED">
              {{ 'ENTITY_TYPE_DETAIL.NEW_ATTR_MODAL.TYPES.EMBEDDED' | translate }}
            </ng-option>
          </ng-select>
          <ff-form-error [field]="form?.controls.data_type" [messages]="formErrors?.data_type"> </ff-form-error>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="weight">{{ 'ENTITY_TYPE_DETAIL.NEW_ATTR_MODAL.WEIGHT' | translate }}</label>
          <input type="number" id="weight" formControlName="weight" class="form-control" />
          <ff-form-error [field]="form?.controls.weight" [messages]="formErrors?.weight"> </ff-form-error>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="form-group" *ngIf="form?.value.data_type === 'ENTITY' || form?.value.data_type === 'EMBEDDED'">
          <label for="entity_view">{{
            (form?.value.data_type === 'ENTITY' ? 'ATTRIBUTE.ENTITY_TYPE' : 'ATTRIBUTE.EMBEDDED') | translate
          }}</label>
          <ff-select id="entity_view" formControlName="entity_view" [searchFn]="searchFn.bind(this)"></ff-select>
          <ff-form-error [field]="form?.controls.entity_view" [messages]="formErrors?.entity_view"> </ff-form-error>
        </div>
      </div>
    </div>

    <div class="row switchs">
      <div class="col">
        <div class="custom-control custom-switch switch-left">
          <input type="checkbox" class="custom-control-input" formControlName="label_attribute" id="label2" />
          <label class="custom-control-label pointer" for="label2">
            {{ 'ENTITY_TYPE_DETAIL.NEW_ATTR_MODAL.LABEL' | translate }}
          </label>
        </div>
      </div>
      <div class="col">
        <div [class.disabled]="form?.value.data_type === 'BOOLEAN'" class="custom-control custom-switch switch-left">
          <input type="checkbox" class="custom-control-input" formControlName="multiple_cardinality" id="multiple" />
          <label class="custom-control-label pointer" [attr.for]="form?.value.data_type === 'BOOLEAN' ? '' : 'multiple'">
            {{ 'ENTITY_TYPE_DETAIL.NEW_ATTR_MODAL.MULTIPLE' | translate }}
          </label>
        </div>
      </div>
      <div class="col">
        <div class="custom-control custom-switch switch-left">
          <input type="checkbox" class="custom-control-input" formControlName="is_i18n" id="i18n" (ngModelChange)="onChangeI18n()" />
          <label class="custom-control-label pointer" for="i18n">
            {{ 'ENTITY_TYPE_DETAIL.NEW_ATTR_MODAL.I18N' | translate }}
          </label>
        </div>
      </div>
    </div>

    <div class="text-right">
      <button class="btn btn-primary pr-5 pl-5" (click)="send()">
        {{ 'ENTITY_TYPE_DETAIL.NEW_ATTR_MODAL.ADD' | translate }}
      </button>
    </div>
  </form>
</div>
