@import '../../../../../theme/variables/variables';

:host {
  .modal-content {
    padding: 28px 32px;
    position: relative;

    .custom-switch {
      &.disabled {
        opacity: 0.5;
        pointer-events: none !important;

        label {
          pointer-events: none !important;
          cursor: default;
        }
      }
    }

    .close {
      position: absolute;
      right: 20px;
      top: 30px;
      color: $black;
      cursor: pointer;
      opacity: 1;
    }

    .title {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 30px;
    }

    .switchs {
      margin-top: 25px;
      margin-bottom: 80px;
    }
  }

  #weight {
    width: 100px;
  }
}
