@import '../../../../../../theme/variables/variables';

.icon-fail {
  font-size: 1.5rem;
  color: $red;
  &:before {
    content: '\e806';
    font-weight: bold !important;
  }
}
.icon-success {
  font-size: 1.5rem;
  color: $green;
  &:before {
    content: '\e807';
    font-weight: bold !important;
  }
}

.icon-unevaluated {
  font-size: 1.5rem;
  color: $grey-5;
  &:before {
    content: '\e860';
    font-weight: bold !important;
  }
}
