<div class="d-flex justify-content-start">
  <div>
    <span [ngClass]="getIcon(node)"></span>
  </div>
  <div>
    <!-- Atttribute -->
    <ff-evaluate-rules-info-rule-item [data]="node?.attribute" [success]="undefined" [rounded]="false"> </ff-evaluate-rules-info-rule-item>
  </div>
  <div>
    <!-- Type -->
    <ff-evaluate-rules-info-rule-item [data]="this.type | translate" [success]="undefined" [rounded]="false">
    </ff-evaluate-rules-info-rule-item>
  </div>
  <div *ngIf="!isDefined && !ruleMultipleValues?.length">
    <!-- rule value -->
    <ff-evaluate-rules-info-rule-item
      [data]="ruleValue"
      [success]="node?.has_result"
      [dataType]="node?.data_type"
      [rounded]="false"
      [tooltipText]="'RULE_QUERY.EVALUATE_RULES.TOOLTIP_VALUE'"
    ></ff-evaluate-rules-info-rule-item>
  </div>
  <div *ngIf="!isDefined && ruleMultipleValues?.length">
    <!-- rule value -->
    <ff-evaluate-rules-info-rule-item
      [data]="ruleMultipleValues"
      [node]="node"
      [success]="node?.has_result"
      [dataType]="node?.data_type"
      [rounded]="false"
      [tooltipText]="'RULE_QUERY.EVALUATE_RULES.TOOLTIP_VALUE'"
    >
    </ff-evaluate-rules-info-rule-item>
  </div>
  <div *ngIf="productValue && !isDefined">
    <!-- product value -->
    <ff-evaluate-rules-info-rule-item
      [data]="productValue"
      [node]="node"
      [dataType]="node?.data_type"
      [success]="node?.has_result"
      [rounded]="true"
      [tooltipText]="'RULE_QUERY.EVALUATE_RULES.TOOLTIP_PRODUCT'"
    >
    </ff-evaluate-rules-info-rule-item>
  </div>
  <div *ngIf="!productValue && !isDefined">
    <!-- product value -->
    <ff-evaluate-rules-info-rule-item
      [data]="'RULE_QUERY.EVALUATE_RULES.EMPTY' | translate"
      [node]="node"
      [rounded]="true"
      [tooltipText]="'RULE_QUERY.EVALUATE_RULES.TOOLTIP_PRODUCT'"
    >
    </ff-evaluate-rules-info-rule-item>
  </div>
</div>
