<ff-modal-header [title]="config?.titleText | translate" (closeMe)="handleCancel()"></ff-modal-header>

<div class="content-message">
  <!-- Buscador -->
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="entity-type-filter">{{ 'ENTITY_TYPE_SELECTOR_MULTIPLE.SEARCH' | translate }}</label>
        <div class="filter">
          <input
            type="text"
            id="entity-type-filter"
            class="form-control"
            [(ngModel)]="filter"
            [placeholder]="'ENTITY_TYPE_SELECTOR_MULTIPLE.ENTITY_TYPE' | translate"
            (keyup.enter)="filterItems()"
          />
          <button class="btn btn-dark" (click)="filterItems()" [disabled]="loading || !validSearchParam">
            {{ 'ENTITY_TYPE_SELECTOR_MULTIPLE.SEARCH' | translate }}
          </button>
        </div>
        <div class="invalid-feedback" *ngIf="filter && !validSearchParam">
          {{ 'ENTITY_TYPE_SELECTOR_MULTIPLE.MIN_CHARS' | translate }}
        </div>
      </div>
    </div>
  </div>

  <!-- Arboles -->
  <div class="row trees">
    <div class="col">
      <h3 class="section-title">
        {{ 'ENTITY_TYPE_SELECTOR_MULTIPLE.AVAILABLE' | translate | uppercase }}
      </h3>

      <ngx-simplebar class="tree-container">
        <span class="tree-action" (click)="selectAll()">{{ 'ENTITY_TYPE_SELECTOR_MULTIPLE.SELECT_ALL' | translate }}</span>
        <ff-ui-tree-list
          [items]="items"
          [loading]="loading"
          [hideSearch]="true"
          (clicked)="clickedItem($event)"
          [nameTemplateRef]="treeItemNameTemplate"
        >
        </ff-ui-tree-list>
      </ngx-simplebar>
    </div>
    <div class="col">
      <h3 class="section-title">
        {{ 'ENTITY_TYPE_SELECTOR_MULTIPLE.SELECTED' | translate | uppercase }}
      </h3>

      <ngx-simplebar class="tree-container tree-container-right">
        <span class="tree-action" (click)="selectNone()">{{ 'ENTITY_TYPE_SELECTOR_MULTIPLE.UNSELECT_ALL' | translate }}</span>
        <ff-ui-tree-list [items]="selectedItemsTree" [hideSearch]="true" [nameTemplateRef]="treeItemRightNameTemplate"> </ff-ui-tree-list>
      </ngx-simplebar>
    </div>
  </div>
</div>

<ff-modal-footer>
  <div class="content-buttons row">
    <div class="button-cancel col-4">
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="handleCancel()">
        {{ config?.cancelBtnText | translate }}
      </button>
    </div>

    <div class="button-continue col-8">
      <button type="button" class="btn btn-primary" [disabled]="!selectedItems.length" (click)="handleSelect()">
        {{ config?.okBtnText | translate }} &nbsp; {{ selectedItems.length }}
      </button>
    </div>
  </div>
</ff-modal-footer>

<ng-template #treeItemNameTemplate let-item>
  <div class="tree-item-name">
    {{ item.value?.label || item.value?.name }}
  </div>
  <div class="tree-item-selected-icon" *ngIf="selectedItemsIds.indexOf(item.value.id) >= 0">
    <em class="icon-icon-check-peq"></em>
  </div>
</ng-template>

<ng-template #treeItemRightNameTemplate let-item>
  <div class="tree-item-name">
    {{ item.value?.label || item.value?.name }}
  </div>
  <div class="tree-item-remove-icon" (click)="removeItem(item)">
    <em class="icon-icon-trash"></em>
  </div>
</ng-template>
