@import 'src/theme/variables/colors';

:host {
  padding-top: 10px;

  ::ng-deep ff-ui-tree-list {
    .item-list {
      height: calc(100% - 20px);
      overflow: auto;
    }
  }

  ::ng-deep ff-modal-footer {
    .modal-footer {
      padding-top: 15px;
    }
  }

  .content-message {
    padding-left: 33px;
    padding-right: 33px;
    .filter {
      display: flex;
      .btn {
        margin-left: 7px;
      }
    }
    .trees {
      padding: 15px;
      .tree-container {
        border: 1px solid $white-2;
        height: 423px;
        .tree-action {
          color: $green;
          cursor: pointer;
          text-decoration: underline;
          text-underline-offset: 0.2rem;
          margin: 0.3rem 1rem 0 0;
          font-size: 0.9rem;
          font-size: 0.9rem;
          display: block;
          text-align: right;
          &:hover {
            text-decoration: none;
          }
        }
      }
      .section-title {
        margin-bottom: 11px;
      }
    }
  }

  .content-buttons {
    width: 100%;

    .button-cancel {
      text-align: left;
    }

    .button-continue {
      text-align: right;
      .btn {
        padding-left: 22px;
        padding-right: 22px;
      }
    }
  }

  .tree-item-name {
    max-width: calc(100% - 60px);
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tree-item-selected-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: $green;
    font-size: 35px;
  }

  .tree-item-remove-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: $grey;
    font-size: 30px;
    opacity: 0;
    transition: 300ms;
    .icon-icon-trash {
      &:hover {
        color: $red-delete;
      }
    }
  }

  .tree-container-right {
    ::ng-deep ff-ui-tree-list {
      .item-name {
        &:hover {
          .tree-item-remove-icon {
            opacity: 1;
          }
        }
      }
    }
  }
}
