@import 'src/theme/variables/colors';
@import 'src/theme/variables/input-vars';

.body-modal {
  padding-left: 33px;
  padding-right: 33px;
  .item {
    max-width: 339px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
  }
}

.error-message {
  margin: 0 24px 32px 24px;
  background-color: #fff6e9;
  position: relative;

  .text-error {
    padding: 17px 30px;
    margin-left: 20px;
    color: $grey-3;
    font-size: 15px;
    font-weight: 500;
  }

  em {
    left: 15px;
    top: 13px;
    position: absolute;
    font-size: 20px;
    color: $orange-light;
  }
}

.content-buttons {
  width: 100%;
}
