:host {
  ::ng-deep {
    .facet-conf-body {
      min-height: auto !important;
    }
    .page-container .title {
      display: none;
    }
    .page-article {
      padding-bottom: 30px;
    }
  }
}
