<div class="page-container page-container-padding" *ngIf="data">
  <div class="page-section bg-gray">
    <ff-facet-detail [selectedAttribute]="attribute" [readonly]="true"></ff-facet-detail>
    <ff-facet-config [facet]="facet" [showConfigSection]="true" [readonly]="true" [showUse]="false"></ff-facet-config>
  </div>
</div>
