<h2>Attributo Embedded</h2>
<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef?.hide()">
  <em class="icon-cancel"></em>
</button>
<ff-offer-exploded-tree [hiddenBundleOf]="true" [badgeFilter]="badgeFilter.bind(this)"></ff-offer-exploded-tree>

<div class="actions d-flex justify-content-between mt-5">
  <button type="button" class="btn btn-outline-primary ml-2 btn-lg" (click)="modalRef?.hide()">
    {{ 'COMMON.CANCEL' | translate }}
  </button>
  <button type="button" class="btn btn-primary ml-2 btn-lg" (click)="select()">
    {{ 'COMMON.SELECT' | translate | uppercase }}
  </button>
</div>
