@import '../../../../../theme/variables/variables';

.container-condition-reference {
  padding: 10px 10px 10px 52px;
  border: 1px dashed transparent;
  transition: $transition-time;

  input {
    background-color: $white !important;
  }

  &:hover {
    background-color: $green-white;
  }

  .attr {
    font-size: 13px;
    color: $black-2;
    vertical-align: middle;
    padding-top: 11px;
    padding-right: 4px;
  }

  .row {
    margin-left: -5px;
    margin-right: -5px;

    .col-2,
    .col-3 {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .actions {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 19px;
    transition: $transition-time;

    .icon-trash {
      &:hover {
        color: $red-delete;
      }
    }

    &.only-delete {
      margin-left: 0;
      padding-top: 7px;
    }

    .plus {
      margin-left: 5px;
    }
  }
}
