<div class="container-condition-reference">
  <div class="row">
    <div class="col-3">
      <div class="attr">Usa</div>
    </div>

    <div class="col-8">
      <input [disabled]="true" type="text" class="form-control input-actions max-width" [value]="data?.reference_name || data?.name" />
    </div>

    <div class="col-1">
      <div class="actions only-delete" *ngIf="!readonly">
        <em class="icon-trash pointer" (click)="deleteMySelf()"></em>
      </div>
    </div>
  </div>
</div>
