<div class="page-section bg-gray" [class.has-changes]="changed">
  <div class="text-center pt-5 pb-5" *ngIf="loading">
    <div class="loader"></div>
  </div>

  <ng-container *ngIf="!loading">
    <div class="no-attrs" *ngIf="!treeList[0].children?.length">
      <div class="alert alert-warning" [class.headShake]="isShake" role="alert">
        <em class="icon-warning"></em>
        {{ 'ENTITY_TYPE_DETAIL.MIN_ONE_ATTRIBUTE' | translate }}
      </div>

      <button class="btn btn-primary" (click)="addAttribute()">
        {{ 'ENTITY_TYPE_DETAIL.NEW_ATTRIBUTE' | translate }}
      </button>
    </div>
    <div class="have-attrs" *ngIf="treeList[0].children?.length">
      <div class="button-and-search">
        <button
          class="btn btn-primary button"
          [ngClass]="{ hidden: !selectedItem?.value.isEntityType || readonly }"
          (click)="addAttribute()"
        >
          {{ 'ENTITY_TYPE_DETAIL.NEW_ATTRIBUTE' | translate }}
        </button>
        <ff-search-simple
          (search)="search($event)"
          [hideResults]="true"
          [placeHolder]="'ENTITY_TYPE_DETAIL.PLACEHOLDER'"
        ></ff-search-simple>
      </div>
      <div class="row no-gutters">
        <div class="col tree-col">
          <ngx-simplebar>
            <ff-exploded-tree
              [tree]="treeList"
              hideSearch="true"
              [enableHorizontalScroll]="false"
              (clickNode)="clickNode($event)"
              [showFilter]="showFilter"
            >
            </ff-exploded-tree>
          </ngx-simplebar>
        </div>

        <div class="col detail-col">
          <ff-entity-type-detail-attribute-info
            (addAttribute)="addAttribute()"
            (viewAttribute)="viewAttribute($event)"
            (removeAttribute)="removeAttribute($event)"
            [tree]="treeList"
            [readonly]="readonly"
            [selectedItem]="selectedItem"
          >
          </ff-entity-type-detail-attribute-info>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="page-footer-sticky text-right">
  <button class="btn btn-outline-primary" (click)="cancel.emit()">
    {{ 'ENTITY_TYPE_DETAIL.CANCEL' | translate }}
  </button>
  <button [class.disable]="readonly" class="btn btn-primary ml-2 pl-4 pr-4" (click)="sendSave()">
    {{ 'ENTITY_TYPE_DETAIL.SAVE' | translate }}
  </button>
</div>
