@import '../../../../../theme/variables/variables';

:host {
  .page-footer-sticky {
    padding: 14px 21px 14px;

    .alert {
      margin-bottom: 0;
    }
  }

  .button {
    margin-left: 20px !important;
    margin-bottom: 10px !important;
  }

  .page-section {
    padding-top: 25px;
    height: calc(100% - 288px);
    overflow-x: hidden;
    overflow-y: auto;

    &.has-changes {
      height: calc(100% - 320px);
    }
  }

  .no-attrs {
    padding: 13px 30px;

    .alert {
      margin-bottom: 30px;
    }
  }

  .have-attrs {
    height: 100%;

    > .row {
      height: 100%;
    }

    .col {
      height: 100%;
    }

    .detail-col {
      padding-left: 30px;
    }

    .tree-col {
      max-width: 256px;
      background-color: $white;

      ngx-simplebar {
        height: 100%;
      }
    }
  }

  ::ng-deep {
    .tree-col {
      ngx-simplebar {
        .simplebar-content {
          height: 100%;
          padding: 10px 8px !important;
        }
      }
    }
    .button-and-search {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      .button {
        margin: 0;
        &.hidden {
          visibility: hidden;
        }
      }
      ff-search-simple {
        &.hideResults {
          & * {
            display: inline-block;
            margin: 0;
            padding: 0;
            padding-right: 5px;
            padding-left: 10px;
            max-width: unset;
            min-width: unset;
            width: auto;
          }
          & button {
            padding: 9px;
          }
          input {
            min-width: 250px;
            margin-bottom: 15px;
            padding-left: 12px;
          }
        }
      }
    }

    ff-ui-tree-list {
      height: 100%;

      .search {
        display: none !important;
      }
    }
  }
}
