<div class="container-condition-simple" [sortablejs]="data" [sortablejsOptions]="sortablejsOptions">
  <div class="row">
    <div class="col-2" [tooltip]="data.tooltip_label">
      <div class="attr">
        {{ attSelected?.label | titlecase }}
      </div>
    </div>
    <div class="col-auto select">
      <ng-select [disabled]="readonly" [(ngModel)]="data.node_type" [clearable]="false" (ngModelChange)="onChangeData()">
        <ng-option *ngFor="let operator of operators" [value]="operator">
          {{ 'OPERATOR.' + operator | translate }}
        </ng-option>
      </ng-select>
    </div>
    <div
      class="col-5"
      *ngIf="
        !attSelected.multiple_cardinality &&
        data?.node_type !== types.IS_DEFINED &&
        data?.node_type !== types.IS_NOT_DEFINED &&
        data?.node_type !== types.in &&
        data?.node_type !== types.notin
      "
    >
      <ff-chips-control-select
        [(ngModel)]="data.value"
        [disabled]="readonly"
        [config]="chipsConfig"
        [readonly]="readonly"
        (ngModelChange)="selectedEntityOnChange($event)"
      ></ff-chips-control-select>
    </div>
    <div
      class="col-5"
      *ngIf="
        (attSelected.multiple_cardinality && data?.node_type !== types.IS_DEFINED && data?.node_type !== types.IS_NOT_DEFINED) ||
        data?.node_type === types.in ||
        data?.node_type === types.notin
      "
    >
      <ff-conditions2-multiple-entity
        [readonly]="readonly"
        [data]="data"
        [value]="data?.value"
        (update)="updateMultipleValue($event)"
      ></ff-conditions2-multiple-entity>
    </div>
    <div class="col-5" *ngIf="data?.node_type === types.IS_DEFINED || data?.node_type === types.IS_NOT_DEFINED"></div>
    <div class="col-1">
      <div class="actions only-delete" *ngIf="!readonly">
        <em class="icon-trash pointer" (click)="deleteMySelf()"></em>
      </div>
    </div>
  </div>
  <div class="pt-3 pb-1" *ngIf="lastSonAttribute?.is_tree_attribute || data.is_tree_attribute">
    <div class="custom-control custom-switch switch-left">
      <input
        type="checkbox"
        [(ngModel)]="data.recursive_filter"
        (ngModelChange)="onChangeDataRecursive()"
        [id]="idCheckbox"
        class="custom-control-input"
        [disabled]="readonly"
      />
      <label [for]="idCheckbox" class="custom-control-label pointer" [tooltip]="'SIMPLE_ENTITY.TOOLTIP' | translate">
        {{ 'SIMPLE_ENTITY.ACTIVE_FOR_ALL_LEVELS' | translate }}
      </label>
    </div>
  </div>
</div>
