@import '../../../../../theme/variables/variables';

:host {
  label {
    &.custom-control-label {
      font-weight: 400;
    }
  }

  .loader-container {
    width: 50%;
    margin: 0 auto;
  }

  .container-condition-simple {
    padding: 10px 10px 10px 52px;
    border: 1px dashed transparent;
    transition: $transition-time;

    .select {
      padding: 0px 5px;
    }

    .attr {
      font-size: 13px;
      color: $black-2;
      vertical-align: middle;
      padding-top: 11px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 4px;
    }

    .row {
      margin-left: -5px;
      margin-right: -5px;

      .col-2,
      .col-3 {
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    &:hover {
      background-color: $green-white;
    }

    .input-actions {
      width: calc(100% - 60px);
      display: inline-block;
    }

    .actions {
      margin-left: 10px;
      display: inline-block;
      vertical-align: middle;
      font-size: 19px;
      transition: $transition-time;

      .icon-trash {
        &:hover {
          color: $red-delete;
        }
      }

      &.only-delete {
        margin-left: 0;
        padding-top: 7px;
      }

      .plus {
        margin-left: 5px;
      }
    }
  }
}
