<ngx-simplebar class="page-section bg-gray" [class.has-changes]="hasChanges">
  <div class="text-center pt-5 pb-5" *ngIf="loading">
    <div class="loader"></div>
  </div>

  <ng-container *ngIf="!loading">
    <div class="button-and-search" [ngClass]="{ 'button-and-search': !entityType?.is_master, 'only-search': entityType?.is_master }">
      <!--<button *ngIf="!entityType?.is_master" class="btn btn-primary button" (click)="go.emit()">
        {{ 'ENTITY_TYPE_DETAIL.NEW_ENTITY' | translate }}
      </button>-->
      <ff-search-simple (search)="search($event)" [placeHolder]="'ENTITY.SEARCH'" [hideResults]="true"></ff-search-simple>
    </div>

    <ff-table-with-fixed-elements>
      <table class="table" *ffTableWithFixedElements>
        <thead>
          <tr>
            <th
              *ngFor="let field of fields; let i = index"
              [id]="'table-th-' + (field.label || field.name)"
              [ffTableFixedElement]="!i"
              [class]="field?.data_type | lowercase"
              [ngClass]="{ 'text-center': field?.data_type?.toUpperCase() === 'BOOLEAN' }"
            >
              {{ field.label || field.name | translate }}
            </th>
            <th id="table-th-icons-1" class="width-icon" [width]="'3%'"></th>
            <th id="table-th-icons-2" [width]="'3%'" class="width-icon"></th>
          </tr>
        </thead>

        <tbody *ngIf="!loading">
          <tr *ngFor="let row of rows; let i = index">
            <td
              *ngFor="let r of row; let x = index"
              [tooltipHtml]="tool"
              [tooltipEnable]="!!r.tooltip"
              [ffTableFixedElement]="!x"
              [class]="fields[x].data_type | lowercase"
              [ngClass]="{ 'has-icons': !x, 'text-center': isBooleanValue(r.value) }"
              [delay]="150"
              [class.pointer]="!!r.tooltip"
              container="body"
            >
              <ng-template #tool>
                <div class="no-white text-left" [innerHTML]="r.tooltip"></div>
              </ng-template>
              <span
                [ngClass]="{
                  green: isBooleanValue(r.value) && r.value === 'true',
                  red: isBooleanValue(r.value) && r.value === 'false',
                  name: !x
                }"
                [innerHTML]="getValue(r.value) | translate"
                *ngIf="fields[x].data_type !== 'EMBEDDED'"
              ></span>
              <ff-embedded-button *ngIf="fields[x].data_type === 'EMBEDDED'" [field]="fields[x]" [value]="r.value"></ff-embedded-button>
              <span class="icons" *ngIf="!x" [ffTableOnlyShowOnFixed]="true">
                <em class="icon-view" (click)="detailEntity(i)"></em>
                <!--<em *ngIf="!entityType?.is_master" class="icon-trash" (click)="handleDelete2(i)"></em>-->
              </span>
            </td>

            <td class="width-icon">
              <em class="icon-view" (click)="detailEntity(i)"></em>
            </td>

            <td class="width-icon">
              <!--<em *ngIf="!entityType?.is_master" class="icon-trash" (click)="handleDelete2(i)"></em>-->
            </td>
          </tr>
        </tbody>
      </table>
    </ff-table-with-fixed-elements>

    <div class="pagination-container" *ngIf="!loading">
      <ff-pagination-2
        (pageChanged)="handlePageChanged($event)"
        [pageSize]="pageSize"
        [(currentPage)]="currentPage"
        [totalItems]="totalItems"
      >
      </ff-pagination-2>
    </div>
  </ng-container>
</ngx-simplebar>
