@import '../../../../../theme/variables/variables';

:host {
  .page-section {
    padding: 30px;
    height: calc(100% - 210px);

    &.has-changes {
      height: calc(100% - 260px);
    }
  }

  .button {
    margin-bottom: 15px;
  }

  .name {
    max-width: 150px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .green {
    color: $green;
  }

  .red {
    color: $red;
  }

  .has-icons {
    position: relative;
    padding-right: 70px;
  }

  .only-show-on-fixed {
    vertical-align: middle;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    .icon-view {
      font-size: 22px;
      vertical-align: middle;
    }

    .icon-trash {
      font-size: 16px;
      margin-left: 8px;
      vertical-align: middle;
    }
  }

  .no-white {
    white-space: nowrap;
  }

  ::ng-deep {
    .only-search {
      ff-search-simple {
        .root {
          padding-right: 0;
          justify-content: end !important;
          padding-left: 10px;
          .offset-1 {
            margin-left: 0;
          }
        }
      }
    }
    .button-and-search {
      display: flex;
      position: relative;
      float: right;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-content: center;
      text-overflow: ellipsis;
      align-items: center;
      margin-bottom: 15px;
      .button {
        margin: 0;
      }
      ff-search-simple {
        &.hideResults {
          & * {
            display: inline-block;
            margin: 0;
            padding: 0;
            padding-left: 10px;
            max-width: unset;
            min-width: unset;
            width: auto;
          }
          & button {
            padding: 9px;
          }
          input {
            min-width: 250px;
            padding-left: 12px;
          }
        }
      }
    }
  }
}
