<ff-page-header [pageTitle]="'Select'"></ff-page-header>

<div class="page-container page-container-padding">
  <div class="page-section p-5">
    <ff-doc-example class="no-top" heading="Ejemplo básico" [ngModel]="true" [description]="example1Description" [data]="example1">
      <ff-doc-select-1></ff-doc-select-1>
    </ff-doc-example>
    <div class="mt-4">
      <ff-doc-example heading="Ejemplo en formulario" [angularForm]="true" [description]="example2Description" [data]="example2">
        <ff-doc-select-2></ff-doc-select-2>
      </ff-doc-example>
    </div>
  </div>
</div>
