<ff-page-header [pageTitle]="'Changelog'"></ff-page-header>

<div class="page-container page-container-padding">
  <div class="page-section p-5">
    <p>
      Se puede consultar el estado del changelog en el siguiente link de bitbucket
      <a href="https://bitbucket.almeci.io/projects/FIREFLY-FRONT/repos/front-firefly/browse/CHANGELOG.md" target="_blank"
        >https://bitbucket.almeci.io/projects/FIREFLY-FRONT/repos/front-firefly/browse/CHANGELOG.md</a
      >
    </p>
    <div>
      <section id="considerations">
        <p>1. Consideraciones</p>
        <p class="description">La versión del standard-version no debe ser igual o menor a la versión actual.</p>
        <p class="description">Cada final de sprint se ejecutará el script para actualizar el changelog con el nuevo tag.</p>
        <p class="description">
          Cada nueva release genera un nuevo tag con una versión y commit correspondiente
          <span class="green">chore(release): 2.1.0</span>
        </p>
      </section>
      <section id="steps">
        <p>2. Pasos</p>
        <p class="description">
          Actualizamos la nueva versión en el package.json, para ellos vamos al script "changelog-release"
          <code [lineNumbers]="true" [highlight]="'standard-version --release-as 2.1.0'"></code>
        </p>
        <p class="description">
          Lanzamos el comando
          <code [lineNumbers]="true" [highlight]="'npm run changelog-release'"></code>
        </p>
      </section>
    </div>
  </div>
</div>
