<ff-modal-warning [config]="config" (confirm)="evento = $event; primerEvento = true"></ff-modal-warning>

<span *ngIf="primerEvento"> {{ evento ? 'Evento Confirmacion' : 'Evento Cancelacion' }} </span>
