@import '../../../../theme/variables/colors';

:host {
  .sitemap-container {
    max-height: 100vh;
    padding: 40px 50px;
    .search-container {
      display: flex;
      width: 100%;
      margin-bottom: 30px;
      input {
        max-width: 370px;
        width: 100%;
      }
      .btn {
        margin-left: 11px;
      }
    }
  }
  @media (max-width: 1138px) {
    .sitemap-container {
      min-height: 210vh !important;
      .menu {
        min-height: 190vh;
        box-shadow: none;
        .content-menu-wrapper {
          .content-menu {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: flex-start !important;
            overflow: hidden;
            min-height: 170vh !important;
            .content-item {
              width: 300px;
              height: max-content;
              margin-bottom: 10px;
              .icon-and-name {
                .collapse {
                  width: 250px;
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    .sitemap-container {
      min-height: 210vh !important;
      .menu {
        min-height: 190vh;
        .content-menu {
          display: flex !important;
          flex-wrap: wrap !important;
          min-height: 170vh !important;

          .icon-and-name {
            min-width: 173px !important;
          }
          .sub-menu,
          .content-item {
            max-width: 220px !important;
          }
        }
      }
    }
  }
  .menu {
    width: auto;
    position: static;
    height: 80vh;
    box-shadow: none;
    .content-menu-wrapper {
      .content-menu {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        height: 55vh;
        overflow: hidden;
        .sub-menu,
        .content-item {
          max-width: 250px;
          &.search-active,
          &.search-active .icon-and-name {
            background-color: $green;
            color: $white;
          }
        }
        .content-item:nth-child(2) {
          margin-bottom: 10px;
        }
        .content-item:nth-child(3) {
          margin-bottom: 20px;
        }
        .content-item:nth-child(5) {
          margin-bottom: 100px;
        }

        .content-item {
          width: 33.333%;
          .icon-and-name {
            .collapse {
              width: 250px;
            }
          }
        }
      }
    }
  }
}
