<div class="page-section sitemap-container">
  <div class="search-container">
    <input
      [(ngModel)]="sectionFilter"
      (keyup.enter)="search()"
      [placeholder]="'SITEMAP.PLACEHOLDERS.SECTION' | translate"
      type="text"
      data-cy="sitemap-filter-input"
      class="form-control"
      autocomplete="off"
    />
    <button class="btn btn-dark btn-sm" (click)="search()">
      {{ 'SITEMAP.SEARCH' | translate }}
    </button>
  </div>

  <div class="menu">
    <div class="content-menu-wrapper">
      <div class="content-menu">
        <div
          class="content-item active activeColapse"
          [ngClass]="{ clickable: !item?.subitems?.length }"
          *ngFor="let item of menu"
          [attr.data-cy]="'sitemap-item-' + item.id"
          (click)="go(item)"
          [class.search-active]="item.isActive"
        >
          <div class="icon">
            <em [class]="item.image"></em>
          </div>
          <div class="icon-and-name">
            <div class="name-item">
              {{ item.short || item.label }}
            </div>
            <div [collapse]="false">
              <div
                class="sub-menu clickable"
                (click)="go(subItem)"
                [attr.data-cy]="'sitemap-subitem-' + subItem.id"
                *ngFor="let subItem of item.subitems"
                [class.search-active]="subItem.isActive"
              >
                {{ subItem.short || subItem.label }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
