<ff-modal-header [title]="config?.title | translate" (closeMe)="handleCancel()"></ff-modal-header>

<div class="alert alert-info d-flex align-items-start" role="alert" *ngIf="config?.message">
  <i class="icon-icon-alert-warning align-self-start"></i>
  <div>{{ config?.message | translate }}</div>
</div>

<ng-container *ngFor="let range of config.ranges">
  <div class="alert alert-warning d-flex align-items-start" role="alert" *ngIf="form.get(range.key)?.get('from').invalid">
    <i class="icon-icon-alert-warning align-self-start"></i>
    <div>{{ range?.error | translate }}</div>
  </div>
</ng-container>
<div class="alert alert-warning d-flex align-items-start" role="alert" *ngIf="required">
  <i class="icon-icon-alert-warning align-self-start"></i>
  <div>{{ 'MODAL_RANGE.REQUIRED_ERROR' | translate }}</div>
</div>

<form [formGroup]="form" (submit)="handleDone()">
  <div class="body-modal">
    <div class="row" *ngIf="config?.selectOptions">
      <div class="col-12">
        <div class="form-group w-100">
          <label for="select" *ngIf="config?.selectLabel">{{ config?.selectLabel | translate }} *</label>

          <ng-select
            *ngIf="!config?.selectMultiple"
            id="select"
            formControlName="select"
            [placeholder]="config?.selectPlaceholder | translate"
          >
            <ng-option *ngFor="let option of selectMultipleItems | keyvalue" [value]="option.key">{{ option.value }}</ng-option>
          </ng-select>

          <div class="input-group" *ngIf="config?.selectMultiple">
            <input
              #input
              id="newText"
              [placeholder]="config?.selectPlaceholder | translate"
              type="text"
              class="form-control max-width"
              autocomplete="off"
              (keydown.enter)="change(input, $event)"
            />

            <div class="input-group-append">
              <button (click)="change(input)" [disabled]="false" type="button" class="btn btn-secondary btn-sm">
                {{ 'MODAL_SELECT_TEXTS.ADD' | translate | uppercase }}
              </button>
            </div>
          </div>

          <ff-form-error [field]="form.controls.select" [messages]="formErrors.select"></ff-form-error>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="config?.selectMultiple">
      <div class="chips col-12">
        <span
          *ngFor="let item of form.controls.select.value"
          class="badge badge-pill badge-light"
          placement="bottom"
          [adaptivePosition]="false"
          [tooltip]="item"
        >
          {{ this.config?.selectOptions[item] || item }}
          <em class="icon-cancel" (click)="remove(item)"></em>
        </span>
      </div>
    </div>

    <ng-container *ngFor="let range of config.ranges">
      <h3>{{ range.label | translate }}</h3>
      <div class="row range" [formGroup]="form.get(range.key)">
        <div class="col-6">
          <div class="form-group">
            <label for="from">{{ range.startLabel | translate }}</label>
            <div class="d-flex align-items-center">
              <input
                type="number"
                #from
                class="form-control"
                id="from"
                formControlName="from"
                [attr.placeholder]="range.placeholder | translate"
                [ngClass]="{ 'ng-invalid': form.get(range.key)?.invalid }"
              />
              <div class="prefix" *ngIf="range.prefix">
                {{ range.prefix }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="from">{{ range.endLabel | translate }}</label>
            <div class="d-flex align-items-center">
              <input
                type="number"
                #to
                class="form-control"
                id="to"
                formControlName="to"
                [attr.placeholder]="range.placeholder | translate"
                [ngClass]="{ 'ng-invalid': form.get(range.key)?.invalid }"
              />
              <div class="prefix" *ngIf="range.prefix">
                {{ range.prefix }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <ff-modal-footer>
    <div class="content-buttons row">
      <div class="col-6">
        <button (click)="handleCancel()" [disabled]="false" type="button" class="btn btn-outline-primary btn-sm">
          {{ 'CANCEL' | translate | uppercase }}
        </button>
      </div>
      <div class="col-6 text-right">
        <button [disabled]="false" type="submit" class="btn btn-primary btn-sm">
          {{ 'MODAL_SELECT_TEXTS.INSERT' | translate | uppercase }}
        </button>
      </div>
    </div>
  </ff-modal-footer>
</form>
