@import 'src/theme/variables/colors';
@import 'src/theme/variables/input-vars';

:host {
  ::ng-deep {
    .modal-footer {
      border-top: 0;
      padding: 29px 16px 33px;
    }
  }

  .body-modal {
    padding: 20px 55px 0;
  }

  .alert-warning,
  .alert-info {
    margin: 0 33px;
    padding: 17px 18px;
    align-items: center !important;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
    i {
      color: $red;
      font-size: 28px;
      margin-right: 13px;
    }
  }
  .alert-warning {
    background: $red-background;
  }
  .alert-info {
    i {
      color: $orange-light;
    }
  }

  .content-buttons {
    width: 100%;
  }

  label {
    font-size: 12px;
    margin-bottom: 3px;
  }
  .chips {
    padding: 0 25px;
    margin-top: -5px;
  }
  .form-group .d-flex {
    > * {
      margin-right: 5px;
      font-size: 12px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  h3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .range {
    padding: 0 10px;
  }
}
