@import '../../../../../theme/variables/colors';

:host {
  .division {
    background-color: $white-4;
    height: 6px;
    border: 0;
  }

  .dashboard-btn-container {
    margin-top: 0;
    transition: all 0.5s ease-in-out;
    &.collapsible {
      margin-top: -6rem;
    }
  }

  .page-section {
    padding: 28px 20px;

    .page-header-collapse {
      margin-left: -1rem;
      margin-bottom: 1rem;
    }
    .row-title {
      margin-left: 1.25rem;
    }
    .description-field {
      max-width: 1000px;
    }

    .option-container {
      .option-code {
        font-size: 10px;
      }
    }

    .product-code {
      max-width: initial;
    }
  }
}

.form-group ::ng-deep {
  margin-bottom: 0 !important;
}
