<div class="page-section">
  <header
    class="col page-header-collapse w-50"
    [class.page-header-collapse-open]="!isCollapsedConfig['search']"
    (click)="isCollapsedConfig['search'] = !isCollapsedConfig['search']"
  >
    <h3>{{ 'RULE_QUERY.SATISFIED_RULES.QUERY_DETAIL' | translate | uppercase }}</h3>
  </header>
  <form [formGroup]="form" (submit)="submit()">
    <div [collapse]="isCollapsedConfig['search']" [isAnimated]="true" class="row-title">
      <div class="row">
        <div *ngIf="messageError" class="pt-3 alert alert-danger mb-5">Este producto no existe</div>
        <div class="col-4 form-group">
          <label>{{ 'RULE_QUERY.EVALUATE_RULES.TYPE' | translate }}</label>
          <ng-select formControlName="typeSelect" id="select-evaluate-type" (change)="changeCodeType()" [clearable]="false">
            <ng-option *ngFor="let option of salesReferences" [value]="option.value"
              ><span [attr.data-cy]="'evaluate-' + ('RULE_QUERY.EVALUATE_RULES.' + option.label | translate) + '-option'">{{
                'RULE_QUERY.EVALUATE_RULES.' + option.label | translate
              }}</span></ng-option
            >
          </ng-select>
        </div>
        <div class="col-4 form-group">
          <label>{{ 'RULE_QUERY.EVALUATE_RULES.' + productLabel | translate }}</label>
          <!-- <ff-input-search formControlName="product" [searcherFn]="changeProductCode"></ff-input-search> -->
          <input
            class="d-block w-100"
            formControlName="product"
            id="evaluate-product"
            data-cy="evaluate-product-input"
            type="text"
            (keyup.enter)="submit()"
            placeholder="{{ 'RULE_QUERY.EVALUATE_RULES.PLACEHOLDER.' + productLabel | translate }}"
          />

          <div class="invalid-feedback" *ngIf="product.invalid && product.touched && invalidField">
            {{ 'RULE_QUERY.EVALUATE_RULES.ERROR.REQUIRED_ID' | translate }}
          </div>
        </div>
        <div class="col-4 form-group">
          <label>{{ 'RULE_QUERY.PRODUCT.RULE' | translate }}</label>
          <div>
            <ff-evaluate-rules-select-rule
              formControlName="rule"
              [config]="configModal"
              (navigate)="navigate($event)"
            ></ff-evaluate-rules-select-rule>
          </div>
          <div class="invalid-feedback" *ngIf="form.controls.rule.invalid && form.controls.rule.touched">
            {{ 'RULE_QUERY.EVALUATE_RULES.ERROR.REQUIRED_RULE' | translate }}
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<hr class="division" *ngIf="!isCollapsedConfig['search']" />
<div class="page-footer dashboard-btn-container text-right" *ngIf="!sended; else again" [class.collapsible]="isCollapsedConfig['search']">
  <button type="button" class="btn btn-outline-primary ml-2 btn-lg" (click)="reset()" id="evaluate-reset">
    {{ 'COMMON.CANCEL' | translate | uppercase }}
  </button>
  <button type="button" class="btn btn-primary ml-2 btn-lg" (click)="submit()" id="evaluate-submit">
    {{ 'COMMON.CONSULT' | translate }}
  </button>
</div>
<ng-template #again>
  <div class="dashboard-btn-container" [class.collapsible]="isCollapsedConfig['search']">
    <div class="page-footer text-right">
      <button type="button" class="btn btn-primary ml-2 btn-lg" (click)="back()" id="evaluate-back">
        {{ 'COMMON.CONSULT_AGAIN' | translate }}
      </button>
    </div>
  </div>
</ng-template>
