<div class="root-form">
  <!-- STRING -->
  <div *ngIf="config?.data_type === 'STRING'">
    <ng-container *ngIf="!config?.multiple_cardinality && !config?.is_i18n">
      <label [for]="config?.id">
        {{ config?.label | titlecase }}
      </label>
      <input
        [(ngModel)]="value"
        (ngModelChange)="changeValue()"
        (blur)="onBlur()"
        type="text"
        [id]="config?.id"
        class="form-control"
        [placeholder]="'ENTITY_TYPES.ENTER_TEXT' | translate"
        autocomplete="off"
        [disabled]="disabled"
      />
      <div class="invalid-feedback" *ngIf="control?.errors && control?.touched">
        {{ 'COMMON_ERRORS.REQUIRED' | translate }}
      </div>
    </ng-container>
    <ng-container *ngIf="config?.multiple_cardinality && config?.is_i18n && control">
      <ff-field-multiple-i18n
        [(ngModel)]="value"
        (ngModelChange)="changeValueI18nMultiple()"
        [heading]="config?.label | titlecase"
        [control]="control"
        [disabled]="disabled"
      >
      </ff-field-multiple-i18n>
    </ng-container>
    <ng-container *ngIf="config?.multiple_cardinality && !config?.is_i18n">
      <ff-text-multiple
        [(ngModel)]="value"
        (ngModelChange)="changeValue()"
        [label]="config?.label | titlecase"
        [disabled]="disabled"
      ></ff-text-multiple>
    </ng-container>
    <ng-container *ngIf="!config?.multiple_cardinality && config?.is_i18n">
      <ff-field-i18n
        [(ngModel)]="value"
        (ngModelChange)="changeValueI18n()"
        [heading]="config?.label | titlecase"
        [control]="control"
        [disabled]="disabled"
      ></ff-field-i18n>
    </ng-container>
  </div>
  <!-- DATE -->
  <div *ngIf="config?.data_type === 'DATE_TIME'">
    <ng-container>
      <div class="col-6">
        <label [for]="config?.id">
          {{ config?.label | titlecase }}
        </label>
        <ff-datetimepicker
          autocomplete="off"
          [id]="config?.id"
          [(ngModel)]="value"
          (ngModelChange)="changeValue()"
          [defaultHour]="0"
          [defaultMinute]="0"
          [disabled]="disabled"
        ></ff-datetimepicker>
      </div>
    </ng-container>
  </div>

  <!-- DOUBLE -->
  <div *ngIf="config?.data_type === 'DOUBLE'">
    <ng-container *ngIf="!config?.multiple_cardinality">
      <label [for]="config?.id">
        {{ config?.label | titlecase }}
      </label>
      <input
        [(ngModel)]="value"
        (ngModelChange)="changeValue()"
        type="text"
        name="name"
        [placeholder]="'ENTITY_TYPES.ENTER_NUMBER' | translate"
        [id]="config?.id"
        class="form-control"
        autocomplete="off"
        [disabled]="disabled"
      />
      <div class="annotation">
        {{ 'ENTITY_TYPE_DETAIL.DOUBLE_INFO' | translate }}
      </div>

      <div class="invalid-feedback" *ngIf="control?.errors">
        {{ 'ENTITY_TYPE_DETAIL.DOUBLE_ERROR_MAX' | translate }}
      </div>
    </ng-container>
    <ng-container *ngIf="config?.multiple_cardinality">
      <ff-number-multiple
        [label]="config?.label | titlecase"
        [(ngModel)]="value"
        (ngModelChange)="changeValue()"
        [disabled]="disabled"
      ></ff-number-multiple>
    </ng-container>
  </div>

  <!-- ENTITY -->
  <ng-container *ngIf="config?.data_type === 'ENTITY'">
    <ff-chips-control-select
      *ngIf="entityLoaded"
      [(ngModel)]="value"
      (ngModelChange)="changeValue()"
      [config]="configChips"
      [disabled]="disabled"
    ></ff-chips-control-select>

    <div class="loader" *ngIf="!entityLoaded"></div>
  </ng-container>

  <!-- BOOLEAN -->
  <div *ngIf="config?.data_type === 'BOOLEAN'">
    Boolean
    <div class="custom-control custom-switch switch-left">
      <input
        [(ngModel)]="value"
        (ngModelChange)="changeValue()"
        type="checkbox"
        class="custom-control-input"
        [id]="'check_' + index"
        [disabled]="disabled"
      />
      <label class="custom-control-label pointer" [for]="'check_' + index">
        {{ config?.label | titlecase }}
      </label>
    </div>
  </div>
</div>
