@import 'src/theme/variables/colors';

label {
  height: 15px;
  width: 170px;
  color: $black-2;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 15px;
}

.root-form {
  margin-bottom: 30px;
}

.annotation {
  font-size: 12.5px;
  margin-top: 5px;
}
