@import '../../../../../../theme/variables/variables';

.data-input {
  padding: 12px 16px;
  min-width: 115px;
  background-color: $white-6;
  font-size: 14px;
  color: $black-2;
  border: 1px solid $white-2;
  border-radius: 2px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}
