.body-modal {
  padding: 0 35px;
}

.label-filter {
  font-size: 12px;
  margin-bottom: 4px;
}

.loader {
  font-style: normal;
}

.label-info {
  display: inline-block;
  width: calc(100% - 18px);
  padding-left: 16px;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px;
}

.max-width {
  max-width: 362px !important;
}

.conten-item {
  font-size: 15px;
  margin: 17px 0;
  align-content: space-between;
}

.items-length {
  font-size: 13px;
}

.column {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  &.full {
    width: 100%;
  }
}

.value {
  .label-info {
    padding: 0;
    width: 100%;
  }
}

.scroll-items {
  max-height: 52vh;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.headLabels {
  font-size: 12px;
}

:host {
  ::ng-deep {
    .tooltip-top {
      margin-top: -23px;
    }
  }
}
