<ff-modal-header [title]="config.title | translate" (closeMe)="handleCancel()"></ff-modal-header>

<div class="px-5">
  <div>
    <div class="label-filter">{{ 'MODAL_SELECT.FILTER' | translate }}</div>
    <div class="max-width">
      <input
        (input)="filterItems($event)"
        id="input"
        data-cy="modal-info-filter-input"
        name="input"
        type="text"
        class="form-control max-width"
        autocomplete="off"
        [placeholder]="config.searchPlaceholder || 'MODAL_SELECT.FILTER_PLACEHOLDER' | translate"
      />
    </div>
  </div>
  <div class="mt-4">
    <div *ngIf="loading" class="pt-1 pb-1 text-center"><em class="loader"></em></div>
    <div *ngIf="!loading">
      <div class="items-length">{{ filteredItems.length }} {{ config.prefix | translate }}</div>
      <div class="mt-3 px-1 scroll-items">
        <div>
          <div *ngIf="config.headLabels" class="headLabels">
            <div class="column" *ngFor="let label of config.headLabels">
              <strong>{{ label | translate }}</strong>
            </div>
          </div>
          <div *ngFor="let item of filteredItems" class="row conten-item">
            <div class="column" [ngClass]="{ full: !item.value }">
              <em class="icon-icon-agrupaciones"></em>
              <span
                class="label-info"
                [attr.data-cy]="item.key + '-item'"
                [tooltip]="item.key"
                placement="bottom"
                [delay]="300"
                [isDisabled]="!checkTruncate(label)"
                #label
                >{{ item.key }}</span
              >
            </div>
            <div class="column value" *ngIf="item.value">
              <span
                class="label-info"
                [attr.data-cy]="item.value + '-item'"
                [tooltip]="item.value"
                placement="bottom"
                [delay]="300"
                [isDisabled]="!checkTruncate(value)"
                #value
              >
                {{ item.value }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ff-modal-footer>
  <button (click)="handleCancel()" data-cy="modal-info-close-btn" type="button" class="btn btn-primary btn-sm">
    {{ 'COMMON.CLOSE' | translate }}
  </button>
</ff-modal-footer>
