<ff-page-header [pageTitle]="'Ejemplo Modal Tree'"></ff-page-header>
<form [formGroup]="form">
  <div class="page-container page-container-padding">
    <div class="page-section p-4">
      <h5>Modal Tree</h5>
      <div>
        <ff-chips-control-select formControlName="tree" [config]="chipConfig"></ff-chips-control-select>
      </div>
      <pre class="mt-2 alert alert-dark"><code>{{ form.value | json }}</code></pre>
    </div>
  </div>
</form>
