<div class="page-header row" *ngIf="list && !loading">
  <div class="col">
    <h3>{{ list.length }} {{ 'CROSSELLING.QUERY.LIST_TITLE' | translate }}</h3>
  </div>
</div>

<div class="content-list">
  <table class="table table-hover" *ngIf="!loading">
    <thead>
      <tr>
        <th id="product">{{ 'CROSSELLING.QUERY.PRODUCT' | translate }}</th>
        <th id="table-th-none"></th>
        <th id="table-th-brand">{{ 'CROSSELLING.QUERY.BRAND' | translate }}</th>
        <th id="table-th-site">{{ 'CROSSELLING.QUERY.SITE' | translate }}</th>
        <th id="table-th-ean">{{ 'CROSSELLING.QUERY.EAN' | translate }}</th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let item of list; let i = index">
        <tr class="pointer" (click)="toggle(i)">
          <td class="toggle" [class.active]="showSubitems[i]"></td>
          <td>{{ item.id }} {{ item.title }}</td>
          <td>{{ item.brand }}</td>
          <td>{{ item.site }}</td>
          <td>{{ item.ean }}</td>
        </tr>

        <ng-container *ngIf="showSubitems[i]">
          <ng-container *ngFor="let related of item.related_products">
            <tr *ngFor="let ean of related.eans">
              <td class="empty"></td>
              <td>{{ related.id }} {{ related.title }}</td>
              <td>{{ related.brand }}</td>
              <td>{{ item.site }}</td>
              <td>{{ ean }}</td>
            </tr>
          </ng-container>
        </ng-container>
      </ng-container>
    </tbody>
  </table>

  <div class="text-center" *ngIf="loading">
    <div class="loader"></div>
  </div>

  <div class="pagination-container" [hidden]="loading">
    <ff-pagination-2
      (pageChanged)="handlePageChanged($event)"
      [(currentPage)]="currentPage"
      [totalItems]="page ? page.total_elements : 0"
    ></ff-pagination-2>
  </div>
</div>
