@import '../../../../../../theme/variables/variables';

.subitems {
  margin-left: 100px;

  td {
    padding-left: 100px;
  }
}

.icons-subitem {
  display: inline;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

table {
  .toggle {
    width: 40px;

    &.active {
      &:after {
        transform: rotate(90deg) translateX(-1.5px) scale(0);
      }
    }

    &:after,
    &:before {
      display: block;
      content: ' ';
      width: 15px;
      height: 1.5px;
      background-color: $black-2;
      transform-origin: 50% 50%;
      transition: $transition-time;
      margin: 0 auto;
    }

    &:after {
      transform: rotate(90deg) translateX(-1.5px);
    }
  }
}
