<ff-modal-header [title]="config?.title | translate" (closeMe)="handleCancel()"></ff-modal-header>

<div *ngIf="!loading">
  <div class="error-message" *ngIf="showNeedFirstLanguageError">
    <em class="icon-warning"></em>
    <div class="text-error">
      {{ 'FIELD_I18N.NEED_FIRST_LANGUAGE' | translate: { language: firstLanguage } }}
    </div>
  </div>

  <div class="body-modal">
    <div class="item mt-2" *ngFor="let language of languages; let i = index">
      <label>
        {{ 'LANGUAGES.' + language | translate }}
      </label>
      <input type="text" [(ngModel)]="value[language]" [placeholder]="" class="form-control" />
      <div class="invalid-feedback" *ngIf="validatorEs && language === 'es_ES' && !value[language]">
        {{ 'COMMON_ERRORS.REQUIRED' | translate }}
      </div>
    </div>
  </div>

  <ff-modal-footer>
    <div class="content-buttons row">
      <div class="col-6">
        <button (click)="handleCancel()" [disabled]="false" type="button" class="btn btn-outline-primary btn-sm">
          {{ config?.cancelBtnText ? (config?.cancelBtnText | translate | uppercase) : ('CANCEL' | translate | uppercase) }}
        </button>
      </div>
      <div class="col-6 text-right">
        <button (click)="handleDone()" [disabled]="false" type="button" class="btn btn-primary btn-sm">
          {{ config?.okBtnText ? (config?.okBtnText | translate | uppercase) : ('COMMON.SAVE' | translate | uppercase) }}
        </button>
      </div>
    </div>
  </ff-modal-footer>
</div>
<div class="text-center pt-5 pb-5" *ngIf="loading">
  <div class="loader"></div>
</div>
