<ff-modal-header [title]="config?.title | translate" (closeMe)="handleCancel()"></ff-modal-header>

<div class="error-message">
  <em class="icon-warning"></em>
  <div class="text-error">
    {{ config?.errorMessage | translate }}
  </div>
</div>

<div class="content-message">
  <div class="text">
    {{ config?.bodyMessage | translate: { name: config.name } }}
  </div>
  <br />
  <div class="text">
    {{ config?.questionMessage | translate }}
  </div>
</div>

<ff-modal-footer>
  <div class="content-buttons row">
    <div class="button-continue col-6">
      <button (click)="handleConfirm()" type="button" class="btn btn-outline-primary btn-lg">
        {{ config?.okButtonText | translate }}
      </button>
    </div>
    <div class="button-cancel col-6">
      <button (click)="handleCancel()" type="button" class="btn btn-lg btn-primary">
        {{ config?.cancelButtonText | translate }}
      </button>
    </div>
  </div>
</ff-modal-footer>
