<!-- -->
<form [formGroup]="form" (submit)="send()">
  <label for="date" class="nowrap">Fecha</label>
  <div style="max-width: 400px">
    <ff-datetimepicker id="date" formControlName="date" [defaultHour]="11" [defaultMinute]="11" [defaultSeconds]="11"> </ff-datetimepicker>
    <ff-form-error [field]="form.controls.date" [messages]="formMessages.date"></ff-form-error>
  </div>
  <button type="submit" class="btn btn-primary mt-2">Enviar</button>
</form>

<div class="mt-4">
  <label>Valor:</label>
  <pre><code>{{form.value | json}}</code></pre>
</div>
