<div
  class="item-name"
  [hidden]="item.hide"
  [tooltip]="item.value?.label || item.value?.name"
  [tooltipAppendToBody]="true"
  delay="500"
  placement="bottom"
  [class.selected]="lastSelectedItem === item"
  [dndDraggable]="outputAllItemOnDrag ? item : item.value"
  [dndDisableIf]="!item.draggable"
  dndEffectAllowed="move"
  (click)="toggle()"
>
  <em [class]="item.icon + ' icon'"></em>
  <span *ngIf="!nameTemplateRef" [innerHTML]="getName()"></span>
  <ng-container *ngIf="nameTemplateRef">
    <ng-container *ngTemplateOutlet="nameTemplateRef; context: { $implicit: item }"> </ng-container>
  </ng-container>
  <span
    class="status"
    [class.warning]="item.status === enumStatus.warning"
    [class.error]="item.status === enumStatus.error"
    *ngIf="item.status"
  ></span>
</div>

<div class="item-childrens" *ngIf="item.childrens && item.isOpen && !isLoadingChildrens">
  <ng-container *ngFor="let children of item.childrens">
    <ff-ui-tree-ref-list
      (collapsed)="collapsed.emit($event)"
      (expanded)="expanded.emit($event)"
      (clicked)="emitClicked($event)"
      (loadError)="loadError.emit($event)"
      [nameTemplateRef]="nameTemplateRef"
      [lastSelectedItem]="lastSelectedItem"
      [textToSearch]="textToSearch"
      [item]="children"
      [parentItemsIds]="myParentItemsIds"
      [parentItems]="myParentItems"
      [calculeItemsPath]="calculeItemsPath"
      [outputAllItemOnDrag]="outputAllItemOnDrag"
      *ngIf="canShow(children.value)"
    >
    </ff-ui-tree-ref-list>
  </ng-container>
</div>

<div class="loader-container" *ngIf="item.isOpen && isLoadingChildrens">
  <span class="loader"></span>
</div>

<div class="alert alert-danger" role="alert" *ngIf="errorOnLoadingChildrens">
  <em class="icon-warning"></em>
  {{ 'UI_TREE_LIST.ERROR_ON_LOAD' | translate }}
</div>

<div class="alert alert-danger" role="alert" *ngIf="errorDefineRules">
  <em class="icon-warning"></em>
  {{ 'UI_TREE_LIST.ERROR_DEFINE_RULES' | translate }}
</div>

<div class="alert alert-warning" role="alert" *ngIf="item.isOpen && noHaveChildrens">
  <em class="icon-warning"></em>
  {{ 'UI_TREE_LIST.NO_RETURN_CHILDRENS_ON_LOAD' | translate }}
</div>
