@import 'src/theme/variables/variables';

:host {
  .item-name {
    font-size: 13px;
    font-weight: 500;
    color: $black-2;
    letter-spacing: -0.5px;
    padding: 6px 8px;
    cursor: pointer;
    transition: $transition-time;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;

    &.selected {
      background-color: $green-white;

      .icon {
        color: $green;
      }
    }

    .icon {
      margin-right: 8px;
      font-size: 24px;
      vertical-align: middle;
    }

    &:hover {
      background-color: $green-white;

      .icon {
        color: $green;
      }
    }
  }

  .item-childrens {
    padding-left: 25px;
  }

  .loader-container {
    text-align: center;

    .loader {
      margin-bottom: -20px;
      margin-top: -20px;
      width: 80px;
    }
  }

  .status {
    height: 8px;
    width: 8px;
    top: 50%;
    border-radius: 100px;
    position: sticky;
    float: right;
    &.warning {
      background-color: #ffab2b;
    }

    &.error {
      background-color: #fc361e;
    }
  }
}
