<ff-page-header [pageTitle]="'Getting Started'"></ff-page-header>

<div class="page-container page-container-padding">
  <div class="page-section p-5">
    <div class="description">
      A través de esta guía te ayudamos a trabajar en firefly Front.
      <ol class="description">
        <li>
          <a class="link" [href]="getLink('install')"> Instalación </a>
        </li>
        <li>
          <a class="link" [href]="getLink('data')"> Juegos de datos </a>
        </li>
        <li>
          <a class="link" [href]="getLink('commands')"> Comandos de interés </a>
        </li>
        <li>
          <a class="link" [href]="getLink('laws')">Normativa de programación</a>
        </li>
        <li>
          <a class="link" [href]="getLink('git')">Antes de tu primer commit</a>
        </li>
      </ol>
      <ol>
        <li class="description">
          <section id="install">
            <p class="description">Instalación</p>

            <code [lineNumbers]="true" [highlight]="'npm install'"></code>

            <p class="description">Preparar husky para commits y push</p>

            <code [lineNumbers]="true" [highlight]="'npm run husky:prepare'"></code>

            <p class="description">Levantar el aplicativo:</p>
            <code [lineNumbers]="true" [highlight]="'npm run start:api'"></code>

            <p class="description">Levantar el aplicativo contra servidor mocks</p>
            <code [lineNumbers]="true" [highlight]="'npm run start:mocks'"></code>
          </section>
        </li>
        <li class="description">
          <section id="data">
            <p class="description">Juegos de datos</p>
            <p class="description">
              Hay operativas que necesitan juegos de datos, en la página
              <a target="_blank" href="https://confluence.almeci.io/pages/viewpage.action?pageId=143365418">Juegos de datos</a> podrás
              consultarlos.
            </p>
          </section>
        </li>
        <li id="commands" class="description">
          <p class="description">Comandos de interés</p>
          <code [lineNumbers]="false" [highlight]="otherCommands"></code>
        </li>

        <li id="laws" class="description">
          <p class="description">Normativa</p>
          <p class="description">
            En la página
            <a target="_blank" href="https://confluence.almeci.io/pages/viewpage.action?pageId=143364901"> normativa</a>
            encontrarás una breve normativa
          </p>
        </li>

        <li class="description">
          <section id="git">
            <p class="description">Configuración del Usuario para el repositorio</p>
            <p class="description">
              Antes de realizar el primer commit, ejecuta:
              <code [lineNumbers]="false" [highlight]="commitCommands"></code>
              Después podrás realizar commit y push hacia el repositorio, en caso de haber realizado un commit con el usuario y email
              erroneos, deberás revertir el commit ya que tendrá asignados un usuario y email erroneos. Otra posible solución es volver a
              clonar el repositorio y volver a realizar los cambios y el commit nuevamente con los valores correctos.
            </p>
          </section>
        </li>
      </ol>
    </div>
  </div>
</div>
