<div class="ml-2 mr2">
  <div class="col-12" *ngIf="loading">
    <div class="page-section">
      <div class="text-center pt-5 pb-5">
        <div class="loader"></div>
      </div>
    </div>
  </div>

  <div class="page-section bg-gray">
    <form [formGroup]="headerForm" (submit)="submit()" *ngIf="!loading">
      <!-- HEADER -->
      <div class="subtitle row bg-white">
        <div class="col">
          {{ 'SPENTER.PRINCIPAL_DATA' | translate | uppercase | uppercase }}
        </div>
        <div class="col text-right">
          <div class="custom-control custom-switch">
            <input formControlName="active" type="checkbox" class="custom-control-input" id="active" />
            <label class="custom-control-label pointer" for="active">
              {{ headerForm.value.active ? ('SPENTER.ACTIVE' | translate) : ('SPENTER.DISABLED' | translate) }}
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row content-name">
          <!-- Nombre -->
          <div class="col-6">
            <label for="name"> {{ 'SPENTER.FORM.NAME' | translate }}* </label>

            <input [placeholder]="'SPENTER.FORM.NAME' | translate" type="text" class="form-control" id="name" formControlName="name" />
            <ff-form-error [field]="headerForm.controls.name" [messages]="headerFormErrors.name"></ff-form-error>
          </div>

          <!-- Despublicar si agotado -->
          <div class="col-3">
            <div class="form-group mb-0">
              <label for="unpublish"> {{ 'SPENTER.FORM.UNAVAILABLE_UNPUBLISH' | translate }}* </label>
              <ng-select id="unpublish" formControlName="unpublish">
                <ng-option value="'unpublish'">{{ 'SPENTER.FORM.UNPUBLISH' | translate | uppercase }}</ng-option>
                <ng-option value="'publish'">{{ 'SPENTER.FORM.PUBLISH' | translate | uppercase }}</ng-option>
                <ng-option value="'hide'">{{ 'SPENTER.FORM.HIDE' | translate | uppercase }}</ng-option>
              </ng-select>
              <ff-form-error [field]="headerForm.controls.unpublish" [messages]="headerFormErrors.unpublish"> </ff-form-error>
            </div>
          </div>

          <!-- Umbral mínimo -->
          <div class="col-3">
            <label for="minimumToShow"> {{ 'SPENTER.FORM.MINIMUM_TO_SHOW' | translate }}* </label>

            <input
              [placeholder]="'SPENTER.FORM.MINIMUM_TO_SHOW' | translate"
              type="text"
              class="form-control"
              id="minimumToShow"
              formControlName="minimumToShow"
            />
            <ff-form-error [field]="headerForm.controls.minimumToShow" [messages]="headerFormErrors.minimumToShow"> </ff-form-error>
          </div>
        </div>

        <div class="row content-date">
          <!-- Fecha inicio -->
          <div class="col-3 form-group">
            <label for="endDate">{{ 'SPENTER.FORM.INIT_DATE' | translate }}*</label>
            <div class="datepicker">
              <ff-datetimepicker id="initDate" formControlName="initDate" [defaultHour]="00" [defaultMinute]="00"> </ff-datetimepicker>
            </div>
            <div class="error-date-time">
              <div class="error-date">
                <span class="invalid-feedback" *ngIf="headerForm.errors && headerForm.errors.invalidRangeDate">
                  {{ 'SPENTER.FORM.INVALID_RANGE' | translate }}
                </span>
              </div>
            </div>
          </div>

          <!-- Fecha fin -->
          <div class="col-3 form-group">
            <label for="endDate">{{ 'SPENTER.FORM.END_DATE' | translate }}*</label>
            <div class="datepicker">
              <ff-datetimepicker id="endDate" formControlName="endDate" [defaultHour]="00" [defaultMinute]="00"> </ff-datetimepicker>
            </div>
            <div class="error-date-time">
              <div class="error-date">
                <span class="invalid-feedback" *ngIf="headerForm.errors && headerForm.errors.invalidRangeDate">
                  {{ 'SPENTER.FORM.INVALID_RANGE' | translate }}
                </span>
              </div>
            </div>
          </div>

          <!-- Mostrar unidades disponibles(web) -->
          <div class="col-3">
            <div class="form-group mb-0">
              <label for="showAvailable"> {{ 'SPENTER.FORM.SHOW_AVAILABLE' | translate }}* </label>
              <ng-select id="showAvailable" formControlName="showAvailable">
                <ng-option value="true">{{ 'SPENTER.FORM.YES' | translate | uppercase }}</ng-option>
                <ng-option value="false">{{ 'SPENTER.FORM.NO' | translate | uppercase }}</ng-option>
              </ng-select>
              <ff-form-error [field]="headerForm.controls.showAvailable" [messages]="headerFormErrors.showAvailable"> </ff-form-error>
            </div>
          </div>

          <!-- Mostrar unidades disponibles(web) -->
          <div class="col-3">
            <div class="form-group mb-0">
              <label for="nightControl"> {{ 'SPENTER.FORM.NIGHT_CONTROL' | translate }}* </label>
              <ng-select id="nightControl" formControlName="nightControl">
                <ng-option value="true">{{ 'SPENTER.FORM.YES' | translate | uppercase }}</ng-option>
                <ng-option value="false">{{ 'SPENTER.FORM.NO' | translate | uppercase }}</ng-option>
              </ng-select>
              <ff-form-error [field]="headerForm.controls.nightControl" [messages]="headerFormErrors.nightControl"> </ff-form-error>
            </div>
          </div>
        </div>
      </div>

      <div class="spenter-details-container">
        <!-- --------------- -->
        <!--  REGLAS  -->
        <div class="page-header row">
          <div
            class="col page-header-collapse"
            [class.page-header-collapse-open]="!isCollapsedConfig['rules']"
            (click)="isCollapsedConfig['rules'] = !isCollapsedConfig['rules']"
          >
            <h3>{{ 'SPENTER.FORM.RULES' | translate | uppercase }}</h3>
          </div>
        </div>

        <div class="page-article pt-1" [collapse]="isCollapsedConfig['rules']" [isAnimated]="true">
          <ff-rules-form (rules)="changeRules($event)"></ff-rules-form>
        </div>

        <!-- --------------- -->
        <!--  CONFIGURACIÓN  -->
        <div class="page-header row">
          <div
            class="col page-header-collapse"
            [class.page-header-collapse-open]="!isCollapsedConfig['config']"
            (click)="isCollapsedConfig['config'] = !isCollapsedConfig['config']"
          >
            <h3>{{ 'SPENTER.FORM.CONFIGURATION' | translate | uppercase }}</h3>
          </div>
        </div>

        <div class="page-article pt-1" [collapse]="isCollapsedConfig['config']" [isAnimated]="true">
          <ff-chips-control-select formControlName="chipsSubsites" [config]="chipsSubsitesConfig"> </ff-chips-control-select>
        </div>

        <!-- --------------- -->
        <!--  INCLUIDOS  -->
        <div class="page-header row included">
          <div
            class="col page-header-collapse"
            [class.page-header-collapse-open]="!isCollapsedConfig['included']"
            (click)="isCollapsedConfig['included'] = !isCollapsedConfig['included']"
          >
            <h3>{{ 'SPENTER.FORM.INCLUDED' | translate | uppercase }}</h3>
          </div>
        </div>

        <div class="page-article pt-1" [collapse]="isCollapsedConfig['included']" [isAnimated]="true">
          <!-- <ff-included-excluded-form [data]="includedValue" (changed)="changeIncludedData($event)"></ff-included-excluded-form> -->
        </div>

        <!-- --------------- -->
        <!--  EXCLUIDOS  -->
        <div class="page-header row excluded">
          <div
            class="col page-header-collapse"
            [class.page-header-collapse-open]="!isCollapsedConfig['excluded']"
            (click)="isCollapsedConfig['excluded'] = !isCollapsedConfig['excluded']"
          >
            <h3>{{ 'SPENTER.FORM.EXCLUDED' | translate | uppercase }}</h3>
          </div>
        </div>

        <div class="page-article pt-1" [collapse]="isCollapsedConfig['excluded']" [isAnimated]="true">
          <!-- <ff-included-excluded-form [data]="excludedValue" (changed)="changeExcludedData($event)"></ff-included-excluded-form> -->
        </div>
      </div>

      <!--  FOOTER BUTTONS -->
      <div class="page-footer text-right">
        <button type="button" class="btn btn-sm btn-outline-primary" (click)="cancel()">
          {{ 'TARGET_DETAIL_COMPONENT.CANCEL' | translate | uppercase }}
        </button>

        <button type="button" class="btn btn-primary ml-2 btn-lg" (click)="submit()">
          {{ 'TARGET_DETAIL_COMPONENT.SAVE' | translate | uppercase }}
        </button>
      </div>
    </form>
  </div>
</div>
