@import '../../../../../theme/variables/colors';

.page-section {
  .content-name {
    padding-bottom: 13px;
    padding-top: 20px;
    margin-left: 0;
    margin-right: 0;
    background-color: $white;

    input {
      width: 100%;
      max-width: 100%;
    }
  }

  .content-date {
    padding-bottom: 13px;
    padding-top: 20px;
    margin-left: 0;
    margin-right: 0;
    border-bottom: solid 1px $white-3;
    background-color: $white;
  }

  .subtitle {
    padding: 15px;
    font-size: 14px;
    line-height: normal;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
  }

  .header-subtitle {
    background-color: $white;
  }

  .chips {
    padding-left: 15px;
    padding-bottom: 36px;

    input {
      max-width: 390px;
    }
    .annotation {
      font-size: 12px;
      margin-top: 5px;
      font-weight: 500;
      display: block;
    }
  }

  .datepicker {
    display: flex;
    align-items: flex-end;
  }

  .spenter-details-container {
    background-color: $white-4;

    .annotation {
      font-size: 12px;
      margin-top: 5px;
      margin-bottom: 5px;
      font-weight: 500;
      display: block !important;
    }

    .select-center-type {
      max-width: 360px;
    }

    .icon-select-down {
      cursor: pointer;
      font-size: 10px;
      padding-left: 5px;
      padding-right: 10px;
    }

    .row-switch {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }

    .lbl-switch {
      font-size: 12px;
    }
  }

  .included {
    h3 {
      color: #337e34;
    }

    .page-header-collapse::before {
      color: #337e34;
    }
  }

  .excluded {
    h3 {
      color: #fc361e;
    }

    .page-header-collapse::before {
      color: #fc361e;
    }
  }
}
