@import '../../../../../theme/variables/variables';

:host {
  .division {
    background-color: $white-4;
    height: 6px;
    border: 0;
  }

  .page-section {
    padding: 28px 20px;

    .page-header-collapse {
      margin-left: -1rem;
      margin-bottom: 1rem;
    }
    .search-default {
      max-width: 1200px;
    }

    form {
      margin-left: 1.25rem;
      input {
        max-width: 120px;
      }
    }

    .product-code-container {
      position: relative;

      input {
        width: calc(100% - 50px);
        max-width: 100%;
      }

      .icon-check {
        color: $green;
      }

      .icon-cancel {
        color: $red;
      }

      .loader {
        position: absolute;
        right: 0;
        top: 50%;
        width: 65px;
        transform: translateY(-50%);

        .loading {
          margin: 0;
        }
      }
    }
  }

  .info-container {
    max-width: 700px;

    input {
      width: 100%;
      max-width: 100%;
    }
  }
}

.dashboard-btn-container {
  margin-top: 0;
  transition: all 0.5s ease-in-out;
  &.collapsible {
    margin-top: -6rem;
  }
}
