<div class="page-section">
  <div class="col page-header-collapse w-50" [class.page-header-collapse-open]="!collapsed" (click)="collapsed = !collapsed">
    <h3>{{ 'DASHBOARD.DETAILS' | translate | uppercase }}</h3>
  </div>
  <form [formGroup]="form" [collapse]="collapsed" [isAnimated]="true">
    <div class="row">
      <!-- Selección tipo de codigo-->
      <div class="col-3">
        <label for="type">{{ 'DASHBOARD.QUERY_TYPE' | translate }}</label>
        <ng-select (change)="changeCodeType($event)" formControlName="type" [readonly]="isReadOnlyOnsubmit" [clearable]="false">
          <ng-option value="item_code">
            <span data-cy="product-code-option"> {{ 'DASHBOARD.PRODUCT_CODE' | translate }}</span>
          </ng-option>
          <ng-option value="sale_reference">
            <span data-cy="reference-code-option">{{ 'DASHBOARD.REFERENCE_CODE' | translate }}</span>
          </ng-option>
          <ng-option value="ean">
            <span data-cy="ean-code-option">{{ 'DASHBOARD.EAN_CODE' | translate }}</span>
          </ng-option>
          <ng-option value="unique-code">
            <span data-cy="unique-code-option"> {{ 'DASHBOARD.UNIQUE_CODE' | translate }}</span>
          </ng-option>
        </ng-select>
      </div>
      <!-- Código -->
      <div class="col-3">
        <label for="product_code">{{ 'DASHBOARD.' + typeCodeLabel | translate }}</label>
        <div class="product-code-container">
          <input
            class="w-100"
            id="code"
            data-cy="product-code-input"
            type="text"
            formControlName="code"
            [readonly]="isReadOnlyOnsubmit"
            required
            placeholder="{{ 'DASHBOARD.PLACEHOLDER.' + typeCodeLabel | translate }}"
          />
          <span class="ml-3">
            <em class="icon-check" *ngIf="productCodeStatus === 'done'"></em>
            <em class="icon-cancel" *ngIf="productCodeStatus === 'error'"></em>
            <span class="loader" *ngIf="productCodeStatus === 'loading'"></span>
          </span>
          <ff-form-error [field]="form.controls.code" [messages]="formErrors.code"></ff-form-error>
        </div>
      </div>
      <div class="col-3">
        <ff-chips-control-select
          formControlName="site"
          [config]="chipsConfigSubsite"
          [readonly]="isReadOnlyOnsubmit"
          [showDisabled]="true"
        ></ff-chips-control-select>
      </div>
      <!--TODO-->
      <!--Deshabilitado hasta que se soluciones error con el Name por parte de la API-->
      <!--Combo Vendedores-->
      <!-- <div class="col-3">
        <ff-chips-control-select
          formControlName="seller"
          [config]="chipsConfigSeller"
          [readonly]="isReadOnlyOnsubmit"
        ></ff-chips-control-select>
      </div> -->
    </div>
  </form>
</div>
<hr class="division" *ngIf="!collapsed" />
<!-- Botones -->
<div class="dashboard-btn-container" *ngIf="!isSubmited; else again" [class.collapsible]="collapsed">
  <div class="page-footer text-right">
    <button type="button" data-cy="dashboard-cancel-btn" class="btn btn-outline-primary ml-2 btn-lg" (click)="cancel()">
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button type="button" data-cy="dashboard-consult-btn" class="btn btn-primary ml-2 btn-lg" (click)="submit()">
      {{ 'COMMON.CONSULT' | translate }}
    </button>
  </div>
</div>
<ng-template #again>
  <div class="dashboard-btn-container" [class.collapsible]="collapsed">
    <div class="page-footer text-right">
      <button type="button" data-cy="dashboard-consult-again-btn" class="btn btn-primary ml-2 btn-lg" (click)="back()">
        {{ 'COMMON.CONSULT_AGAIN' | translate }}
      </button>
    </div>
  </div>
</ng-template>
