<label *ngIf="heading">
  {{ heading }}
</label>
<div class="text-right" *ngIf="!disabled">
  <span class="add-value" [class.disabled]="!canAddValue" (click)="addNewValue()">
    <i class="icon-plus"></i>
    <span>
      {{ 'FIELD_I18N_MULTIPLE.ADD_VALUE' | translate }}
    </span>
  </span>
</div>

<div
  class="alert alert-danger"
  *ngIf="
    showError ||
    (control.errors && control.errors.i18nNoHaveRequiredLanguage) ||
    (control.errors && control.errors.i18nRequiredLaguageNoHaveValueInAllIndex)
  "
>
  <em class="icon-icon-warning"></em>
  {{ 'FIELD_I18N_MULTIPLE.MIN_LANGUAGE_ERROR' | translate }} “{{ 'LANGUAGES.' + languages[0] | translate }}”
</div>

<ff-table-with-fixed-elements>
  <table class="table" *ffTableWithFixedElements>
    <tbody>
      <tr *ngFor="let language of languages; let isFirstLang = first; let x = index">
        <td width="120px" [ffTableFixedElement]="true">
          <b>{{ 'LANGUAGES.' + language | translate }}</b>
        </td>
        <ng-container *ngIf="!!value">
          <td *ngFor="let val of value[language]; trackBy: track; let i = index">
            <div
              class="badge badge-pill badge-light"
              [class.has-error]="!value[language][i] && isFirstLang"
              [class.touched]="toucheds[i] && isFirstLang"
            >
              <input
                type="text"
                placeholder=" - "
                #input
                [(ngModel)]="value[language][i]"
                (focusout)="inputChange(language, i)"
                (ngModelChange)="inputChange(language, i)"
                [disabled]="disabled"
              />
              <div class="text">&nbsp;{{ value[language][i] }}</div>
              <em class="icon-cancel" *ngIf="!!value[language][i] && !disabled" (click)="removeValue(language, i)"></em>
              <em class="icon-pencil" *ngIf="!value[language][i] && !disabled" (click)="focusInput(i, x)"></em>
            </div>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</ff-table-with-fixed-elements>

<!--div class='row'>
  <div class='col language-col'>
    <ng-select [(ngModel)]='currentLanguage' [disabled]='!value[languages[0]] || !value[languages[0]].length'>
      <ng-option *ngFor='let language of languages' [value]='language'>
        {{ ('LANGUAGES.' + language) | translate }}
      </ng-option>
    </ng-select>
  </div>

  <div class='col value-col'>

    <ng-container *ngIf='value[currentLanguage]'>
      <div class='badge badge-pill badge-light' *ngFor='let val of value[currentLanguage]; trackBy: track; let i = index'>
        <input type='text' [(ngModel)]='value[currentLanguage][i]' (change)='writeValue(value)'>
        <div class='text'>
          &nbsp;{{ value[currentLanguage][i] }}
        </div>
        <em class='icon-cancel' (click)='removeValue(i)'></em>
      </div>
    </ng-container>

    <span class='add-value' (click)='addNewValue()'>
      <i class='icon-plus'></i>
      <span>
        {{ 'FIELD_I18N_MULTIPLE.ADD_VALUE' | translate }}
      </span>
    </span>
  </div>
</div>

<div class='small-text'>
  <span class='n-languages'>
    {{ languages.length }}
    <span>
      {{ 'LANGUAGES_TEXT' | translate }}
    </span>
  </span>
</div-->
