:host {
  ::ng-deep {
    ff-entity-type-view-header {
      .page-section {
        padding-bottom: 10px;
      }
      .tab {
        display: none;
      }
    }
    .page-section {
      padding-top: 30px;
      ff-entity-type-detail-attribute-info {
        padding: 0 25px !important;

        .attr-title {
          margin-left: 20px;
        }
        .simplebar-content {
          padding: 0 !important;
          .fixed-side {
            padding-right: 0 !important;
            .icons {
              display: none !important;
            }
          }
          .width-icon {
            display: none !important;
          }
        }

        .attribute-info {
          display: none;
          & + .alert-warning {
            display: none;
          }
        }
      }
    }
  }
}
