<div class="page-container page-container-padding">
  <ff-entity-type-view-header [item]="data" [readonly]="true"></ff-entity-type-view-header>
  <div class="page-section bg-gray">
    <ff-entity-type-detail-attribute-info *ngIf="tree" [selectedItem]="tree" [readonly]="true"></ff-entity-type-detail-attribute-info>
  </div>
</div>
