<ff-modal-header [title]="'ADMIN_GROUP_TYPE.ENTITY_ATTRIBUTES_MODAL.READONLY' | translate" (closeMe)="handleCancel()"></ff-modal-header>

<div class="content-message">
  <!-- Arboles -->
  <div class="trees">
    <ngx-simplebar class="tree-container tree-container-right">
      <ff-ui-tree-list [items]="selectedItemsTree" [hideSearch]="true"> </ff-ui-tree-list>
    </ngx-simplebar>
  </div>
</div>
