@import 'src/theme/variables/colors';

:host {
  ::ng-deep ff-ui-tree-list {
    .item-list {
      height: calc(100% - 20px);
      overflow: auto;
      padding: 5px !important;
    }
  }

  .content-message {
    padding-left: 10px;
    padding-right: 10px;
    .filter {
      display: flex;
      .btn {
        margin-left: 7px;
      }
    }
    .trees {
      padding: 15px;
      .tree-container {
        border: 1px solid $white-2;
        height: 423px;
      }
    }
  }

  .tree-container-right {
    ::ng-deep ff-ui-tree-list {
      .item-name {
        &:hover {
          .tree-item-remove-icon {
            opacity: 1;
          }
        }
      }
    }
  }
}
