<!-- -->
<form [formGroup]="formTranslations">
  <ff-field-i18n formControlName="translations" heading="Testing"></ff-field-i18n>
</form>

<div class="mt-4">
  <label>Valor:</label>
  <pre><code>{{formTranslations.value | json}}</code></pre>
</div>
