<form [formGroup]="form" *ngIf="!loading">
  <ff-modal-header [title]="config.title | translate" (closeMe)="handleCancel()"></ff-modal-header>

  <div class="content-message">
    <div class="row text body-modal">
      <div class="col-12 form-group">
        <label for="search" class="nowrap">{{ config.label | translate }}</label>
        <input
          id="search"
          #searchElement
          name="search"
          formControlName="search"
          type="text"
          class="form-control max-width"
          autocomplete="off"
        />
        <em class="icon-search search-icon"></em>
      </div>
      <div class="col-12 mt-3" *ngIf="loadingSearch">
        <div class="text-center">
          <div class="loader"></div>
        </div>
      </div>
      <div class="col-12 mt-3">
        <div *ngIf="showNoResults" class="no-results">No hay resultados con ese término</div>
        <ff-ui-list-select-options [list]="listResults" (selected)="onSelectItem($event)"></ff-ui-list-select-options>
        <div *ngIf="hasMoreItems" class="text-center">
          <div *ngIf="loadingLoadMore">
            <div class="loader"></div>
          </div>
          <button *ngIf="!loadingLoadMore" type="button" class="load-more" (click)="loadMoreItems()">
            {{ 'COMMON.LOAD_MORE' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <ff-modal-footer>
    <div class="content-buttons row">
      <div class="button-cancel col-6">
        <button (click)="handleCancel()" [disabled]="false" type="button" class="btn btn-outline-primary btn-sm">
          {{ 'CANCEL' | translate | uppercase }}
        </button>
      </div>
    </div>
  </ff-modal-footer>
</form>
