@import 'src/theme/variables/colors';

.error-message {
  margin: 0 24px 32px 24px;
  background-color: #fff6e9;
  position: relative;

  .text-error {
    padding: 17px 30px;
    margin-left: 20px;
    color: #666666;
    font-size: 15px;
    font-weight: 500;
  }

  em {
    left: 15px;
    top: 13px;
    position: absolute;
    font-size: 20px;
    color: #ffab2b;
  }
}

.no-results {
  padding-left: 40px;
  font-size: 13px;
  font-weight: 500;
  color: $red;
}

.content-message {
  .text {
    color: $grey-3;
    font-size: 15px;

    span {
      color: $black-2;
      font-weight: bold;
    }
  }
}

.body-modal {
  padding-left: 33px;
  padding-right: 33px;
}

.content-buttons {
  width: 100%;

  .button-cancel {
    text-align: left;

    button {
      .btn-sm {
        padding-left: 18px !important;
        padding-right: 18px !important;
      }
    }
  }

  .button-continue {
    text-align: right;
  }
}

.load-more {
  color: $green;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  border: none;
  background-color: $white;
  text-decoration: underline $green;
}
