@import '../../../../theme/variables/variables';

:host {
  .page-footer {
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;
    //  margin-top: 150px;
  }
  .page-header {
    margin-left: 0;
    padding: 25px 0;
    background-color: $white-4;
    width: 100%;
  }

  .title {
    padding-left: 20px;
  }

  .content-list {
    background: white;
  }
  .page {
    background-color: $white-4;
  }
}
