<ff-modal-header [title]="'MODAL_SELECT.ADD_ELEMENT' | translate" (closeMe)="handleCancel()"> </ff-modal-header>

<div class="body-modal">
  <div class="row">
    <div class="col-6">
      <div class="row no-gutters">
        <div class="col">
          <div>
            <label for="input" class="nowrap">{{ 'MODAL_SELECT.INPUT_FILTER_LABEL' | translate }}</label>
            <input
              [class.is-invalid]="showNoResults"
              (input)="filterItems($event)"
              [disabled]="loading"
              id="input"
              type="text"
              class="form-control max-width"
              autocomplete="off"
            />
            <i class="icon-search search-icon"></i>
          </div>
          <div class="invalid-feedback" *ngIf="showNoResults">
            {{ 'MODAL_SELECT.NO_RESULTS' | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3 is-multiple">
    <div class="col-6">
      <div class="row align-items-center">
        <div class="col-6">
          <div class="ml-2 mr-2 n-elements">{{ items.length }} {{ 'MODAL_SELECT.ELEMENTS' | translate }}</div>
        </div>
      </div>

      <div class="mt-5" *ngIf="loadingSearch">
        <div class="text-center">
          <div class="loader"></div>
        </div>
      </div>

      <div class="mt-3 mb-3 scroll-modal">
        <ff-ui-tree-list [items]="items" (clicked)="onClickedElement($event)"></ff-ui-tree-list>
        <div class="text-center" *ngIf="loading">
          <span class="loader"></span>
        </div>
      </div>
    </div>

    <!-- Parte de cuando el multiple -->
    <div class="col-6">
      <div class="row no-gutters align-items-center">
        <div class="col no-flex">
          <div class="ml-2 mr-2 n-elements">
            {{ 'MODAL_SELECT.SELECTED' | translate }}
            {{ selectedSubsites.length }}
            {{ 'MODAL_SELECT.ELEMENTS' | translate }}
          </div>
        </div>
        <div class="col text-right">
          <span class="remove-all pointer" (click)="removeAll()">{{ 'MODAL_SELECT.REMOVE_ALL' | translate }}</span>
          <span class="remove-all pointer ml-2" (click)="orderAZ()">{{ 'MODAL_SELECT.ORDER_A_Z' | translate }}</span>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col no-flex" *ngFor="let item of selectedSubsites">
          <span class="badge badge-pill badge-light">
            {{ getItemValue(item) }}
            <i class="icon-cancel" (click)="removeSelected(item)"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<ff-modal-footer>
  <div class="content-buttons row">
    <div class="col-6">
      <button (click)="handleCancel()" [disabled]="false" type="button" class="btn btn-outline-primary btn-sm">
        {{ config.cancelBtnText ? (config.cancelBtnText | translate | uppercase) : ('CANCEL' | translate | uppercase) }}
      </button>
    </div>
    <div class="col-6 text-right">
      <button (click)="handleDone()" [disabled]="!selectedSubsites.length" type="button" class="btn btn-primary btn-sm">
        {{ config.okBtnText ? (config.okBtnText | translate | uppercase) : ('MODAL_SELECT.SELECT' | translate | uppercase) }}
      </button>
    </div>
  </div>
</ff-modal-footer>
