@import 'src/theme/variables/colors';
@import 'src/theme/variables/input-vars';

::ng-deep {
  ff-ui-tree-list {
    .search {
      display: none !important;
    }
  }
}

.switchs-container {
  padding-bottom: 20px;
  margin-top: 20px;
  margin-left: -10px;
  margin-right: -10px;

  &:after {
    display: table;
    clear: both;
    content: ' ';
  }

  .custom-switch {
    padding: 6px 20px;
    float: left;
    padding-left: 50px;

    .custom-control-label {
      &:before {
        right: auto;
        left: -47px;
      }

      &:after {
        right: auto;
        left: -47px;
      }
    }
  }
}

.body-modal {
  padding-left: 33px;
  padding-right: 33px;

  .is-multiple {
    .text-item {
      &.active {
        background-color: $white-4;
        cursor: auto;

        .icon {
          i {
            color: $grey-4;
          }
        }
      }
    }

    > .col {
      position: relative;
      white-space: nowrap;

      &:first-child {
        padding-right: 50px;

        &:after {
          display: block;
          content: ' ';
          position: absolute;
          width: 1px;
          height: 100%;
          background-color: $white-6;
          right: 0;
          top: 0;
        }
      }

      &:last-child {
        padding-left: 30px;
      }
    }
  }

  .pill-list {
    .pill-item {
      display: inline-block;
      margin: 3px 5px;
    }
  }
}

.content-buttons {
  width: 100%;
}

.remove-all {
  color: $green;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  border: none;
  background-color: $white;
  text-decoration: underline $green;
}

.n-elements {
  font-size: 13px;
  letter-spacing: -0.5px;
  font-weight: 500;
  white-space: nowrap;
}

.scroll-modal {
  max-height: 52vh;
  height: auto;
  overflow: auto;
}

.text-item {
  align-items: center;
  cursor: pointer;

  &.active {
    background-color: $green-white-2;

    .icon {
      i {
        color: $black-2;
      }
    }
  }

  &:hover {
    background-color: $green-white;

    .icon {
      i {
        color: $black-2;
      }
    }
  }

  .icon {
    i {
      color: $green;
    }
  }

  .name {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.5;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
