<div>
  <label>
    {{ config?.label | translate }}{{ required ? ' *' : '' }} <span *ngIf="value?.length">({{ value?.length }})</span></label
  >
</div>

<div class="container-badgets" *ngIf="value && value.length && !objectValue">
  <ng-container *ngFor="let item of value; let j = index">
    <span
      container="body"
      class="badge badge-pill badge-light"
      *ngIf="j < maxChipsToShow"
      placement="bottom"
      [adaptivePosition]="false"
      [tooltip]="getToolTip(item)"
      [class.disabled]="readonly"
    >
      <ng-container *ngIf="item">
        {{ stringEllipsis((getTextAsync(getText(item)) | async) || '') }}
        <em class="icon-cancel" (click)="remove(j)" *ngIf="!readonly"></em>
      </ng-container>
    </span>
  </ng-container>
  <span *ngIf="value.length >= maxChipsToShow + 1" class="show-more-name">
    {{ value.length - maxChipsToShow }} {{ 'CHIPS_CONTROL_SELECT.MORE' | translate }}
  </span>
  <span *ngIf="value.length >= maxChipsToShow + 1" class="showMore ml-3" (click)="select()">
    {{ 'CHIPS_CONTROL_SELECT.SHOW_MORE' | translate }}
  </span>
</div>

<div *ngIf="objectLabel && objectValue?.length" class="container-badgets">
  <span
    class="badge badge-pill badge-light"
    container="body"
    placement="bottom"
    [adaptivePosition]="false"
    [tooltip]="objectLabel"
    [isDisabled]="readonly"
    [class.disabled]="readonly"
  >
    {{ stringEllipsis(objectLabel) }}
    <em class="icon-cancel" (click)="remove()" *ngIf="!readonly"></em>
  </span>
</div>

<div class="mt-1" *ngIf="(!disabled && !readonly) || showDisabled">
  <button type="button" class="btn btn-dark" (click)="select()" [disabled]="readonly">
    {{ 'SELECT' | translate | uppercase }}
  </button>
</div>
