@import '../../../../../theme/variables/colors';

:host {
  .container-badgets {
    margin-bottom: 17px;
  }

  .label {
    margin-bottom: 13px;
  }

  .single {
    font-size: 15px;
  }

  .showMore {
    color: $green;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
    vertical-align: middle;
  }

  .show-more-name {
    font-size: 12px;
    vertical-align: middle;
  }

  .badge {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 13px;
    margin-top: 0px;
    vertical-align: middle;
  }
}
