@import "colors";

$accordion-header-height: 42px;
$accordion-header-bg-color: $white;
$accordion-header-padding-x: 21px;
$accordion-header-border-separator-color: $white;
$accordion-header-select-color: $grey;
