@import "colors";

$color-text-badges: $black-2;
$background-color-badges: $white;
$color-border-badges: $white-2;
  // Hover
  $background-color-badges-hover: $white-2;

// Colores de la X
$color-x-close-badges: $grey;
$color-x-close-badges-hover: $green;
