@import "colors";

// Botón verde:
$background-color-button-green: $dark_green;
$border-color-button-green: $dark_green;
$text-color-button-green: $white;

  // Hover :
  $background-color-button-green-hover: $green;
  $border-color-button-green-hover: $green;

// ------------------------------- //

// Botón negro:
$background-color-button-black: $black-4;
$border-color-button-black: $black-4;
$text-color-button-black: $white;

  // Hover:
  $background-color-button-black-hover: $grey-2;
  $border-color-button-black-hover: $grey-2;

// ------------------------------- //

// Botón transparente:
$border-color-transparent-button: $dark_green;
$text-color-transparent-button: $dark_green;

  // Hover:
  $border-color-transparent-button-hover: $green;
  $text-color-transparent-button-hover: $green;

// ------------------------------- //

// Botón blanco:
$background-color-button-white: $white;
$border-color-white-button: $grey-5;
$text-color-white-button: $grey;

  // Hover:
  $background-color-button-white-hover: $white;
  $border-color-white-button-hover: $grey-5;
  $text-color-white-button-hover: $grey;

  // Active:
  $background-color-button-white-active: $black-4;
  $border-color-white-button-active: $black-4;
  $text-color-white-button-active: $white;

// ------------------------------- //

// Botón del icono (opciones)
$background-color-button-options: $white-3;
$border-color-options-button: $white-3;
$color-icon-button-options: $black-2;

  // Hover:
  $background-color-button-options-hover: $black-3;
  $border-color-button-options-hover: $black-3;
  $color-icon-button-options-hover: $white;

// ----------------------------------- //

