@import "colors";

// Selección multiple (dos calendarios):
$color-vertical-line-to-separate-the-calendars-datepicker-multiple: $white-5;
$background-color-date-range: $green-white;

// ambos calendarios:
$border-color-calendar: $white-5;
$background-color-header-calendar: $white;
$color-text-month-year-calendar: $black-2;
$border-color-text-month-year-calendar: $white-2;
$color-number-calendar: $grey-3;
$border-bottom-color-separation-months-and-days: $white-2;
$border-color-separation-header-and-months: $white-2;
$color-text-days-calendar: $black-5;
$background-color-input-icon-calendar: $white;

// Hover:
$background-color-month-year-calendar-hover: $green-white;
$background-color-day-hover: $green-white;

// Fecha del calendario seleccionado
$background-color-day-selected: $white;
$border-color-day-selected: $green;
$color-number-day-selected: $black;
