// NARANJAS
$orange-background: #fff7eb;
$orange-light: #ffab2b;
$orange-stop: #ff9f65;

// INFO
$info: #3458e9;

// ROJOS

$red-background: #feeae8;
$red: #ff0032;
$red-2: #b20022;
$red-delete: #fc361e;
$red-stop-modal: #fc361d1a;

// ––––––––––––––– //
// ––––––––––––––– //

// VERDES

$dark_green: #337e34;
$green: #4fa04f;
$green-white: #f2f8f2;
$green-white-2: #e6f2e6;

// ––––––––––––––– //
// ––––––––––––––– //

// BLANCOS

$white: #ffffff;
$white-2: #e4e4e4;
$white-3: #e3e3e3;
$white-4: #f5f5f5;
$white-5: #ebebeb;
$white-6: #eeeeee;
$white-7: #e8ecef;

// ––––––––––––––– //
// ––––––––––––––– //

// GRISES

$grey: #999999;
$grey-2: #828282;
$grey-3: #666666;
$grey-4: #8f8f8f;
$grey-5: #c5c5c5;
$grey-6: #fcfcfc;
$grey-7: #757676;
$grey-8: #f8f8f8;

// ––––––––––––––– //
// ––––––––––––––– //

// NEGROS

$black: #000000;
$black-2: #242424;
$black-3: #292929;
$black-4: #414141;
$black-5: #4b4b4b;

// ––––––––––––––– //
//OTROS
$blue: #9dcaff;
$bgcolor-alert-danger: #fbebe9;
$back-modal-warning: #fff6e9;
