@import "colors";

// header:
$background-color-header: $black-2;
$color-title-header: $grey-4;
$color-name-user: $white;
$color-log-out: $white;
$color-log-out-underline: $white;
$height-header: 59px;

// Hover:
$background-color-header-hover-data-user: $black-4;
$border-color-header-hover-img-user: $grey-2;

$background-color-header-hover-icon-bell: $black-4;
$background-color-header-hover-log-out: $black-4;

