
@import "colors";

// Text y number:
$label-color-input: $black-2;
$background-color-input: $white;
$border-color-input: $white-2;
$text-color-input: $black-2;
// Placeholder:
$text-color-placeholder: $grey;

// Hover:
$border-color-input-hover: $grey-2;

// Error:
$border-bottom-color-input-error: $red;
$color-text-input-error: $red;

// Disabled:
$background-color-input-disabled: $white-6;
$border-color-input-disabled: $white-2;
