@import "colors";

// Menu:
$background-color-menu: $white;
$color-text-menu: $black-2;
$width-menu-open: 240px;
$width-menu-close: 46px;
$width-submenu-close: 250px;
$height-menu-item: 55px;

// Hover:
$background-color-menu-hover: $green-white-2;
$color-text-menu-hover: $dark_green;
$color-icon-menu-hover: $dark_green;

// Active:
$background-color-menu-active: $black-2;
$color-text-menu-active: $white;
$color-icon-menu-active: $white;

// Active Hover
$background-color-menu-active-hover: $black-2;
$color-text-menu-active-hover: $white;
$color-icon-menu-active-hover: $dark_green;

// Sub-menu:
$background-color-sub-menu: $white-6;
$border-bottom-color-sub-menu: $white;
$color-text-sub-menu: $black-4;

// Hover:
$background-color-sub-menu-hover: $green-white-2;

// Active:
$background-color-sub-menu-active: $black-4;
$color-text-sub-menu-active: $white;

// Triangulo (icono el corte ingles).
$color-triangle-icon: $green;

// Boton para cerrar y abrir le menú
$background-color-icon-close: $green-white-2;
$color-text-close-menu: $dark_green;
$color-icon-close-menu: $green;

