@import "colors";

$pagination-top-margin: 44px;
$pagination-bottom-margin: 33px;

// Numeros
$color-text-pagination: $black-2;
$background-color-number-no-active: $white-4;
$color-text-no-selected: $grey;

// Hover:
$background-color-number-pagination-hover: $green;
$color-text-pagination-hover: $white;

// Active:
$background-color-number-active: $white;
$color-text-selected: $black-2;

// Less-than icono
$color-icon-less-than: $black-2;

// Hover:
$color-icon-less-than-hover: $green;

// Greater-than icono
$color-icon-greater-than: $black-2;

// Hover:
$color-icon-greater-than-hover: $green;
