@import "colors";

// TABLA

$background-color-table: $white;

  // Header:

    // Th:
    $color-text-table-th: $black-2;
    $border-bottom-table-color-th: $white-3;

      // Icon:
      $color-icon-table-th: $grey;

      // Hover:
      $color-icon-table-th-hover: $green;

  // Tbody:
    // tr:
      // Hover:
      $background-color-table-tr-hover: $green-white;

      // td:
      $color-text-table-td: $black-2;
      $border-bottom-color-table-td: $white-6;


