@import "colors";

$toggle-width: 37px;
$toggle-height: 18px;
$toggle-margin-to-label: 10px;
$toggle-radius: 11px;
$toggle-bg: $white-3;
$toggle-ball-bg-active: $green;
$toggle-bg-disabled: $white-4;
$toggle-ball-bg-disabled: $white-3;
