@import "colors";
@import "button-vars";
@import "menu-vars";
@import "check-vars";
@import "input-vars";
@import "calendar-vars";
@import "pagination-vars";
@import "header-vars";
@import "page-vars";
@import "toggle-vars";
@import "accordion-vars";
@import "select-vars";
@import "page-header-vars";
@import "progress-bar-vars";
@import "badges-vars";

$transition-time: 200ms;
$family-icons: "fontello";
$family-montserrat: 'Montserrat', sans-serif;
