<ff-modal-header [title]="'COMMON_MODALS.NEW_TITLE' | translate" (closeMe)="closeModal()"></ff-modal-header>

<div class="error-message" *ngIf="errorMessage">
  <em class="icon-warning"></em>
  <div class="text-error">
    {{ errorMessage | translate }}
  </div>
</div>

<div class="content-message">
  <div class="action-circle">
    <em class="icon-check" *ngIf="!loading && !errorMessage"></em>
    <em class="icon-icon-alert-warning" *ngIf="(errorMessage && error409?.error && !loading) || (errorMessage && !loading)"></em>
    <div class="loader" *ngIf="loading"></div>
  </div>

  <div class="text" *ngIf="!error409?.error">
    {{ 'COMMON_MODALS.CREATE_TITLE_BODY' | translate: { item: item.name } }}
  </div>

  <div class="text" *ngIf="error409?.error && errorMessage">{{ error409?.message | translate: { item: item.name } }}</div>
</div>

<ff-modal-footer>
  <div class="content-buttons row">
    <div class="button-cancel col-6">
      <button (click)="handleCancel()" [disabled]="loading" type="button" class="btn btn-outline-primary btn-sm">
        {{ 'MODAL_DELETE.CANCEL' | translate }}
      </button>
    </div>

    <div class="button-continue col-6" *ngIf="!error409?.error">
      <button (click)="handleConfirm()" [disabled]="loading" type="button" class="btn btn-primary btn-lg">
        <em *ngIf="loading" class="loading-icon"></em>
        <span *ngIf="!errorMessage"> {{ 'MODAL_DELETE.CONTINUE' | translate }}</span>
        <span *ngIf="errorMessage"> {{ 'MODAL_DELETE.TRY_AGAIN' | translate }}</span>
      </button>
    </div>
  </div>
</ff-modal-footer>
