@import 'src/theme/variables/colors';

.error-message {
  margin: 0 24px 32px 24px;
  background-color: #fff6e9;
  position: relative;

  .text-error {
    padding: 17px 30px;
    margin-left: 20px;
    color: $grey-3;
    font-size: 15px;
    font-weight: 500;
  }

  em {
    left: 15px;
    top: 13px;
    position: absolute;
    font-size: 20px;
    color: $orange-light;
  }
}

.content-message {
  margin-left: 33px;
  position: relative;

  .action-circle {
    display: inline-block;

    em.icon-check {
      position: absolute;
      border: 2px solid $orange-light;
      border-radius: 81px;
      color: $orange-light;
      padding: 9px 19px 9px 19px;
      font-size: 40px;
      top: 4px;
    }

    em.icon-icon-alert-warning {
      position: absolute;
      border: 2px solid $orange-light;
      border-radius: 81px;
      color: $orange-light;
      padding: 9px 19px 9px 19px;
      font-size: 40px;
      top: 4px;
    }
  }

  .text {
    color: $grey-3;
    margin-left: 112px;
    text-align: left;
    font-size: 15px;
    margin-right: 90px;

    span {
      color: $black-2;
      font-weight: bold;
    }
  }
  .loader {
    position: absolute;
    padding: 9px 19px 9px 19px;
    top: 4px;
  }
}

.content-buttons {
  width: 100%;

  .button-cancel {
    text-align: left;

    button {
      .btn-sm {
        padding-left: 18px !important;
        padding-right: 18px !important;
      }
    }
  }

  .button-continue {
    text-align: right;
  }
}
