@import '../../../theme/variables/variables';

:host {
  .content-header {
    width: 100%;
    height: $height-header;
    background-color: $background-color-header;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    .title-page {
      color: $color-title-header;
      font-size: 20px;
      padding-left: $padding-page;
      padding-top: 15px;
      transform: translateX($width-menu-open);
      transition: $transition-time;

      &.menu-closed {
        transform: translateX($width-menu-close);
      }
    }

    .user-header {
      .data-user {
        vertical-align: middle;
        display: inline-block;
        padding: 13px 17px 14px 16px;

        .circle {
          display: inline-block;
          height: 32px;
          width: 32px;
          border-radius: 50%;
          background-size: cover;
          background-position: center center;
          vertical-align: middle;
          position: relative;

          div {
            text-align: center;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: $dark_green;
            color: $white;
            line-height: 34px;
          }

          &:after {
            display: block;
            content: ' ';
            width: 42px;
            height: 42px;
            position: absolute;
            left: -5px;
            top: -5px;
            border-radius: 50%;
            border: 2px solid $border-color-header-hover-img-user;
            opacity: 0;
            transition: $transition-time;
          }
        }

        .name-user {
          padding-left: 8px;
          vertical-align: middle;
          font-size: 12px;
          color: $color-name-user;
          display: inline-block;
        }

        &:hover {
          background-color: $background-color-header-hover-data-user;

          .circle {
            &:after {
              opacity: 1;
            }
          }
        }
      }

      .bell-icon {
        display: inline-block;
        padding: 17px 17px 18px 17px;

        &:hover {
          background-color: $background-color-header-hover-icon-bell;
        }
      }

      .log-out {
        cursor: pointer;
        padding: 21px 20px 20px 20px;
        display: inline-block;
        font-size: 12px;
        color: $color-log-out;
        text-decoration: underline $color-log-out-underline;

        &:hover {
          background-color: $background-color-header-hover-log-out;
        }
      }
    }
  }
}
