<div class="content-header">
  <div class="row">
    <div class="col-7">
      <div class="title-page" [class.menu-closed]="!isMenuOpen">
        {{ routeData && routeData.header_title ? (routeData.header_title | translate) : '' }}
      </div>
    </div>

    <div class="user-header text-right col-5">
      <div class="data-user">
        <div
          class="circle"
          *ngIf="userName && userName[0]"
          [class.no-img]="!item.image"
          [style.background-image]="'url(' + item.image + ')'"
        >
          <div>{{ userName && userName[0] }}</div>
        </div>

        <div class="name-user">
          {{ userName }}
        </div>
      </div>
      <div class="log-out" (click)="logOut()" *ngIf="userName && userName[0]">
        {{ 'MENU_TOP.LOG_OUT' | translate }}
      </div>
    </div>
  </div>
</div>
