<div class="container-condition-reference">
  <div class="row">
    <div class="col-5">
      <div class="data-input">Usa</div>
    </div>

    <div class="col-7">
      <div class="data-input">
        {{ condition?.reference_name || condition?.name }}
      </div>
    </div>
  </div>
</div>
