@import '../../../../../theme/variables/variables';

.container-condition-reference {
  padding: 10px 10px 10px 15px;
  border: 1px dashed transparent;
  transition: $transition-time;

  input {
    background-color: $white !important;
  }

  .data-input {
    padding: 12px 16px;
    min-width: 115px;
    background-color: $white-6;
    font-size: 14px;
    color: $black-2;
    border: 1px solid $white-2;
    border-radius: 2px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
  }

  .attr {
    font-size: 13px;
    color: $black-2;
    vertical-align: middle;
    padding-top: 11px;
    padding-right: 4px;
  }

  .row {
    margin-left: -5px;
    margin-right: -5px;

    > div {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
