<div class="col-12 tree-folder-view-container" *ngIf="showConfigSection && this.folder?.data?.children?.length">
  <h3 class="title" *ngIf="folder && !folder.data?.value?.isRule">{{ 'CONTENTGROUP.TITLE.FOLDER' | translate }}{{ folder?.data.name }}</h3>

  <ng-container>
    <div class="page-section bg-gray">
      <div class="header-list row" *ngIf="!folder.data?.value?.isRule">
        <div class="new-rule" (click)="newFolder()"><em class="icon-folder-new"></em>{{ 'CONTENTGROUP.FOLDER' | translate }}</div>
        <div class="new-rule" (click)="newRule()"><em class="icon-plus"></em>{{ 'CONTENTGROUP.RULE' | translate }}</div>
      </div>

      <div class="body-list">
        <div class="edit-mode row" *ngIf="isEditable">
          <em class="icon-icon-folder-closed"></em>
          <input
            #inputRef
            type="text"
            (focus)="focused = true"
            (blur)="blur()"
            (keydown)="input($event)"
            [attr.placeholder]="'CONTENTGROUP.CHILD_FOLDER' | translate"
          />
          <em class="edit-save icon-icon-check" (click)="save()"></em>
          <em class="cancel icon-icon-multiply" (click)="collapseParent()"></em>
        </div>
        <ng-container *ngIf="folder.nodes?.length">
          <ng-container *ngFor="let element of folder.nodes">
            <div class="row warning alert" *ngIf="element.data?.label">
              <em class="icon-icon-warning"></em>
              <div>{{ element.data?.label }}</div>
            </div>
            <div class="row line" (click)="dbclick($event, element)">
              <div class="row">
                <div class="row" *ngIf="!element.data?.label && !element.data?.value?.child">
                  <em
                    [ngClass]="{
                      'icon-agrupaciones': element.data?.value,
                      'icon-icon-folder-closed': !element.data?.value || !element.data?.value?.isRule
                    }"
                  >
                  </em>
                  <div class="text">{{ element.data?.name }}</div>
                </div>
              </div>

              <div class="icon-rules">
                <em class="icon-pencil" *ngIf="element.data?.value?.isRule" (click)="ruleDetail(element, $event)"></em>
                <em class="icon-icon-trash" *ngIf="element.data?.value?.isRule" (click)="deleteRule(element)"></em>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
