@import 'src/theme/variables/colors';

:host {
  .title {
    color: $white-4;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 15px;
    // background-color: $black-2;
  }

  .page-section {
    padding: 15px;
    line-height: 40px;
    width: 100%;
    display: block;
    background: #ffffff;
  }

  .header-list {
    padding: 15px 50px;
    font-size: 14px;
    color: #337e34;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e3e3;
  }

  .body-list {
    padding: 15px 50px;
    font-size: 16px;
  }

  .line {
    justify-content: space-between;
    padding-left: 30px;
    white-space: nowrap;
    &:hover {
      background-color: $green-white-2;
    }
  }
  .text {
    cursor: default;
  }

  .icon-rules {
    color: #337e34;
    justify-self: end;
    display: flex;
    cursor: pointer;
  }
  em {
    font-size: 24px;
  }
  .icon-pencil {
    font-size: 16px;
    padding-right: 10px;
    &:hover {
      color: $orange-light;
    }
  }
  .icon-icon-trash {
    &:hover {
      color: $red-delete;
    }
  }

  input {
    padding-left: 2px;
    padding-right: 40px !important;
    border: solid 1px;
    height: 26px;
    box-sizing: border-box;
    width: 50%;
    font-size: 16px;
    background: none;
    letter-spacing: -0.5px;
    max-width: none;
  }

  .edit-mode {
    display: flex;
    align-items: center;
  }

  .edit-save {
    color: #4fa04f;
    font-size: 18px;
    margin-left: -40px;
  }

  .cancel {
    font-size: 18px;
    color: #999999;
  }

  input::placeholder {
    color: inherit !important;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: -0.5px;
  }

  .new-rule {
    margin-right: 20px;
    display: flex;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }
  .tree-folder-view-container {
    padding: 0;
    min-width: 560px;
  }
}
