<form [formGroup]="rulesForm" class="pl-3">
  <ng-container *ngFor="let rule of getRules(); let i = index">
    <div [formGroup]="rule" class="row">
      <div class="col-4 centers">
        <label for="centers"> {{ 'SPENTER.FORM.CENTERS' | translate }}* </label>

        <input [placeholder]="'SPENTER.FORM.CENTERS' | translate" type="text" class="form-control" id="centers" formControlName="centers" />
      </div>

      <div class="col-2">
        <label for="stock"> {{ 'SPENTER.FORM.STOCK' | translate }}* </label>

        <ng-select id="stock" formControlName="stock">
          <ng-option value="'unpublish'">{{ 'SPENTER.FORM.UNPUBLISH' | translate | uppercase }}</ng-option>
          <ng-option value="'publish'">{{ 'SPENTER.FORM.PUBLISH' | translate | uppercase }}</ng-option>
          <ng-option value="'hide'">{{ 'SPENTER.FORM.HIDE' | translate | uppercase }}</ng-option>
        </ng-select>
      </div>

      <div class="col-3">
        <label for="type"> {{ 'SPENTER.FORM.TYPE' | translate }}* </label>

        <ng-select id="type" formControlName="type">
          <ng-option value="'unpublish'">{{ 'SPENTER.FORM.UNPUBLISH' | translate | uppercase }}</ng-option>
          <ng-option value="'publish'">{{ 'SPENTER.FORM.PUBLISH' | translate | uppercase }}</ng-option>
          <ng-option value="'hide'">{{ 'SPENTER.FORM.HIDE' | translate | uppercase }}</ng-option>
        </ng-select>
      </div>

      <div class="col-1 rule-delete">
        <button (click)="removeRule(i)"><em class="icon-trash"></em></button>
      </div>
    </div>
  </ng-container>
  <div class="row">
    <div class="col-12 mt-2">
      <button class="btn btn-secondary btn-dark" (click)="addRule()" [disabled]="addButtonDisabled">
        {{ 'SPENTER.FORM.ADD' | translate }}
      </button>
    </div>
  </div>
</form>
