@import 'src/theme/variables/variables';

:host {
  background-color: $white;
  display: block;

  .load-more {
    font-size: 12px;
    color: $green;
    font-weight: 500;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
    margin-top: 15px;
  }

  .advice {
    font-size: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-top: 5px;
    font-weight: 300;
  }

  .search {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 14px 20px;
    border-bottom: 1px solid $white-3;

    input {
      border: none;
      flex: 1;
      font-size: 14px;
      font-weight: 300;
      min-width: 0;
    }

    .icon-text {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex: none;
      padding-right: 9px;

      .text-search {
        font-size: 12px;
        font-weight: 500;
        color: $black-2;
        margin-left: 9px;
      }

      .icon-search {
        font-size: 20px;
      }
    }
  }

  .item-list {
    padding: 20px;
  }
}
