<div class="search" *ngIf="!hideSearch">
  <div class="icon-text">
    <em class="icon-search pointer" (click)="search()"></em>
    <span class="text-search">{{ 'FACETS.SEARCH' | translate }}:</span><span *ngIf="adviceMessage">*</span>
  </div>
  <input [(ngModel)]="searchModel" (ngModelChange)="search()" [placeholder]="searchPlaceholder" />
</div>
<div class="advice" *ngIf="adviceMessage" [innerHTML]="adviceMessage"></div>

<div class="item-list">
  <ff-ui-tree-ref-list
    (collapsed)="onCollapsed($event)"
    (expanded)="onExpand($event)"
    (clicked)="onClicked($event)"
    (loadError)="loadError.emit($event)"
    [nameTemplateRef]="nameTemplateRef"
    [lastSelectedItem]="lastSelectedItem"
    [textToSearch]="searchModel"
    [showMatches]="showMatches"
    [outputAllItemOnDrag]="outputAllItemOnDrag"
    [item]="item"
    [calculeItemsPath]="calculeItemsPath"
    *ngFor="let item of items"
  >
  </ff-ui-tree-ref-list>

  <div *ngIf="loading" class="text-center">
    <span class="loader"></span>
  </div>
  <div
    class="load-more"
    (click)="loadMore.emit(pagination.page_number + 1)"
    *ngIf="!loading && pagination && pagination.page_number < pagination.total_pages - 1"
  >
    {{ 'FACETS.LOAD_MORE' | translate }}
  </div>
</div>
