<h3 class="my-3 mx-4" *ngIf="hasItems">
  {{ 'RULE_QUERY.EVALUATE_RULES.TITLE' | translate }}
</h3>
<h3 class="total" *ngIf="hasItems">
  {{ 'RULE_QUERY.TOTAL_FOUND' | translate: { total: items.length } }}
</h3>
<ff-accordion-list [cache]="true" [items]="items" [multiple]="true" class="list">
  <ff-evaluate-rules-info-rule-container
    class="bg-white text-center ml-5 p-4"
    *ffAccordionRow="let data"
    [node]="data?.resolved_rule"
  ></ff-evaluate-rules-info-rule-container>

  <div *ffAccordionTitle="let title" class="">
    <span *ngIf="title.subsite">{{ title.subsite }} - </span>
    <span>{{ title.name }} - {{ title.sales_reference }}</span>
  </div>
  <div class="warning">
    <em class="icon-warning"></em>
    <span>{{ 'RULE_QUERY.SATISFIED_RULES.QUERY_LIST_WARNING' | translate }}</span>
  </div>

  <div class="alert alert-danger" role="alert" *ffAccordionError>
    <em class="icon-warning"></em>
    {{ 'RULE_QUERY.SATISFIED_RULES.QUERY_LIST_ERROR' | translate }}
  </div>
</ff-accordion-list>
