@import '../../../../../theme/variables/variables';
:host {
  font-size: 0.8rem;
  font-weight: 500;
  color: $black-2;
  letter-spacing: -0.5px;
}
.total {
  margin: 1rem 2.5rem;
}
.list {
  display: block;
  margin: 1rem 2.5rem 0rem;
}
.warning {
  background: rgba(255, 171, 43, 0.1);
  line-height: 48px;
  display: flex;
  align-items: center;

  em {
    font-size: 20px;
    color: $orange-light;
    margin-left: 14px;
  }

  span {
    font-size: 15px;
    color: $black-3;
    margin-left: 14px;
  }
}

.alert-danger {
  margin-bottom: 0;
  font-size: 15px;
  color: $black-3;
  font-weight: normal;
}
