<div class="pl-4 pr-4 pt-3 pb-3">
  <em class="icon-search search-icon"></em>
  <!-- TODO Traducir -->
  <span class="search-text">Buscar:</span>
  <input
    type="text"
    class="search-input no-border"
    placeholder="Términos de búsqueda..."
    [(ngModel)]="referenceSearch"
    (ngModelChange)="searchReferences()"
    [disabled]="!attributes?.length"
  />
</div>

<hr />

<div class="p-4">
  <div class="text-center">
    <div class="loader" *ngIf="loadingReferences"></div>
    <div class="reference-text">
      <ng-container *ngIf="!attributes?.length && !loadingReferences"> Seleccione un tipo de entidad </ng-container>
      <ng-container
        *ngIf="attributes?.length && !loadingReferences && referenceSearchDirty && !itemsToDrag.length && referenceSearch.length >= 3"
      >
        No hay referencias del criterio de busqueda
      </ng-container>
      <ng-container *ngIf="attributes?.length && !loadingReferences && !itemsToDrag.length && referenceSearch.length < 3">
        Escriba 3 o mas caracteres para buscar referencias.
      </ng-container>
    </div>
  </div>

  <div
    class="product-list"
    *ngIf="itemsToDrag && !loadingReferences"
    [sortablejs]="itemsToDrag"
    [sortablejsOptions]="sortablejsOptionsReference"
  >
    <div *ngFor="let item of itemsToDrag" [attr.value]="item.id" class="btn btn-light sortable-handle text-break">
      {{ item.name }}
    </div>
  </div>
</div>
