@import '../../../../../theme/variables/variables';

:host {
  .search-text {
    font-size: 12px;
    font-weight: 500;
    padding-left: 9px;
    padding-right: 5px;
  }

  .search-icon {
    font-size: 21px;
    vertical-align: middle;
  }

  .search-input {
    width: calc(100% - 81px);
    height: 30px;
  }

  .reference-text {
    font-size: 12px;
    color: $grey-2;
  }
}
