<ff-page-header [pageTitle]="'Scroll'"></ff-page-header>

<div class="page-container page-container-padding">
  <div class="page-section p-5">
    <ff-doc-example class="no-top" heading="Base" [description]="example1Description" [data]="example1">
      <ff-doc-scroll-1></ff-doc-scroll-1>
    </ff-doc-example>
  </div>
</div>
