<div class="menu" [class.closed]="!isMenuOpen">
  <div *ngIf="isMenuOpen" class="icon-eci">
    <img src="/assets/images/logo.svg" />
  </div>

  <div *ngIf="!isMenuOpen" class="icon-eci">
    <div class="triangle"></div>
  </div>

  <div class="content-menu-wrapper">
    <div class="content-menu">
      <div class="content-item" #menuItem *ngFor="let item of items" (click)="toogleMenuItem(item)" [class.active]="item.expanded">
        <div class="icon-and-name" [ngStyle]="{ top: menuItem.getBoundingClientRect().top + 'px' }">
          <div class="name-item">
            {{ item.label | translate }}
            <i *ngIf="item.subitems" class="icon-select-down"></i>
          </div>

          <div [collapse]="!item.expanded" [isAnimated]="true">
            <ng-container *ngFor="let subItem of item.subitems">
              <div class="sub-menu lvl1" (click)="toogleMenuItem(subItem, $event)" [class.active]="subItem.expanded">
                <i *ngIf="subItem.subitems" class="icon-select-right"></i>
                {{ subItem.label | translate }}
              </div>

              <div [collapse]="!subItem.expanded" [isAnimated]="true">
                <div
                  class="sub-menu lvl2"
                  *ngFor="let subItem2 of subItem.subitems"
                  (click)="go(subItem2, false, $event)"
                  [class.active]="isSubItemActive(urlActive$ | async, subItem2.link)"
                >
                  {{ subItem2.label | translate }}
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="content-close-menu" (click)="toggleMenu()">
        <div class="icon" [class.icon-close]="!isMenuOpen">
          <i class="icon-select-right"></i>
        </div>
        <div class="text">
          {{ 'MENU_LEFT.CLOSE_MENU' | translate }}
        </div>
      </div>
    </div>
  </div>
</div>
