@import '../../../../../theme/variables/variables';
@import '../../../../../theme/variables/colors';

.content {
  // display: block;
  padding: 0 2.5rem 10rem;
  background-color: $white-4;
  .page-header {
    margin-left: -35px;
  }
}
.title {
  margin-left: -1rem;
  margin-top: 1rem;
}

.dashboard-query-table-container {
  width: 100%;
  margin: auto;

  td {
    color: $black-2;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: -0.5px;
    vertical-align: middle;
    padding-right: 5px;
    border: none;
    border-bottom: $white-6;
  }

  th {
    cursor: default;
  }

  .item-true {
    color: $green;
    white-space: nowrap;
    &.item-summary {
      color: $orange-light;
      padding-left: 30px;
    }
  }

  .item-false {
    color: $red;
    white-space: nowrap;
    &.item-summary {
      padding-left: 33px;
    }
  }

  .icon-view {
    vertical-align: middle;
    margin-left: 3px;
  }

  .icon-icon-ayuda {
    font-size: 20px;
    vertical-align: middle;
    margin-left: 4px;
    cursor: help;
  }
}

table {
  .table-header-fixed {
    position: sticky;
    top: 0;
    background-color: $white;
  }
  .toggle {
    width: 50px;

    &.active {
      &:after {
        transform: rotate(90deg) translateX(-1.5px) scale(0);
      }
    }

    &:after,
    &:before {
      display: block;
      content: ' ';
      width: 15px;
      height: 1.5px;
      background-color: $black-2;
      transform-origin: 50% 50%;
      transition: $transition-time;
      margin: 0 auto;
    }

    &:after {
      transform: rotate(90deg) translateX(-1.5px);
    }
  }
}

/**/
.subitems {
  margin-left: 100px;
  td {
    padding-left: 100px;
  }
}

// .icons-subitem {
//   display: inline;
//   color: black;
//   font-weight: bold;
//   font-size: 20px;
// }

.ident-variants {
  padding-left: 15px;
}

.subitem-child-row-first-col-hole {
  background-color: $white-4;
  border-bottom: 1px solid $white-4 !important;
}
