<div *ngIf="loading">
  <div class="page-section mt-5">
    <div class="text-center pt-5 pb-5">
      <div class="loader"></div>
    </div>
  </div>
</div>
<div class="content table-responsive" *ngIf="!loading && data?.data">
  <div class="page-header row mb-2">
    <div class="col title">
      <h3>{{ title | translate | uppercase }}</h3>
    </div>
  </div>
  <table class="table table-hover dashboard-query-table-container content-list">
    <thead class="table-header-fixed">
      <tr>
        <th></th>
        <th *ngFor="let column of displayColumns" [ngClass]="{ 'text-center': centerColumns.includes(column) }">
          <span>{{ 'DASHBOARD.LIST.' + column | uppercase | translate }}</span>
          <span class="icon-icon-ayuda" container="body" [tooltip]="'DASHBOARD.HELP.' + column | uppercase | translate"></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let product of data?.data; let i = index">
        <tr class="pointer" (click)="toggle(i)">
          <td class="toggle icons-subitem" [class.active]="showSubitems[i]"></td>
          <td [attr.colspan]="displayColumns.length">Site: {{ getSubsiteLabel(product) }}</td>
        </tr>
        <ng-container *ngIf="showSubitems[i]" class="subitems-parent">
          <ng-container *ngFor="let offer of product.offers; let i = index">
            <tr class="subitems-parent">
              <td class="empty subitem-child-row-first-col-hole"></td>

              <ng-container *ngFor="let column of displayColumns">
                <td class="list" *ngIf="column === 'unique_code'">{{ offer.unique_code }}</td>
                <td class="list ident-variants" *ngIf="column === 'product'">{{ offer.product_id }}</td>
                <td class="list" *ngIf="column === 'reference'">{{ offer.sales_reference }}</td>
                <td class="list" *ngIf="column === 'ean'">{{ offer.gtin }}</td>

                <td class="list" *ngIf="column === 'seller'">
                  <span [tooltip]="showSellerTooltip(offer.seller)" container="body">{{ offer.seller }}</span>
                </td>

                <td class="list text-center" *ngIf="column === 'published'">
                  <div
                    [ngClass]="{
                      'item-true': offer.metadata.is_publish,
                      'item-false': !offer.metadata.is_publish,
                      'item-summary': hasPublishSummary(offer.metadata)
                    }"
                  >
                    {{ offer.metadata.is_publish ? 'Sí' : 'No' }}
                    <em class="icon-view" *ngIf="hasPublishSummary(offer.metadata)" (click)="showPublishDetail(offer.metadata)"></em>
                  </div>
                </td>

                <td class="list text-center" *ngIf="column === 'valid'">
                  <div
                    [ngClass]="{
                      'item-true': offer.metadata.is_valid,
                      'item-false': !offer.metadata.is_valid,
                      'item-summary': hasValidSummary(offer.metadata)
                    }"
                  >
                    {{ offer.metadata.is_valid ? 'Sí' : 'No' }}
                    <em class="icon-view" *ngIf="hasValidSummary(offer.metadata)" (click)="showValidDetail(offer.metadata)"></em>
                  </div>
                </td>

                <td class="list text-center" *ngIf="column === 'detail'">
                  <div
                    [ngClass]="{
                      'item-true': hasOverwriteSummary(offer.metadata),
                      'item-false': !hasOverwriteSummary(offer.metadata),
                      'item-summary': hasOverwriteSummary(offer.metadata)
                    }"
                  >
                    {{ hasOverwriteSummary(offer.metadata) ? 'Sí' : 'No' }}
                    <em class="icon-view" *ngIf="hasOverwriteSummary(offer.metadata)" (click)="showOverwrite(offer.metadata)"></em>
                  </div>
                </td>

                <td class="list" *ngIf="column === 'name'">{{ offer.name?.[0]?.value || '-' }}</td>
              </ng-container>
            </tr>
          </ng-container>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
  <!-- <div class="page-footer text-right">
    <button type="submit" *ngIf="data?.data" (click)="retry()" class="btn btn-primary ml-2 btn-sm">
      {{ 'DASHBOARD.RETRY' | translate | uppercase }}
    </button>
  </div> -->
</div>
<ng-template #variantsModalTemplate>
  <div *ngIf="loadingModal" class="content-conditions">
    <ff-ui-modal-info [title]="titleModal" [variantData]="variantData" (isModalClosed)="hideModal()"> </ff-ui-modal-info>
  </div>
</ng-template>
