<div class="col-12" *ngIf="loading">
  <div class="page-section">
    <div class="text-center pt-5 pb-5">
      <div class="loader"></div>
    </div>
  </div>
</div>

<form [formGroup]="form" (submit)="submit()" *ngIf="!loading">
  <div class="page-section pb-2">
    <div class="page-header">
      <h3>{{ 'CATEGORY_RULE.GENERAL_DATA' | translate }}</h3>
    </div>

    <div class="page-article row">
      <div class="col-4 form-group">
        <label for="name">{{ 'NAME' | translate }} *</label>
        <input
          [placeholder]="'ADMIN_GROUP.NAME' | translate"
          [class.is-invalid]="form.controls.name.invalid && form.controls.name.touched"
          formControlName="name"
          type="text"
          id="name"
          class="form-control"
          autocomplete="off"
        />
        <div class="invalid-feedback" *ngIf="form.controls.name.invalid && form.controls.name.touched">
          {{ 'LIMIT_SALE.NAME_REQUIRED' | translate }}
        </div>
        <div class="invalid-feedback" *ngIf="form?.errors?.error_409">
          {{ 'COMMON.ERROR_409' | translate }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-3 pr-0" *ngIf="!readonly">
      <section class="condition-holder">
        <ff-conditions-tree-attribute
          class="tree-attribute"
          [entityTypes]="[entityTypeSelected]"
          (selectedEntityType)="onselectEntityType($event)"
        >
        </ff-conditions-tree-attribute>
      </section>
    </div>

    <div [ngClass]="{ 'col-12': readonly, 'col-9': !readonly }">
      <div class="conditions">
        <div class="page-section conditions-section">
          <div class="page-header">
            <h3>{{ 'ADMIN_GROUP.CONDITIONS' | translate }}</h3>
          </div>

          <div *ngIf="showConditions">
            <ff-conditions2 ffConditions2FilledValidator ffConditions2DoubleValidator formControlName="node"></ff-conditions2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-footer text-right" *ngIf="!loading">
    <button type="button" class="btn btn-outline-primary btn-sm" (click)="cancel.emit()" ffGoBack>
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button type="button" class="btn btn-primary ml-2 btn-lg" (click)="submit()">
      {{ 'COMMON.SAVE' | translate }}
    </button>
  </div>
</form>
