@import '../../../../../theme/variables/colors';

:host {
  .page-section {
    .description {
      input {
        max-width: 100% !important;
      }
    }

    .title {
      margin-top: 32px;
      color: $black-4;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }

    .line {
      border-bottom: solid 1px $white-3;
    }

    .footer {
      padding: 24px 21px 19px;
      background-color: $white;
      border-radius: 0 0 6px 6px;
    }
  }
  .condition-holder {
    height: 100%;
    position: relative;
  }
  .conditions {
    background-color: $white;
    margin-right: 6px;
    margin-top: 6px;
    padding-top: 6px;
    padding-bottom: 1px;
    min-height: calc(100vh - (200px + 160px + 100px));
  }
  ::ng-deep .horizontalScroll {
    .label {
      span {
        overflow: hidden !important;
        padding-right: 0px !important;
      }
    }
  }
  .tree-attribute {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
  }
  .conditions-section {
    margin-right: 6px;
    margin-top: 6px;
    padding-bottom: 1px;
    min-height: 100%;
  }

  .page-footer {
    margin-top: 6px;
  }
}
