<div class="datepicker" [formGroup]="form">
  <div class="input-group">
    <input
      [id]="id"
      [name]="id"
      type="text"
      placeholder="DD/MM/YYYY"
      autocomplete="off"
      formControlName="dateView"
      [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD/MM/YYYY' }"
      #dp="bsDatepicker"
      bsDatepicker
    />

    <div class="input-group-append">
      <label [attr.for]="id" class="input-group-text" [attr.disabled]="disabled ? true : null" (click)="!disabled && dp?.toggle()">
        <em class="icon-calendar"></em>
      </label>
    </div>
  </div>
  <ff-timepicker class="timepicker" formControlName="timeView" [showUnit]="[true, true, false]"></ff-timepicker>
</div>
