@import '../../../theme/variables/variables';

:host {
  .datepicker {
    display: flex;
    flex-direction: row;
    align-items: center;

    .input-group {
      max-width: 160px;
      width: calc(100% - 140px);
      margin-right: 10px;
      display: flex;
      flex-direction: row;
      position: relative;

      input {
        width: 100%;

        padding-right: 44px;
        border-radius: 2px 0 0 2px;
        transition: $transition-time;
      }

      .input-group-append {
        height: 42px;
        position: absolute;
        right: 0;
        top: 0;

        &:hover {
          em {
            color: $black-2;
          }
        }

        .input-group-text {
          border-radius: 0 2px 2px 0;
          cursor: pointer;
          &[disabled] {
            opacity: 0.5;
            cursor: auto;
          }
        }
      }
    }
    .timepicker {
      max-width: 48%;
    }
  }

  &.ng-touched {
    &.ng-invalid {
      input,
      ::ng-deep timepicker input {
        border: 1px solid $border-color-input !important;
        border-bottom: 1px solid $border-bottom-color-input-error !important;
        background-image: none;

        &:hover,
        &:active,
        &:focus {
          border: 1px solid $border-color-input !important;
          border-bottom: 1px solid $border-bottom-color-input-error !important;
        }

        + .input-group-append {
          z-index: 5;

          .input-group-text {
            border: 1px solid $border-color-input !important;
            border-bottom: 1px solid $border-bottom-color-input-error !important;
          }
        }
      }
    }
  }
}
