<div class="logical-condition-container">
  <div class="operator-type">
    <button
      type="button"
      class="btn btn-light"
      [class.readonly]="readonly"
      style="border: 1px solid #ced4da"
      (click)="toggleNodeType()"
      *ngIf="data.nodes.length > 1"
      [disabled]="readonly"
    >
      <ng-container *ngIf="data.node_type === 'and'">and</ng-container>
      <ng-container *ngIf="data.node_type === 'or'">or</ng-container>
    </button>
    <div class="actions text-center mt-2" *ngIf="!readonly">
      <em class="icon-trash pointer" *ngIf="index > -1" (click)="deleteMySelf()" [tooltip]="'CONDITIONS.REMOVE' | translate"></em>
      <em class="plus pointer" (click)="addComplex()" [tooltip]="'CONDITIONS.ADD' | translate">+</em>
    </div>
  </div>

  <div class="right-container">
    <div *ngIf="!data.nodes.length && index > -1" class="message-info">Crea una condición arrastrando los botones de la derecha.</div>
    <div
      class="sortable-container"
      dndDropzone
      (dndDrop)="addTemp($event)"
      [sortablejs]="data.nodes"
      [sortablejsOptions]="sortablejsOptions"
    >
      <ng-container *ngIf="data.nodes.length">
        <div
          class="condition"
          [class.logical]="isConditions2Node(data)"
          [ngClass]="{
            range: conditionData.range
          }"
          *ngFor="let conditionData of data.nodes; let counterNodes = index"
        >
          <ng-container
            *ngIf="showSimpleComponent(conditionData) && conditionData.attribute_data_type !== condition2SimpleDataTypes.VIRTUAL"
          >
            <span class="sortable-handle icon-three-line-move" *ngIf="!readonly"></span>
            <ff-conditions2-simple
              [index]="counterNodes"
              [_data]="conditionData"
              [readonly]="readonly"
              (delete)="delete($event)"
              (changes)="changesOnSimple()"
            ></ff-conditions2-simple>
          </ng-container>

          <ng-container *ngIf="showSimpleEntityComponent(conditionData) && !conditionData.nodes">
            <span class="sortable-handle icon-three-line-move" *ngIf="!readonly"></span>
            <ff-conditions2-entity
              [index]="counterNodes"
              [_data]="conditionData"
              [readonly]="readonly"
              (delete)="delete($event)"
              (changes)="changesOnSimple()"
            >
            </ff-conditions2-entity>
          </ng-container>

          <ng-container
            *ngIf="
              ((showSimpleEmbeddedComponent(conditionData) || showSimpleEntityComponent(conditionData)) && !!conditionData.nodes) ||
              conditionData.attribute_data_type === condition2SimpleDataTypes.VIRTUAL
            "
          >
            <span class="sortable-handle icon-three-line-move" *ngIf="!readonly"></span>
            <ff-conditions2-childs
              (changes)="changesOnSimple()"
              (delete)="delete($event)"
              [index]="counterNodes"
              [data]="conditionData"
              [readonly]="readonly"
            >
            </ff-conditions2-childs>
          </ng-container>

          <ng-container *ngIf="isConditions2Reference(conditionData)">
            <span class="sortable-handle icon-three-line-move" *ngIf="!readonly"></span>
            <ff-conditions2-reference [index]="counterNodes" [readonly]="readonly" (delete)="delete($event)" [_data]="conditionData">
            </ff-conditions2-reference>
          </ng-container>

          <ng-container *ngIf="isConditions2Node(conditionData)">
            <span class="sortable-handle icon-three-line-move logical" *ngIf="!readonly"></span>
            <ff-conditions-node
              [_data]="conditionData"
              [index]="counterNodes"
              [childParent]="childParent"
              [readonly]="readonly"
              (changes)="changesOnChildrenNode($event)"
              (deleteMe)="deleteOnParent($event)"
            >
            </ff-conditions-node>
          </ng-container>
        </div>
      </ng-container>

      <div class="message-info" dndPlaceholderRef>
        {{ 'CONDITIONS_BASIC.RELEASE_HERE' | translate }}
      </div>
    </div>
  </div>
</div>
