@import '../../../../../theme/variables/variables';

$operator-width: 66px;

:host {
  .readonly {
    pointer-events: none;
  }

  .logical-condition-container {
    background-color: $white-6;
    border-radius: 2px;
    border: 1px solid $white-3;
    margin: 8px;

    &:hover {
      background-color: $green-white;
    }

    &:after {
      clear: both;
      display: table;
      content: ' ';
    }

    .operator-type {
      padding: 8px;
      width: $operator-width;
      float: left;

      .btn {
        width: 100%;
        text-align: center;
        padding: 8px 0;
      }

      .actions {
        font-size: 19px;
        transition: $transition-time;

        .plus {
          margin-left: 5px;
        }
      }
    }

    .right-container {
      position: relative;
      float: right;
      width: calc(100% - #{$operator-width});
      border: 1px solid transparent;
      border-left: 1px solid $white-3;
      background-color: $white;
      min-height: 95px;

      .sortable-container {
        width: 100%;
        min-height: 95px;
      }

      .message-info {
        margin: 15px;
        padding: 10px 16px;
        color: $black-3;
        font-size: 13px;
        line-height: 20px;
        font-style: italic;
        border: dashed $grey-4 1px;
        width: calc(100% - 30px);
      }
    }
  }

  .condition {
    position: relative;

    &.logical {
      padding-left: 0;
    }

    .icon-three-line-move {
      position: absolute;
      left: 10px;
      top: 7px;
      color: $grey;
      font-size: 34px;
      cursor: move;

      &.logical {
        top: auto;
        bottom: 10px;
        left: 26px;
      }
    }
  }
}
