@import '../../../../../theme/variables/variables';
@import '../../../../../theme/variables/colors';

.annotation {
  font-size: 12px;
  margin-top: 5px;
  font-weight: 500;
  display: block !important;
}

.page-content {
  padding: 35px 40px;
}

.tree {
  height: calc(80vh - 205px);
}

.page-section {
  height: calc(100vh - 245px);

  .content-name {
    padding: 9px 20px;
    border-bottom: solid 1px $white-3;
  }

  .description {
    margin-top: 19px;

    .table {
      thead {
        tr {
          th {
            &:first-child {
              padding-left: 23px;
            }
          }
        }
      }

      tbody {
        tr {
          td {
            &:first-child {
              font-size: 14px;
              padding-left: 23px;
            }
          }
        }
      }
    }
  }
}

$color-text-search: $black-2;
$background-color-rounded: $white-4;

.modal-edit-entity-types,
.modal-edit-attributes {
  position: absolute;
  background-color: rgba(65, 65, 65, 0.85);
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 12;

  .modal-entity-types,
  .modal-attributes {
    padding-top: 20px;
    background-color: $white-4;
    display: flex;
    position: static;
    height: 115px;
    max-width: 100%;
    margin-left: 0;
    border-radius: $border-radius-page $border-radius-page 0 0;

    input.description {
      max-width: 100%;
    }
  }
}

.header-section {
  background-color: $white;
  padding: 10px 20px 20px 20px;
  border-radius: 2px 2px 0 0;

  .row {
    max-width: 800px;
    margin-left: -10px;
    margin-right: -10px;

    .col {
      padding-left: 10px;
      padding-right: 10px;

      input {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}

.attribute-section {
  background-color: $white-4;
  padding: 20px;
  border-radius: 2px 2px 0 0;
}

.attributes-content {
  max-width: 100%;
}

.page-header {
  background-color: white;
  padding: 20px;
  margin-right: 0px;
  border-radius: 2px 2px 0 0;
}

.tab {
  position: relative;
  overflow: hidden;

  .title {
    font-size: 20px;
    float: left;
  }

  li {
    border-bottom: 2px solid #dddddd;

    &:hover {
      border-bottom-color: $dark_green;
    }
  }

  .active {
    border-bottom-color: $dark_green !important;
  }

  ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
  }

  &-item {
    padding: 10px 14px 6px 14px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 13px;
    cursor: pointer;

    em {
      font-size: 18px;
      margin-right: 4px;
    }
  }
}
