<ngx-simplebar class="page-section bg-gray">
  <div class="text-center pt-5 pb-5" *ngIf="loading">
    <div class="loader"></div>
  </div>

  <ng-container *ngIf="!loading">
    <form [formGroup]="form" (submit)="submit()">
      <div class="page-header row">
        <div class="col">
          <h3>{{ 'ENTITY_TYPES.GENERAL_DATA' | translate }}</h3>
        </div>
      </div>
      <div class="header-section">
        <div class="row">
          <div class="col form-group">
            <label for="name">{{ 'NAME' | translate }} *</label>
            <input
              [placeholder]="'ENTITY_TYPES.ENTER_NAME' | translate"
              [class.is-invalid]="form?.controls.name.invalid && form?.controls.name.touched"
              formControlName="name"
              type="text"
              name="name"
              id="name"
              class="form-control"
              autocomplete="off"
            />
            <div class="invalid-feedback" *ngIf="form?.controls.name.invalid && form?.controls.name.touched">
              {{ 'COMMON_ERRORS.REQUIRED' | translate }}
            </div>
          </div>
          <div class="col form-group">
            <label for="entityName">{{ 'ENTITY.ENTITY_TYPE' | translate }}</label>
            <input
              [placeholder]="'ENTITY_TYPES.ENTER_RULE_NAME' | translate"
              [class.is-invalid]="form?.controls.entityName.invalid && form?.controls.entityName.touched"
              formControlName="entityName"
              type="text"
              name="entityName"
              id="entityName"
              class="form-control"
              autocomplete="off"
            />
          </div>
        </div>
      </div>
      <div class="attribute-section">
        <h3>{{ 'ENTITY_TYPES.ATTRIBUTES_SECTION' | translate | uppercase }}</h3>
      </div>
      <div class="row attributes-content">
        <div class="col-4">
          <ngx-simplebar class="tree">
            <div class="p-2 bg-white">
              <ff-exploded-tree
                [tree]="loadTree"
                [loading]="loading"
                [hideSearch]="true"
                [enableHorizontalScroll]="false"
                (clickNode)="clickNode($event)"
                [badgeFilter]="badgeFilter.bind(this)"
              >
              </ff-exploded-tree>
            </div>
          </ngx-simplebar>
        </div>
        <div class="col-8">
          <div *ngIf="dataResolved && show" [formGroup]="form">
            <div>
              <ff-entity-form-recursive
                [readonly]="item?.is_master"
                [form]="form"
                [show]="show"
                [controls]="form?.get('attributes')?.controls"
              ></ff-entity-form-recursive>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
</ngx-simplebar>

<div class="page-footer text-right" *ngIf="!loading">
  <button type="button" (click)="cancel.emit()" class="btn btn-outline-primary">
    {{ 'ENTITY.CANCEL' | translate }}
  </button>
  <button type="button" [disabled]="item?.is_master" (click)="submit()" class="btn btn-primary ml-2 btn-lg">
    {{ 'ENTITY.SAVE' | translate }}
  </button>
</div>
