<ff-page-header [pageTitle]="'Colores'"></ff-page-header>

<div class="page-container page-container-padding">
  <div class="page-section p-5">
    <ff-doc-example class="no-top" heading="Ejemplo" [description]="example1Description" [data]="example1">
      <ff-doc-colors-1></ff-doc-colors-1>
    </ff-doc-example>

    <div class="row mt-5">
      <div class="col-12">
        <h3 class="subtitle">Principales colores:</h3>
        <p>
          Los colores principales que se usarán en toda la web son los siguientes: <em class="dark-green">#337E34</em>
          <em class="black">#242424</em><br />
          Para utilizarlas habrá que importar el archivo _colors.scss donde tendremos la siguientes variables $dark_green y $black-2
        </p>
      </div>
    </div>
  </div>
</div>
