@import '../../../../theme/variables/variables';
@import '../../../../theme/variables/colors';

:host {
  .icons-container {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    padding-top: 20px;
    text-align: center;

    .icon-item {
      margin: 5px;
      width: 45px;
      height: 45px;
      font-size: 20px;
      vertical-align: middle;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: 1px solid transparent;
      border-radius: 20px;

      &:hover {
        color: $green;
        border-color: $green;
      }
    }
  }

  .subtitle {
    margin: 20px 0;
  }
}
