<ff-page-header [pageTitle]="'Iconos'"></ff-page-header>

<div class="page-container page-container-padding">
  <div class="page-section p-5">
    <ff-doc-example class="no-top" heading="Iconos" [description]="example1Description" [data]="example1">
      <ff-doc-icons-1></ff-doc-icons-1>
    </ff-doc-example>

    <div class="row mt-5">
      <div class="col-12">
        <h3 class="subtitle">Listado de iconos:</h3>
        <p>Haz click sobre el que desees y obtendrás información.</p>
      </div>
    </div>

    <div class="icons-container">
      <div class="icon-item" *ngFor="let icon of iconsJSON.glyphs" (click)="clipboard(iconsJSON.css_prefix_text + icon.css)">
        <i [class]="iconsJSON.css_prefix_text + icon.css"></i>
      </div>
    </div>
  </div>
</div>
