@import 'src/theme/variables/variables';

:host {
  .search {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 14px 20px;
    border-bottom: 1px solid $white-3;

    input {
      border: none;
      flex: 1;
      font-size: 14px;
      font-weight: 300;
      min-width: 0;
    }

    .icon-text {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex: none;
      padding-right: 9px;

      .text-search {
        font-size: 12px;
        font-weight: 500;
        color: $black-2;
        margin-left: 9px;
      }

      .icon-search {
        font-size: 20px;
      }
    }
  }
  .icon-plus {
    color: green;
    cursor: pointer;
  }

  .loader-container {
    text-align: center;
  }

  .root-tree {
    height: calc(100vh - 59px - 145px);
    overflow-x: hidden;
    overflow-y: auto;
  }

  .page-section {
    overflow: auto;
  }

  .container-scroll {
    margin-bottom: 30px;
  }
}
