<ngx-simplebar class="page-section">
  <ng-container *ngIf="!loading">
    <div class="row pl-3 mt-1 container-scroll">
      <ngx-simplebar class="col-12 root-tree">
        <div class="icon-plus ml-1 p-1" (click)="createFolder()">
          {{ 'TREE_FOLDER.TEMPFOLDER' | translate }}
        </div>
      </ngx-simplebar>
    </div>
  </ng-container>

  <div class="loader-container" *ngIf="loading">
    <span class="loader"></span>
  </div>
</ngx-simplebar>
