<ff-search-none *ngIf="type === enumType.none && page && page?.total_elements" [numberItems]="page?.total_elements || 0" [title]="title">
</ff-search-none>

<ff-search-simple
  *ngIf="type === enumType.simple"
  [numberItems]="page?.total_elements || 0"
  [key]="key"
  [value]="valueSearch"
  [title]="title"
  [placeHolder]="placeHolder"
  [loading]="loading"
  (search)="searchEvent($event)"
>
</ff-search-simple>

<ff-search-multiple
  *ngIf="type === enumType.multiple"
  [numberItems]="page?.total_elements || 0"
  (search)="searchEvent($event)"
  [loading]="loading"
  [value]="valueSearch"
  [config]="configMultiple"
>
</ff-search-multiple>

<div class="content-list">
  <table class="table table-hover">
    <thead [class.sticky-header]="stickyHeader">
      <tr>
        <th *ngFor="let item of arrayKeys" [ngClass]="{ 'text-center': item.textCenter }" [width]="item.width">
          {{ (item.headerName ? item.headerName : prefix.toUpperCase() + '.' + item.key.toUpperCase()) | translate }}
          <i
            [ngClass]="{
              'icon-icon-sort-table-up': !keysOrder[item.key],
              'icon-icon-sort-up': keysOrder[item.key],
              active: item.key === sortActive
            }"
            *ngIf="item.showOrder"
            (click)="sort(item.key)"
          ></i>
        </th>
        <th [width]="'3%'" class="width-icon" *ngIf="canView"></th>
        <th [width]="'3%'" class="width-icon" *ngIf="canView && canDelete"></th>
        <th [width]="'3%'" class="width-icon" *ngIf="canHistory"></th>
      </tr>
    </thead>

    <tbody *ngIf="!loading">
      <tr *ngFor="let itemData of list; let i = index">
        <td
          *ngFor="let itemKey of arrayKeys"
          [ngClass]="{ 'text-center': itemKey.textCenter }"
          [class.no]="
            itemKey.canActiveClass && checkDateActive
              ? !checkDateActive(itemData)
              : itemKey.canActiveClass && itemData[itemKey.key] === false
          "
          [class.yes]="
            itemKey.canActiveClass && checkDateActive ? checkDateActive(itemData) : itemKey.canActiveClass && itemData[itemKey.key]
          "
          [width]="itemKey.width"
        >
          <ng-container *ngIf="itemKey.language">
            {{ itemData[itemKey.key] ? ('LANGUAGES.' + itemData[itemKey.key] | translate) : itemData[itemKey.key] }}
          </ng-container>
          <ng-container *ngIf="!itemKey.language && !itemKey.canActiveClass && !itemKey.customContent">
            {{
              itemKey.canFormatDate
                ? (dataByString(itemData, itemKey) | date: itemKey.formatDate || 'dd-MM-yyyy')
                : (dataByString(itemData, itemKey) || '' | translate)
            }}
          </ng-container>
          <ng-container *ngIf="itemKey.canActiveClass">
            {{ (itemData[itemKey.key] ? 'COMMON.YES' : 'COMMON.NO') | translate }}
          </ng-container>
          <ng-container *ngIf="itemKey.customContent">
            <em class="icon-check" *ngIf="itemData[itemKey.key] === 'created'"></em>
            <em class="icon-icon-trash-2" *ngIf="itemData[itemKey.key] === 'deleted'"></em>
            <em class="icon-pencil" *ngIf="itemData[itemKey.key] === 'updated'"></em>
          </ng-container>
        </td>

        <td class="width-icon" (click)="handlerRouter(itemData, i)" *ngIf="canView && !isViewOnly">
          <i class="icon-pencil" *ngIf="canViewWithFilter(itemData)"></i>
        </td>
        <td class="width-icon" (click)="handlerRouter(itemData, i)" *ngIf="canView && isViewOnly">
          <i class="icon-view" *ngIf="canViewWithFilter(itemData)"></i>
        </td>
        <td class="width-icon" *ngIf="canView && canDelete">
          <i class="icon-trash" *ngIf="canDelete" (click)="handleDelete(itemData)"></i>
        </td>
        <td class="width-icon" *ngIf="canHistory">
          <i class="icon-history-list" (click)="handleHistory(itemData, i)"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center" *ngIf="loading">
    <div class="loader"></div>
  </div>

  <!-- --------------- -->
  <!--   PAGINATION    -->
  <div class="pagination-container" [hidden]="loading" *ngIf="showPagination">
    <ff-pagination-2
      (pageChanged)="handlePageChanged($event)"
      [(currentPage)]="currentPage"
      [totalItems]="page ? page.total_elements : 0"
    ></ff-pagination-2>
  </div>
  <!-- --------------- -->
</div>

<ng-template #noData>---</ng-template>
