@import '../../../theme/variables/variables';
@import '../../../theme/variables/colors';

.content-list {
  .table {
    thead {
      &.sticky-header {
        position: sticky;
        top: 0;
        box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
        background-color: $white;
      }
      tr {
        th {
          &:first-child {
            padding-left: 23px;
          }
          i {
            &.icon-three-point-options {
              cursor: pointer;
              font-size: 20px;
              color: $grey;
            }
          }
        }
      }
    }

    tbody {
      tr {
        td {
          &.yes {
            color: $dark_green;
          }
          &.no {
            color: $red-delete;
          }
          &:first-child {
            font-size: 12px;
            padding-left: 23px;
          }
          i {
            &.icon-pencil {
              cursor: pointer;
              font-size: 16px;
              color: $grey;

              &:hover {
                color: $orange-light;
              }
            }

            &.icon-view {
              cursor: pointer;
              font-size: 29px;
              color: $grey;

              &:hover {
                color: $green;
              }
            }

            &.icon-history-list {
              cursor: pointer;
              font-size: 24px;
              color: $grey;
              &:hover {
                color: $green;
              }
            }
            &.icon-trash {
              cursor: pointer;
              font-size: 24px;
              color: $grey;

              &:hover {
                color: $red-delete;
              }
            }

            &.icon-three-point-options {
              cursor: pointer;
              font-size: 24px;
              color: $grey;

              &:hover {
                color: $green;
              }
            }
          }
        }
      }
    }
  }

  .active {
    color: green;
    font-size: 24px;
  }

  em {
    font-size: 23px;

    &.icon-icon-trash-2 {
      color: $red-2;
    }

    &.icon-pencil {
      color: $blue;
    }

    &.icon-check {
      color: $green;
    }
  }
}
