<ff-page-header [pageTitle]="'Toast'"></ff-page-header>

<div class="page-container page-container-padding">
  <div class="page-section p-5">
    <ff-doc-example heading="Toast" [description]="example1Description" [service]="true" [data]="example1">
      <ff-doc-toast-1></ff-doc-toast-1>
    </ff-doc-example>
  </div>
</div>
