@import 'node_modules/bootstrap/scss/bootstrap';
@import 'theme/variables/variables';
@import 'environments/scss-configuration/custom-variables.scss';
@import 'theme/old-icons.css';
@import 'theme/icons.css';
@import 'theme/pages';
@import 'theme/select';
@import 'theme/buttons';
@import 'theme/input';
@import 'theme/calendar';
@import 'theme/pagination';
@import 'theme/table';
@import 'theme/toggle';
@import 'theme/check';
@import 'theme/accordion';
@import 'theme/ng-select';
@import 'theme/progress';
@import 'theme/badges';
@import 'theme/timepicker';
@import 'theme/alert';
@import 'theme/collapse';
@import 'theme/modal';
@import 'theme/toast';
@import 'theme/hightlight';
@import 'theme/tooltip';

@mixin font($font-family, $font-file, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: url($font-file + '.ttf') format('truetype');
    // src: url($font-file+'.eot');
    // src: url($font-file+'.eot?#iefix') format('embedded-opentype'),
    //      url($font-file+'.woff') format('woff'),
    //      url($font-file+'.ttf') format('truetype'),
    //      url($font-file+'.svg#'+$font-family) format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@include font('Montserrat', $path-fonts + '/assets/fonts/montserrat/Montserrat-Black', 900, normal);
@include font('Montserrat', $path-fonts + '/assets/fonts/montserrat/Montserrat-BlackItalic', 900, italic);
@include font('Montserrat', $path-fonts + '/assets/fonts/montserrat/Montserrat-Bold', 700, normal);
@include font('Montserrat', $path-fonts + '/assets/fonts/montserrat/Montserrat-BoldItalic', 700, italic);
@include font('Montserrat', $path-fonts + '/assets/fonts/montserrat/Montserrat-ExtraBoldItalic', 800, italic);
@include font('Montserrat', $path-fonts + '/assets/fonts/montserrat/Montserrat-ExtraLight', 200, normal);
@include font('Montserrat', $path-fonts + '/assets/fonts/montserrat/Montserrat-ExtraLighItalic', 200, italic);
@include font('Montserrat', $path-fonts + '/assets/fonts/montserrat/Montserrat-Italic', 400, italic);
@include font('Montserrat', $path-fonts + '/assets/fonts/montserrat/Montserrat-Light', 300, normal);
@include font('Montserrat', $path-fonts + '/assets/fonts/montserrat/Montserrat-LightItalic', 300, italic);
@include font('Montserrat', $path-fonts + '/assets/fonts/montserrat/Montserrat-Medium', 500, normal);
@include font('Montserrat', $path-fonts + '/assets/fonts/montserrat/Montserrat-MediumItalic', 500, italic);
@include font('Montserrat', $path-fonts + '/assets/fonts/montserrat/Montserrat-Regular', 400, normal);
@include font('Montserrat', $path-fonts + '/assets/fonts/montserrat/Montserrat-SemiBold', 600, normal);
@include font('Montserrat', $path-fonts + '/assets/fonts/montserrat/Montserrat-SemiBoldItalic', 600, italic);
@include font('Montserrat', $path-fonts + '/assets/fonts/montserrat/Montserrat-Thin', 100, normal);
@include font('Montserrat', $path-fonts + '/assets/fonts/montserrat/Montserrat-ThinItalic', 100, italic);

body {
  font-family: $family-montserrat !important;
  background-color: $white-6;
  color: $black-2;
}

// Modal default

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 579px;
    margin: 1.75rem auto;
  }
}

// BOTONES

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

// TITULOS
h1 {
  font-size: 28px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: $black-4;
}

h4 {
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: $black-4;
}

.title-2 {
  color: $black-4;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

// OTROS
hr {
  margin: 0;
  border-color: $white-3;
}

.pointer {
  cursor: pointer;
}

/*
.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #337e34;
  border-color: #337e34 transparent #337e34 transparent;
  animation: loader 1.2s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
 */

.loader {
  display: inline-block;
  width: 60px;
  height: 60px;

  &:after {
    content: ' ';
    display: block;
    width: 48px;
    height: 48px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid $dark_green;
    border-color: $dark_green transparent $dark_green transparent;
    animation: loader 2s linear infinite;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mirror-x {
  transform: scaleX(-1);
  display: inline-block;
}

.sortable-chosen {
  &.condition-simple {
    display: none;
  }
}

.sortable-fallback {
  opacity: 1 !important;
}

.mirror-y {
  transform: scaleY(-1);
  display: inline-block;
}

.max-width {
  width: 100%;
  max-width: 100%;
}

.nowrap {
  white-space: nowrap;
}

.inline-with-icon {
  em {
    font-size: 120%;
  }

  color: $white-4;
  font-size: 13px;
  letter-spacing: -0.5px;
  line-height: 16px;

  &:hover {
    color: $green;
  }

  margin-right: 15px;
}

.no-flex {
  flex: 0;
}

.text-highlight {
  background-color: $grey-5;
}

.simplebar-track.simplebar-vertical {
  width: 6px !important;

  .simplebar-scrollbar {
    &:before {
      background-color: $grey !important;
      opacity: 0.5 !important;
      border-radius: 4.5px !important;
      width: 6px;
      left: 0 !important;
      right: 0 !important;
      top: 0 !important;
      bottom: 0 !important;
    }
  }
}

.simplebar-track.simplebar-horizontal {
  height: 6px !important;

  .simplebar-scrollbar {
    top: 0 !important;

    &:before {
      background-color: $grey !important;
      opacity: 0.5 !important;
      border-radius: 4.5px !important;
      height: 6px;
      left: 0 !important;
      right: 0 !important;
      top: 0 !important;
      bottom: 0 !important;
    }
  }
}

.simplebar-track {
  background-color: $white-6 !important;
  border-radius: 4.5px !important;
}

ff-ui-tree-list {
  &.max-height {
    height: calc(100vh - 59px - 20px);
    overflow: hidden;

    .item-list {
      height: calc(100% - 59px);
      overflow: auto;
      padding-bottom: 60px !important;
    }
  }
}

.page-footer-sticky {
  padding: 24px 21px 19px;
  background-color: $white;
  border-radius: 0 0 6px 6px;
}

.section-scroll {
  overflow: auto;
  overflow-x: hidden;
  width: calc(100% + 6px);
  height: calc(100vh - 250px);
}

@-webkit-keyframes headShake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  6.5% {
    -webkit-transform: translateX(-6px) rotateY(-9deg);
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    -webkit-transform: translateX(5px) rotateY(7deg);
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    -webkit-transform: translateX(-3px) rotateY(-5deg);
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    -webkit-transform: translateX(2px) rotateY(3deg);
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes headShake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  6.5% {
    -webkit-transform: translateX(-6px) rotateY(-9deg);
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    -webkit-transform: translateX(5px) rotateY(7deg);
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    -webkit-transform: translateX(-3px) rotateY(-5deg);
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    -webkit-transform: translateX(2px) rotateY(3deg);
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.headShake {
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: headShake;
  animation-name: headShake;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

/*BARRA SCROLL*/

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}
::-webkit-scrollbar-thumb {
  background: $grey !important;
  border-radius: 4.5px !important;
}
::-webkit-scrollbar-track {
  background: $white-6 !important;
  border-radius: 4.5px !important;
  box-shadow: inset 7px 10px 12px 0px #f0f0f0 !important;
}
