<ff-page-header [pageTitle]="'Ui Tree'"></ff-page-header>

<div class="page-container page-container-padding">
  <div class="page-section p-5">
    <ff-doc-example heading="Base" [data]="example1">
      <ff-doc-ui-tree-example></ff-doc-ui-tree-example>
    </ff-doc-example>
  </div>
</div>
