@import '../../../theme/variables/variables';

.variant-modal-container {
  width: 100%;
  padding: 35px;
  min-height: 300px;

  h1 {
    font-weight: bold;
    flex: 1;
  }

  .variant-modal-close-container {
    width: 20%;
    text-align: right;
    padding-right: 15px;
    :hover {
      cursor: pointer;
    }
  }

  .variant-modal-header {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .variant-summary-container {
    margin: auto;
    margin-top: 30px;
    width: 95%;
    height: fit-content;
    max-height: 700px;
    overflow-y: auto;
    padding: 10px;
    .summary-info {
      margin-bottom: 5px;
      em {
        font-weight: bold;
        margin-right: 10px;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

::-webkit-scrollbar-thumb {
  background: $grey !important;
  border-radius: 4.5px !important;
}

::-webkit-scrollbar-track {
  background: $white-6 !important;
  border-radius: 4.5px !important;
  box-shadow: inset 7px 10px 12px 0px #f0f0f0 !important;
}
