<div class="variant-modal-container">
  <div class="variant-modal-header">
    <h1>{{ title | translate }}</h1>
    <div class="variant-modal-close-container" (click)="closeModal($event)">
      <em class="icon-icon-cancel"></em>
    </div>
  </div>
  <ul class="variant-summary-container">
    <li *ngFor="let summary of variantData" class="summary-info"><em>·</em>{{ summary | translate }}</li>
  </ul>
</div>
<div class="page-footer text-right" *ngIf="showClose">
  <button type="submit" (click)="closeModal($event)" class="btn btn-primary ml-2 btn-sm">
    {{ 'ACCEPT' | translate | uppercase }}
  </button>
</div>
