<div [formGroup]="form">
  <ff-chips-control-select
    formControlName="example"
    [required]="form.controls.example.errors?.required"
    [config]="chipsConfigExample"
  ></ff-chips-control-select>
  <div class="col-12">
    <ff-form-error [field]="form.controls.example" [messages]="arrayMessage"></ff-form-error>
  </div>
  <br />
  <button class="btn btn-primary ml-2 btn-lg" type="submit" (click)="submit()">Ok</button>
</div>
