<div class="logical-condition-container">
  <div class="operator-type">
    <button type="button" class="btn btn-light readonly" style="border: 1px solid #ced4da" *ngIf="condition.nodes.length > 1">
      <ng-container *ngIf="condition.node_type === 'and'">and</ng-container>
      <ng-container *ngIf="condition.node_type === 'or'">or</ng-container>
    </button>
  </div>

  <div class="right-container" *ngIf="condition.nodes.length">
    <div class="sortable-container">
      <div
        class="condition"
        [class.logical]="isConditions2Node(condition)"
        *ngFor="let conditionData of condition.nodes; let counterNodes = index"
      >
        <!-- Simple -->
        <ff-conditions-simple-readonly [condition]="conditionData" *ngIf="showSimpleComponent(conditionData)">
        </ff-conditions-simple-readonly>

        <!-- Simple Entity -->
        <ff-conditions-entity-readonly [condition]="conditionData" *ngIf="showSimpleEntityComponent(conditionData)">
        </ff-conditions-entity-readonly>

        <!-- Reference -->
        <ff-conditions-reference-readonly [condition]="conditionData" *ngIf="isConditions2Reference(conditionData)">
        </ff-conditions-reference-readonly>

        <!-- Node -->
        <ng-container *ngIf="isConditions2Node(conditionData)">
          <ff-conditions-node-readonly [condition]="conditionData"> </ff-conditions-node-readonly>
        </ng-container>
      </div>
    </div>
  </div>
</div>
