<ff-page-header [pageTitle]="'FieldI18N - Single'"></ff-page-header>

<div class="page-container page-container-padding">
  <div class="page-section p-5">
    <ff-doc-example heading="Texto" [description]="example1Description" [angularForm]="true" [data]="example1">
      <ff-doc-field-i18n-1></ff-doc-field-i18n-1>
    </ff-doc-example>
  </div>
</div>
