<div class="search">
  <div class="icon-text">
    <em class="icon-search pointer" (click)="onSearchByProduct(productText)"></em>
    <span class="text-search">{{ 'FACETS.SEARCH' | translate }}:</span>
  </div>
  <input [(ngModel)]="productText" (ngModelChange)="onSearchByProduct(productText)" [placeholder]="'FACETS.SEARCH_TERMS' | translate" />
</div>

<ff-ui-tree-list
  class="max-height"
  [items]="items"
  [loading]="loading"
  [pagination]="pagination"
  [searchPlaceholder]="'FACETS.ATT_SEARCH' | translate"
  (filter)="onSearchByAttributes($event)"
  (clicked)="onClickedTree($event)"
  (loadMore)="loadMore()"
  searchOnline="true"
  [adviceMessage]="'FACETS.ADVICE_MESSAGE' | translate"
>
</ff-ui-tree-list>
