@import '../../../../../theme/variables/variables';

:host {
  .page-section {
    padding: 28px 40px;

    .page-header-collapse {
      margin-left: -1rem;
      margin-bottom: 1rem;
    }
    .form-container {
      max-width: 940px;
      .row {
        margin-left: -10px;
        margin-right: -10px;
        > div {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
    .datepicker {
      &::ng-deep {
        input {
          &::placeholder {
            text-transform: lowercase;
          }
        }
      }
    }
  }
  .page-footer {
    margin-top: 0;
    transition: all 0.5s ease-in-out;
    &.collapsible {
      margin-top: -6rem;
    }
  }

  .division {
    background-color: $white-4;
    height: 6px;
    border: 0;
  }
  .modal-tree {
    border: 1px solid $white-2;
    border-left: 0;
    min-width: 42px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    cursor: pointer;
    em {
      font-size: 21px;
    }
    &[disabled] {
      background-color: $white-4 !important;
      .icon-icon-search {
        opacity: 0.5;
        cursor: auto;
      }
    }
  }


  .division {
    background-color: $white-4;
    height: 6px;
    border: 0;
  }
}
