<div class="page-section">
  <div class="col page-header-collapse w-50" [class.page-header-collapse-open]="collapsed" (click)="collapsed = !collapsed">
    <h3>{{ 'DASHBOARD.DETAILS' | translate | uppercase }}</h3>
  </div>
  <form [formGroup]="form" (submit)="filter()" [collapse]="collapsed" [isAnimated]="true">
    <div class="form-container">
      <div class="row" *ngIf="!hideAdministration">
        <div class="col-4">
          <label>{{ 'AUDITS.FILTER.ADMINISTRATION.LABEL' | translate }} <span>*</span></label>
          <ng-select
            id="group"
            data-cy="audit-filter-administration"
            [placeholder]="'AUDITS.FILTER.ADMINISTRATION.PLACEHOLDER' | translate"
            formControlName="group"
            [clearable]="false"
          >
            <ng-option *ngFor="let option of groupOptions" [value]="option">
              <span [attr.data-cy]="'audit-admin-option-' + option">
                {{ 'APP_MENU.' + formatLabel(option) | uppercase | translate }}</span
              ></ng-option
            >
          </ng-select>
          <ff-form-error [field]="form.controls.group" [messages]="formErrors.group"></ff-form-error>
        </div>
        <div class="col-4" [hidden]="!form.get('group')?.value">
          <label>&nbsp;</label>
          <ng-select id="administration" formControlName="administration" [clearable]="false" data-cy="audit-filter-sub-admin">
            <ng-option *ngFor="let option of administrationOptions" [value]="option">
              <span [attr.data-cy]="'audit-sub-admin-' + option">{{
                'AUDITS.TITLES.' + formatLabel(option) | uppercase | translate
              }}</span></ng-option
            >
          </ng-select>
          <ff-form-error [field]="form.controls.administration" [messages]="formErrors.administration"></ff-form-error>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-4">
          <label>{{ 'AUDITS.FILTER.USER.LABEL' | translate }}</label>
          <input
            id="user"
            data-cy="audit-filter-user"
            type="text"
            class="form-control"
            [placeholder]="'AUDITS.FILTER.USER.PLACEHOLDER' | translate"
            formControlName="user"
          />
          <ff-form-error [field]="form.controls.user" [messages]="formErrors.user"></ff-form-error>
        </div>
        <div class="col-4">
          <label>{{ 'AUDITS.FILTER.NAME.LABEL' | translate }}</label>
          <div class="d-flex align-items-stretch">
            <input
              id="name"
              type="text"
              data-cy="audit-filter-name"
              class="form-control mw-100"
              [placeholder]="'AUDITS.FILTER.NAME.PLACEHOLDER' | translate"
              formControlName="name"
            />
            <div
              class="modal-tree"
              data-cy="audit-name-modal-tree"
              [attr.disabled]="form?.controls?.name?.enabled ? null : true"
              (click)="form?.controls?.name?.enabled && showModalTree()"
              *ngIf="canModalTree"
            >
              <em class="icon-icon-search"></em>
            </div>
          </div>
          <ff-form-error [field]="form.controls.name" [messages]="formErrors.name"></ff-form-error>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-4">
          <label>{{ 'AUDITS.FILTER.FROM.LABEL' | translate }}</label>
          <div class="datepicker">
            <ff-datetimepicker
              data-cy="audit-datetimepicker-from"
              id="from"
              formControlName="from"
              [defaultHour]="0"
              [defaultMinute]="0"
            ></ff-datetimepicker>
            <ff-form-error [field]="form.controls.from" [messages]="formErrors.from"></ff-form-error>
            <div class="error-date-time">
              <div class="error-date">
                <span class="invalid-feedback" *ngIf="form.errors && form.errors.invalidRangeDate">
                  {{ 'LIMIT_SALE.INVALID_RANGE' | translate }}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <label>{{ 'AUDITS.FILTER.TO.LABEL' | translate }}</label>
          <div class="datepicker">
            <ff-datetimepicker
              data-cy="audit-datetimepicker-to"
              id="to"
              formControlName="to"
              [defaultHour]="0"
              [defaultMinute]="0"
            ></ff-datetimepicker>
            <ff-form-error [field]="form.controls.to" [messages]="formErrors.to"></ff-form-error>
          </div>
        </div>
        <div class="col-3">
          <label>{{ 'AUDITS.FILTER.ACTION.LABEL' | translate }}</label>
          <ng-select
            id="action"
            data-cy="audit-filter-action"
            [placeholder]="'AUDITS.FILTER.ACTION.PLACEHOLDER' | translate"
            formControlName="action"
            [clearable]="false"
          >
            <ng-option *ngFor="let option of actionOptions" [value]="option">
              <span [attr.data-cy]="'audit-action-' + option">
                {{ 'AUDITS.FILTER.ACTION.OPTIONS.' + option | uppercase | translate }}</span
              ></ng-option
            >
          </ng-select>
        </div>
      </div>
    </div>
  </form>
</div>
<hr class="division" *ngIf="!collapsed" />
<div class="page-footer text-right" [class.collapsible]="collapsed">
  <button type="button" data-cy="audit-cancel-button" class="btn btn-outline-primary ml-2 btn-lg" *ngIf="!canClear" (click)="clear()">
    {{ 'COMMON.CANCEL' | translate }}
  </button>
  <button type="button" data-cy="audit-consult-button" class="btn btn-primary ml-2 btn-lg" (click)="handleFilter()">
    {{ (canClear ? 'COMMON.CONSULT_AGAIN' : 'COMMON.CONSULT') | translate | uppercase }}
  </button>
</div>
