<ff-page-header-long pageTitle="Ejemplo exploded tree"></ff-page-header-long>

<ngx-simplebar class="page-container-long pr-3">
  <div class="row h-100">
    <div class="col-4 h-100">
      <ff-exploded-tree
        [tree]="tree | async"
        searchPlaceholder="Términos de busqueda"
        (clickNode)="click($event)"
        (searchNodes)="search($event)"
        [loading]="loading"
        [autoCollapse]="true"
        [clickFilter]="clickFilter"
        [iconFilter]="iconFilter"
        [badgeFilter]="badgeFilter"
      >
      </ff-exploded-tree>
    </div>
    <div class="col-8">
      <div class="page-container-long-section-right">
        <h3>Dropzone</h3>
        <div class="dropzone" dndDropzone dndDragoverClass="over" (dndDrop)="drop($event)">
          {{ dropData && (dropData | json) }}
        </div>
        <h3>Clickzone</h3>
        <div class="events text-center">
          <button class="btn btn-primary" (click)="calculatePath()">Calculate Path</button>
          <div>{{ path }}</div>
        </div>
        <div class="clickzone">
          {{ clickData && (clickData | json) }}
        </div>
      </div>
    </div>
  </div>
</ngx-simplebar>
