<div class="page-section">
  <div class="col page-header-collapse w-50" [class.page-header-collapse-open]="collapsed" (click)="collapsed = !collapsed">
    <h3>{{ 'DASHBOARD.DETAILS' | translate | uppercase }}</h3>
  </div>
  <div class="page-article row" [collapse]="collapsed" [isAnimated]="true">
    <div class="col-4 form-group" [formGroup]="form">
      <ff-chips-control-select formControlName="facet" [readonly]="listLoad" [config]="configConsultFacets"></ff-chips-control-select>
      <ff-form-error [field]="form.controls.facet" [messages]="formErrors.facet"></ff-form-error>
    </div>
  </div>
</div>
<hr class="division" *ngIf="!collapsed" />

<!-- Botones -->
<div class="facet-btn-container" *ngIf="!listLoad; else again" [class.collapsible]="collapsed">
  <div class="page-footer text-right">
    <button type="button" class="btn btn-outline-primary ml-2 btn-lg" (click)="cancel()">
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button type="button" class="btn btn-primary ml-2 btn-lg" (click)="search()">
      {{ 'COMMON.CONSULT' | translate }}
    </button>
  </div>
</div>
<ng-template #again>
  <div class="facet-btn-container" [class.collapsible]="collapsed">
    <div class="page-footer text-right">
      <button type="button" class="btn btn-primary ml-2 btn-lg" (click)="back()">
        {{ 'COMMON.CONSULT_AGAIN' | translate }}
      </button>
    </div>
  </div>
</ng-template>
