@import '../../../../../theme/variables/variables';
:host {
  .page-section {
    padding: 28px 40px;

    .page-header-collapse {
      margin-left: -1rem;
      margin-bottom: 1rem;
    }
  }

  .division {
    background-color: $white-4;
    height: 6px;
    border: 0;
  }

  .facet-btn-container {
    margin-top: 0;
    transition: all 0.5s ease-in-out;
    &.collapsible {
      margin-top: -6rem;
    }
  }
}
