<ff-modal-header [title]="config.title | translate" (closeMe)="handleCancel()"></ff-modal-header>

<div class="body-modal">
  <label for="newText" class="nowrap">{{ 'MODAL_SELECT_TEXTS.NEW' | translate }}</label>
  <form [formGroup]="form">
    <div class="input-group">
      <ff-datetimepicker
        id="newText"
        #newTextElement
        formControlName="newText"
        name="new-text"
        class="datepicker"
        [defaultHour]="0"
        [defaultMinute]="0"
        (keyup.enter)="addText()"
        [class.is-invalid]="canShowFormError && form.controls.newText.invalid && form.controls.newText.touched"
        autocomplete="off"
      >
      </ff-datetimepicker>

      <div class="input-group-append ttt">
        <button (click)="addText()" [disabled]="false" type="button" class="btn btn-secondary btn-sm">
          {{ 'MODAL_SELECT_TEXTS.ADD' | translate | uppercase }}
        </button>
      </div>
    </div>

    <div class="invalid-feedback" *ngIf="canShowFormError && form.controls.newText.invalid && form.controls.newText.touched">
      <ng-container *ngFor="let message of config.validatorErrors">
        <ng-container *ngIf="form.controls.newText.hasError(message.type)">
          {{ message.message | translate }}
        </ng-container>
      </ng-container>
    </div>
  </form>

  <div class="description mt-2 mb-2" *ngIf="config.description">
    {{ config.description | translate }}
  </div>

  <div class="mt-3 ml-2 mr-2">
    <div class="row">
      <div class="col-6 n-elements">{{ items.length }} {{ 'MODAL_SELECT_TEXTS.ELEMENTS' | translate }}</div>
      <div class="col-6 text-right">
        <span class="remove-all pointer" (click)="removeAll()">{{ 'MODAL_SELECT_TEXTS.DELETE_ALL' | translate }}</span>
      </div>
    </div>
  </div>

  <ngx-simplebar class="mt-3 mb-3 pl-3 pr-3 scroll-modal">
    <div class="row no-gutters text-item align-items-center mt-3 mb-2" *ngFor="let item of items">
      <div class="col no-flex icon">
        <em class="icon-file"></em>
      </div>
      <!-- Cuando no se esta editando -->
      <ng-container *ngIf="!itemsEditing.hasOwnProperty(item)">
        <div class="col name ml-2">
          {{ item | date: 'dd/MM/yyyy HH:mm' }}
        </div>
        <div class="col no-flex align-self-end remove ml-1">
          <em class="icon-cancel" (click)="removeItem(item)"></em>
        </div>
      </ng-container>
    </div>
  </ngx-simplebar>
</div>

<ff-modal-footer>
  <div class="content-buttons row">
    <div class="col-6">
      <button (click)="handleCancel()" [disabled]="false" type="button" class="btn btn-outline-primary btn-sm">
        {{ 'CANCEL' | translate | uppercase }}
      </button>
    </div>
    <div class="col-6 text-right">
      <button (click)="handleDone()" [disabled]="false" type="button" class="btn btn-primary btn-sm">
        {{ 'MODAL_SELECT_TEXTS.INSERT' | translate | uppercase }}
      </button>
    </div>
  </div>
</ff-modal-footer>
